
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCVY8XmUSi">
    <div
      parentTag="Col"
        class="gCVY8XmUSi "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:32px;--mb-mobile:28px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCVY8XmUSi_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    <gp-carousel data-id="g5lakb0JZK"  id="gp-root-carousel-g5lakb0JZK-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"g5lakb0JZK-{{section.id}}","setting":{"animationMode":"ease-out","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":true,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#242424","mobile":"#242424"},"dotColor":{"desktop":"rgba(36, 36, 36, 0.4)","mobile":"rgba(36, 36, 36, 0.4)"},"dotGapToCarousel":{"desktop":"24","mobile":"28"},"dotSize":{"desktop":10,"mobile":8},"dotStyle":{"desktop":"outside","mobile":"outside"},"enableDrag":{"desktop":true,"mobile":true},"itemNumber":{"desktop":3,"mobile":1},"label":true,"loop":{"desktop":true,"mobile":true},"navigationStyle":{"desktop":"none","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":true,"mobile":false,"tablet":true},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":47,"tablet":82},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"hasActiveShadow":false,"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"100%"}},"spacing":{"desktop":"24"}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block g5lakb0JZK"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--mb-mobile:42px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous g5lakb0JZK-{{section.id}} gp-carousel-arrow-g5lakb0JZK gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-g5lakb0JZK {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g5lakb0JZK::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-g5lakb0JZK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g5lakb0JZK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g5lakb0JZK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g5lakb0JZK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-g5lakb0JZK-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:24px;--cg-tablet:24px;--cg:24px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--minw-tablet:calc(100% / 2.18 - 12.990825688073395px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--maxw-tablet:calc(100% / 2.18 - 12.990825688073395px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g5lakb0JZK giiu6io1eN"
      data-index="0"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      
       
      
    <div
      parentTag="CarouselItem" id="ghtTAFGZxi" data-id="ghtTAFGZxi"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:20px;--pl:24px;--pb:22px;--pr:24px;--pt-mobile:20px;--pl-mobile:21px;--pb-mobile:24px;--pr-mobile:21px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E0E7F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghtTAFGZxi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg-u8cc3Md gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPdL2TBc30" data-id="gPdL2TBc30"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:22px;--mb-mobile:16px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPdL2TBc30 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gRo-bsaPTs gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFE-uv5C0Z">
    <div
      parentTag="Col"
        class="gFE-uv5C0Z "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFE-uv5C0Z_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gFE-uv5C0Z">
        .gFE-uv5C0Z {

}
.gFE-uv5C0Z p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gB8cdglmMu gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqsSUMZrBD"
    role="presentation"
    class="gp-group/image gqsSUMZrBD gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-3840aae5-1c32-4bff-9632-fe51e07f3298.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:36px;--w-tablet:36px;--w-mobile:36px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gqsSUMZrBD">
        .gqsSUMZrBD {

}
.gqsSUMZrBD > figure > img {

}
      </style>
    
    </div>
    </div>
   
    <div gp-el-wrapper  class="ghq3ilE0ME ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="ghq3ilE0ME"
      data-id="ghq3ilE0ME"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":5,"mobile":4,"tablet":5}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:8px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:18px;--rg-mobile:14px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-ghq3ilE0ME"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gghq3ilE0ME_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-ghq3ilE0ME"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gghq3ilE0ME_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-ghq3ilE0ME"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gghq3ilE0ME_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-ghq3ilE0ME"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gghq3ilE0ME_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--minw-tablet:calc(100% / 2.18 - 12.990825688073395px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--maxw-tablet:calc(100% / 2.18 - 12.990825688073395px);--maxw-mobile:calc(100% / 1 - 0px);--b:solid;--bc:#121212;--bw:1px 1px 1px 1px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bs:none;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g5lakb0JZK gvbUnSPaop"
      data-index="1"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      
       
      
    <div
      parentTag="CarouselItem" id="guO9c2UZNl" data-id="guO9c2UZNl"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:20px;--pl:24px;--pb:22px;--pr:24px;--pt-mobile:20px;--pl-mobile:21px;--pb-mobile:24px;--pr-mobile:21px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E0E7F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="guO9c2UZNl gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gDfOAWD-k6 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4hUWwqFoI" data-id="g4hUWwqFoI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:22px;--mb-mobile:16px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4hUWwqFoI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gsogqQDOxk gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEYw-dj3v6">
    <div
      parentTag="Col"
        class="gEYw-dj3v6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mb:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEYw-dj3v6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEYw-dj3v6">
        .gEYw-dj3v6 {

}
.gEYw-dj3v6 p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="guE5EMjepv gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="grZw8_gSjy"
    role="presentation"
    class="gp-group/image grZw8_gSjy gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-fc9ebcc7-5874-469c-96fd-dcdd6585602e.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-grZw8_gSjy">
        .grZw8_gSjy {

}
.grZw8_gSjy > figure > img {

}
      </style>
    
    </div>
    </div>
   
    <div gp-el-wrapper  class="gHINCGIuwz ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="gHINCGIuwz"
      data-id="gHINCGIuwz"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":5,"mobile":4,"tablet":5}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:8px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:18px;--rg-mobile:14px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHINCGIuwz"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.ggHINCGIuwz_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHINCGIuwz"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.ggHINCGIuwz_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHINCGIuwz"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.ggHINCGIuwz_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-gHINCGIuwz"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.ggHINCGIuwz_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--minw-tablet:calc(100% / 2.18 - 12.990825688073395px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 2.5300000000000002 - 14.513833992094863px);--maxw-tablet:calc(100% / 2.18 - 12.990825688073395px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--ml:0px;--ml-tablet:0px;--ml-mobile:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-g5lakb0JZK geG6sUmrWu"
      data-index="2"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      
       
      
    <div
      parentTag="CarouselItem" id="gIBCiH5X_X" data-id="gIBCiH5X_X"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--pt:20px;--pl:24px;--pb:22px;--pr:24px;--pt-mobile:20px;--pl-mobile:21px;--pb-mobile:24px;--pr-mobile:21px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#E0E7F2;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIBCiH5X_X gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g00QjKA4Mw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gest_nSDMj" data-id="gest_nSDMj"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:22px;--mb-mobile:16px;--cg:12px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gest_nSDMj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g7E8o7x3_w gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRbyDf1bkX">
    <div
      parentTag="Col"
        class="gRbyDf1bkX "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mt:0px;--mt-mobile:0px;--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--size:19px;--size-tablet:23px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRbyDf1bkX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gRbyDf1bkX">
        .gRbyDf1bkX {

}
.gRbyDf1bkX p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gcYdsUE6hT gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="goAdoUEdVw"
    role="presentation"
    class="gp-group/image goAdoUEdVw gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}" srcset="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-82f63ef8-21aa-465a-b772-46238c0133bc.svg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:25px;--w-tablet:25px;--w-mobile:25px;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-goAdoUEdVw">
        .goAdoUEdVw {

}
.goAdoUEdVw > figure > img {

}
      </style>
    
    </div>
    </div>
   
    <div gp-el-wrapper  class="g-FbxjyMao ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      uid="g-FbxjyMao"
      data-id="g-FbxjyMao"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":5,"mobile":4,"tablet":5}}'
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:8px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
      <div class="gp-flex" style="--jc:left">
        <div
        class="gp-inline-flex gp-flex-col "
        style="--rg:18px;--rg-mobile:14px">
        
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-FbxjyMao"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="0"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gg-FbxjyMao_childItem_0 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-FbxjyMao"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="1"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gg-FbxjyMao_childItem_1 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-FbxjyMao"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="2"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gg-FbxjyMao_childItem_2 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div> 
           <div
            class="gp-icon-list-wrapper gp-flex gp-child-item-g-FbxjyMao"
            style="--cg:8px;--cg-mobile:8px;--ai:center;--ai-tablet:center;--ai-mobile:center"
            data-index="3"
          >
            <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--pos:relative;--pos-tablet:relative;--pos-mobile:relative;--top:inherit;--top-tablet:inherit;--top-mobile:inherit">
              <span
                class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                style="--c:#00C853;--w:100%;--h:100%;--size-desktop:5px;--size-tablet:5px;--size-mobile:4px"
              >
               <svg data-id="515476861875127446" xmlns="http://www.w3.org/2000/svg" width="5" height="5" viewBox="0 0 5 5" fill="none">
<path d="M2.5 5C2.04167 5 1.62311 4.88826 1.24432 4.66477C0.865531 4.4375 0.562501 4.13447 0.335228 3.75568C0.111743 3.37689 0 2.95833 0 2.5C0 2.03788 0.111743 1.61932 0.335228 1.24432C0.562501 0.86553 0.865531 0.564393 1.24432 0.340908C1.62311 0.113635 2.04167 0 2.5 0C2.96212 0 3.38068 0.113635 3.75568 0.340908C4.13447 0.564393 4.43561 0.86553 4.65909 1.24432C4.88636 1.61932 5 2.03788 5 2.5C5 2.95833 4.88636 3.37689 4.65909 3.75568C4.43561 4.13447 4.13447 4.4375 3.75568 4.66477C3.38068 4.88826 2.96212 5 2.5 5Z" fill="#242424"/>
</svg>
              </span>
            </div>
             <div class=" gp-text-left gp-icon-list-text" style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#242424">
                {{ section.settings.gg-FbxjyMao_childItem_3 | replace: '$locationOrigin', locationOrigin }}
            </div>
            </div>
      </div>
      </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-icon-list.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next g5lakb0JZK-{{section.id}} gp-carousel-arrow-g5lakb0JZK gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-hidden mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:none;--d-tablet:none;--d-mobile:none;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-g5lakb0JZK {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-g5lakb0JZK::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-g5lakb0JZK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g5lakb0JZK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-g5lakb0JZK {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-g5lakb0JZK::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-g5lakb0JZK-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:24px;--mt-tablet:24px;--mt-mobile:28px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  