{% assign blog = section.settings.blog %}
{% assign tag_filter = section.settings.tag_filter %}
{% assign show_button = section.settings.show_button %}
{% assign button_text = section.settings.button_text %}
{% assign background_color = section.settings.background_color %}
{% assign posts = blog.articles %}

<div class="blog-post-grid" style="background-color: {{ background_color }};">
  <div class="blog-post-grid__container container-default">
    {% if section.settings.title %}
      <h2 class="blog-post-grid__title index-section-header-h2 mb-[4rem]">{{ section.settings.title }}</h2>
    {% endif %}
    <div class="blog-post-grid__posts">
      {% for post in posts %}
        {% if tag_filter != blank %}
          {% if post.tags contains tag_filter %}
            <div class="blog-post-grid__post">
              <div class="blog-post-grid__post-image">
                <img
                  src="{{ post.image | image_url }}"
                  alt="{{ post.title }}"
                  width="{{ post.image.width }}"
                  height="{{ post.image.height }}"
                  sizes="(min-width: 130rem) 130rem, 100vw"
                  srcset="
                    {% if post.image.width >= 350 %}{{ post.image | image_url: width: 350 }} 350w,{% endif %}
                    {% if post.image.width >= 750 %}{{ post.image | image_url: width: 750 }} 750w,{% endif %}
                    {% if post.image.width >= 1100 %}{{ post.image | image_url: width: 1100 }} 1100w,{% endif %}
                    {% if post.image.width >= 1500 %}{{ post.image | image_url: width: 1500 }} 1500w,{% endif %}
                    {% if post.image.width >= 2200 %}{{ post.image | image_url: width: 2200 }} 2200w,{% endif %}
                    {% if post.image.width >= 3000 %}{{ post.image | image_url: width: 3000 }} 3000w,{% endif %}
                    {{ post.image | image_url }} {{ post.image.width }}w
                  "
                  fetchpriority="high"
                  loading="eager"
                  class="w-full h-full object-cover aspect-[388/260]"
                >
              </div>
              <div class="blog-post-grid__post-content">
                <div class="flex flex-col ">
                  {% if post.tags.size > 0 %}
                    <p class="blog-feature-post__article-tag">{{ post.tags | first }}</p>
                  {% endif %}
                  <h3 class="blog-post-grid__post-title">{{ post.title }}</h3>
                  <div class="blog-post-grid__post-excerpt">{{ post.excerpt }}</div>
                </div>
                {% if show_button %}
                  <a href="{{ post.url }}" class="blog-post-grid__post-button">{{ button_text }}</a>
                {% endif %}
              </div>
            </div>
          {% endif %}
        {% else %}
          <div class="blog-post-grid__post">
            <div class="blog-post-grid__post-image">
              <img
                src="{{ post.image | image_url }}"
                alt="{{ post.title }}"
                width="{{ post.image.width }}"
                height="{{ post.image.height }}"
                sizes="(min-width: 130rem) 130rem, 100vw"
                srcset="
                  {% if post.image.width >= 350 %}{{ post.image | image_url: width: 350 }} 350w,{% endif %}
                  {% if post.image.width >= 750 %}{{ post.image | image_url: width: 750 }} 750w,{% endif %}
                  {% if post.image.width >= 1100 %}{{ post.image | image_url: width: 1100 }} 1100w,{% endif %}
                  {% if post.image.width >= 1500 %}{{ post.image | image_url: width: 1500 }} 1500w,{% endif %}
                  {% if post.image.width >= 2200 %}{{ post.image | image_url: width: 2200 }} 2200w,{% endif %}
                  {% if post.image.width >= 3000 %}{{ post.image | image_url: width: 3000 }} 3000w,{% endif %}
                  {{ post.image | image_url }} {{ post.image.width }}w
                "
                fetchpriority="high"
                loading="eager"
                class="w-full h-full object-cover aspect-[388/260]"
              >
            </div>
            <div class="blog-post-grid__post-content">
              <div class="flex flex-col ">
                {% if post.tags.size > 0 %}
                  <p class="blog-feature-post__article-tag">{{ post.tags | first }}</p>
                {% endif %}
                <h3 class="blog-post-grid__post-title">{{ post.title }}</h3>
                <div class="blog-post-grid__post-excerpt">{{ post.excerpt }}</div>
              </div>
              {% if show_button %}
                <a href="{{ post.url }}" class="blog-post-grid__post-button">{{ button_text }}</a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog Post Grid",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Blog Post Grid"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog",
      "info": "Select the blog to display posts from."
    },
    {
      "type": "text",
      "id": "tag_filter",
      "label": "Tag Filter",
      "info": "Enter a tag to filter the posts by. Leave blank to show all posts."
    },
    {
      "type": "checkbox",
      "id": "show_button",
      "label": "Show Button",
      "default": true
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Read More"
    },
    {
      "type": "color_background",
      "id": "background_color",
      "label": "Background Color",
      "default": "#FCFBF7"
    }
  ],
  "presets": [
    {
      "name": "Blog Post Grid"
    }
  ]
}
{% endschema %}
