<div class="faq-section-container container-default">
  {% if section.settings.heading != blank %}
    <h2 class="faq-section-container-title text-start!">{{ section.settings.heading }}</h2>
  {% endif %}
  <div class="flex flex-col mt-[3.2rem]">
    {% for block in section.blocks %}
      <div class="faq-section-container-item">
        <div class="faq-section-container-item-title">
          {{ block.settings.question }}
          <button class="faq-section-container-item-title-button">
            {{ 'icon-add-new.svg' | inline_asset_content }}
            {{ 'icon-plus-new.svg' | inline_asset_content }}
          </button>
        </div>
        <div class="faq-section-container-item-content" style="color: {{ section.settings.text_color }}; background-color: {{ section.settings.background_color }};">
          {{ block.settings.answer | rich_text }}
        </div>
      </div>
    {% endfor %}
</div>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- for block in section.blocks -%}
        {
          "@type": "Question",
          "name": {{ block.settings.question | json }},
          "acceptedAnswer": {
            "@type": "Answer",
            "text": {{ block.settings.answer | json }}
          }
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.faq-section-container-item-title').forEach(function(item) {
      item.addEventListener('click', function() {
        const content = item.nextElementSibling;
        const isActive = item.classList.contains('faq-section-container-item-title-active');
        
        // 关闭其他打开的项
        document.querySelectorAll('.faq-section-container-item-title-active').forEach(function(activeItem) {
          if (activeItem !== item) {
            const activeContent = activeItem.nextElementSibling;
            activeContent.style.height = '0';
            activeItem.classList.remove('faq-section-container-item-title-active');
              activeContent.classList.remove('faq-section-container-item-content-active');
          }
        });

        // 切换当前项的状态
        if (!isActive) {
          item.classList.add('faq-section-container-item-title-active');
          content.classList.add('faq-section-container-item-content-active');
          content.style.height = content.scrollHeight + 24 + 'px';
        } else {
          content.style.height = '0';
          item.classList.remove('faq-section-container-item-title-active');
          content.classList.remove('faq-section-container-item-content-active');
        }
      });
    });
  });
</script>
{% schema %}
{
  "name": "FAQ",
  "tag": "section",
  "class": "faq-section",
  "settings": [
    {
      "type": "paragraph",
      "content": "Structured data is automatically created on FAQ page to improve SEO. [Learn more](https://developers.google.com/search/docs/advanced/structured-data/faqpage)"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "FAQ"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#121212"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "question",
          "label": "Question",
          "default": "Question"
        },
        {
          "type": "richtext",
          "id": "answer",
          "label": "Answer",
          "default": "<p>Write content to answer to common questions your customers may have about your products, shipping policies.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "FAQ",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
