<style>
  #shopify-section-{{ section.id }} .function-bundle-section {
    padding-top: {{ section.settings.section_padding_top }}px;
    padding-bottom: {{ section.settings.section_padding_bottom }}px;
    background: {{ section.settings.section_background_color }};
  }
  #shopify-section-{{ section.id }} .function-bundle-section-blocks {
    gap: {{ section.settings.block_gap }}px;
  }
  @media (max-width: 46.875rem) {
    #shopify-section-{{ section.id }} .function-bundle-section {
      padding-top: {{ section.settings.section_padding_top_mobile }}px;
      padding-bottom: {{ section.settings.section_padding_bottom_mobile }}px;
    }
    #shopify-section-{{ section.id }}  .function-bundle-section-blocks {
      gap: {{ section.settings.block_gap_mobile }}px;
    }
  }
</style>
<div class="function-bundle-section">
  <div class="container-default function-bundle-section-container">
    {% if section.settings.main_heading != blank %}
      <h2 class="function-bundle-section-heading">{{ section.settings.main_heading | newline_to_br }}</h2>
    {% endif %}
    {% if section.settings.main_subtitle != blank %}
      <div class="function-bundle-section-subtitle">{{ section.settings.main_subtitle | newline_to_br }}</div>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="function-bundle-section-blocks flex flex-col">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'multiple_feature_block' %}
              {% render 'multiple-feature-block', block: block %}
            {% when 'single_feature_block' %}
              {% render 'single-feature-block', block: block %}
            {% when 'single_feature_image' %}
              {% render 'single-feature-block-image', block: block %}
          {% endcase %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const videoBlocks = document.querySelectorAll('.function-bundle-section-blocks video');

    const observerOptions = {
      root: null,
      rootMargin: '0px',
      threshold: 0.5,
    };

    const videoObserver = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        const video = entry.target;
        if (entry.isIntersecting) {
          video.play();
        } else {
          video.pause();
        }
      });
    }, observerOptions);

    videoBlocks.forEach((video) => {
      videoObserver.observe(video);
    });
  });
</script>
{% schema %}
{
  "name": "Function Bundle Section",
  "settings": [
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Main Heading",
      "default": "From Bean to Cup,\n Perfected in One Machine."
    },
    {
      "type": "richtext",
      "id": "main_subtitle",
      "label": "Main Subtitle",
      "default": "<p>Unlock commercial espresso performance at home.</p>"
    },
    {
      "type": "color_background",
      "id": "section_background_color",
      "label": "Section Background color",
      "default": "rgb(252,251,247)"
    },
    {
      "type": "number",
      "id": "section_padding_top",
      "label": "Section Padding Top",
      "default": 160
    },
    {
      "type": "number",
      "id": "section_padding_bottom",
      "label": "Section Padding Bottom",
      "default": 160
    },
    {
      "type": "number",
      "id": "section_padding_top_mobile",
      "label": "Section Padding Top Mobile",
      "default": 80
    },
    {
      "type": "number",
      "id": "section_padding_bottom_mobile",
      "label": "Section Padding Bottom Mobile",
      "default": 80
    },
    {
      "type": "number",
      "id": "block_gap",
      "label": "Block Gap",
      "default": 160
    },
    {
      "type": "number",
      "id": "block_gap_mobile",
      "label": "Block Gap Mobile",
      "default": 64
    }
  ],
  "blocks": [
    {
      "type": "multiple_feature_block",
      "name": "Multiple Feature Block",
      "settings": [
        {
          "type": "text",
          "id": "function_description",
          "label": "Function Description",
          "default": "CoffeeSense™ Takes..."
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "radio",
          "id": "video_position",
          "label": "Video Position",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "left"
        },
        {
          "type": "text",
          "id": "video_title",
          "label": "Video Title",
          "default": "video title"
        },
        {
          "type": "textarea",
          "id": "video_subtitle",
          "label": "Video Subtitle",
          "default": "video subtitle"
        },
        {
          "type": "video",
          "id": "desk_video",
          "label": "Desktop Video"
        },
        {
          "type": "video",
          "id": "mobile_video",
          "label": "Mobile Video"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "text_1",
          "label": "Text 1",
          "default": "TIMEMORE® ..."
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "textarea",
          "id": "text_2",
          "label": "Text 2",
          "default": "Ion Beam Static-Free Grinding"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "textarea",
          "id": "text_3",
          "label": "Text 3",
          "default": "Espresso-Specific Grinding Calibration"
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "image_picker",
          "id": "function_1_icon",
          "label": "Function 1 Icon"
        },
        {
          "type": "textarea",
          "id": "function_1_text",
          "label": "Function 1 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_2_icon",
          "label": "Function 2 Icon"
        },
        {
          "type": "textarea",
          "id": "function_2_text",
          "label": "Function 2 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_3_icon",
          "label": "Function 3 Icon"
        },
        {
          "type": "textarea",
          "id": "function_3_text",
          "label": "Function 3 Text",
          "default": "text"
        }
      ]
    },
    {
      "type": "single_feature_block",
      "name": "Single Feature Block",
      "settings": [
        {
          "type": "text",
          "id": "function_description",
          "label": "Function Description",
          "default": "CoffeeSense™ Takes..."
        },
        {
          "type": "textarea",
          "id": "function_sub_description",
          "label": "Function Sub Description"
        },
        {
          "type": "header",
          "content": "Video"
        },
        {
          "type": "text",
          "id": "video_title",
          "label": "Video Title",
          "default": "video title"
        },
        {
          "type": "textarea",
          "id": "video_subtitle",
          "label": "Video Subtitle",
          "default": "video subtitle"
        },
        {
          "type": "video",
          "id": "desk_video",
          "label": "Desktop Video"
        },
        {
          "type": "video",
          "id": "mobile_video",
          "label": "Mobile Video"
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "image_picker",
          "id": "function_1_icon",
          "label": "Function 1 Icon"
        },
        {
          "type": "textarea",
          "id": "function_1_text",
          "label": "Function 1 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_2_icon",
          "label": "Function 2 Icon"
        },
        {
          "type": "textarea",
          "id": "function_2_text",
          "label": "Function 2 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_3_icon",
          "label": "Function 3 Icon"
        },
        {
          "type": "textarea",
          "id": "function_3_text",
          "label": "Function 3 Text",
          "default": "text"
        }
      ]
    },
    {
      "type": "single_feature_image",
      "name": "Single Feature Image",
      "settings": [
        {
          "type": "text",
          "id": "function_description",
          "label": "Function Description",
          "default": "CoffeeSense™ Takes..."
        },
        {
          "type": "textarea",
          "id": "function_sub_description",
          "label": "Function Sub Description"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "text",
          "id": "image_title",
          "label": "Image Title",
          "default": "image title"
        },
        {
          "type": "textarea",
          "id": "image_subtitle",
          "label": "Image Subtitle",
          "default": "image subtitle"
        },
        {
          "type": "image_picker",
          "id": "desk_image",
          "label": "Desktop Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "header",
          "content": "Icon"
        },
        {
          "type": "image_picker",
          "id": "function_1_icon",
          "label": "Function 1 Icon"
        },
        {
          "type": "textarea",
          "id": "function_1_text",
          "label": "Function 1 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_2_icon",
          "label": "Function 2 Icon"
        },
        {
          "type": "textarea",
          "id": "function_2_text",
          "label": "Function 2 Text",
          "default": "text"
        },
        {
          "type": "image_picker",
          "id": "function_3_icon",
          "label": "Function 3 Icon"
        },
        {
          "type": "textarea",
          "id": "function_3_text",
          "label": "Function 3 Text",
          "default": "text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Function Bundle Section",
      "blocks": [
        {
          "type": "multiple_feature_block",
          "settings": {
            "video_position": "left"
          }
        },
        {
          "type": "multiple_feature_block",
          "settings": {
            "video_position": "right"
          }
        },
        {
          "type": "single_feature_block"
        }
      ]
    }
  ]
}
{% endschema %}
