

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713825281126.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547370713825281126.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713825281126.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547370713825281126.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713825281126.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713825281126.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713825281126.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713825281126.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713825281126.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713825281126.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713825281126.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547370713825281126.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713825281126.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547370713825281126.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713825281126.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713825281126.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713825281126.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713825281126.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713825281126.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370713825281126.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370713825281126.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370713825281126.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713825281126.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370713825281126.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713825281126.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370713825281126.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370713825281126.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370713825281126.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547370713825281126.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713825281126.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713825281126.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713825281126.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713825281126.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713825281126.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713825281126.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713825281126.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370713825281126.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370713825281126.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370713825281126.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370713825281126.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713825281126.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713825281126.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370713825281126.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370713825281126.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370713825281126.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370713825281126.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370713825281126.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713825281126.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713825281126.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370713825281126.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-547370713825281126.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370713825281126.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370713825281126.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370713825281126.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370713825281126.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370713825281126.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370713825281126.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370713825281126.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370713825281126.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713825281126.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713825281126.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370713825281126.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370713825281126.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370713825281126 .gp-relative{position:relative}.gps-547370713825281126 .gp-z-1{z-index:1}.gps-547370713825281126 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713825281126 .gp-mb-0{margin-bottom:0}.gps-547370713825281126 .gp-flex{display:flex}.gps-547370713825281126 .gp-inline-flex{display:inline-flex}.gps-547370713825281126 .gp-grid{display:grid}.gps-547370713825281126 .gp-contents{display:contents}.gps-547370713825281126 .\!gp-hidden{display:none!important}.gps-547370713825281126 .gp-hidden{display:none}.gps-547370713825281126 .gp-h-auto{height:auto}.gps-547370713825281126 .gp-h-full{height:100%}.gps-547370713825281126 .gp-w-full{width:100%}.gps-547370713825281126 .gp-max-w-full{max-width:100%}.gps-547370713825281126 .gp-flex-none{flex:none}.gps-547370713825281126 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713825281126 .gp-flex-col{flex-direction:column}.gps-547370713825281126 .gp-items-center{align-items:center}.gps-547370713825281126 .gp-justify-center{justify-content:center}.gps-547370713825281126 .gp-gap-y-0{row-gap:0}.gps-547370713825281126 .gp-overflow-hidden{overflow:hidden}.gps-547370713825281126 .gp-break-words{overflow-wrap:break-word}.gps-547370713825281126 .gp-rounded-none{border-radius:0}.gps-547370713825281126 .gp-text-center{text-align:center}.gps-547370713825281126 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-547370713825281126 .gp-no-underline{text-decoration-line:none}.gps-547370713825281126 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713825281126 .gp-duration-200{transition-duration:.2s}.gps-547370713825281126 .gp-duration-300{transition-duration:.3s}.gps-547370713825281126 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713825281126 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-547370713825281126 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-547370713825281126 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-547370713825281126 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-547370713825281126 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547370713825281126 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547370713825281126 .tablet\:\!gp-hidden{display:none!important}.gps-547370713825281126 .tablet\:gp-hidden{display:none}.gps-547370713825281126 .tablet\:gp-h-auto{height:auto}.gps-547370713825281126 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547370713825281126 .mobile\:\!gp-hidden{display:none!important}.gps-547370713825281126 .mobile\:gp-hidden{display:none}.gps-547370713825281126 .mobile\:gp-h-auto{height:auto}.gps-547370713825281126 .mobile\:gp-flex-none{flex:none}}.gps-547370713825281126 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370713825281126 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370713825281126 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-547370713825281126 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370713825281126 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gIva19r1VD" data-id="gIva19r1VD"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-m);--pb:var(--g-s-2xl);--pr:var(--g-s-m);--pt-mobile:var(--g-s-xl);--pl-mobile:15px;--pb-mobile:var(--g-s-xl);--pr-mobile:15px;--pt-tablet:var(--g-s-l);--pl-tablet:15px;--pb-tablet:var(--g-s-3xl);--pr-tablet:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIva19r1VD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRyn8fGGNr gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gggNzZKn1u" data-id="gggNzZKn1u"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:520px;--w-tablet:520px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gggNzZKn1u gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gj3mUEqSCb gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:center;--ta-tablet:center"
    
  >
    <style>
    .gh0KZF2o9S.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gh0KZF2o9S:hover::before {
      
      
    }

    .gh0KZF2o9S:hover .gp-button-icon {
      color: undefined;
    }

     .gh0KZF2o9S .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gh0KZF2o9S:hover .gp-button-price {
      color: undefined;
    }

    .gh0KZF2o9S .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gh0KZF2o9S .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gh0KZF2o9S:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.facebook.com/groups/788387043110820" target="_blank" data-id="gh0KZF2o9S" aria-label="<p>Join Meraki Community</p>"
      
      data-state="idle"
      class="gh0KZF2o9S gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:var(--g-c-text-3, text-3);--size:23px;--size-tablet:23px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:23px;--size-tablet:23px;--size-mobile:14px;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggh0KZF2o9S_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnpqnM82aN">
    <div
      parentTag="Col"
        class="gnpqnM82aN "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#6b6b6b;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:15px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnpqnM82aN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g2Adph3sF_" data-id="g2Adph3sF_"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2Adph3sF_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSytbLVazK gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gEBTeysZCj"
    role="presentation"
    class="gp-group/image gEBTeysZCj gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-310f291b-0c4e-40e9-aff7-67da9469ae21.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g5AIraON6o gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="goXqWIZgLc"
    role="presentation"
    class="gp-group/image goXqWIZgLc gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-bf210ac9-6631-4da2-9705-95539e32774f.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gteiPztrCY gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gHgKuMc7S3"
    role="presentation"
    class="gp-group/image gHgKuMc7S3 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4FrOaMNC8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g0PmqcHDnW"
    role="presentation"
    class="gp-group/image g0PmqcHDnW gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-852b74a1-39c9-4eaf-a67d-c53ad9f6255d.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3ERKN_10V gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsrHOPkHnH"
    role="presentation"
    class="gp-group/image gsrHOPkHnH gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0677f5f1-71bd-4b4b-992a-8a67ee23f17c.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gxuTRoJRU0 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g5qOlw1XCT"
    role="presentation"
    class="gp-group/image g5qOlw1XCT gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0f01512d-0412-461a-a086-693fe010b5ed.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="ghUVINnTbb" data-id="ghUVINnTbb"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr) minmax(0, 2fr);--gtc-mobile:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghUVINnTbb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gt5FPiwiJE gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="geZDDjz8nK"
    role="presentation"
    class="gp-group/image geZDDjz8nK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gUmukem8bx gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gdQHg_Ue6M"
    role="presentation"
    class="gp-group/image gdQHg_Ue6M gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-1c7d073e-6e3b-41ee-b211-929528f395f0.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT-Q6dI2X- gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gozck1S_pK"
    role="presentation"
    class="gp-group/image gozck1S_pK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-bf04e30a-6f37-42e6-b2ba-9f03bdb6f613.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmBYN5pIwP gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gXg61N7kdY"
    role="presentation"
    class="gp-group/image gXg61N7kdY gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-f16b81b5-e22f-44a1-9c51-228dac91bb42.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP-pNds63o gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggzjSl3Efp"
    role="presentation"
    class="gp-group/image ggzjSl3Efp gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-b36a7d5d-160e-40e4-be91-8946a9e20eff.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwlNquCkWB gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gygAPUVcjp"
    role="presentation"
    class="gp-group/image gygAPUVcjp gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#" target="_self" title="Image Title"
        class="gp-h-full gp-w-full"
        style="border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-09ccfea5-8f6b-4687-8d84-aaa42189f8b8.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547370713825281126 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370713808372838&sectionId=547370713825281126)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggh0KZF2o9S_label","label":"ggh0KZF2o9S_label","default":"<p>Join Meraki Community</p>"},{"type":"html","id":"ggnpqnM82aN_text","label":"ggnpqnM82aN_text","default":"<p>Unlock a world of coffee expertise! Join our community for exclusive tips, brewing guides, and the chance to connect with fellow coffee enthusiasts.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
