

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548607794597790738.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-548607794597790738.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548607794597790738.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548607794597790738.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548607794597790738.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548607794597790738.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548607794597790738.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548607794597790738.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548607794597790738.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548607794597790738.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548607794597790738.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548607794597790738.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-548607794597790738.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548607794597790738.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-548607794597790738.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-548607794597790738.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-548607794597790738.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548607794597790738.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-548607794597790738.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-548607794597790738.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-548607794597790738.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548607794597790738.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548607794597790738.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548607794597790738.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548607794597790738.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548607794597790738.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548607794597790738.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548607794597790738.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548607794597790738.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548607794597790738.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548607794597790738.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548607794597790738.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548607794597790738.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-548607794597790738.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-548607794597790738.gps.gpsil [style*="--maxh:"]{max-height:var(--maxh)}.gps-548607794597790738.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-548607794597790738.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-548607794597790738.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548607794597790738.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548607794597790738.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548607794597790738.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548607794597790738.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548607794597790738.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548607794597790738.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548607794597790738.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548607794597790738.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548607794597790738.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-548607794597790738.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548607794597790738.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548607794597790738.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-548607794597790738.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-548607794597790738.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548607794597790738.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548607794597790738.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548607794597790738.gps.gpsil [style*="--maxh-tablet:"]{max-height:var(--maxh-tablet)}.gps-548607794597790738.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-548607794597790738.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-548607794597790738.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-548607794597790738.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-548607794597790738.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548607794597790738.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-548607794597790738.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548607794597790738.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548607794597790738.gps.gpsil [style*="--maxh-mobile:"]{max-height:var(--maxh-mobile)}.gps-548607794597790738.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548607794597790738.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-548607794597790738.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-548607794597790738 .-gp-translate-y-1\/2,.gps-548607794597790738 .gp-translate-x-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-548607794597790738 .focus-visible\:gp-shadow-none,.gps-548607794597790738 .focus\:\!gp-shadow-none,.gps-548607794597790738 .gp-shadow-md,.gps-548607794597790738 .gp-shadow-xl,.gps-548607794597790738 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-548607794597790738 .\!gp-g-s-medium{padding:8px 24px!important}.gps-548607794597790738 .\!gp-static{position:static!important}.gps-548607794597790738 .gp-fixed{position:fixed}.gps-548607794597790738 .gp-absolute{position:absolute}.gps-548607794597790738 .gp-relative{position:relative}.gps-548607794597790738 .gp-inset-0{inset:0}.gps-548607794597790738 .gp-right-0{right:0}.gps-548607794597790738 .gp-top-0{top:0}.gps-548607794597790738 .gp-top-\[27px\]{top:27px}.gps-548607794597790738 .gp-z-1{z-index:1}.gps-548607794597790738 .gp-z-100{z-index:100}.gps-548607794597790738 .gp-z-50{z-index:50}.gps-548607794597790738 .gp-z-\[999999\]{z-index:999999}.gps-548607794597790738 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548607794597790738 .gp-mb-0{margin-bottom:0}.gps-548607794597790738 .gp-block{display:block}.gps-548607794597790738 .\!gp-inline-block{display:inline-block!important}.gps-548607794597790738 .gp-inline-block{display:inline-block}.gps-548607794597790738 .gp-flex{display:flex}.gps-548607794597790738 .gp-inline-flex{display:inline-flex}.gps-548607794597790738 .gp-grid{display:grid}.gps-548607794597790738 .gp-contents{display:contents}.gps-548607794597790738 .\!gp-hidden{display:none!important}.gps-548607794597790738 .gp-hidden{display:none}.gps-548607794597790738 .\!gp-h-auto{height:auto!important}.gps-548607794597790738 .gp-h-\[20px\]{height:20px}.gps-548607794597790738 .gp-h-auto{height:auto}.gps-548607794597790738 .gp-h-full{height:100%}.gps-548607794597790738 .gp-h-screen{height:100vh}.gps-548607794597790738 .\!gp-max-h-screen{max-height:100vh!important}.gps-548607794597790738 .gp-max-h-full{max-height:100%}.gps-548607794597790738 .gp-w-\[20px\]{width:20px}.gps-548607794597790738 .gp-w-\[calc\(100\%_-_20px\)\]{width:calc(100% - 20px)}.gps-548607794597790738 .gp-w-full{width:100%}.gps-548607794597790738 .gp-max-w-full{max-width:100%}.gps-548607794597790738 .gp-flex-none{flex:none}.gps-548607794597790738 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-548607794597790738 .-gp-translate-y-1\/2,.gps-548607794597790738 .gp-translate-x-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-548607794597790738 .gp-translate-x-1\/2{--tw-translate-x:50%}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-548607794597790738 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-548607794597790738 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-548607794597790738 .gp-flex-col{flex-direction:column}.gps-548607794597790738 .gp-items-center{align-items:center}.gps-548607794597790738 .gp-justify-center{justify-content:center}.gps-548607794597790738 .gp-gap-y-0{row-gap:0}.gps-548607794597790738 .gp-overflow-hidden{overflow:hidden}.gps-548607794597790738 .gp-overflow-y-auto{overflow-y:auto}.gps-548607794597790738 .gp-overflow-x-hidden{overflow-x:hidden}.gps-548607794597790738 .gp-break-words{overflow-wrap:break-word}.gps-548607794597790738 .gp-rounded{border-radius:4px}.gps-548607794597790738 .gp-rounded-none{border-radius:0}.gps-548607794597790738 .gp-bg-transparent{background-color:transparent}.gps-548607794597790738 .\!gp-bg-none{background-image:none!important}.gps-548607794597790738 .gp-p-\[16px\]{padding:16px}.gps-548607794597790738 .gp-align-middle{vertical-align:middle}.gps-548607794597790738 .gp-text-\[14px\]{font-size:14px}.gps-548607794597790738 .\!gp-normal-case{text-transform:none!important}.gps-548607794597790738 .gp-leading-normal{line-height:1.5}.gps-548607794597790738 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-548607794597790738 .gp-no-underline{text-decoration-line:none}.gps-548607794597790738 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)}.gps-548607794597790738 .gp-shadow-md,.gps-548607794597790738 .gp-shadow-xl{box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-548607794597790738 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color)}.gps-548607794597790738 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-548607794597790738 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-548607794597790738 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794597790738 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794597790738 .gp-duration-100{transition-duration:.1s}.gps-548607794597790738 .gp-duration-200{transition-duration:.2s}.gps-548607794597790738 .gp-duration-300{transition-duration:.3s}.gps-548607794597790738 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794597790738 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-548607794597790738 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-548607794597790738 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-548607794597790738 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-548607794597790738 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}.gps-548607794597790738 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-548607794597790738 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-548607794597790738 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-548607794597790738 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-548607794597790738 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-548607794597790738 .tablet\:\!gp-hidden{display:none!important}.gps-548607794597790738 .tablet\:gp-hidden{display:none}.gps-548607794597790738 .tablet\:gp-h-auto{height:auto}.gps-548607794597790738 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-548607794597790738 .mobile\:\!gp-hidden{display:none!important}.gps-548607794597790738 .mobile\:gp-hidden{display:none}.gps-548607794597790738 .mobile\:gp-h-auto{height:auto}.gps-548607794597790738 .mobile\:gp-flex-none{flex:none}}.gps-548607794597790738 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548607794597790738 .\[\&_p\]\:gp-inline p{display:inline}.gps-548607794597790738 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-548607794597790738 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548607794597790738 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

    <gp-dialog class="gps-lazy" data-id="gbhpnD-9GK" style="--d:contents;--d-tablet:contents;--d-mobile:contents" data-gp-setting='{"dialogId":"gbhpnD-9GK","trigger":"show-after-time","triggerTime":15,"frequency":3,"triggerPercentage":30,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog class=" gp-dialog gp-bg-transparent" aria-label="Popup 1" data-gp-dialog-id="gbhpnD-9GK"
        style="z-index:100001"
      >
        <div
          aria-label="Backdrop"
          class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-items-center gp-justify-center"
        >
        
            <div
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              data-gp-dialog-overlay
              style="--op:0.7;--bgc:#121212"
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            class="gp-relative gp-max-h-full gp-max-w-full  gp-animate-[fadeIn_0.4s_ease-in] gp-shadow-xl"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:"
          >
            <button
              type="button"
              data-gp-dialog-close
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-z-[999999] gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none gp-translate-x-1/2 -gp-translate-y-1/2 gp-shadow-md"
              style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px"
            >
              <svg
                viewBox="0 0 12 12"
                fill="currentColor"
                style="--w:12px;--h:12px"
              >
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div
              style="--shadow:none;--op:100%;--pt:var(--g-s-xs);--pl:0px;--pb:var(--g-s-xs);--pr:0px;--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:;border-radius:inherit;--bgc:#151515"
              aria-label="Dialog body"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7-Yjar6Xv">
    <div
      parentTag="Dialog"
        class="g7-Yjar6Xv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:26px;--size-tablet:32px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7-Yjar6Xv_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gksLfLa9og">
    <div
      parentTag="Dialog"
        class="gksLfLa9og "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggksLfLa9og_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gSJTAmL2Us"
    role="presentation"
    class="gp-group/image gSJTAmL2Us gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1_768x.png?v=1723096665&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1_768x.png?v=1723096665&width=800&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1_1024x.png?v=1723096665&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1_1024x.png?v=1723096665&width=800&crop=center" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1.png?v=1723096665&width=800&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/DiscoverMeraki__fix_1.png?v=1723096665&width=800&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:60%;--w-tablet:60%;--w-mobile:60%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPm-jF2r_l">
    <div
      parentTag="Dialog"
        class="gPm-jF2r_l "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:20px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPm-jF2r_l_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xxs);--pl:var(--g-s-xs);--pb:var(--g-s-xxs);--pr:var(--g-s-xs)" class="gz2I2MiQiC ">
      
    <gp-form
      id="gz2I2MiQiC"
      data-id="gz2I2MiQiC"
      
      data-submit-action='stay-on-page'
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gz2I2MiQiC"
        href="" target=""
      >
      </a>
      {% form 'customer', class: 'gp-form-gz2I2MiQiC ', id: 'contact_form_gz2I2MiQiC' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gz2I2MiQiC"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            {{ section.settings.ggz2I2MiQiC_errorMessage }}
          </div>
        {% endif %}
        <div popover id="my-popover-gz2I2MiQiC">
        <style>
            #my-popover-gz2I2MiQiC::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gz2I2MiQiC"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          {{ section.settings.ggz2I2MiQiC_successMessage }}
        </div></div>
        
       
      
    <div
      parentTag="Newsletter" id="g88n0K4e1z" data-id="g88n0K4e1z"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--cg-mobile:0px;--pc:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g88n0K4e1z gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvx2c57hme gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="griRrt5c_E"
      class="griRrt5c_E"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:12px;--ta:center"
    >
      <input
        type="email"
        class="gp-form-item !gp-g-s-medium !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--w:500px;--w-tablet:313px;--w-mobile:100%;--bs:solid;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-2, line-2);--shadow:none"
        placeholder="{{ section.settings.ggriRrt5c_E_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gbDiTJjtL4 ">
      
    <div
    data-id="gbDiTJjtL4"
      style="--ta:left"
    >
      <label
        style="--c:#6D6D6D;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
        class="gbDiTJjtL4 gp-flex gp-items-center gp-text-g-text-1 !gp-normal-case"
      >
        <input
          name="contact[agree]"
          type="checkbox"
          {% if true %}
          checked
          {% endif %}
          {% if true %}
          required
          {% endif %}
          class="gp-h-[20px] gp-w-[20px] !gp-inline-block !gp-static"
          style="appearance: auto"
        >
        </input>
        <span
          class="gp-w-[calc(100%_-_20px)]"
          style="--pl:var(--g-s-xs);--pl-mobile:4px"
        >
          {{ section.settings.ggbDiTJjtL4_description }}
        </span>
      </label>
    </div>
  
      </div>
      <style id="custom-css-gbDiTJjtL4">
        .gbDiTJjtL4 {

}
.gbDiTJjtL4 input[type="checkbox"]{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    position: relative !important;
    background-color: #ffffff;
    border-radius: 2px;
}
.gbDiTJjtL4 input[type="checkbox"]:after{
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(43deg);
    display: block;
}
.gbDiTJjtL4 input[type="checkbox"]:checked {
    background: #6D3212;
}
      </style>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="gaxNAwx4Cm ">
      
    <div
    data-id="gaxNAwx4Cm"
      style="--ta:left"
    >
      <label
        style="--c:#6D6D6D;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
        class="gaxNAwx4Cm gp-flex gp-items-center gp-text-g-text-1 !gp-normal-case"
      >
        <input
          name="contact[agree]"
          type="checkbox"
          {% if true %}
          checked
          {% endif %}
          {% if true %}
          required
          {% endif %}
          class="gp-h-[20px] gp-w-[20px] !gp-inline-block !gp-static"
          style="appearance: auto"
        >
        </input>
        <span
          class="gp-w-[calc(100%_-_20px)]"
          style="--pl:var(--g-s-xs)"
        >
          {{ section.settings.ggaxNAwx4Cm_description }}
        </span>
      </label>
    </div>
  
      </div>
      <style id="custom-css-gaxNAwx4Cm">
        .gaxNAwx4Cm {

}
.gaxNAwx4Cm input[type="checkbox"]{
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    position: relative !important;
    background-color: #ffffff;
    border-radius: 2px;
}
.gaxNAwx4Cm input[type="checkbox"]:after{
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(43deg);
    display: block;
}
.gaxNAwx4Cm input[type="checkbox"]:checked {
    background: #6D3212;
}
      </style>
    
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:var(--g-s-m);--ta:center"
    
  >
    <style>
    .gokaMGvE59.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gokaMGvE59:hover::before {
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      
    }

    .gokaMGvE59:hover .gp-button-icon {
      color: undefined;
    }

     .gokaMGvE59 .gp-button-icon {
      color: #ffffff;
    }

    .gokaMGvE59:hover .gp-button-price {
      color: undefined;
    }

    .gokaMGvE59 .gp-button-price {
      color: #ffffff;
    }

    .gokaMGvE59 .gp-product-dot-price {
       color: #ffffff;
    }

    .gokaMGvE59:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gokaMGvE59" aria-label="Subscribe now"
      
      data-state="idle"
      class="gokaMGvE59 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none"
      style="--hvr-bg:#000000;--bg:#6d3212;--shadow:none;--w:240px;--w-tablet:240px;--w-mobile:240px;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#ffffff"
      >
        {{ section.settings.ggokaMGvE59_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
    </div>
    </div>
   
    
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-dialog.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gbhpnD-9GK">
        .gbhpnD-9GK input[type="checkbox"]:checked {
    background: #6D3212;{
}
      </style>
    


{% schema %}
  {
    
    "name": "Section 14",
    "tag": "section",
    "class": "gps-548607794597790738 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=548607794429821970&sectionId=548607794597790738)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7-Yjar6Xv_text","label":"gg7-Yjar6Xv_text","default":"Stay updated with Meraki"},{"type":"html","id":"ggksLfLa9og_text","label":"ggksLfLa9og_text","default":"<p>Subscribe to receive exclusive deals and enjoy 10% off!</p>"},{"type":"html","id":"ggPm-jF2r_l_text","label":"ggPm-jF2r_l_text","default":"<p>Don't Wait, Subscribe Now!</p>"},{"type":"html","id":"ggz2I2MiQiC_successMessage","label":"ggz2I2MiQiC_successMessage","default":"Welcom to Meraki, Curious about what's next? Stay tuned for exciting announcements and special perks."},{"type":"html","id":"ggz2I2MiQiC_errorMessage","label":"ggz2I2MiQiC_errorMessage","default":"Can’t subscribe now. Please try again later."},{"type":"html","id":"ggriRrt5c_E_placeholder","label":"ggriRrt5c_E_placeholder","default":"Subcribe to our newsletters"},{"type":"html","id":"ggbDiTJjtL4_description","label":"ggbDiTJjtL4_description","default":"Yes, sign me up to receive exclusive offers, news and more!"},{"type":"html","id":"ggaxNAwx4Cm_description","label":"ggaxNAwx4Cm_description","default":"By signing up, you agree to Meraki's Terms of Use and Privacy Policy."},{"type":"html","id":"ggokaMGvE59_label","label":"ggokaMGvE59_label","default":"Subscribe now"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
