

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547395403327210598.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547395403327210598.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547395403327210598.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547395403327210598.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547395403327210598.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547395403327210598.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547395403327210598.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547395403327210598.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547395403327210598.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547395403327210598.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547395403327210598.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547395403327210598.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547395403327210598.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547395403327210598.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547395403327210598.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547395403327210598.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547395403327210598.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547395403327210598.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547395403327210598.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547395403327210598.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547395403327210598.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547395403327210598.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547395403327210598.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547395403327210598.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547395403327210598.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547395403327210598.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547395403327210598.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547395403327210598.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547395403327210598.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547395403327210598.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547395403327210598.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547395403327210598.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547395403327210598.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547395403327210598.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547395403327210598.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547395403327210598.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547395403327210598.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547395403327210598.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547395403327210598.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547395403327210598.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547395403327210598.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547395403327210598.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547395403327210598.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547395403327210598.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547395403327210598.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547395403327210598.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547395403327210598.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547395403327210598.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547395403327210598.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547395403327210598.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547395403327210598.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547395403327210598.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547395403327210598.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547395403327210598.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547395403327210598.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547395403327210598.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-547395403327210598.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547395403327210598.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547395403327210598.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547395403327210598.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547395403327210598.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547395403327210598.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547395403327210598.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547395403327210598.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547395403327210598.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547395403327210598.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-547395403327210598.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547395403327210598.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-547395403327210598.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547395403327210598.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547395403327210598.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547395403327210598.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547395403327210598.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547395403327210598.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547395403327210598.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547395403327210598 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547395403327210598 .gp-relative{position:relative}.gps-547395403327210598 .gp-z-1{z-index:1}.gps-547395403327210598 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547395403327210598 .gp-mb-0{margin-bottom:0}.gps-547395403327210598 .gp-flex{display:flex}.gps-547395403327210598 .gp-inline-flex{display:inline-flex}.gps-547395403327210598 .gp-grid{display:grid}.gps-547395403327210598 .gp-contents{display:contents}.gps-547395403327210598 .\!gp-hidden{display:none!important}.gps-547395403327210598 .gp-hidden{display:none}.gps-547395403327210598 .gp-h-auto{height:auto}.gps-547395403327210598 .gp-h-full{height:100%}.gps-547395403327210598 .gp-w-full{width:100%}.gps-547395403327210598 .gp-max-w-full{max-width:100%}.gps-547395403327210598 .gp-flex-none{flex:none}.gps-547395403327210598 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547395403327210598 .gp-flex-col{flex-direction:column}.gps-547395403327210598 .gp-items-center{align-items:center}.gps-547395403327210598 .gp-justify-center{justify-content:center}.gps-547395403327210598 .gp-gap-y-0{row-gap:0}.gps-547395403327210598 .gp-overflow-hidden{overflow:hidden}.gps-547395403327210598 .gp-break-words{overflow-wrap:break-word}.gps-547395403327210598 .gp-rounded-none{border-radius:0}.gps-547395403327210598 .gp-text-center{text-align:center}.gps-547395403327210598 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-547395403327210598 .gp-no-underline{text-decoration-line:none}.gps-547395403327210598 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395403327210598 .gp-duration-200{transition-duration:.2s}.gps-547395403327210598 .gp-duration-300{transition-duration:.3s}.gps-547395403327210598 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395403327210598 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-547395403327210598 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-547395403327210598 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-547395403327210598 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-547395403327210598 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547395403327210598 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547395403327210598 .tablet\:\!gp-hidden{display:none!important}.gps-547395403327210598 .tablet\:gp-hidden{display:none}.gps-547395403327210598 .tablet\:gp-h-auto{height:auto}.gps-547395403327210598 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547395403327210598 .mobile\:\!gp-hidden{display:none!important}.gps-547395403327210598 .mobile\:gp-hidden{display:none}.gps-547395403327210598 .mobile\:gp-h-auto{height:auto}.gps-547395403327210598 .mobile\:gp-flex-none{flex:none}}.gps-547395403327210598 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547395403327210598 .\[\&_p\]\:gp-inline p{display:inline}.gps-547395403327210598 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-547395403327210598 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547395403327210598 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gimaBC1MoI" data-id="gimaBC1MoI"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-4xl);--pl:15px;--pr:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gimaBC1MoI gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gzWhUy2ezE gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="glSnOV5U3Q" data-id="glSnOV5U3Q"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:var(--g-s-3xl);--pl-mobile:0px;--pl-tablet:var(--g-s-2xl);--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glSnOV5U3Q gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:0;--o-mobile:1"
      class="gMcZTrXBgX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gchPxchhZ8" data-id="gchPxchhZ8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:var(--g-s-xl);--pb:0px;--pr:var(--g-s-xl);--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-m);--pt-tablet:var(--g-s-l);--pl-tablet:var(--g-s-l);--pb-tablet:var(--g-s-xl);--pr-tablet:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gchPxchhZ8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMs78XBWEY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gLmgfKSlgQ" data-id="gLmgfKSlgQ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:0px;--mb:var(--g-s-xl);--pt:0px;--cg:8px;--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLmgfKSlgQ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4aCeVDqAh gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gd4Zs_UoAj" data-id="gd4Zs_UoAj"
        style="--bs:solid;--bw:1px 1px 1px 1px;--bc:#575757;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xxs);--pl:var(--g-s-m);--pb:var(--g-s-xxs);--pr:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd4Zs_UoAj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw4CHMj9P0 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCUGlkwfCr">
    <div
      parentTag="Col"
        class="gCUGlkwfCr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggCUGlkwfCr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gEDAY2IQ92 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZgJXCka51">
    <div
      parentTag="Col"
        class="gZgJXCka51 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggZgJXCka51_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-2xl);--mb:var(--g-s-xl);--pr:0px;--ta:left"
    
  >
    <style>
    .g3uHV2BCMP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g3uHV2BCMP:hover::before {
      
      
    }

    .g3uHV2BCMP:hover .gp-button-icon {
      color: #6d3212;
    }

     .g3uHV2BCMP .gp-button-icon {
      color: #242424;
    }

    .g3uHV2BCMP:hover .gp-button-price {
      color: #6d3212;
    }

    .g3uHV2BCMP .gp-button-price {
      color: #242424;
    }

    .g3uHV2BCMP .gp-product-dot-price {
       color: #242424;
    }

    .g3uHV2BCMP:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-009" target="_blank" data-id="g3uHV2BCMP" aria-label="<p>Meraki Espresso Machine Wins iF DESIGN AWARD GOLD 2025 in Kitchen Appliances</p>"
      
      data-state="idle"
      class="g3uHV2BCMP gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--hvr-c:#6d3212;--c:#242424;--size:21px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:130%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:21px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#242424"
      >
        {{ section.settings.gg3uHV2BCMP_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFFGWkFEm_">
    <div
      parentTag="Col"
        class="gFFGWkFEm_ "
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#575757;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggFFGWkFEm__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-3xl);--ta:center"
    
  >
    <style>
    .gLcnuVLkdA.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gLcnuVLkdA:hover::before {
      
      
    }

    .gLcnuVLkdA:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gLcnuVLkdA .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gLcnuVLkdA:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gLcnuVLkdA .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gLcnuVLkdA .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gLcnuVLkdA:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-009" target="_blank" data-id="gLcnuVLkdA" aria-label="READ MORE"
      
      data-state="idle"
      class="gLcnuVLkdA gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#6d3212;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggLcnuVLkdA_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:1;--o-mobile:0"
      class="gB2crZjOtX gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gYMr6Sd_J6"
    role="presentation"
    class="gp-group/image gYMr6Sd_J6 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right;--ta-mobile:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-009" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:right;--jc-mobile:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-d8cb0f87-64b3-41cb-90ca-e1c8efa52840.jpg" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:80%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-547395403327210598 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=547395403310433382&sectionId=547395403327210598)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCUGlkwfCr_text","label":"ggCUGlkwfCr_text","default":"<p>News</p>"},{"type":"html","id":"ggZgJXCka51_text","label":"ggZgJXCka51_text","default":"<p>Product Related</p>"},{"type":"html","id":"gg3uHV2BCMP_label","label":"gg3uHV2BCMP_label","default":"<p>Meraki Espresso Machine Wins iF DESIGN AWARD GOLD 2025 in Kitchen Appliances</p>"},{"type":"html","id":"ggFFGWkFEm__text","label":"ggFFGWkFEm__text","default":"<p>The Meraki Espresso Machine has been awarded the prestigious <a href=\"https://ifdesign.com/en/winner-ranking/project/meraki-espresso-machine/674022\" target=\"_blank\"><u>iF DESIGN AWARD GOLD 2025</u></a> under the Kitchen Appliances category, solidifying its status as a game-changing home espresso machine. Selected from over 11,000 global entries, Meraki stood out for its exceptional design, user experience, and innovative technology.</p>"},{"type":"html","id":"ggLcnuVLkdA_label","label":"ggLcnuVLkdA_label","default":"READ MORE"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
