
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584660073947595636.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584660073947595636.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584660073947595636.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584660073947595636.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584660073947595636.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584660073947595636.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584660073947595636.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584660073947595636.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584660073947595636.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584660073947595636.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584660073947595636.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584660073947595636.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584660073947595636.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584660073947595636.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584660073947595636.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584660073947595636.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584660073947595636.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584660073947595636.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584660073947595636.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584660073947595636.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-584660073947595636.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584660073947595636.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584660073947595636.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584660073947595636.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584660073947595636.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584660073947595636.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584660073947595636.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584660073947595636.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584660073947595636.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584660073947595636.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584660073947595636.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-584660073947595636.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584660073947595636.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584660073947595636.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584660073947595636.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584660073947595636.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584660073947595636.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584660073947595636.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584660073947595636.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584660073947595636.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584660073947595636.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-584660073947595636.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584660073947595636.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584660073947595636.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584660073947595636.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584660073947595636.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584660073947595636.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584660073947595636.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584660073947595636.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584660073947595636.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584660073947595636.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584660073947595636.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-584660073947595636.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584660073947595636.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584660073947595636.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584660073947595636.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584660073947595636.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584660073947595636.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584660073947595636.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-584660073947595636.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-584660073947595636.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-584660073947595636.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584660073947595636.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584660073947595636.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-584660073947595636.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584660073947595636.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584660073947595636.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-584660073947595636.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-584660073947595636.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-584660073947595636.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584660073947595636.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584660073947595636.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-584660073947595636.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-584660073947595636.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584660073947595636.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584660073947595636.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-584660073947595636.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-584660073947595636.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-584660073947595636.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584660073947595636.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584660073947595636.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584660073947595636.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-584660073947595636.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-584660073947595636.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584660073947595636.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584660073947595636.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584660073947595636.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584660073947595636.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584660073947595636.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-584660073947595636.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-584660073947595636.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584660073947595636.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584660073947595636.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584660073947595636.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584660073947595636.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-584660073947595636.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584660073947595636.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584660073947595636.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584660073947595636.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584660073947595636 .gp-rotate-0,.gps-584660073947595636 .gp-rotate-180,.gps-584660073947595636 .mobile\:gp-rotate-0,.gps-584660073947595636 .mobile\:gp-rotate-180,.gps-584660073947595636 .tablet\:gp-rotate-0,.gps-584660073947595636 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-584660073947595636 .gp-static{position:static}.gps-584660073947595636 .gp-relative{position:relative}.gps-584660073947595636 .gp-left-0{left:0}.gps-584660073947595636 .gp-right-0{right:0}.gps-584660073947595636 .gp-z-1{z-index:1}.gps-584660073947595636 .gp-z-2{z-index:2}.gps-584660073947595636 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584660073947595636 .gp-my-0{margin-bottom:0;margin-top:0}.gps-584660073947595636 .gp-mb-0{margin-bottom:0}.gps-584660073947595636 .gp-block{display:block}.gps-584660073947595636 .gp-inline-block{display:inline-block}.gps-584660073947595636 .gp-flex{display:flex}.gps-584660073947595636 .gp-grid{display:grid}.gps-584660073947595636 .gp-contents{display:contents}.gps-584660073947595636 .\!gp-hidden{display:none!important}.gps-584660073947595636 .gp-hidden{display:none}.gps-584660073947595636 .gp-h-auto{height:auto}.gps-584660073947595636 .gp-h-full{height:100%}.gps-584660073947595636 .\!gp-min-h-full{min-height:100%!important}.gps-584660073947595636 .gp-w-full{width:100%}.gps-584660073947595636 .gp-max-w-full{max-width:100%}.gps-584660073947595636 .gp-flex-1{flex:1 1 0%}.gps-584660073947595636 .gp-flex-none{flex:none}.gps-584660073947595636 .gp-shrink-0{flex-shrink:0}.gps-584660073947595636 .gp-rotate-0{--tw-rotate:0deg}.gps-584660073947595636 .gp-rotate-0,.gps-584660073947595636 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-584660073947595636 .gp-rotate-180{--tw-rotate:180deg}.gps-584660073947595636 .gp-cursor-pointer{cursor:pointer}.gps-584660073947595636 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-584660073947595636 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584660073947595636 .\!gp-flex-row{flex-direction:row!important}.gps-584660073947595636 .gp-flex-row{flex-direction:row}.gps-584660073947595636 .gp-flex-col{flex-direction:column}.gps-584660073947595636 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-584660073947595636 .gp-items-center{align-items:center}.gps-584660073947595636 .gp-justify-center{justify-content:center}.gps-584660073947595636 .gp-justify-between{justify-content:space-between}.gps-584660073947595636 .gp-gap-2{gap:8px}.gps-584660073947595636 .gp-overflow-hidden{overflow:hidden}.gps-584660073947595636 .gp-text-center{text-align:center}.gps-584660073947595636 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-584660073947595636 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660073947595636 .gp-duration-200{transition-duration:.2s}.gps-584660073947595636 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584660073947595636 .tablet\:gp-static{position:static}.gps-584660073947595636 .tablet\:\!gp-relative{position:relative!important}.gps-584660073947595636 .tablet\:gp-left-0{left:0}.gps-584660073947595636 .tablet\:gp-right-0{right:0}.gps-584660073947595636 .tablet\:gp-block{display:block}.gps-584660073947595636 .tablet\:\!gp-flex{display:flex!important}.gps-584660073947595636 .tablet\:\!gp-hidden{display:none!important}.gps-584660073947595636 .tablet\:gp-hidden{display:none}.gps-584660073947595636 .tablet\:gp-h-auto{height:auto}.gps-584660073947595636 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-584660073947595636 .tablet\:gp-flex-none{flex:none}.gps-584660073947595636 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-584660073947595636 .tablet\:gp-rotate-0,.gps-584660073947595636 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-584660073947595636 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-584660073947595636 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-584660073947595636 .tablet\:gp-flex-row{flex-direction:row}.gps-584660073947595636 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-584660073947595636 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-584660073947595636 .mobile\:gp-static{position:static}.gps-584660073947595636 .mobile\:\!gp-absolute{position:absolute!important}.gps-584660073947595636 .mobile\:gp-left-0{left:0}.gps-584660073947595636 .mobile\:gp-right-0{right:0}.gps-584660073947595636 .mobile\:gp-z-2{z-index:2}.gps-584660073947595636 .mobile\:gp-block{display:block}.gps-584660073947595636 .mobile\:\!gp-flex{display:flex!important}.gps-584660073947595636 .mobile\:\!gp-hidden{display:none!important}.gps-584660073947595636 .mobile\:gp-hidden{display:none}.gps-584660073947595636 .mobile\:gp-h-auto{height:auto}.gps-584660073947595636 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-584660073947595636 .mobile\:gp-flex-none{flex:none}.gps-584660073947595636 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-584660073947595636 .mobile\:gp-rotate-0,.gps-584660073947595636 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-584660073947595636 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-584660073947595636 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-584660073947595636 .mobile\:gp-flex-row{flex-direction:row}.gps-584660073947595636 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-584660073947595636 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-584660073947595636 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-584660073947595636 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-584660073947595636 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gFRzBVZAbz"}' data-id="gFRzBVZAbz" id="gFRzBVZAbz" data-same-height-subgrid-container class="gFRzBVZAbz gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:30px;--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--ml-mobile:4px;--mr-mobile:4px;--pt-mobile:var(--g-s-m);--pl-mobile:15px;--pb-mobile:12px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gyZZiB7gr0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grqU1JV9q8"
        class="grqU1JV9q8"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-l);--mb:52px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-l);--mb-mobile:22px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508366"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:42px;--size-tablet:38px;--size-mobile:23px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrqU1JV9q8_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <gp-carousel gp-data='{"id":"g_H-gy792G","setting":{"childItem":["Item 1","Item 2","Item 3","Item 4"],"itemNumber":{"desktop":4,"tablet":2,"mobile":1},"navigationStyle":{"desktop":"outside","mobile":"inside"},"dotStyle":{"desktop":"outside"},"sneakPeak":{"desktop":false},"sneakPeakType":{"desktop":"forward"},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakOffsetCenter":{"desktop":50},"vertical":{"desktop":false},"controlOverContent":{"desktop":true},"dot":{"desktop":false,"mobile":false},"dotSize":{"desktop":12},"dotGapToCarousel":{"desktop":16},"dotColor":{"desktop":"bg-1"},"dotActiveColor":{"desktop":"line-3"},"navigationEnable":{"desktop":false,"mobile":true,"tablet":true},"arrowCustom":"<svg height=\"20\" width=\"20\" data-name=\"caret-right-bold\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817562042106216\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z\" /></svg>","arrowCustomColor":"#6D3212","arrowIconSize":{"desktop":24,"mobile":"14"},"arrowButtonSize":{"desktop":{"shapeValue":"1/1","shapeLinked":true,"padding":{"linked":true,"type":"custom","top":"16px","bottom":"16px","left":"16px","right":"16px"}}},"arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"borderType":"none","border":"none","borderWidth":"1px","width":"1px 1px 1px 1px","isCustom":true}},"arrowShadow":{"desktop":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false}},"roundedArrow":{"desktop":{"btrr":"0px","bblr":"0px","bbrr":"0px","btlr":"0px","radiusType":"none"}},"arrowGapToEachSide":"0","showWhenHover":false,"rtl":false,"autoplay":false,"autoplayTimeout":2,"pauseOnHover":true,"runPreview":false,"enableDrag":{"desktop":true},"loop":{"desktop":true},"animationMode":"ease-in","background":{"desktop":{"type":"color","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"label":true},"styles":{"fullWidth":{"desktop":false,"tablet":false,"mobile":false},"sizeSetting":{"desktop":{"shapeLinked":false,"width":"default","height":"auto"}},"backgroundImage":{"desktop":{}},"playSpeed":500,"align":{"desktop":"center"},"borderContent":{"borderType":"none","border":"none","width":"1px 1px 1px 1px","position":"all","borderWidth":"1px","color":"line-3","isCustom":true},"roundedContent":{"radiusType":"none"},"hasActiveShadow":false,"carouselShadow":{"type":"shadow-1","distance":"4px","blur":"4px","spread":"0px","color":"rgba(18, 18, 18, 0.2)","angle":45,"enable":false},"spacing":{"desktop":"19"},"itemPadding":{"desktop":{"padding":{}}}}}' data-id="g_H-gy792G" id="gp-root-carousel-g_H-gy792G" style="--jc:center" class="gp-group/carousel gp-w-full gp-flex">
      <div
        
        class="g_H-gy792G gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block"
        style="--mb:var(--g-s-xl);--mb-tablet:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--bgi:none;--bgi-tablet:none;--bgi-mobile:none"
      >
        <div class="gp-relative gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row" style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:0px">
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g_H-gy792G g_H-gy792G gp-carousel-action-back gem-slider-previous gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-flex tablet:!gp-relative mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:flex;--d-mobile:flex;--left:3px;--right:initial;--top:initial;--bottom:;--left-tablet:3px;--right-tablet:initial;--top-tablet:initial;--bottom-tablet:;--left-mobile:0px;--right-mobile:initial;--top-mobile:initial;--bottom-mobile:;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-g_H-gy792G {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-g_H-gy792G::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g_H-gy792G {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g_H-gy792G::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g_H-gy792G {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g_H-gy792G::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
      style="--c:#6D3212;--w:24px;--w-tablet:24px;--w-mobile:14px;--h:24px;--h-tablet:24px;--h-mobile:14px"
    >
        <svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </div>
  
    </button>
  
          <div id="gp-carousel-g_H-gy792G" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none gp-carousel-slider-g_H-gy792G mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full" style="--cg-mobile:19px;--cg-tablet:19px;--cg:19px">
            
    
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g_H-gy792G gp-child-item-g_H-gy792G gHVbLJ6ng4"
      style="--minw:calc(100% / 4 - 14.25px);--minw-tablet:calc(100% / 2 - 9.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 14.25px);--maxw-tablet:calc(100% / 2 - 9.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%"
      data-index="0"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gysKRPLSke"}' data-id="gysKRPLSke" id="gysKRPLSke" data-same-height-subgrid-container class="gysKRPLSke gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--h-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gklSKgXYQ- gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="ggNEXFpNzc"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758771508421 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto ggNEXFpNzc"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-dc7ce1e1-38a2-4814-9f37-135ca33c4c31.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-dc7ce1e1-38a2-4814-9f37-135ca33c4c31.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-dc7ce1e1-38a2-4814-9f37-135ca33c4c31.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-dc7ce1e1-38a2-4814-9f37-135ca33c4c31.webp" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_NGej8tSM"
        class="g_NGej8tSM"
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:21px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508422"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:23px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_NGej8tSM_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="guf9WDvzDz"
        class="guf9WDvzDz"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:var(--g-s-2xl);--pb-mobile:0px;--pr-mobile:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508423"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gguf9WDvzDz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g_H-gy792G gp-child-item-g_H-gy792G goD28NDn9d"
      style="--minw:calc(100% / 4 - 14.25px);--minw-tablet:calc(100% / 2 - 9.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 14.25px);--maxw-tablet:calc(100% / 2 - 9.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%"
      data-index="1"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gL34lezYP6"}' data-id="gL34lezYP6" id="gL34lezYP6" data-same-height-subgrid-container class="gL34lezYP6 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gaD2SiqtLN gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gE9cC3EsQu"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758771508428 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gE9cC3EsQu"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-12d76def-e4a2-4818-a96d-fb04c6b4e95f.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-12d76def-e4a2-4818-a96d-fb04c6b4e95f.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-12d76def-e4a2-4818-a96d-fb04c6b4e95f.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-12d76def-e4a2-4818-a96d-fb04c6b4e95f.webp" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="glqZNwwpoD"
        class="glqZNwwpoD"
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508435"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:23px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gglqZNwwpoD_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gQMHl1Yki3"
        class="gQMHl1Yki3"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508436"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggQMHl1Yki3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g_H-gy792G gp-child-item-g_H-gy792G gOFGk0u5vj"
      style="--minw:calc(100% / 4 - 14.25px);--minw-tablet:calc(100% / 2 - 9.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 14.25px);--maxw-tablet:calc(100% / 2 - 9.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%"
      data-index="2"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gE7k-w6ede"}' data-id="gE7k-w6ede" id="gE7k-w6ede" data-same-height-subgrid-container class="gE7k-w6ede gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUDXjjJd4t gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gcHQIhbFHm"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758771508440 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gcHQIhbFHm"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-b6ac4696-3bfd-4117-9bd5-c88e9f1e8207.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-b6ac4696-3bfd-4117-9bd5-c88e9f1e8207.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-b6ac4696-3bfd-4117-9bd5-c88e9f1e8207.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-b6ac4696-3bfd-4117-9bd5-c88e9f1e8207.webp" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gCucRIf_Qd"
        class="gCucRIf_Qd"
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508441"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:23px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggCucRIf_Qd_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL-3Pu6n2K"
        class="gL-3Pu6n2K"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508442"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL-3Pu6n2K_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
    <div
      
      id=""
      class="gem-slider-item gp-w-full gem-slider-item-g_H-gy792G gp-child-item-g_H-gy792G g9pwSViI4i"
      style="--minw:calc(100% / 4 - 14.25px);--minw-tablet:calc(100% / 2 - 9.5px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 14.25px);--maxw-tablet:calc(100% / 2 - 9.5px);--maxw-mobile:calc(100% / 1 - 0px);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--shadow:none;--op:100%"
      data-index="3"
      grid-index="{{forloop.index}}"
      external-id="{{media.external_id}}"
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
    >
      <div
        class="gp-w-full gp-h-full"
        style="--shadow:none"
      >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g1AN66RGg0"}' data-id="g1AN66RGg0" id="g1AN66RGg0" data-same-height-subgrid-container class="g1AN66RGg0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-2xl);--pr:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gPZqT_Lnys gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gm5EyKF1vq"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758771508445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gm5EyKF1vq"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-1ece06ee-5ba9-41e1-afeb-af5a0c2cac51.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-1ece06ee-5ba9-41e1-afeb-af5a0c2cac51.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-1ece06ee-5ba9-41e1-afeb-af5a0c2cac51.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNTEyLTUxMiI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgZmlsbD0idXJsKCNnLTUxMi01MTIpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii01MTIiIHRvPSI1MTIiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-1ece06ee-5ba9-41e1-afeb-af5a0c2cac51.webp" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:1/1;--objf:cover;--w:80px;--w-tablet:80px;--w-mobile:80px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPh4yx7LYJ"
        class="gPh4yx7LYJ"
        style="--ta:center;--ta-mobile:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--mb-mobile:20px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508447"
      >
      <div class="gp-flex" style="--jc:center;--jc-mobile:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:23px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPh4yx7LYJ_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gABZYy-2B6"
        class="gABZYy-2B6"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758771508447"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggABZYy-2B6_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0 gp-carousel-arrow-g_H-gy792G g_H-gy792G gp-carousel-action-next gem-slider-next gp-cursor-pointer gp-text-gray-500 !gp-hidden tablet:!gp-flex tablet:!gp-relative mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--bg:transparent;--d:none;--d-tablet:flex;--d-mobile:flex;--right:3px;--left:initial;--top:;--bottom:initial;--right-tablet:3px;--left-tablet:initial;--top-tablet:;--bottom-tablet:initial;--right-mobile:0px;--left-mobile:initial;--top-mobile:;--bottom-mobile:initial;--pl:16px;--pr:16px;--pt:16px;--pb:16px;--shadow:none"
    >
      <style type="text/css">
      .gp-carousel-arrow-g_H-gy792G {
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      .gp-carousel-arrow-g_H-gy792G::before {
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        pointer-events: none;
        z-index: 10;
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
      }
      @media only screen and (max-width: 1024px) and (min-width: 768px) {
        .gp-carousel-arrow-g_H-gy792G {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g_H-gy792G::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
      @media only screen and (max-width: 768px) {
        .gp-carousel-arrow-g_H-gy792G {
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
        .gp-carousel-arrow-g_H-gy792G::before {
          border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
          
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
        }
      }
    </style>
      
    <div
      class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
      style="--c:#6D3212;--w:24px;--w-tablet:24px;--w-mobile:14px;--h:24px;--h-tablet:24px;--h-mobile:14px"
    >
        <svg height="20" width="20" data-name="caret-right-bold" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817562042106216">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M184.49,136.49l-80,80a12,12,0,0,1-17-17L159,128,87.51,56.49a12,12,0,1,1,17-17l80,80A12,12,0,0,1,184.49,136.49Z" /></svg>
    </div>
  
    </button>
  
        </div>
        
    
        <div class="gp-carousel-dot-container gp-carousel-dot-container-g_H-gy792G gp-z-2 gp-flex gp-flex-1 gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0" style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:none;--d-tablet:none;--d-mobile:none">
          <!-- item render by js -->
        </div>
      
  
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-carousel-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-584660073947595636 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584660073947595636)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrqU1JV9q8_text","label":"ggrqU1JV9q8_text","default":"<strong>After-Sales Service</strong>"},{"type":"html","id":"gg_NGej8tSM_text","label":"gg_NGej8tSM_text","default":"<span style=\"font-size:2.8rem;\"><strong>O1</strong></span><strong>Quick Request</strong>"},{"type":"html","id":"gguf9WDvzDz_text","label":"gguf9WDvzDz_text","default":"<p>Click \"Service Request\" on our website and fill out the form to initiate your service request.</p>"},{"type":"html","id":"gglqZNwwpoD_text","label":"gglqZNwwpoD_text","default":"<span style=\"font-size:2.8rem;\"><strong>O2</strong></span><strong>Timely Response</strong>"},{"type":"html","id":"ggQMHl1Yki3_text","label":"ggQMHl1Yki3_text","default":"<p>Our customer service team will contact you within 48 business hours on working days (GMT+8, 10:0018:00) to confirm your request and guide you through the next steps.</p>"},{"type":"html","id":"ggCucRIf_Qd_text","label":"ggCucRIf_Qd_text","default":"<span style=\"font-size:2.8rem;\"><strong>O3</strong></span><strong>Flexible Solutions</strong>"},{"type":"html","id":"ggL-3Pu6n2K_text","label":"ggL-3Pu6n2K_text","default":"<p>You can choose:</p><p> Spare parts delivery for easy DIY repair;</p><p> Return &amp; repair</p><p>Once your machine arrives, we will promptly handle the repair within 710 business days. We will stay in touch to ensure it is returned to you.</p>"},{"type":"html","id":"ggPh4yx7LYJ_text","label":"ggPh4yx7LYJ_text","default":"<span style=\"font-size:2.8rem;\"><strong>O4</strong></span><strong>Ongoing Support</strong>"},{"type":"html","id":"ggABZYy-2B6_text","label":"ggABZYy-2B6_text","default":"<p>If you have any questions or feedback after the service, please don't hesitate to reach out. We're always here to support you and continuously improve your experience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  