

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713825150054.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713825150054.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547370713825150054.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713825150054.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713825150054.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713825150054.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713825150054.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713825150054.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713825150054.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713825150054.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547370713825150054.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547370713825150054.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713825150054.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547370713825150054.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547370713825150054.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547370713825150054.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713825150054.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547370713825150054.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547370713825150054.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547370713825150054.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713825150054.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713825150054.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713825150054.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547370713825150054.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713825150054.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370713825150054.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370713825150054.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370713825150054.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370713825150054.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713825150054.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370713825150054.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713825150054.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370713825150054.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370713825150054.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370713825150054.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370713825150054.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370713825150054.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713825150054.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713825150054.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713825150054.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713825150054.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713825150054.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713825150054.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713825150054.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370713825150054.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370713825150054.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370713825150054.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370713825150054.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713825150054.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713825150054.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370713825150054.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370713825150054.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547370713825150054.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370713825150054.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370713825150054.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370713825150054.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370713825150054.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713825150054.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713825150054.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370713825150054.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370713825150054.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370713825150054.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-547370713825150054.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370713825150054.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370713825150054.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370713825150054.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370713825150054.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370713825150054.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370713825150054.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713825150054.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713825150054.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370713825150054.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370713825150054.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370713825150054.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370713825150054 .focus\:\!gp-shadow-none,.gps-547370713825150054 .hover\:\!gp-shadow-none{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-547370713825150054 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547370713825150054 .gp-fixed{position:fixed}.gps-547370713825150054 .gp-relative{position:relative}.gps-547370713825150054 .gp-top-\[27px\]{top:27px}.gps-547370713825150054 .gp-z-1{z-index:1}.gps-547370713825150054 .gp-z-100{z-index:100}.gps-547370713825150054 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713825150054 .gp-mb-0{margin-bottom:0}.gps-547370713825150054 .gp-flex{display:flex}.gps-547370713825150054 .gp-inline-flex{display:inline-flex}.gps-547370713825150054 .gp-grid{display:grid}.gps-547370713825150054 .\!gp-hidden{display:none!important}.gps-547370713825150054 .gp-hidden{display:none}.gps-547370713825150054 .\!gp-h-auto{height:auto!important}.gps-547370713825150054 .gp-h-full{height:100%}.gps-547370713825150054 .gp-min-h-\[150px\]{min-height:150px}.gps-547370713825150054 .gp-max-w-full{max-width:100%}.gps-547370713825150054 .gp-shrink-0{flex-shrink:0}.gps-547370713825150054 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713825150054 .gp-flex-col{flex-direction:column}.gps-547370713825150054 .gp-items-center{align-items:center}.gps-547370713825150054 .gp-justify-center{justify-content:center}.gps-547370713825150054 .gp-gap-y-0{row-gap:0}.gps-547370713825150054 .gp-overflow-hidden{overflow:hidden}.gps-547370713825150054 .gp-break-words{overflow-wrap:break-word}.gps-547370713825150054 .gp-rounded{border-radius:4px}.gps-547370713825150054 .gp-rounded-none{border-radius:0}.gps-547370713825150054 .\!gp-bg-none{background-image:none!important}.gps-547370713825150054 .gp-p-\[16px\]{padding:16px}.gps-547370713825150054 .gp-text-center{text-align:center}.gps-547370713825150054 .gp-text-\[14px\]{font-size:14px}.gps-547370713825150054 .gp-leading-normal{line-height:1.5}.gps-547370713825150054 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-547370713825150054 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-547370713825150054 .gp-no-underline{text-decoration-line:none}.gps-547370713825150054 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-547370713825150054 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713825150054 .gp-duration-200{transition-duration:.2s}.gps-547370713825150054 .gp-duration-300{transition-duration:.3s}.gps-547370713825150054 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713825150054 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-547370713825150054 .hover\:gp-text-g-bg-3:hover{color:var(--g-c-bg-3)}.gps-547370713825150054 .hover\:\!gp-shadow-none:hover{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}}.gps-547370713825150054 .focus\:\!gp-shadow-none:focus{--tw-shadow:0 0 #0000!important;--tw-shadow-colored:0 0 #0000!important;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)!important}.gps-547370713825150054 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-547370713825150054 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-547370713825150054 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-547370713825150054 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547370713825150054 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547370713825150054 .tablet\:\!gp-hidden{display:none!important}.gps-547370713825150054 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547370713825150054 .mobile\:\!gp-hidden{display:none!important}.gps-547370713825150054 .mobile\:gp-hidden{display:none}}.gps-547370713825150054 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-547370713825150054 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-547370713825150054 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-547370713825150054 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-547370713825150054 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370713825150054 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370713825150054 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-547370713825150054 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370713825150054 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkGBEXhhcW" data-id="gkGBEXhhcW"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-2xl);--pr:15px;--pt-tablet:var(--g-s-xl);--pl-tablet:var(--g-s-s);--pb-tablet:var(--g-s-xl);--pr-tablet:var(--g-s-s);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkGBEXhhcW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqoiEAIWZf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g-Hm9RPo3E" data-id="g-Hm9RPo3E"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-Hm9RPo3E gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYOo5oT11Z gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gXHqnjgVxw" data-id="gXHqnjgVxw"
        style="--bs:none;--bw:0px 1px 0px 0px;--bc:#EEEEEE;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pl:var(--g-s-3xl);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-3xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-2xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gXHqnjgVxw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gccH0PRGqw gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-WWIXHPgv">
    <div
      parentTag="Col"
        class="g-WWIXHPgv "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-WWIXHPgv_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gskFfxXUeo">
    <div
      parentTag="Col"
        class="gskFfxXUeo "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mb-tablet:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#6d6d6d;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggskFfxXUeo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSFZYb1prm">
    <div
      parentTag="Col"
        class="gSFZYb1prm "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-tablet:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggSFZYb1prm_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-mobile:var(--g-s-s);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gcLEJ8aYAx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gcLEJ8aYAx:hover::before {
      
      
    }

    .gcLEJ8aYAx:hover .gp-button-icon {
      color: #ffffff;
    }

     .gcLEJ8aYAx .gp-button-icon {
      color: #838383;
    }

    .gcLEJ8aYAx:hover .gp-button-price {
      color: #ffffff;
    }

    .gcLEJ8aYAx .gp-button-price {
      color: #838383;
    }

    .gcLEJ8aYAx .gp-product-dot-price {
       color: #838383;
    }

    .gcLEJ8aYAx:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="tel:+1 (909)237-8669" target="_blank" data-id="gcLEJ8aYAx" aria-label="<p>+1 (909)237-8669</p>"
      
      data-state="idle"
      class="gcLEJ8aYAx gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#838383;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#838383"
      >
        {{ section.settings.ggcLEJ8aYAx_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0NyYWVYk5">
    <div
      parentTag="Col"
        class="g0NyYWVYk5 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0NyYWVYk5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8cuCfTOOq">
    <div
      parentTag="Col"
        class="g8cuCfTOOq "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:4px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8cuCfTOOq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g68jL9qjvd">
    <div
      parentTag="Col"
        class="g68jL9qjvd "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-tablet:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg68jL9qjvd_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbY3xQVvW3">
    <div
      parentTag="Col"
        class="gbY3xQVvW3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbY3xQVvW3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .guVwYaisSX.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .guVwYaisSX:hover::before {
      
      
    }

    .guVwYaisSX:hover .gp-button-icon {
      color: #ffffff;
    }

     .guVwYaisSX .gp-button-icon {
      color: #999999;
    }

    .guVwYaisSX:hover .gp-button-price {
      color: #ffffff;
    }

    .guVwYaisSX .gp-button-price {
      color: #999999;
    }

    .guVwYaisSX .gp-product-dot-price {
       color: #999999;
    }

    .guVwYaisSX:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="mailto:hello@merakitech.com" target="_blank" data-id="guVwYaisSX" aria-label="<p>hello@merakitech.com</p>"
      
      data-state="idle"
      class="guVwYaisSX gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#999999;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#999999"
      >
        {{ section.settings.gguVwYaisSX_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHy1JgpUOR">
    <div
      parentTag="Col"
        class="gHy1JgpUOR "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHy1JgpUOR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gibjIscddN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gibjIscddN:hover::before {
      
      
    }

    .gibjIscddN:hover .gp-button-icon {
      color: #ffffff;
    }

     .gibjIscddN .gp-button-icon {
      color: #838383;
    }

    .gibjIscddN:hover .gp-button-price {
      color: #ffffff;
    }

    .gibjIscddN .gp-button-price {
      color: #838383;
    }

    .gibjIscddN .gp-product-dot-price {
       color: #838383;
    }

    .gibjIscddN:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="mailto:service@merakitech.com" target="_blank" data-id="gibjIscddN" aria-label="<p>service@merakitech.com</p>"
      
      data-state="idle"
      class="gibjIscddN gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#838383;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#838383"
      >
        {{ section.settings.ggibjIscddN_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glR3lyuduW">
    <div
      parentTag="Col"
        class="glR3lyuduW "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gglR3lyuduW_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="grPFJ73jKK" data-id="grPFJ73jKK"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--gtc-mobile:minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr) minmax(0, 3fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grPFJ73jKK gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_jG8xA0Cx gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g6bqlJ40Nq.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g6bqlJ40Nq:hover::before {
      
      
    }

    .g6bqlJ40Nq:hover .gp-button-icon {
      color: #ffffff;
    }

     .g6bqlJ40Nq .gp-button-icon {
      color: #6b6b6b;
    }

    .g6bqlJ40Nq:hover .gp-button-price {
      color: #ffffff;
    }

    .g6bqlJ40Nq .gp-button-price {
      color: #6b6b6b;
    }

    .g6bqlJ40Nq .gp-product-dot-price {
       color: #6b6b6b;
    }

    .g6bqlJ40Nq:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.instagram.com/merakitechglobal" target="_blank" data-id="g6bqlJ40Nq" aria-label
      
      data-state="idle"
      class="g6bqlJ40Nq gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--hvr-c:#ffffff;--c:#6b6b6b;--size:32px;--size-tablet:26px;--size-mobile:20px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817742718108008">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M176,24H80A56.06,56.06,0,0,0,24,80v96a56.06,56.06,0,0,0,56,56h96a56.06,56.06,0,0,0,56-56V80A56.06,56.06,0,0,0,176,24ZM128,176a48,48,0,1,1,48-48A48.05,48.05,0,0,1,128,176Zm60-96a12,12,0,1,1,12-12A12,12,0,0,1,188,80Zm-28,48a32,32,0,1,1-32-32A32,32,0,0,1,160,128Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:32px;--size-tablet:26px;--size-mobile:20px;--hvr-c:#ffffff;--c:#6b6b6b"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8l61wnOcu gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g0WN3DmkuH.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g0WN3DmkuH:hover::before {
      
      
    }

    .g0WN3DmkuH:hover .gp-button-icon {
      color: #ffffff;
    }

     .g0WN3DmkuH .gp-button-icon {
      color: #6b6b6b;
    }

    .g0WN3DmkuH:hover .gp-button-price {
      color: #ffffff;
    }

    .g0WN3DmkuH .gp-button-price {
      color: #6b6b6b;
    }

    .g0WN3DmkuH .gp-product-dot-price {
       color: #6b6b6b;
    }

    .g0WN3DmkuH:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.facebook.com/people/Meraki-Tech-Global/61559404991014/" target="_blank" data-id="g0WN3DmkuH" aria-label
      
      data-state="idle"
      class="g0WN3DmkuH gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--hvr-c:#ffffff;--c:#6b6b6b;--size:32px;--size-tablet:26px;--size-mobile:20px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584339026280">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M244,149.31c0,16.84-3.37,31.33-9.75,41.91C226.06,204.81,213.33,212,197.44,212c-30.33,0-50.72-38.05-72.3-78.33C109.46,104.41,90,68,74,68c-7.71,0-17.16,9.37-24.66,24.45A133.82,133.82,0,0,0,36,149.31c0,12.3,2.24,22.78,6.3,29.52,3.77,6.26,8.94,9.17,16.26,9.17,13.75,0,30.63-29,36.18-38.49a12,12,0,0,1,20.74,12.09c-8.91,15.28-16.53,26-24,33.78C80.75,206.56,70,212,58.56,212c-15.89,0-28.62-7.19-36.81-20.78C15.37,180.64,12,166.15,12,149.31,12,105.34,35.58,44,74,44c30.33,0,50.72,38.05,72.3,78.33C162,151.59,181.47,188,197.44,188c7.32,0,12.49-2.91,16.26-9.17,4.06-6.74,6.3-17.22,6.3-29.52a133.82,133.82,0,0,0-13.33-56.86C199.17,77.37,189.72,68,182,68c-5.72,0-12.61,5-20.49,14.83a12,12,0,0,1-18.74-15C155.62,51.8,168.45,44,182,44c17.65,0,34,13.41,46.15,37.76A159,159,0,0,1,244,149.31Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:32px;--size-tablet:26px;--size-mobile:20px;--hvr-c:#ffffff;--c:#6b6b6b"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gRt6QYxjqf gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .g20AjljZBN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .g20AjljZBN:hover::before {
      
      
    }

    .g20AjljZBN:hover .gp-button-icon {
      color: #ffffff;
    }

     .g20AjljZBN .gp-button-icon {
      color: #6b6b6b;
    }

    .g20AjljZBN:hover .gp-button-price {
      color: #ffffff;
    }

    .g20AjljZBN .gp-button-price {
      color: #6b6b6b;
    }

    .g20AjljZBN .gp-product-dot-price {
       color: #6b6b6b;
    }

    .g20AjljZBN:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.youtube.com/@MerakiTechGlobal" target="_blank" data-id="g20AjljZBN" aria-label
      
      data-state="idle"
      class="g20AjljZBN gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--hvr-c:#ffffff;--c:#6b6b6b;--size:32px;--size-tablet:26px;--size-mobile:20px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817766391677288">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M234.33,69.52a24,24,0,0,0-14.49-16.4C185.56,39.88,131,40,128,40s-57.56-.12-91.84,13.12a24,24,0,0,0-14.49,16.4C19.08,79.5,16,97.74,16,128s3.08,48.5,5.67,58.48a24,24,0,0,0,14.49,16.41C69,215.56,120.4,216,127.34,216h1.32c6.94,0,58.37-.44,91.18-13.11a24,24,0,0,0,14.49-16.41c2.59-10,5.67-28.22,5.67-58.48S236.92,79.5,234.33,69.52Zm-73.74,65-40,28A8,8,0,0,1,108,156V100a8,8,0,0,1,12.59-6.55l40,28a8,8,0,0,1,0,13.1Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:32px;--size-tablet:26px;--size-mobile:20px;--hvr-c:#ffffff;--c:#6b6b6b"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzmYqF7S30 gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left;--ta-mobile:center"
    
  >
    <style>
    .gWosveOLqD.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gWosveOLqD:hover::before {
      
      
    }

    .gWosveOLqD:hover .gp-button-icon {
      color: #ffffff;
    }

     .gWosveOLqD .gp-button-icon {
      color: #6b6b6b;
    }

    .gWosveOLqD:hover .gp-button-price {
      color: #ffffff;
    }

    .gWosveOLqD .gp-button-price {
      color: #6b6b6b;
    }

    .gWosveOLqD .gp-product-dot-price {
       color: #6b6b6b;
    }

    .gWosveOLqD:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.tiktok.com/@merakitech" target="_blank" data-id="gWosveOLqD" aria-label
      
      data-state="idle"
      class="gWosveOLqD gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:2px;--pr:2px;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--hvr-c:#ffffff;--c:#6b6b6b;--size:32px;--size-tablet:26px;--size-mobile:20px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    <span
        class="gp-inline-flex gp-button-icon gp-transition-colors gp-duration-300 gp-shrink-0 gp-items-center gp-justify-center group-data-[state=loading]/button:gp-invisible gp-z-1 [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
        style="--height-desktop:1em;--height-tablet:1em;--height-mobile:1em"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817762849456488">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,80v40a8,8,0,0,1-8,8,103.25,103.25,0,0,1-48-11.71V156a76,76,0,0,1-152,0c0-36.9,26.91-69.52,62.6-75.88A8,8,0,0,1,96,88v42.69a8,8,0,0,1-4.57,7.23A20,20,0,1,0,120,156V24a8,8,0,0,1,8-8h40a8,8,0,0,1,8,8,48.05,48.05,0,0,0,48,48A8,8,0,0,1,232,80Z" /></svg></span>
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:32px;--size-tablet:26px;--size-mobile:20px;--hvr-c:#ffffff;--c:#6b6b6b"
      >
        
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzl97bfLKn gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:auto;--pl:auto;--pb:auto;--pr:var(--g-s-3xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:0px;--pr-tablet:var(--g-s-2xl)" class="gTUXoooDi6 ">
      
    
    <gp-form
      id="gTUXoooDi6"
      data-id="gTUXoooDi6"
      
      data-submit-action=''
      data-callback='{"link":"","target":"_self"}'
    >
      <a
        hidden
        id="gp-form-callback-gTUXoooDi6"
        href="" target=""
      >
      </a>
      {% form 'contact', class: 'gp-form-gTUXoooDi6 ', id: 'contact_form_gTUXoooDi6' %}
        {% if form.errors %}
          <div
            id="gp-form-error-gTUXoooDi6"
            class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
            style="background-color:#FFE9E9;left:50%;transform:translateX(-50%);color:#EA3335"
          >
            Can’t send email. Please try again later.
          </div>
        {% endif %}
        <div popover id="my-popover-gTUXoooDi6">
        <style>
            #my-popover-gTUXoooDi6::backdrop {
              width: fit-content;
              height: fit-content;
            }
        </style>
        <div
          id="gp-form-success-gTUXoooDi6"
          class="gp-form-message gp-hidden gp-top-[27px] gp-z-100 gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal"
          style="background-color:#F2FFEC;left:50%;transform:translateX(-50%);color:#52C41A"
        >
          Thanks for contacting us. We'll get back to you as soon as possible.
        </div></div>
        
       
      
    <div
      parentTag="ContactForm" id="gSmbaduvB9" data-id="gSmbaduvB9"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:var(--g-s-2xl);--cg-mobile:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gSmbaduvB9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g0WPAdvCt2 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-xs);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl)"
      data-id="gWwlEDwBG9"
    >
      <input
        type="text"
        class="gp-form-item gWwlEDwBG9 gp-g-paragraph-1 gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--c:var(--g-c-text-1, text-1);--pl:0px;--pr:0px;--pt:12px;--pb:12px;--tt:default;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#6d3212;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none"
        placeholder="{{ section.settings.ggWwlEDwBG9_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[name]"
        value=""
      ></input>
    </div>
  
      <style id="custom-css-gWwlEDwBG9">
        .gWwlEDwBG9 {
  background: black!important;  
  color: white!important;  
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-89NsVN3i gp-relative gp-flex gp-flex-col"
    >
      
    <div
    data-id="gkRF5qhY91"
      class="gkRF5qhY91"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-xs);--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-2xl);--ta:left"
    >
      <input
        type="email"
        class="gp-form-item gp-g-paragraph-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none"
        style="--pl:0px;--pr:0px;--pt:12px;--pb:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#6d3212;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none"
        placeholder="{{ section.settings.ggkRF5qhY91_placeholder }}"
        {% if true %}
        required
        {% endif %}
        name="contact[email]"
        value=""
        autocomplete="email"
      ></input>
    </div>
  
      <style id="custom-css-gkRF5qhY91">
        .gkRF5qhY91 input{
 background: black!important;  
  color: white!important;  
}
      </style>
    
    </div>
    </div>
   
    
    <div
      
      data-id="g6R3cPlzGz"
      
      style="--ta:left;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--mb-mobile:var(--g-s-xl)"
    >
      <textarea
        class="gp-form-item g6R3cPlzGz gp-text-g-text-1 !gp-outline-none !gp-h-auto focus:!gp-shadow-none hover:!gp-shadow-none !gp-bg-none gp-min-h-[150px]"
        style="--c:var(--g-c-text-1, text-1);--pl:0px;--pr:0px;--pt:12px;--pb:12px;--tt:default;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--bs:solid;--bw:2px 2px 2px 2px;--bc:#6d3212;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%"
        placeholder="{{ section.settings.gg6R3cPlzGz_placeholder }}"
        {% if false %}
        required
        {% endif %}
        name="contact[note]"
        value=""
      ></textarea>
    </div>
  
      <style id="custom-css-g6R3cPlzGz">
        .g6R3cPlzGz {
 background: black!important;  
  color: white!important;  
}
      </style>
    
    
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:right;--ta-mobile:center"
    
  >
    <style>
    .gLxh8SkODN.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 9999px;
      border-bottom-right-radius: 9999px;
      border-top-left-radius: 9999px;
      border-top-right-radius: 9999px;
      
    }

    .gLxh8SkODN:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }

    .gLxh8SkODN:hover .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

     .gLxh8SkODN .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gLxh8SkODN:hover .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gLxh8SkODN .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gLxh8SkODN .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gLxh8SkODN:hover .gp-product-dot-price {
      color: var(--g-c-bg-3, bg-3);
    }
  </style>
    <button
      type="submit" data-id="gLxh8SkODN" aria-label="Submit"
      
      data-state="idle"
      class="gLxh8SkODN gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none hover:gp-text-g-bg-3 gp-text-g-bg-3"
      style="--hvr-bg:#151515;--bg:#6d3212;--pl:48px;--pr:48px;--pt:12px;--pb:12px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:48px;--pr-mobile:48px;--pt-mobile:12px;--pb-mobile:12px;--w:auto;--w-tablet:auto;--w-mobile:auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--fs:normal;--weight:600;--ls:0px;--lh-tablet:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:var(--g-c-bg-3, bg-3);--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggLxh8SkODN_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

  
      {% endform %}
    </gp-form>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-form.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
      </div>
      <style id="custom-css-gTUXoooDi6">
        .gTUXoooDi6 { background: black!important;  
  color: white!important;  

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-547370713825150054 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370713808372838&sectionId=547370713825150054)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-WWIXHPgv_text","label":"gg-WWIXHPgv_text","default":"FAQs"},{"type":"html","id":"ggskFfxXUeo_text","label":"ggskFfxXUeo_text","default":"<p>Have more questions? Visit our <a href=\"https://www.merakitech.com/pages/faq-page\" target=\"_blank\"><span style=\"color:#FFFFFF;\"><u>FAQs</u></span></a><span style=\"color:#FFFFFF;\"> </span>for immediate answers.</p>"},{"type":"html","id":"ggSFZYb1prm_text","label":"ggSFZYb1prm_text","default":"Call Us"},{"type":"html","id":"ggcLEJ8aYAx_label","label":"ggcLEJ8aYAx_label","default":"<p>+1 (909)237-8669</p>"},{"type":"html","id":"gg0NyYWVYk5_text","label":"gg0NyYWVYk5_text","default":"<p>EST 9:00AM-6:00PM</p>"},{"type":"html","id":"gg8cuCfTOOq_text","label":"gg8cuCfTOOq_text","default":"<p>Monday - Friday</p>"},{"type":"html","id":"gg68jL9qjvd_text","label":"gg68jL9qjvd_text","default":"Email us"},{"type":"html","id":"ggbY3xQVvW3_text","label":"ggbY3xQVvW3_text","default":"<p>Pre-order advice&nbsp;</p>"},{"type":"html","id":"gguVwYaisSX_label","label":"gguVwYaisSX_label","default":"<p>hello@merakitech.com</p>"},{"type":"html","id":"ggHy1JgpUOR_text","label":"ggHy1JgpUOR_text","default":"<p>After-sale support</p>"},{"type":"html","id":"ggibjIscddN_label","label":"ggibjIscddN_label","default":"<p>service@merakitech.com</p>"},{"type":"html","id":"gglR3lyuduW_text","label":"gglR3lyuduW_text","default":"Find us"},{"type":"html","id":"ggWwlEDwBG9_placeholder","label":"ggWwlEDwBG9_placeholder","default":"* Enter your first name"},{"type":"html","id":"ggkRF5qhY91_placeholder","label":"ggkRF5qhY91_placeholder","default":"* Enter your email"},{"type":"html","id":"gg6R3cPlzGz_placeholder","label":"gg6R3cPlzGz_placeholder","default":"Enter your message"},{"type":"html","id":"ggLxh8SkODN_label","label":"ggLxh8SkODN_label","default":"Submit"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
