

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387267803579317.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547387267803579317.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387267803579317.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387267803579317.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387267803579317.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387267803579317.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387267803579317.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387267803579317.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387267803579317.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387267803579317.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547387267803579317.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387267803579317.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547387267803579317.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547387267803579317.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547387267803579317.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387267803579317.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547387267803579317.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547387267803579317.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547387267803579317.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387267803579317.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387267803579317.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387267803579317.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387267803579317.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387267803579317.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387267803579317.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387267803579317.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547387267803579317.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387267803579317.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387267803579317.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387267803579317.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547387267803579317.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387267803579317.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387267803579317.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387267803579317.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-547387267803579317.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-547387267803579317.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547387267803579317.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547387267803579317.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387267803579317.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387267803579317.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387267803579317.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387267803579317.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387267803579317.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387267803579317.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387267803579317.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387267803579317.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387267803579317.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387267803579317.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547387267803579317.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387267803579317.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387267803579317.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387267803579317.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547387267803579317.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387267803579317.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387267803579317.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387267803579317.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547387267803579317.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-547387267803579317.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-547387267803579317.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387267803579317.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387267803579317.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387267803579317.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387267803579317.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547387267803579317.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387267803579317.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387267803579317.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387267803579317.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387267803579317.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547387267803579317.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-547387267803579317.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-547387267803579317.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-547387267803579317.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547387267803579317.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387267803579317.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387267803579317.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547387267803579317.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387267803579317.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387267803579317 .gp-relative{position:relative}.gps-547387267803579317 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387267803579317 .gp-mb-0{margin-bottom:0}.gps-547387267803579317 .gp-flex{display:flex}.gps-547387267803579317 .gp-grid{display:grid}.gps-547387267803579317 .gp-contents{display:contents}.gps-547387267803579317 .\!gp-hidden{display:none!important}.gps-547387267803579317 .gp-hidden{display:none}.gps-547387267803579317 .gp-h-auto{height:auto}.gps-547387267803579317 .gp-h-full{height:100%}.gps-547387267803579317 .gp-w-full{width:100%}.gps-547387267803579317 .gp-max-w-full{max-width:100%}.gps-547387267803579317 .gp-flex-none{flex:none}.gps-547387267803579317 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387267803579317 .gp-flex-col{flex-direction:column}.gps-547387267803579317 .gp-gap-y-0{row-gap:0}.gps-547387267803579317 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387267803579317 .gp-duration-200{transition-duration:.2s}.gps-547387267803579317 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547387267803579317 .tablet\:\!gp-hidden{display:none!important}.gps-547387267803579317 .tablet\:gp-hidden{display:none}.gps-547387267803579317 .tablet\:gp-h-auto{height:auto}.gps-547387267803579317 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547387267803579317 .mobile\:\!gp-hidden{display:none!important}.gps-547387267803579317 .mobile\:gp-hidden{display:none}.gps-547387267803579317 .mobile\:gp-h-auto{height:auto}.gps-547387267803579317 .mobile\:gp-flex-none{flex:none}}.gps-547387267803579317 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387267803579317 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387267803579317 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387267803579317 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNK8Yq38vh" data-id="gNK8Yq38vh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:0px;--pl:20px;--pb:0px;--pr:20px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-m);--pb-mobile:10px;--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNK8Yq38vh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOxkntulru gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjNyc6XPWD" data-id="gjNyc6XPWD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--mb:8px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f6f6f6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjNyc6XPWD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVgQObpAxl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gllYxK5W2I">
    <div
      parentTag="Col"
        class="gllYxK5W2I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:32px;--size-tablet:30px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggllYxK5W2I_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gif_-1XXqP">
    <div
      parentTag="Col"
        class="gif_-1XXqP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:var(--g-s-l);--mb:8px;--mb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:27px;--size-tablet:28px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#151515;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggif_-1XXqP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTDH1566eu">
    <div
      parentTag="Col"
        class="gTDH1566eu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:var(--g-s-l);--pl:0px;--mb-mobile:28px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTDH1566eu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTDH1566eu">
        .gTDH1566eu {

}
.gTDH1566eu p {

}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV266DsiIs">
    <div
      parentTag="Col"
        class="gV266DsiIs "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:var(--g-s-l);--pl:0px;--mb-mobile:28px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggV266DsiIs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gV266DsiIs">
        .gV266DsiIs {

}
.gV266DsiIs p {

}
      </style>
    
       
      
    <div
      parentTag="Col" id="g7OWJpBA8p" data-id="g7OWJpBA8p"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:var(--g-s-xl);--pb:0px;--pr:var(--g-s-xl);--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:28px;--pl-mobile:20px;--pb-mobile:28px;--pr-mobile:20px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7OWJpBA8p gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gUdUmNhzAl gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gU7ttyJh_x" data-id="gU7ttyJh_x"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--ml:-1px;--pl:1px;--ml-mobile:auto;--mb-mobile:0px;--pl-mobile:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:582px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gU7ttyJh_x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gysG85f3X7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ggQueQz4eC"
    role="presentation"
    class="gp-group/image ggQueQz4eC gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-3_480x480_768x.jpg?v=1636625041" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-3_480x480_1024x.jpg?v=1636625041" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-3_480x480.jpg?v=1636625041"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="g2GhHPfqmZ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gjTxCahKAp"
    role="presentation"
    class="gp-group/image gjTxCahKAp gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-2_480x480_768x.jpg?v=1636625081" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-2_480x480_1024x.jpg?v=1636625081" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNDgwLTMyMCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDgwIiBoZWlnaHQ9IjMyMCIgZmlsbD0idXJsKCNnLTQ4MC0zMjApIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii00ODAiIHRvPSI0ODAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="https://cdn.shopify.com/s/files/1/0181/5693/files/coffee-farm-majahual-2_480x480.jpg?v=1636625081"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZTwXMB1ax">
    <div
      parentTag="Col"
        class="gZTwXMB1ax "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:var(--g-s-l);--pl:0px;--mb-mobile:28px;--mt-tablet:var(--g-s-m);--mb-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZTwXMB1ax_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gZTwXMB1ax">
        .gZTwXMB1ax {

}
.gZTwXMB1ax p {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547387267803579317 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387267786736565&sectionId=547387267803579317)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggllYxK5W2I_text","label":"ggllYxK5W2I_text","default":"Product Description"},{"type":"html","id":"ggif_-1XXqP_text","label":"ggif_-1XXqP_text","default":"About EL SALVADOR Finca Majahual Espresso"},{"type":"html","id":"ggTDH1566eu_text","label":"ggTDH1566eu_text","default":"<p>Finca Majahual, nestled in the heart of Los Naranjos Valley on the slopes of Cerro El Águila, offers a unique terroir that sets it apart from others in El Salvador. The farm benefits from an exceptional microclimate influenced by cool, moist ocean air, creating a blanket of clouds and a set of microclimates that makes it unparalleled in the country. This environment, combined with fertile volcanic soil, is ideal for cultivating high-quality coffee.</p>"},{"type":"html","id":"ggV266DsiIs_text","label":"ggV266DsiIs_text","default":"<p>Finca Majahual, nestled in the heart of Los Naranjos Valley on the slopes of Cerro El Águila, offers a unique terroir that sets it apart from others in El Salvador. The farm benefits from an exceptional microclimate influenced by cool, moist ocean air, creating a blanket of clouds and a set of microclimates that makes it unparalleled in the country. This environment, combined with fertile volcanic soil, is ideal for cultivating high-quality coffee.</p>"},{"type":"html","id":"ggZTwXMB1ax_text","label":"ggZTwXMB1ax_text","default":"<p>The valley's high altitude, ranging from 1,500 to 1,800 meters above sea level, ensures cooler temperatures and ample rainfall, which are essential for the slow maturation of coffee cherries. This gradual development allows the Bourbon varietal at Finca Majahual to achieve a complex and nuanced flavor profile, making it one of the finest examples of a Classic Bourbon grown in all of Central America.</p><p>&nbsp;</p><p>Our relationship with Finca Majahual is one of our longest-running partnerships. Patrick Murray, who manages the farm for his family, constantly seeks innovation and fair social leadership. The coffees produced here are exceptional and inspiring, thanks to new processing techniques and social initiatives supported by the premiums paid for the farm's lots. The Murray-Meza family's dedication to sustainable practices and their tradition of coffee cultivation is deeply respected by all of us at Five Elephant.</p><p>&nbsp;</p><p>Most of the farm’s coffees are of the Bourbon variety, like this one, and they are all grown under shade. This particular lot represents the fantastic coffees the Murray-Mezza family has produced over the last decades. This coffee has notes of pine, lemon zest and honeydew melon like sweetness. The espresso is full-bodied with balanced acidity.<br>&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
