
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584660074182541912.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584660074182541912.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584660074182541912.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584660074182541912.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584660074182541912.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584660074182541912.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584660074182541912.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584660074182541912.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584660074182541912.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584660074182541912.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584660074182541912.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584660074182541912.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584660074182541912.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584660074182541912.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584660074182541912.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584660074182541912.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584660074182541912.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584660074182541912.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584660074182541912.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584660074182541912.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584660074182541912.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584660074182541912.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584660074182541912.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584660074182541912.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584660074182541912.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584660074182541912.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584660074182541912.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584660074182541912.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584660074182541912.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584660074182541912.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584660074182541912.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584660074182541912.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584660074182541912.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584660074182541912.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584660074182541912.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584660074182541912.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584660074182541912.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584660074182541912.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584660074182541912.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584660074182541912.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584660074182541912.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584660074182541912.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584660074182541912.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584660074182541912.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584660074182541912.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584660074182541912.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584660074182541912.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584660074182541912.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584660074182541912.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584660074182541912.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584660074182541912.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584660074182541912.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584660074182541912.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584660074182541912.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584660074182541912.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584660074182541912.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584660074182541912.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584660074182541912.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584660074182541912.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584660074182541912.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584660074182541912.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-584660074182541912.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584660074182541912.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584660074182541912.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584660074182541912.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584660074182541912.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584660074182541912.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-584660074182541912.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584660074182541912.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584660074182541912.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584660074182541912.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584660074182541912.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584660074182541912.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-584660074182541912.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584660074182541912.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584660074182541912.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584660074182541912.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584660074182541912.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584660074182541912.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584660074182541912.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584660074182541912 .gp-relative{position:relative}.gps-584660074182541912 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584660074182541912 .gp-mb-0{margin-bottom:0}.gps-584660074182541912 .gp-inline-block{display:inline-block}.gps-584660074182541912 .gp-flex{display:flex}.gps-584660074182541912 .gp-grid{display:grid}.gps-584660074182541912 .gp-contents{display:contents}.gps-584660074182541912 .\!gp-hidden{display:none!important}.gps-584660074182541912 .gp-hidden{display:none}.gps-584660074182541912 .gp-h-auto{height:auto}.gps-584660074182541912 .gp-h-full{height:100%}.gps-584660074182541912 .gp-w-full{width:100%}.gps-584660074182541912 .gp-max-w-full{max-width:100%}.gps-584660074182541912 .gp-flex-none{flex:none}.gps-584660074182541912 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584660074182541912 .gp-flex-col{flex-direction:column}.gps-584660074182541912 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074182541912 .gp-duration-200{transition-duration:.2s}.gps-584660074182541912 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-584660074182541912 .tablet\:\!gp-hidden{display:none!important}.gps-584660074182541912 .tablet\:gp-hidden{display:none}.gps-584660074182541912 .tablet\:gp-h-auto{height:auto}.gps-584660074182541912 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584660074182541912 .mobile\:\!gp-hidden{display:none!important}.gps-584660074182541912 .mobile\:gp-hidden{display:none}.gps-584660074182541912 .mobile\:gp-h-auto{height:auto}.gps-584660074182541912 .mobile\:gp-flex-none{flex:none}}.gps-584660074182541912 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#00000000","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","preload":false}},"uid":"gvjpKK5fvf"}' data-id="gvjpKK5fvf" id="gvjpKK5fvf" data-same-height-subgrid-container class="gvjpKK5fvf gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-xl);--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--ml-mobile:4px;--mr-mobile:4px;--pt-mobile:16px;--pl-mobile:15px;--pb-mobile:16px;--pr-mobile:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g52Pn0ISGe gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzIIt2BiYW"}' data-id="gzIIt2BiYW" id="gzIIt2BiYW" data-same-height-subgrid-container class="gzIIt2BiYW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:16px;--pt:30px;--pl:0px;--pb:30px;--pr:0px;--mb-mobile:0px;--pt-mobile:auto;--pl-mobile:0px;--pb-mobile:30px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="grxmuvusB3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="grOAgKlJ7o"
        class="grOAgKlJ7o"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--mb:29px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:20px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886322"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--ta-mobile:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:42px;--size-tablet:38px;--size-mobile:23px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggrOAgKlJ7o_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g0v7NFxmlY"}' data-id="g0v7NFxmlY" id="g0v7NFxmlY" data-same-height-subgrid-container class="g0v7NFxmlY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvJL2np4kl gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjvRXx-fyH"
        class="gjvRXx-fyH"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886322"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjvRXx-fyH_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g98ZC8lMRr"}' data-id="g98ZC8lMRr" id="g98ZC8lMRr" data-same-height-subgrid-container class="g98ZC8lMRr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:30px;--mb:30px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gcQbc_G7LX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gjzJoktrcP"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758792886323 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gjzJoktrcP"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-9499e577-2e0a-4313-9f7b-537035d18457.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-9499e577-2e0a-4313-9f7b-537035d18457.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-9499e577-2e0a-4313-9f7b-537035d18457.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-9499e577-2e0a-4313-9f7b-537035d18457.jpg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gFZRkb_3Hg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gCcWlfNA6A"}' data-id="gCcWlfNA6A" id="gCcWlfNA6A" data-same-height-subgrid-container class="gCcWlfNA6A gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:16px;--pl-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="giX3BiyLsB gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gPrHNeDhwH"
        class="gPrHNeDhwH"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886324"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggPrHNeDhwH_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g71dZKV2Dl"
        class="g71dZKV2Dl"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886324"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg71dZKV2Dl_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLeff7KlGY"}' data-id="gLeff7KlGY" id="gLeff7KlGY" data-same-height-subgrid-container class="gLeff7KlGY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:30px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:1"
      class="g776MEv_T2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gLdYIEkEzJ"}' data-id="gLdYIEkEzJ" id="gLdYIEkEzJ" data-same-height-subgrid-container class="gLdYIEkEzJ gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pr:16px;--pr-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIfyVu24XX gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gDV_waZZhh"
        class="gDV_waZZhh"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886325"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggDV_waZZhh_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gfQLc2XveW"
        class="gfQLc2XveW"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886326"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggfQLc2XveW_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o-mobile:0"
      class="giyH0uuIGl gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g_6rKUrGXD"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758792886326 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g_6rKUrGXD"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-81080098-944f-4d15-9f00-5bbe98b1d91a.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-81080098-944f-4d15-9f00-5bbe98b1d91a.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-81080098-944f-4d15-9f00-5bbe98b1d91a.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-81080098-944f-4d15-9f00-5bbe98b1d91a.jpg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gJ7_LShHnw"}' data-id="gJ7_LShHnw" id="gJ7_LShHnw" data-same-height-subgrid-container class="gJ7_LShHnw gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:30px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gJATJPWLfr gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gOc4qNAD7E"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--ta:center"
      class="gp-group/image gp-relative force-publish-1758792886327 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gOc4qNAD7E"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0b39bb66-e44b-4a9c-bc94-83a9ecf01bcb.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0b39bb66-e44b-4a9c-bc94-83a9ecf01bcb.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ "gempages_544061842616484702-0b39bb66-e44b-4a9c-bc94-83a9ecf01bcb.jpg" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDAwLTMwMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwMDAiIGhlaWdodD0iMzAwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDAwMCIgaGVpZ2h0PSIzMDAwIiBmaWxsPSJ1cmwoI2ctNDAwMC0zMDAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDAwMCIgdG89IjQwMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ "gempages_544061842616484702-0b39bb66-e44b-4a9c-bc94-83a9ecf01bcb.jpg" | file_url }}"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gGhfxz6Xwx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-8Qtz01XT"}' data-id="g-8Qtz01XT" id="g-8Qtz01XT" data-same-height-subgrid-container class="g-8Qtz01XT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pl:16px;--pl-tablet:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXGJp57CaS gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN7craCj1y"
        class="gN7craCj1y"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886328"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <h3
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-tablet:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:24px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggN7craCj1y_text | replace: '$locationOrigin', locationOrigin }}
        </h3>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq9-tnZ2g5"
        class="gq9-tnZ2g5"
        style="--ta:left;--ta-mobile:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758792886328"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq9-tnZ2g5_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-584660074182541912 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584660074182541912)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggrOAgKlJ7o_text","label":"ggrOAgKlJ7o_text","default":"Commercial Power, Perfect Coffee"},{"type":"html","id":"ggjvRXx-fyH_text","label":"ggjvRXx-fyH_text","default":"<p>Powered by commercial-grade engineering, the Meraki machine brings professional technology into your home. With advanced precision controls, it delivers consistent, café-level results-shot after shot.</p>"},{"type":"html","id":"ggPrHNeDhwH_text","label":"ggPrHNeDhwH_text","default":"Commercial Rotary Pump,<br>Consistent Pressure,<br>Perfect Crema.<br>&nbsp;"},{"type":"html","id":"gg71dZKV2Dl_text","label":"gg71dZKV2Dl_text","default":"<p>Meraki's professional-grade rotary pump delivers stable 9-bar pressure for every shot. This precision ensures rich, smooth, and long-lasting golden crema—unlocking full-bodied espresso with perfectly balanced flavor and aroma.</p>"},{"type":"html","id":"ggDV_waZZhh_text","label":"ggDV_waZZhh_text","default":"Brew Boiler,<br>Steam Boiler,<br>Perfect Coffee.<br>&nbsp;"},{"type":"html","id":"ggfQLc2XveW_text","label":"ggfQLc2XveW_text","default":"<p>Meraki's dual boiler for brewing and steaming ensure rapid heat-up, powerful dry steam, and true multitasking, with espresso and milk ready in minutes using scheduled preheat.</p>"},{"type":"html","id":"ggN7craCj1y_text","label":"ggN7craCj1y_text","default":"Dual Scales,<br>Espresso OS,<br>Effortless Workflow.<br>&nbsp;"},{"type":"html","id":"ggq9-tnZ2g5_text","label":"ggq9-tnZ2g5_text","default":"<p>Meraki's fully integrated weighing system combines smart software, precision scales, and advanced sensors for an upgraded, effortless workflow. Enjoy consistently perfect espresso without compromise.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  