

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558249597131031795.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-558249597131031795.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558249597131031795.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-558249597131031795.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558249597131031795.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558249597131031795.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558249597131031795.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558249597131031795.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558249597131031795.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558249597131031795.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558249597131031795.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558249597131031795.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558249597131031795.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558249597131031795.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558249597131031795.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558249597131031795.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558249597131031795.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-558249597131031795.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558249597131031795.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558249597131031795.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558249597131031795.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558249597131031795.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558249597131031795.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-558249597131031795.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558249597131031795.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558249597131031795.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558249597131031795.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-558249597131031795.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558249597131031795.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558249597131031795.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-558249597131031795.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-558249597131031795.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558249597131031795.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558249597131031795.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558249597131031795.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-558249597131031795.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-558249597131031795.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558249597131031795.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558249597131031795.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558249597131031795.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558249597131031795.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558249597131031795.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558249597131031795.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558249597131031795.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558249597131031795.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-558249597131031795.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558249597131031795.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558249597131031795.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558249597131031795.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558249597131031795.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558249597131031795.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558249597131031795.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-558249597131031795.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-558249597131031795.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558249597131031795.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-558249597131031795.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558249597131031795.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-558249597131031795.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-558249597131031795.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558249597131031795.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-558249597131031795.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558249597131031795.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558249597131031795.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558249597131031795.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558249597131031795.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-558249597131031795.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558249597131031795.gps.gpsil [style*="--t-tablet:"]{transform:var(--t-tablet)}.gps-558249597131031795.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558249597131031795.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558249597131031795.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-558249597131031795.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558249597131031795.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-558249597131031795.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558249597131031795.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558249597131031795.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-558249597131031795.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-558249597131031795.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558249597131031795.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558249597131031795.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-558249597131031795.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-558249597131031795.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558249597131031795.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-558249597131031795.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558249597131031795.gps.gpsil [style*="--t-mobile:"]{transform:var(--t-mobile)}.gps-558249597131031795.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558249597131031795.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558249597131031795 .-gp-translate-x-1\/2,.gps-558249597131031795 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558249597131031795 .gp-invisible{visibility:hidden}.gps-558249597131031795 .gp-absolute{position:absolute}.gps-558249597131031795 .gp-relative{position:relative}.gps-558249597131031795 .gp-sticky{position:sticky}.gps-558249597131031795 .gp-left-0{left:0}.gps-558249597131031795 .gp-left-1\/2{left:50%}.gps-558249597131031795 .gp-top-0{top:0}.gps-558249597131031795 .gp-top-1\/2{top:50%}.gps-558249597131031795 .gp-z-0{z-index:0}.gps-558249597131031795 .gp-z-1{z-index:1}.gps-558249597131031795 .gp-z-\[90\]{z-index:90}.gps-558249597131031795 .\!gp-m-0{margin:0!important}.gps-558249597131031795 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558249597131031795 .gp-mb-0{margin-bottom:0}.gps-558249597131031795 .gp-flex{display:flex}.gps-558249597131031795 .gp-inline-flex{display:inline-flex}.gps-558249597131031795 .gp-grid{display:grid}.gps-558249597131031795 .\!gp-hidden{display:none!important}.gps-558249597131031795 .gp-hidden{display:none}.gps-558249597131031795 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-558249597131031795 .gp-h-0{height:0}.gps-558249597131031795 .gp-h-5{height:20px}.gps-558249597131031795 .gp-h-full{height:100%}.gps-558249597131031795 .\!gp-w-full{width:100%!important}.gps-558249597131031795 .gp-w-14{width:56px}.gps-558249597131031795 .gp-w-5{width:20px}.gps-558249597131031795 .gp-w-full{width:100%}.gps-558249597131031795 .\!gp-max-w-full{max-width:100%!important}.gps-558249597131031795 .gp-max-w-full{max-width:100%}.gps-558249597131031795 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-558249597131031795 .-gp-translate-x-1\/2,.gps-558249597131031795 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558249597131031795 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-558249597131031795 .gp-cursor-default{cursor:default}.gps-558249597131031795 .gp-cursor-pointer{cursor:pointer}.gps-558249597131031795 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-558249597131031795 .gp-flex-col{flex-direction:column}.gps-558249597131031795 .gp-items-start{align-items:flex-start}.gps-558249597131031795 .gp-items-center{align-items:center}.gps-558249597131031795 .gp-justify-center{justify-content:center}.gps-558249597131031795 .gp-gap-y-0{row-gap:0}.gps-558249597131031795 .gp-overflow-hidden{overflow:hidden}.gps-558249597131031795 .gp-break-words{overflow-wrap:break-word}.gps-558249597131031795 .\!gp-rounded-none{border-radius:0!important}.gps-558249597131031795 .gp-rounded{border-radius:4px}.gps-558249597131031795 .gp-rounded-none{border-radius:0}.gps-558249597131031795 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-558249597131031795 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-558249597131031795 .\!gp-pb-0{padding-bottom:0!important}.gps-558249597131031795 .gp-text-center{text-align:center}.gps-558249597131031795 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-558249597131031795 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-558249597131031795 .gp-no-underline{text-decoration-line:none}.gps-558249597131031795 .gp-decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-558249597131031795 .gp-opacity-25{opacity:.25}.gps-558249597131031795 .gp-opacity-30{opacity:.3}.gps-558249597131031795 .gp-opacity-75{opacity:.75}.gps-558249597131031795 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558249597131031795 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558249597131031795 .gp-duration-200{transition-duration:.2s}.gps-558249597131031795 .gp-duration-300{transition-duration:.3s}.gps-558249597131031795 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558249597131031795 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-558249597131031795 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-558249597131031795 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-558249597131031795 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-558249597131031795 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-558249597131031795 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-558249597131031795 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-558249597131031795 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-visible{visibility:visible}.gps-558249597131031795 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible,.gps-558249597131031795 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-558249597131031795 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-558249597131031795 .tablet\:\!gp-hidden{display:none!important}.gps-558249597131031795 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-558249597131031795 .mobile\:\!gp-hidden{display:none!important}.gps-558249597131031795 .mobile\:gp-hidden{display:none}}.gps-558249597131031795 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558249597131031795 .\[\&_p\]\:gp-inline p{display:inline}.gps-558249597131031795 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-558249597131031795 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558249597131031795 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

    
    <gp-sticky
    data-id="gfX03ZpRRj"
      gp-data='{"uid":"gfX03ZpRRj","setting":{"display":{"desktop":"after-first-cart-button"}},"advanced":{"d":{"desktop":true,"mobile":true,"tablet":true}}}'
      id="gfX03ZpRRj"
      data-id="gfX03ZpRRj"
      class="gfX03ZpRRj {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}  "
      style="margin:0 auto;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:0px 0px 10px 0px #0000001a;--d:none;--d-mobile:none;--d-tablet:none;--op:100%;--left:0;--t:unset;--left-tablet:0;--t-tablet:unset;--left-mobile:0;--t-mobile:unset;--top:0;--pos:sticky;--top-tablet:0;--pos-tablet:sticky;--top-mobile:0;--pos-mobile:sticky;--w:100%;--w-tablet:100%;--w-mobile:100%;z-index:100000"
    >
      <div 
         
        style="--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
      >
        <div
      
      
      class="gtmf6pA3PW gp-relative gp-flex gp-flex-col"
    >
      
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if '9390026391839' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['meraki-espresso-machine']
                assign productId = '9390026391839' | times: 1
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products
                      if item.id == productId
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if '9390026391839' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['meraki-espresso-machine']
              assign productId = '9390026391839' | times: 1
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products
                    if item.id == productId
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId = 49038542242079 -%}
      {%- assign product_form_id = 'product-form-' | append: "gBn1xyBuWP" -%}
      {%- assign variant = product.variants | where: 'id', initVariantId | first -%}
      {%- assign productSelectedVariant = product.variants | where: 'id', initVariantId | first -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product data-uid="gBn1xyBuWP" data-id="gBn1xyBuWP"   gp-context='{"productId": {{ product.id }}, "preSelectedOptionIds": [3990338273567], "isSyncProduct": "true", "variantSelected": {{ variant | json | escape }}, "inventoryQuantity": {{ variant.inventory_quantity }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }}}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
       
      
    <div
      id="gBn1xyBuWP" data-id="gBn1xyBuWP-row"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--cg-tablet:12px;--pc:start;--pc-mobile:end;--gtc:minmax(0, 7fr) minmax(0, 5fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="gBn1xyBuWP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="genvkDr9rX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gkAUHLir9s" data-id="gkAUHLir9s"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:30px;--pc:start;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkAUHLir9s gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gl0XE7i39x gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .gF0i43zcHj.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gF0i43zcHj:hover::before {
      
      
    }

    .gF0i43zcHj:hover .gp-button-icon {
      color: #6d3212;
    }

     .gF0i43zcHj .gp-button-icon {
      color: #ffffff;
    }

    .gF0i43zcHj:hover .gp-button-price {
      color: #6d3212;
    }

    .gF0i43zcHj .gp-button-price {
      color: #ffffff;
    }

    .gF0i43zcHj .gp-product-dot-price {
       color: #ffffff;
    }

    .gF0i43zcHj:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gjVTFXFeID" target="_self" data-id="gF0i43zcHj" aria-label="<p>Grind</p>"
      
      data-state="idle"
      class="gF0i43zcHj gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.ggF0i43zcHj_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g-cWwyNI0G gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .gMQAx_OMlQ.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gMQAx_OMlQ:hover::before {
      
      
    }

    .gMQAx_OMlQ:hover .gp-button-icon {
      color: #6d3212;
    }

     .gMQAx_OMlQ .gp-button-icon {
      color: #ffffff;
    }

    .gMQAx_OMlQ:hover .gp-button-price {
      color: #6d3212;
    }

    .gMQAx_OMlQ .gp-button-price {
      color: #ffffff;
    }

    .gMQAx_OMlQ .gp-product-dot-price {
       color: #ffffff;
    }

    .gMQAx_OMlQ:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gzwg3Wj79X" target="_self" data-id="gMQAx_OMlQ" aria-label="<p>Extract</p>"
      
      data-state="idle"
      class="gMQAx_OMlQ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.ggMQAx_OMlQ_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glfXbj08Vd gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .g8V7O_HuOx.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g8V7O_HuOx:hover::before {
      
      
    }

    .g8V7O_HuOx:hover .gp-button-icon {
      color: #6d3212;
    }

     .g8V7O_HuOx .gp-button-icon {
      color: #ffffff;
    }

    .g8V7O_HuOx:hover .gp-button-price {
      color: #6d3212;
    }

    .g8V7O_HuOx .gp-button-price {
      color: #ffffff;
    }

    .g8V7O_HuOx .gp-product-dot-price {
       color: #ffffff;
    }

    .g8V7O_HuOx:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#g9AkRpItif" target="_self" data-id="g8V7O_HuOx" aria-label="<p>Steam</p>"
      
      data-state="idle"
      class="g8V7O_HuOx gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.gg8V7O_HuOx_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gZS8NfXBRy gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .gQ2kc7TkgC.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gQ2kc7TkgC:hover::before {
      
      
    }

    .gQ2kc7TkgC:hover .gp-button-icon {
      color: #6d3212;
    }

     .gQ2kc7TkgC .gp-button-icon {
      color: #ffffff;
    }

    .gQ2kc7TkgC:hover .gp-button-price {
      color: #6d3212;
    }

    .gQ2kc7TkgC .gp-button-price {
      color: #ffffff;
    }

    .gQ2kc7TkgC .gp-product-dot-price {
       color: #ffffff;
    }

    .gQ2kc7TkgC:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#giGRDUdylQ" target="_self" data-id="gQ2kc7TkgC" aria-label="<p>Coffee Sense</p>"
      
      data-state="idle"
      class="gQ2kc7TkgC gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.ggQ2kc7TkgC_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gSs_Udejxr gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .gIXJkrds_n.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gIXJkrds_n:hover::before {
      
      
    }

    .gIXJkrds_n:hover .gp-button-icon {
      color: #6d3212;
    }

     .gIXJkrds_n .gp-button-icon {
      color: #ffffff;
    }

    .gIXJkrds_n:hover .gp-button-price {
      color: #6d3212;
    }

    .gIXJkrds_n .gp-button-price {
      color: #ffffff;
    }

    .gIXJkrds_n .gp-product-dot-price {
       color: #ffffff;
    }

    .gIXJkrds_n:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gAVEgLyUYH" target="_self" data-id="gIXJkrds_n" aria-label="<p>Reviews</p>"
      
      data-state="idle"
      class="gIXJkrds_n gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.ggIXJkrds_n_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gcLxHRLz2u gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ta:left"
    
  >
    <style>
    .gBTr2lgYPO.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gBTr2lgYPO:hover::before {
      
      
    }

    .gBTr2lgYPO:hover .gp-button-icon {
      color: #6d3212;
    }

     .gBTr2lgYPO .gp-button-icon {
      color: #ffffff;
    }

    .gBTr2lgYPO:hover .gp-button-price {
      color: #6d3212;
    }

    .gBTr2lgYPO .gp-button-price {
      color: #ffffff;
    }

    .gBTr2lgYPO .gp-product-dot-price {
       color: #ffffff;
    }

    .gBTr2lgYPO:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gFS7-lJYdS" target="_self" data-id="gBTr2lgYPO" aria-label="<p>FAQs</p>"
      
      data-state="idle"
      class="gBTr2lgYPO gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:transparent;--bg:transparent;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-xs);--pb:var(--g-s-xs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:12px;--pb-mobile:12px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#6d3212;--c:#ffffff;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#ffffff"
      >
        {{ section.settings.ggBTr2lgYPO_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g97d9pWnrV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3f5y0d8sR" data-id="g3f5y0d8sR"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--pt:0px;--pb:0px;--cg:auto;--pc:start;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3f5y0d8sR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjETEDrgxc gp-relative gp-flex gp-flex-col"
    >
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
    <gp-product-images-v2
      gp-data='
    {
      "id":"gwBrlqw76Z",
      "pageContext": {"pageType":"GP_PRODUCT","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":false,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","enableLazyLoadImage":false},
      "setting":{"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","arrowIconColor":"#000000","borderActive":{"borderType":"none","borderWidth":"1px","color":"#000000","isCustom":"false","width":"1px 1px 1px 1px"},"clickOpenLightBox":{"desktop":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","ftArrowIconColor":"#000000","ftClickOpenLightBox":{"desktop":"none"},"ftDotActiveColor":{"desktop":"line-3"},"ftDotColor":{"desktop":"bg-1"},"ftDotGapToCarousel":{"desktop":16},"ftDotSize":{"desktop":12},"ftDotStyle":{"desktop":"none"},"ftDragToScroll":false,"ftLoop":{"desktop":false},"ftNavigationPosition":{"desktop":"none"},"ftPauseOnHover":true,"ftSpeed":1,"galleryHoverEffect":"none","galleryZoom":150,"galleryZoomType":"default","hoverEffect":"none","loop":{"desktop":true},"navigationPosition":{"desktop":"inside"},"otherImage":0,"pauseOnHover":true,"speed":1,"type":{"desktop":"slider"},"typeDisplay":"all-images","zoom":150,"zoomType":"default"},
      "styles":{"align":{"desktop":"flex-start"},"corner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftCorner":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"ftLayout":{"desktop":"cover"},"ftShape":{"desktop":{"gap":"","height":"56px","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"56px"}},"itemSpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature"},"ratioLayout":{"desktop":[2,10]},"ratioLayoutRight":{"desktop":[10,2]},"shape":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"shapeFor1Col":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"shapeFor2Col":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"50%"}},"shapeForBottom":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"20%"}},"shapeForFtOnly":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"}}, "productUrl":{{product.url | json | escape}}, "product":{{product | json | escape}}, "collectionUrl": {{ collection.url | json | escape }}, "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mr:var(--g-s-l);--mb-mobile:0px;--mr-mobile:var(--g-s-xxs)"
      data-id="gwBrlqw76Z"
      class="gwBrlqw76Z gp-overflow-hidden"
    >
      <div
        class="{%- if product.media.size > 1 -%} gp-grid gp-w-full !gp-m-0 gp-relative {%- else -%} gp-w-full !gp-m-0 gp-relative {%- endif -%}"
        {%- if product.media.size > 1 -%}
        style="--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- else -%}
        style="--gtc:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- endif -%}
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}
          {% assign largestRatio = ratio %}
        {% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}
        {% assign productImageWidth = 1600 %}
        {% endif %}
        <div 
          class='gp-feature-image-carousel gp-feature-image-only' 
          style="--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex;--jc:flex-start"
        >
          <div 
            class="gp-relative"
            style="--w:56px;--w-tablet:56px;--w-mobile:56px"
          >
            
      
    
            <div 
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-image-item gp-ft-image-item gp-group gp-z-0 gp-flex !gp-max-w-full !gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-featured-image-wrapper"
              style="--h:auto;--h-tablet:auto;--h-mobile:auto;width:{{productImageWidth}}px"
            >
              <div 
                class="gp-w-full  {% if featureMedia == null or featureMedia.media_type == 'image' %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
                style="--pb: 100%;--pb-tablet: 100%;--pb-mobile: 100%; {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity {{shouldHidden}}"
      data-src="{{src | image_url}}" data-srcset="{%- if src != null -%}
              {{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w
            {%- else -%}
              {{ 'https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif' }}
            {%- endif -%}" src="{{src | image_url}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}" base-src="{{src | image_url}}"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
      
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-undefined"
      class=" gp-w-full lazy"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
      style="width:100%;max-height:100%"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
    >
      <img
        id="video-thumbnail"
        src=""
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
  <img
      
      
      draggable="false"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none"
      data-src data-srcset="https://cdn.shopify.com/s/assets/no-image-2048-5e88c1b20e087fb7bbe9a3771824e743c244f437e4f8ba93bbf7b11b53f7824c_large.gif" src width="2237" height="1678" alt="No Image"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
      
      {{ featureImageOnlyOne }}
    {% else %}
      {{ featureImageOnlyOne }}
    {% endif %}
  
         
      </div>
    </gp-product-images-v2>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-images-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIgawc8HEC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ggSeIIEjr5" data-id="ggSeIIEjr5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ggSeIIEjr5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="gNvDgzEtZW gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ml-mobile:10px;--mb-mobile:var(undefined)" class="gMTslTFDEA ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMTslTFDEA">
    <div
      
        class="gMTslTFDEA "
        
      >
      <div  >
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-product-title gp-text-g-bg-3"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:500;--ls:normal;--size:15px;--size-tablet:14px;--size-mobile:9px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h2>
      </div>
    </div>
    </gp-text>
    
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      parentTag="Col" id="gP1Pqu0epm" data-id="gP1Pqu0epm"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--ml-mobile:10px;--mb-mobile:var(undefined);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gP1Pqu0epm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gQLv04GNUX gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gQnyQUCeZq"
        class="gQnyQUCeZq gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gQnyQUCeZq","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gQnyQUCeZq"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-text-1 gp-text-g-bg-3"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:var(--g-c-bg-3, bg-3);--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:16px;--size-tablet:11px;--size-mobile:10px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:center;--jc-mobile:center"
      class="glmTjX0iky gp-relative gp-flex gp-flex-col"
    >
      
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      class="gp-product-button"
      gp-data-wrapper="true"
      gp-label-out-of-stock="{{section.settings.ggak9b1i0uP_outOfStockLabel}}"
      gp-label-unavailable="{{section.settings.ggak9b1i0uP_unavailableLabel}}"
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","enableSuccessMessage":true,"enableErrorMessage":true,"label":"Pre-Order","outOfStockLabel":"Out of stocks","errorType":"built-in","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"attrs":{"color":"error"},"type":"paragraph-2"},"successTypo":{"attrs":{"color":"success"},"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}' 
       gp-href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/cart"
       data-variant-selection-required-message="{{}}"
    >
        
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ml-mobile:var(--g-s-l);--mb-mobile:var(undefined);--ta:left"
    class="{% unless variant.available %} !gp-hidden {% endunless %}"
  >
    <style>
    .gak9b1i0uP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      
      
      
      
      
    }

    .gak9b1i0uP:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }

    .gak9b1i0uP:hover .gp-button-icon {
      color: undefined;
    }

     .gak9b1i0uP .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP:hover .gp-button-price {
      color: undefined;
    }

    .gak9b1i0uP .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="submit" data-id="gak9b1i0uP" aria-label="Pre-Order"
      name="add" gp-data-hidden="{% unless variant.available %}true{% endunless %}"
      data-state="idle"
      class="gak9b1i0uP gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-button-atc tcustomizer-submit-button"
      style="--hvr-bg:#121212;--bg:#6d3212;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]/button:gp-animate-spin group-data-[state=loading]/button:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-bg-3, bg-3)"
      >
        {{ section.settings.ggak9b1i0uP_label }}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

        
  <gp-button >
  <div
    style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--ml-mobile:var(--g-s-l);--mb-mobile:var(undefined);--ta:left"
    class="{% if variant.available %} !gp-hidden {% endif %}"
  >
    <style>
    .gak9b1i0uP-sold-out.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      
      
      
      
      
    }

    .gak9b1i0uP-sold-out:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
    }

    .gak9b1i0uP-sold-out:hover .gp-button-icon {
      color: undefined;
    }

     .gak9b1i0uP-sold-out .gp-button-icon {
      color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP-sold-out:hover .gp-button-price {
      color: undefined;
    }

    .gak9b1i0uP-sold-out .gp-button-price {
      color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP-sold-out .gp-product-dot-price {
       color: var(--g-c-bg-3, bg-3);
    }

    .gak9b1i0uP-sold-out:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <button
      type="button" data-id="gak9b1i0uP" aria-label="{{section.settings.ggak9b1i0uP_outOfStockLabel}}"
      gp-data-hidden="{% if variant.available %}true{% endif %}"
      data-state="idle"
      class="gak9b1i0uP-sold-out gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-bg-3 gp-button-sold-out btn-disabled gp-opacity-30 gp-cursor-default"
      style="--hvr-bg:#121212;--bg:#6d3212;--pl:24px;--pr:24px;--pt:12px;--pb:12px;--pl-tablet:24px;--pr-tablet:24px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:8px;--pr-mobile:8px;--pt-mobile:12px;--pb-mobile:12px;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--c:var(--g-c-bg-3, bg-3);--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-bg-3, bg-3)"
      >
        {{section.settings.ggak9b1i0uP_outOfStockLabel}}
      </span>
      </div>
    
    </button>
  </div>
  </gp-button>

    </gp-product-button>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="gp-text-center">{{ "gempages.Product.product_not_found" | t }}</div>
    {%- endif -%}
     <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
      </div>
    </gp-sticky>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-sticky.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gfX03ZpRRj">
        .gfX03ZpRRj {
    top: 68px !important;
}
@media(max-width: 768px) {
    .gfX03ZpRRj {
        top: 55px !important;
    }
}
#storefront .gfX03ZpRRj {
    top: 0px !important;
}
      </style>
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-558249597131031795 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=558248720940925770&sectionId=558249597131031795)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggF0i43zcHj_label","label":"ggF0i43zcHj_label","default":"<p>Grind</p>"},{"type":"html","id":"ggMQAx_OMlQ_label","label":"ggMQAx_OMlQ_label","default":"<p>Extract</p>"},{"type":"html","id":"gg8V7O_HuOx_label","label":"gg8V7O_HuOx_label","default":"<p>Steam</p>"},{"type":"html","id":"ggQ2kc7TkgC_label","label":"ggQ2kc7TkgC_label","default":"<p>Coffee Sense</p>"},{"type":"html","id":"ggIXJkrds_n_label","label":"ggIXJkrds_n_label","default":"<p>Reviews</p>"},{"type":"html","id":"ggBTr2lgYPO_label","label":"ggBTr2lgYPO_label","default":"<p>FAQs</p>"},{"type":"html","id":"ggak9b1i0uP_label","label":"ggak9b1i0uP_label","default":"Pre-Order"},{"type":"html","id":"ggak9b1i0uP_outOfStockLabel","label":"ggak9b1i0uP_outOfStockLabel","default":"Out of stocks"},{"type":"html","id":"ggak9b1i0uP_unavailableLabel","label":"ggak9b1i0uP_unavailableLabel","default":"Unavailable"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
