

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387267870688181.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387267870688181.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387267870688181.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387267870688181.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387267870688181.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387267870688181.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387267870688181.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387267870688181.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387267870688181.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387267870688181.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387267870688181.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387267870688181.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387267870688181.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387267870688181.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387267870688181.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387267870688181.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387267870688181.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387267870688181.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387267870688181.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387267870688181.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387267870688181.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387267870688181.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387267870688181.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-547387267870688181.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547387267870688181.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387267870688181.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387267870688181.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387267870688181.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387267870688181.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387267870688181.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387267870688181.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387267870688181.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387267870688181.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387267870688181.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387267870688181.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387267870688181.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387267870688181.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387267870688181.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387267870688181.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387267870688181.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547387267870688181.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-547387267870688181.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387267870688181.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387267870688181.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387267870688181.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387267870688181.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387267870688181.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387267870688181.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387267870688181.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-547387267870688181.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547387267870688181.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387267870688181.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387267870688181.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547387267870688181.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387267870688181.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387267870688181 .gp-relative{position:relative}.gps-547387267870688181 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387267870688181 .gp-mb-0{margin-bottom:0}.gps-547387267870688181 .gp-flex{display:flex}.gps-547387267870688181 .gp-grid{display:grid}.gps-547387267870688181 .\!gp-hidden{display:none!important}.gps-547387267870688181 .gp-hidden{display:none}.gps-547387267870688181 .gp-max-w-full{max-width:100%}.gps-547387267870688181 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387267870688181 .gp-flex-col{flex-direction:column}.gps-547387267870688181 .gp-gap-y-0{row-gap:0}.gps-547387267870688181 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387267870688181 .gp-duration-200{transition-duration:.2s}.gps-547387267870688181 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547387267870688181 .tablet\:\!gp-hidden{display:none!important}.gps-547387267870688181 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547387267870688181 .mobile\:\!gp-hidden{display:none!important}.gps-547387267870688181 .mobile\:gp-hidden{display:none}}.gps-547387267870688181 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387267870688181 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387267870688181 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387267870688181 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(1500px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gNK8Yq38vh" data-id="gNK8Yq38vh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:var(--g-s-l);--pl:20px;--pb:var(--g-s-l);--pr:20px;--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-m);--pb-mobile:10px;--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1500px;--w-tablet:100%;--w-mobile:100%;--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNK8Yq38vh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gOxkntulru gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjNyc6XPWD" data-id="gjNyc6XPWD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:8px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#f6f6f6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjNyc6XPWD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVgQObpAxl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gllYxK5W2I">
    <div
      parentTag="Col"
        class="gllYxK5W2I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:34px;--size-tablet:30px;--size-mobile:25px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggllYxK5W2I_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3h5eQmf1C">
    <div
      parentTag="Col"
        class="g3h5eQmf1C "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3h5eQmf1C_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggEN1zyOC6">
    <div
      parentTag="Col"
        class="ggEN1zyOC6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px;--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggEN1zyOC6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guZTUam9ub">
    <div
      parentTag="Col"
        class="guZTUam9ub "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguZTUam9ub_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwNUHUKsGp">
    <div
      parentTag="Col"
        class="gwNUHUKsGp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwNUHUKsGp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHG_oL0oyQ">
    <div
      parentTag="Col"
        class="gHG_oL0oyQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHG_oL0oyQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g6Oae_juoG">
    <div
      parentTag="Col"
        class="g6Oae_juoG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:var(--g-s-l);--mb:8px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg6Oae_juoG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547387267870688181 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387267870622645&sectionId=547387267870688181)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggllYxK5W2I_text","label":"ggllYxK5W2I_text","default":"Product Description"},{"type":"html","id":"gg3h5eQmf1C_text","label":"gg3h5eQmf1C_text","default":"<p>Our House Blend&nbsp;is anapproachable espresso that is meant to provide everyone with a reliable and easy-to-brew coffee. A multi-talent that is suited for everyone — including novices in the world of specialty coffee and fully automated coffee machines.&nbsp;</p>"},{"type":"html","id":"gggEN1zyOC6_text","label":"gggEN1zyOC6_text","default":"<p>-The coffee we use for our House Blend espresso is a 50/50 split of washed Red Bourbon from our long-term partners from Finca El Majahual, and natural Catuai from&nbsp;Mogiana Mirim.</p>"},{"type":"html","id":"gguZTUam9ub_text","label":"gguZTUam9ub_text","default":"<p>-Look forward to an excellent El Salvador / Brazil espresso&nbsp;—&nbsp;with clearly defined tartness and a gentle nutty sweetness. Find pleasant hints of uplifting&nbsp;orange, bittersweet&nbsp;cacao nibs and mellow&nbsp;chamomile in your cup.&nbsp;</p>"},{"type":"html","id":"ggwNUHUKsGp_text","label":"ggwNUHUKsGp_text","default":"<p>-Our relationship with Finca El Majahual is one of our longest-running ones — and it's remarkable for us to consider how strong this partnership has become over the years. Patrick Murray, the farm’s manager, constantly seeks to improve everything from output, quality, innovation, through to social leadership.</p>"},{"type":"html","id":"ggHG_oL0oyQ_text","label":"ggHG_oL0oyQ_text","default":"<p>-The coffees produced at Finca El Majahual are not only excellent but also inspiring — each year they evolve their process techniques and launch new worthwhile social initiatives supported by the premiums paid for the farm's lots.&nbsp;</p>"},{"type":"html","id":"gg6Oae_juoG_text","label":"gg6Oae_juoG_text","default":"<p>-We pay a high premium for these coffees. This is essential for both increasing the coffee quality and creating an independent sustainable future for all coffee producers.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
