

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558257833737454494.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-558257833737454494.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558257833737454494.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558257833737454494.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558257833737454494.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558257833737454494.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558257833737454494.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558257833737454494.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558257833737454494.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558257833737454494.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-558257833737454494.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-558257833737454494.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558257833737454494.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-558257833737454494.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-558257833737454494.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-558257833737454494.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-558257833737454494.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558257833737454494.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-558257833737454494.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-558257833737454494.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-558257833737454494.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-558257833737454494.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558257833737454494.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-558257833737454494.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558257833737454494.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558257833737454494.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-558257833737454494.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558257833737454494.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-558257833737454494.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558257833737454494.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558257833737454494.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558257833737454494.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-558257833737454494.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-558257833737454494.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558257833737454494.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558257833737454494.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558257833737454494.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-558257833737454494.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558257833737454494.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558257833737454494.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558257833737454494.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-558257833737454494.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-558257833737454494.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558257833737454494.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558257833737454494.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558257833737454494.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558257833737454494.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558257833737454494.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558257833737454494.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558257833737454494.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558257833737454494.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558257833737454494.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558257833737454494.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-558257833737454494.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558257833737454494.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558257833737454494.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558257833737454494.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-558257833737454494.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558257833737454494.gps.gpsil [style*="--gg-tablet:"]{grid-gap:var(--gg-tablet)}.gps-558257833737454494.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558257833737454494.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558257833737454494.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-558257833737454494.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-558257833737454494.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558257833737454494.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558257833737454494.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558257833737454494.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558257833737454494.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558257833737454494.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558257833737454494.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-558257833737454494.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558257833737454494.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-558257833737454494.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-558257833737454494.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558257833737454494.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-558257833737454494.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558257833737454494.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-558257833737454494.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-558257833737454494.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558257833737454494.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558257833737454494.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558257833737454494.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558257833737454494.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-558257833737454494.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558257833737454494.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558257833737454494 .-gp-rotate-90,.gps-558257833737454494 .gp-rotate-180,.gps-558257833737454494 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558257833737454494 .gp-relative{position:relative}.gps-558257833737454494 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558257833737454494 .gp-mb-0{margin-bottom:0}.gps-558257833737454494 .gp-flex{display:flex}.gps-558257833737454494 .gp-inline-flex{display:inline-flex}.gps-558257833737454494 .gp-grid{display:grid}.gps-558257833737454494 .gp-contents{display:contents}.gps-558257833737454494 .\!gp-hidden{display:none!important}.gps-558257833737454494 .gp-hidden{display:none}.gps-558257833737454494 .gp-h-auto{height:auto}.gps-558257833737454494 .gp-h-full{height:100%}.gps-558257833737454494 .gp-min-h-0{min-height:0}.gps-558257833737454494 .gp-w-full{width:100%}.gps-558257833737454494 .gp-max-w-full{max-width:100%}.gps-558257833737454494 .gp-flex-none{flex:none}.gps-558257833737454494 .-gp-rotate-90{--tw-rotate:-90deg}.gps-558257833737454494 .-gp-rotate-90,.gps-558257833737454494 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558257833737454494 .gp-rotate-180{--tw-rotate:180deg}.gps-558257833737454494 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558257833737454494 .gp-cursor-pointer{cursor:pointer}.gps-558257833737454494 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-558257833737454494 .gp-flex-col{flex-direction:column}.gps-558257833737454494 .gp-items-center{align-items:center}.gps-558257833737454494 .gp-justify-center{justify-content:center}.gps-558257833737454494 .gp-gap-y-0{row-gap:0}.gps-558257833737454494 .gp-overflow-hidden{overflow:hidden}.gps-558257833737454494 .gp-overflow-clip{overflow:clip}.gps-558257833737454494 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558257833737454494 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558257833737454494 .gp-duration-200{transition-duration:.2s}.gps-558257833737454494 .gp-duration-500{transition-duration:.5s}.gps-558257833737454494 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558257833737454494 .tablet\:\!gp-hidden{display:none!important}.gps-558257833737454494 .tablet\:gp-hidden{display:none}.gps-558257833737454494 .tablet\:gp-h-auto{height:auto}.gps-558257833737454494 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-558257833737454494 .mobile\:\!gp-hidden{display:none!important}.gps-558257833737454494 .mobile\:gp-hidden{display:none}.gps-558257833737454494 .mobile\:gp-h-auto{height:auto}.gps-558257833737454494 .mobile\:gp-flex-none{flex:none}}.gps-558257833737454494 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-558257833737454494 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-558257833737454494 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558257833737454494 .\[\&_p\]\:gp-inline p{display:inline}.gps-558257833737454494 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558257833737454494 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkzakeqs-l" data-id="gkzakeqs-l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-mobile:21px;--pb-mobile:0px;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkzakeqs-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSTmNjDSsc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbpxIEJXS9" data-id="gbpxIEJXS9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbpxIEJXS9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7M8KCfoyV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAO5yXm6b5" data-id="gAO5yXm6b5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAO5yXm6b5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6oEWKAb__ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrDktti9h">
    <div
      parentTag="Col"
        class="gLrDktti9h "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--mb-tablet:0px;--pb-tablet:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:32px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLrDktti9h_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gEopcrXc_B" data-id="gEopcrXc_B"
        style="--bs:solid;--bw:2px 0px 2px 0px;--bc:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEopcrXc_B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gZ25BstWf8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw8d7CqeGa">
    <div
      parentTag="Col"
        class="gw8d7CqeGa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mb-mobile:var(--g-s-m);--pt-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw8d7CqeGa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw8d7CqeGa">
        .gw8d7CqeGa {

}
.gw8d7CqeGa b, .gw8d7CqeGa strong {
    font-weight: 600;
}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gxoziUMFTo" data-id="gxoziUMFTo"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxoziUMFTo gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYbeXvuths gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gctdUISBnP"
    role="presentation"
    class="gp-group/image gctdUISBnP gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-dd7a90b9-cf02-41e3-87b6-286a737e6e52.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glxRSGbdhh">
    <div
      parentTag="Col"
        class="glxRSGbdhh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#D8D8D8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglxRSGbdhh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmSydl4W_P">
    <div
      parentTag="Col"
        class="gmSydl4W_P "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmSydl4W_P_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqblbMT39_">
    <div
      parentTag="Col"
        class="gqblbMT39_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqblbMT39__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH_chIv3P1">
    <div
      parentTag="Col"
        class="gH_chIv3P1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#D8D8D8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH_chIv3P1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glJNl576hW">
    <div
      parentTag="Col"
        class="glJNl576hW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglJNl576hW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAS8x3cM4f">
    <div
      parentTag="Col"
        class="gAS8x3cM4f "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAS8x3cM4f_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gAS8x3cM4f">
        .gAS8x3cM4f {

}
.gAS8x3cM4f .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHwUaxw5VT">
    <div
      parentTag="Col"
        class="gHwUaxw5VT "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHwUaxw5VT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHTayb9cRE">
    <div
      parentTag="Col"
        class="gHTayb9cRE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHTayb9cRE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYq4B-HYEM">
    <div
      parentTag="Col"
        class="gYq4B-HYEM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYq4B-HYEM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghiRkXCwlF">
    <div
      parentTag="Col"
        class="ghiRkXCwlF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghiRkXCwlF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ghiRkXCwlF">
        .ghiRkXCwlF {

}
.ghiRkXCwlF .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcghQiwJuB">
    <div
      parentTag="Col"
        class="gcghQiwJuB "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcghQiwJuB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUberEs5aZ">
    <div
      parentTag="Col"
        class="gUberEs5aZ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUberEs5aZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7T7GHk7qw">
    <div
      parentTag="Col"
        class="g7T7GHk7qw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--mb-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7T7GHk7qw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="grmVKDIBRx" data-id="grmVKDIBRx"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grmVKDIBRx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJJTnT3jQk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g5rKGlWZqi" data-id="g5rKGlWZqi"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g5rKGlWZqi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giGlsDGK1H gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g8h-r_MPL7"
    role="presentation"
    class="gp-group/image g8h-r_MPL7 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-a075390e-5b2e-46c0-b88a-2f975cd098c5.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGlHw89ofg gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gwIL6bevWD"
    role="presentation"
    class="gp-group/image gwIL6bevWD gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-71abeca7-2b1e-4981-848e-2c219fdd5dd9.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0U5lj-a3h">
    <div
      parentTag="Col"
        class="g0U5lj-a3h "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0U5lj-a3h_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV7QSxKbdi">
    <div
      parentTag="Col"
        class="gV7QSxKbdi "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggV7QSxKbdi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggaKTfyIZW">
    <div
      parentTag="Col"
        class="ggaKTfyIZW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggaKTfyIZW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gybgSh3R5M">
    <div
      parentTag="Col"
        class="gybgSh3R5M "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggybgSh3R5M_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyr1YcQsow">
    <div
      parentTag="Col"
        class="gyr1YcQsow "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:var(--g-s-m);--mb-mobile:var(--g-s-m);--pl-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:23px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyr1YcQsow_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-tablet:0px;--pb-tablet:21px" class="ghh0xowxEA ">
      
    <gp-accordion
      data-id="ghh0xowxEA"
     uid="ghh0xowxEA"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--gg-tablet:14px;--gg-mobile:14px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"plus","isIconPlus":true,"activeKey":"1,2","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px","height":"16px","width":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322350260573\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"493334322263621981\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z\" /></svg>","iconCollapseSize":15,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"ghh0xowxEA","childListNumber":["0","1"],"chidlrenUid":["gtA6SFX7ow","g8K058jGSu","gU-u-kFbVH","gjZ_OuBFHr","gKGFgvt56-"]},"styles":{"bgColor":{"active":"#6d3212","normal":"#6d3212"},"color":{"active":"#d8d8d8","hover":"#242424","normal":"#ffffff"},"headerBorder":{"active":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"hover":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"},"normal":{"border":"solid","borderType":"style-1","borderWidth":"0","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 0px 0px"}},"fullWidth":{"desktop":true},"width":{"desktop":"1170px"},"itemHeaderSpacing":{"custom":{"desktop":{"horizontal":"24px","vertical":"16px"},"mobile":{"horizontal":"21px","vertical":"14px"}}},"textColor":{"active":"#d8d8d8","hover":"#d8d8d8","normal":"#d8d8d8"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"16px","left":"24px","right":"24px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"14px","height":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"16px","left":"24px","right":"24px","top":"16px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"14px","left":"14px","right":"14px","top":"14px","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"16px","left":"16px","right":"16px","top":"16px","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"width":"100%"},"mobile":{"width":"100%"},"tablet":{"width":"100%"}}},"uid":"ghh0xowxEA"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#151515;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="0"
      class="ghh0xowxEA gp-accordion-item gp-overflow-hidden gp-child-item-ghh0xowxEA"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gtA6SFX7ow"
        id="gtA6SFX7ow"
        data-index="0"
        class="ghh0xowxEA gp-accordion-item-ghh0xowxEA-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#6d3212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#d8d8d8"
      >
       <style class="accordion-style">.gp-accordion-item-ghh0xowxEA-0:hover 
      {
        .gp-collapsible-icon { 
          color: #d8d8d8 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#d8d8d8;width:15px;height:15px"
            data-index="0"
            class="ghh0xowxEA gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0xowxEA_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gtA6SFX7ow"
        data-index="0"
        data-show="true"
        class="ghh0xowxEA gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gtA6SFX7ow"
        data-index="0"
        class="ghh0xowxEA gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:0px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gpAcSQcGy6 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQPScrj6ba">
    <div
      parentTag="Col"
        class="gQPScrj6ba "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQPScrj6ba_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gQPScrj6ba">
        .gQPScrj6ba .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#151515;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="1"
      class="ghh0xowxEA gp-accordion-item gp-overflow-hidden gp-child-item-ghh0xowxEA"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g8K058jGSu"
        id="g8K058jGSu"
        data-index="1"
        class="ghh0xowxEA gp-accordion-item-ghh0xowxEA-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#6d3212;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--c:#d8d8d8"
      >
       <style class="accordion-style">.gp-accordion-item-ghh0xowxEA-1:hover 
      {
        .gp-collapsible-icon { 
          color: #d8d8d8 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#d8d8d8;width:15px;height:15px"
            data-index="1"
            class="ghh0xowxEA gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322263621981">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H40a8,8,0,0,1,0-16H216A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0xowxEA_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g8K058jGSu"
        data-index="1"
        data-show="true"
        class="ghh0xowxEA gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g8K058jGSu"
        data-index="1"
        class="ghh0xowxEA gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:0px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:0px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:0px;--pb-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gJ-islPzx5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPYjDaUyca">
    <div
      parentTag="Col"
        class="gPYjDaUyca "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPYjDaUyca_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gPYjDaUyca">
        .gPYjDaUyca .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#151515;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="2"
      class="ghh0xowxEA gp-accordion-item gp-overflow-hidden gp-child-item-ghh0xowxEA"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gU-u-kFbVH"
        id="gU-u-kFbVH"
        data-index="2"
        class="ghh0xowxEA gp-accordion-item-ghh0xowxEA-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#6d3212;--hvr-c:#d8d8d8;--c:#d8d8d8;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghh0xowxEA-2:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#ffffff;width:15px;height:15px"
            data-index="2"
            class="ghh0xowxEA gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0xowxEA_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gU-u-kFbVH"
        data-index="2"
        data-show="false"
        class="ghh0xowxEA gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gU-u-kFbVH"
        data-index="2"
        class="ghh0xowxEA gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gPboekq9jp gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gP4oHa8dL8">
    <div
      parentTag="Col"
        class="gP4oHa8dL8 "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s);--mt-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggP4oHa8dL8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gP4oHa8dL8">
        .gP4oHa8dL8 .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#151515;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="3"
      class="ghh0xowxEA gp-accordion-item gp-overflow-hidden gp-child-item-ghh0xowxEA"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gjZ_OuBFHr"
        id="gjZ_OuBFHr"
        data-index="3"
        class="ghh0xowxEA gp-accordion-item-ghh0xowxEA-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#6d3212;--hvr-c:#d8d8d8;--c:#d8d8d8;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghh0xowxEA-3:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#ffffff;width:15px;height:15px"
            data-index="3"
            class="ghh0xowxEA gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0xowxEA_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gjZ_OuBFHr"
        data-index="3"
        data-show="false"
        class="ghh0xowxEA gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gjZ_OuBFHr"
        data-index="3"
        class="ghh0xowxEA gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gaVAkJtuBO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNUg0wVO_Y">
    <div
      parentTag="Col"
        class="gNUg0wVO_Y "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNUg0wVO_Y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNUg0wVO_Y">
        .gNUg0wVO_Y .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:left"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:15px;--height-configIconSize:16px;--bs:solid;--bw:0px 0px 0px 0px;--bc:#121212;--bg:#151515;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px">
    <div
      data-index="4"
      class="ghh0xowxEA gp-accordion-item gp-overflow-hidden gp-child-item-ghh0xowxEA"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gKGFgvt56-"
        id="gKGFgvt56-"
        data-index="4"
        class="ghh0xowxEA gp-accordion-item-ghh0xowxEA-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:16px;--pb:16px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:14px;--pb-mobile:14px;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:#6d3212;--hvr-c:#d8d8d8;--c:#d8d8d8;--bs:solid;--hvr-bs:solid;--bw:0px 0px 0px 0px;--hvr-bw:0px 0px 0px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-ghh0xowxEA-4:hover 
      {
        .gp-collapsible-icon { 
          color: #242424 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#242424;--c:#ffffff;width:15px;height:15px"
            data-index="4"
            class="ghh0xowxEA gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="493334322350260573">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghh0xowxEA_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gKGFgvt56-"
        data-index="4"
        data-show="false"
        class="ghh0xowxEA gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gKGFgvt56-"
        data-index="4"
        class="ghh0xowxEA gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pl-tablet:16px;--pr-tablet:16px;--pl-mobile:14px;--pr-mobile:14px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gXzdGUYHA_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gblmyJbgAd">
    <div
      parentTag="Col"
        class="gblmyJbgAd "
        style="--tt:default;--ta:left;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggblmyJbgAd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gblmyJbgAd">
        .gblmyJbgAd .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-558257833737454494 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=558257833452241822&sectionId=558257833737454494)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLrDktti9h_text","label":"ggLrDktti9h_text","default":"Meraki Espresso Machine Wins iF DESIGN AWARD GOLD 2025 in Kitchen Appliances"},{"type":"html","id":"ggw8d7CqeGa_text","label":"ggw8d7CqeGa_text","default":"<p>Published: March, 2025</p>"},{"type":"html","id":"gglxRSGbdhh_text","label":"gglxRSGbdhh_text","default":"<p>Introduction: A Golden Achievement in Kitchen Design</p>"},{"type":"html","id":"ggmSydl4W_P_text","label":"ggmSydl4W_P_text","default":"<p>The Meraki Espresso Machine has been awarded the prestigious <a href=\"https://ifdesign.com/en/winner-ranking/project/meraki-espresso-machine/674022\" target=\"_blank\"><u>iF DESIGN AWARD GOLD 2025</u></a> under the Kitchen Appliances category, solidifying its status as a game-changing home espresso machine. Selected from over 11,000 global entries, Meraki stood out for its exceptional design, user experience, and innovative technology.</p><p>For coffee lovers and home baristas, this award-winning espresso machine delivers a perfect balance of aesthetics, precision, and ease of use, making professional-grade coffee more accessible than ever.</p>"},{"type":"html","id":"ggqblbMT39__text","label":"ggqblbMT39__text","default":"<p>In this evolving landscape, <strong>the </strong><a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><u>Meraki Espresso Machine</u></a> stands out as a beacon of innovation. Combining cutting-edge technology with user-centric design, it offers coffee aficionados the ability to craft exceptional espresso with ease. But what does the future hold for espresso machine technology, and how does the Meraki Espresso Machine exemplify these trends? Lets dive in.</p>"},{"type":"html","id":"ggH_chIv3P1_text","label":"ggH_chIv3P1_text","default":"<p><a href=\"https://ifdesign.com/en/winner-ranking/project/meraki-espresso-machine/674022\" target=\"_blank\"><u>iF DESIGN AWARD GOLD 2025</u></a>: A Symbol of Excellence</p>"},{"type":"html","id":"gglJNl576hW_text","label":"gglJNl576hW_text","default":"<p>The iF DESIGN AWARD has been a benchmark of design excellence since 1953. Earning the Gold distinction means being recognized among the top 75 products globally, setting new industry standards for innovation, functionality, and design.</p><p>Meraki excelled in the Kitchen Appliances category by redefining the home espresso machine with:</p>"},{"type":"html","id":"ggAS8x3cM4f_text","label":"ggAS8x3cM4f_text","default":"<ul><li>Premium craftsmanship and a compact, clutter-free design</li><li>Effortless customization for a barista-quality coffee experience</li><li>Seamless balance of form, function, and ergonomics</li></ul>"},{"type":"html","id":"ggHwUaxw5VT_text","label":"ggHwUaxw5VT_text","default":"<p>What Makes the Meraki Espresso Machine an Award-Winning Innovation?</p>"},{"type":"html","id":"ggHTayb9cRE_text","label":"ggHTayb9cRE_text","default":"<p>Meraki is more than just a coffee machineits a revolution in home espresso. Heres why it earned the iF DESIGN AWARD GOLD 2025 in Kitchen Appliances:</p>"},{"type":"html","id":"ggYq4B-HYEM_text","label":"ggYq4B-HYEM_text","default":"<p>The <a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><u>Meraki Espresso Machine</u></a> exemplifies this shift. Its intuitive touch interface and programmable features ensure precision in every shot, allowing even novice users to achieve barista-level quality. Whether its in a bustling caf or a quiet office, the Meraki delivers unparalleled efficiency without compromising flavor.</p>"},{"type":"html","id":"gghiRkXCwlF_text","label":"gghiRkXCwlF_text","default":"<ul><li>Compact Yet Professional: Small enough to fit any kitchen countertop yet crafted with high-end materials and professional-grade features.</li><li>Precision in Every Cup: Each coffee bean is perfectly calibrated to extract the roasters full vision, delivering unmatched flavor consistency.</li><li>Elegant and Functional Design: While sleek and minimalist on the outside, it boasts a rich set of customizable parameters for an intuitive user experience.</li><li>Designed for Coffee Lovers: Whether you prefer classic espresso or personalized brews, Meraki offers smooth operation with behind-the-scenes precision.</li></ul>"},{"type":"html","id":"ggcghQiwJuB_text","label":"ggcghQiwJuB_text","default":"<p>What the iF Gold Jury Said About Meraki</p>"},{"type":"html","id":"ggUberEs5aZ_text","label":"ggUberEs5aZ_text","default":"<p>The iF Gold Jury recognized Meraki for its exemplary product design principles in the Kitchen Appliances category. Their statement reads:</p>"},{"type":"html","id":"gg7T7GHk7qw_text","label":"gg7T7GHk7qw_text","default":"<p><i><strong>\"This product reinterprets the home coffee machine. Compact enough not to clutter up a kitchen countertop, it exudes professional personality through the application of premium craftsmanship and materials. It demonstrates the core principles of product design, deftly balancing the demands of form, function, ergonomics, and user experience. Though not at all flashy, this is a true star.\"</strong></i></p>"},{"type":"html","id":"gg0U5lj-a3h_text","label":"gg0U5lj-a3h_text","default":"<p>Bringing Barista-Quality Coffee to Homes Worldwide</p>"},{"type":"html","id":"ggV7QSxKbdi_text","label":"ggV7QSxKbdi_text","default":"<p>Designed by Merakitech Limited in Hong Kong, Meraki is launching in 2024 across Australia, Oceania, Europe, and North America. Developed over 12 months, it is set to redefine home coffee experiences by delivering caf-level quality in a compact, user-friendly package.</p>"},{"type":"html","id":"gggaKTfyIZW_text","label":"gggaKTfyIZW_text","default":"<p>Meraki: Setting a New Standard in Kitchen Appliances</p>"},{"type":"html","id":"ggybgSh3R5M_text","label":"ggybgSh3R5M_text","default":"<p>Winning the iF DESIGN AWARD GOLD 2025 under the Kitchen Appliances category marks a significant achievement for Meraki. As more coffee lovers seek high-quality home brewing, Meraki stands out as a true innovationcrafted for those who appreciate design, functionality, and exceptional coffee.</p>"},{"type":"html","id":"ggyr1YcQsow_text","label":"ggyr1YcQsow_text","default":"FAQ"},{"type":"html","id":"gghh0xowxEA_childItem_0","label":"gghh0xowxEA_childItem_0","default":"<p>1. What is the iF DESIGN AWARD GOLD 2025 in Kitchen Appliances?</p>"},{"type":"html","id":"gghh0xowxEA_childItem_1","label":"gghh0xowxEA_childItem_1","default":"<p>2. Why did the Meraki Espresso Machine win the iF Gold Award?</p>"},{"type":"html","id":"gghh0xowxEA_childItem_2","label":"gghh0xowxEA_childItem_2","default":"<p>3. Where can I buy the Meraki Espresso Machine?</p>"},{"type":"html","id":"gghh0xowxEA_childItem_3","label":"gghh0xowxEA_childItem_3","default":"<p>4. Who designed the Meraki Espresso Machine?</p>"},{"type":"html","id":"gghh0xowxEA_childItem_4","label":"gghh0xowxEA_childItem_4","default":"<p>5. How does Meraki ensure barista-quality espresso at home?</p>"},{"type":"html","id":"ggQPScrj6ba_text","label":"ggQPScrj6ba_text","default":"<p>It is the highest recognition for product design excellence in the kitchen category, awarded to products that demonstrate outstanding innovation, functionality, and user experience.</p>"},{"type":"html","id":"ggPYjDaUyca_text","label":"ggPYjDaUyca_text","default":"<p>Its premium craftsmanship, compact yet professional design, user-friendly customization, and exceptional brewing quality made it stand out among competitors.</p>"},{"type":"html","id":"ggP4oHa8dL8_text","label":"ggP4oHa8dL8_text","default":"<p>Meraki is available in Australia, Oceania, Europe, and North America starting in 2025. Keep an eye on official retailers and online stores.</p><p>&nbsp;</p>"},{"type":"html","id":"ggNUg0wVO_Y_text","label":"ggNUg0wVO_Y_text","default":"<p>The Meraki Espresso Machine was designed by Merakitech Limited in Hong Kong, with key contributions from Li Zongwei, our Product Design Leader, and Chen Xu, our Founder and CEO.</p>"},{"type":"html","id":"ggblmyJbgAd_text","label":"ggblmyJbgAd_text","default":"<p>Meraki allows precise coffee bean calibration, ensuring the perfect brew parameters for a consistently rich and flavorful espresso.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
