

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-562741366640411813.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-562741366640411813.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-562741366640411813.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-562741366640411813.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-562741366640411813.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-562741366640411813.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-562741366640411813.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-562741366640411813.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-562741366640411813.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-562741366640411813.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-562741366640411813.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-562741366640411813.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-562741366640411813.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-562741366640411813.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-562741366640411813.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-562741366640411813.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-562741366640411813.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-562741366640411813.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-562741366640411813.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-562741366640411813.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-562741366640411813.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-562741366640411813.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-562741366640411813.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-562741366640411813.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-562741366640411813.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-562741366640411813.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-562741366640411813.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-562741366640411813.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-562741366640411813.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-562741366640411813.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-562741366640411813.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-562741366640411813.gps.gpsil [style*="--maxh:"]{max-height:var(--maxh)}.gps-562741366640411813.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-562741366640411813.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-562741366640411813.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-562741366640411813.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-562741366640411813.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-562741366640411813.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-562741366640411813.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-562741366640411813.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-562741366640411813.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-562741366640411813.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-562741366640411813.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-562741366640411813.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-562741366640411813.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-562741366640411813.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-562741366640411813.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-562741366640411813.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-562741366640411813.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-562741366640411813.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-562741366640411813.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-562741366640411813.gps.gpsil [style*="--maxh-tablet:"]{max-height:var(--maxh-tablet)}.gps-562741366640411813.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-562741366640411813.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-562741366640411813.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-562741366640411813.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-562741366640411813.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-562741366640411813.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-562741366640411813.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-562741366640411813.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-562741366640411813.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-562741366640411813.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-562741366640411813.gps.gpsil [style*="--maxh-mobile:"]{max-height:var(--maxh-mobile)}.gps-562741366640411813.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-562741366640411813.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-562741366640411813.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-562741366640411813.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-562741366640411813.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-562741366640411813.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-562741366640411813 .focus-visible\:gp-shadow-none,.gps-562741366640411813 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-562741366640411813 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-562741366640411813 .gp-fixed{position:fixed}.gps-562741366640411813 .gp-absolute{position:absolute}.gps-562741366640411813 .gp-relative{position:relative}.gps-562741366640411813 .gp-inset-0{inset:0}.gps-562741366640411813 .gp-right-0{right:0}.gps-562741366640411813 .gp-top-0{top:0}.gps-562741366640411813 .gp-z-50{z-index:50}.gps-562741366640411813 .gp-z-\[999999\]{z-index:999999}.gps-562741366640411813 .gp-block{display:block}.gps-562741366640411813 .gp-inline-block{display:inline-block}.gps-562741366640411813 .gp-flex{display:flex}.gps-562741366640411813 .gp-inline-flex{display:inline-flex}.gps-562741366640411813 .\!gp-hidden{display:none!important}.gps-562741366640411813 .gp-hidden{display:none}.gps-562741366640411813 .gp-h-full{height:100%}.gps-562741366640411813 .gp-h-screen{height:100vh}.gps-562741366640411813 .\!gp-max-h-screen{max-height:100vh!important}.gps-562741366640411813 .gp-max-h-full{max-height:100%}.gps-562741366640411813 .gp-w-full{width:100%}.gps-562741366640411813 .gp-max-w-full{max-width:100%}.gps-562741366640411813 .gp-flex-none{flex:none}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-562741366640411813 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-562741366640411813 .gp-items-center{align-items:center}.gps-562741366640411813 .gp-justify-start{justify-content:flex-start}.gps-562741366640411813 .gp-justify-center{justify-content:center}.gps-562741366640411813 .gp-overflow-hidden{overflow:hidden}.gps-562741366640411813 .gp-overflow-y-auto{overflow-y:auto}.gps-562741366640411813 .gp-overflow-x-hidden{overflow-x:hidden}.gps-562741366640411813 .gp-bg-transparent{background-color:transparent}.gps-562741366640411813 .gp-align-middle{vertical-align:middle}.gps-562741366640411813 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-562741366640411813 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-562741366640411813 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-562741366640411813 .gp-duration-100{transition-duration:.1s}.gps-562741366640411813 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-562741366640411813 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-562741366640411813 .tablet\:gp-block{display:block}.gps-562741366640411813 .tablet\:\!gp-hidden{display:none!important}.gps-562741366640411813 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-562741366640411813 .mobile\:gp-block{display:block}.gps-562741366640411813 .mobile\:\!gp-hidden{display:none!important}.gps-562741366640411813 .mobile\:gp-hidden{display:none}}.gps-562741366640411813 .\[\&_p\]\:gp-inline p{display:inline}.gps-562741366640411813 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-562741366640411813 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

    <gp-dialog class="gps-lazy" data-id="gXvfpKSR8-" style="--d:contents;--d-tablet:contents;--d-mobile:contents" data-gp-setting='{"dialogId":"gXvfpKSR8-","trigger":"none","triggerTime":15,"frequency":3,"triggerPercentage":30,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":true,"tablet":true}}'>
      <dialog class=" gp-dialog gp-bg-transparent" aria-label="Shipping notice" data-gp-dialog-id="gXvfpKSR8-"
        style="z-index:100001"
      >
        <div
          aria-label="Backdrop"
          class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-items-center gp-justify-center"
        >
        
            <div
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              data-gp-dialog-overlay
              style="--op:0.7;--bgc:#121212"
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            class="gp-relative gp-max-h-full gp-max-w-full  gp-animate-[fadeIn_0.4s_ease-in] gp-shadow-xl gp-overflow-hidden"
            style="--mb:0px;--ml-mobile:var(--g-s-xs);--mb-mobile:0px;--mr-mobile:var(--g-s-xs);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--w:600px;--w-tablet:600px;--w-mobile:100%;--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:"
          >
            <button
              type="button"
              data-gp-dialog-close
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-z-[999999] gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none"
              style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px"
            >
              <svg
                viewBox="0 0 12 12"
                fill="currentColor"
                style="--w:12px;--h:12px"
              >
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div
              style="--shadow:none;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-l);--pb:var(--g-s-l);--pr:var(--g-s-l);--pt-mobile:var(--g-s-s);--pl-mobile:var(--g-s-s);--pb-mobile:var(--g-s-s);--pr-mobile:var(--g-s-s);--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:;border-radius:inherit;--bgc:#151515;--bgc-mobile:#000000"
              aria-label="Dialog body"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyZlQF2FDe">
    <div
      parentTag="Dialog"
        class="gyZlQF2FDe "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mr:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:20px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyZlQF2FDe_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ge2MmYsYKT">
    <div
      parentTag="Dialog"
        class="ge2MmYsYKT "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gge2MmYsYKT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs)" class="gv3TUfLm4c ">
      
    <div
    data-id="gv3TUfLm4c"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#838383"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#838383;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#838383;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#838383;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQSoT7wAum">
    <div
      parentTag="Dialog"
        class="gQSoT7wAum "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQSoT7wAum_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdJng8MlT2">
    <div
      parentTag="Dialog"
        class="gdJng8MlT2 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdJng8MlT2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfBybixlVt">
    <div
      parentTag="Dialog"
        class="gfBybixlVt "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:19px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfBybixlVt_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gT5_AI_tGM">
    <div
      parentTag="Dialog"
        class="gT5_AI_tGM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggT5_AI_tGM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-dialog.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      <style id="custom-css-gXvfpKSR8-">
        .gXvfpKSR8- input[type="checkbox"]:checked {
    background: #6D3212;{
}
      </style>
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-562741366640411813 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=562741366489089189&sectionId=562741366640411813)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggyZlQF2FDe_text","label":"ggyZlQF2FDe_text","default":"Know Before You Buy: Shipping Details Inside 📦"},{"type":"html","id":"gge2MmYsYKT_text","label":"gge2MmYsYKT_text","default":"<p>Updated: April 2nd, &nbsp;2025</p>"},{"type":"html","id":"ggQSoT7wAum_text","label":"ggQSoT7wAum_text","default":"US Customers"},{"type":"html","id":"ggdJng8MlT2_text","label":"ggdJng8MlT2_text","default":"<p>All black machines are fully <strong>in stock</strong> and will be delivered to you within 3-7 business days. The white machine will be available soon. Tracking details will be sent directly to your email as soon as your package is on the way.</p>"},{"type":"html","id":"ggfBybixlVt_text","label":"ggfBybixlVt_text","default":"Non-US Customers (EU &amp; UK &amp; AU &amp; CA)"},{"type":"html","id":"ggT5_AI_tGM_text","label":"ggT5_AI_tGM_text","default":"<p><strong>Black Machines:</strong> Shipping kicks off in the first week of April!</p><p><strong>White Machines:</strong> On the way! Shipping starts in the second week of April.</p><p>Stay tuned—your perfect brew is almost here!&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
