

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387268139058101.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387268139058101.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547387268139058101.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387268139058101.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387268139058101.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-547387268139058101.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387268139058101.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387268139058101.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387268139058101.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387268139058101.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387268139058101.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547387268139058101.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387268139058101.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-547387268139058101.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547387268139058101.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387268139058101.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-547387268139058101.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387268139058101.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-547387268139058101.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387268139058101.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387268139058101.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547387268139058101.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387268139058101.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-547387268139058101.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387268139058101.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387268139058101.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387268139058101.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-547387268139058101.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387268139058101.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387268139058101.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387268139058101.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387268139058101.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387268139058101.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387268139058101.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547387268139058101.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-547387268139058101.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387268139058101.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387268139058101.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387268139058101.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387268139058101.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387268139058101.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387268139058101.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387268139058101.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387268139058101.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387268139058101.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387268139058101.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387268139058101.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387268139058101.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387268139058101.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387268139058101.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387268139058101.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387268139058101.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-547387268139058101.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387268139058101.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387268139058101.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387268139058101.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387268139058101.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387268139058101.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387268139058101.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387268139058101.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387268139058101.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547387268139058101.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-547387268139058101.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387268139058101.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387268139058101.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387268139058101.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387268139058101 .-gp-rotate-90,.gps-547387268139058101 .gp-rotate-180,.gps-547387268139058101 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547387268139058101 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547387268139058101 .gp-relative{position:relative}.gps-547387268139058101 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387268139058101 .gp-mb-0{margin-bottom:0}.gps-547387268139058101 .gp-flex{display:flex}.gps-547387268139058101 .gp-inline-flex{display:inline-flex}.gps-547387268139058101 .gp-grid{display:grid}.gps-547387268139058101 .\!gp-hidden{display:none!important}.gps-547387268139058101 .gp-hidden{display:none}.gps-547387268139058101 .gp-min-h-0{min-height:0}.gps-547387268139058101 .gp-w-full{width:100%}.gps-547387268139058101 .gp-min-w-0{min-width:0}.gps-547387268139058101 .gp-max-w-full{max-width:100%}.gps-547387268139058101 .gp-flex-1{flex:1 1 0%}.gps-547387268139058101 .-gp-rotate-90{--tw-rotate:-90deg}.gps-547387268139058101 .-gp-rotate-90,.gps-547387268139058101 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387268139058101 .gp-rotate-180{--tw-rotate:180deg}.gps-547387268139058101 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387268139058101 .gp-cursor-pointer{cursor:pointer}.gps-547387268139058101 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387268139058101 .gp-flex-row{flex-direction:row}.gps-547387268139058101 .gp-flex-col{flex-direction:column}.gps-547387268139058101 .gp-flex-wrap{flex-wrap:wrap}.gps-547387268139058101 .gp-items-center{align-items:center}.gps-547387268139058101 .gp-justify-center{justify-content:center}.gps-547387268139058101 .gp-gap-y-0{row-gap:0}.gps-547387268139058101 .gp-overflow-hidden{overflow:hidden}.gps-547387268139058101 .gp-overflow-clip{overflow:clip}.gps-547387268139058101 .gp-whitespace-nowrap{white-space:nowrap}.gps-547387268139058101 .gp-p-4{padding:16px}.gps-547387268139058101 .gp-px-4{padding-left:16px;padding-right:16px}.gps-547387268139058101 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-547387268139058101 .gp-pb-0{padding-bottom:0}.gps-547387268139058101 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387268139058101 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387268139058101 .gp-duration-200{transition-duration:.2s}.gps-547387268139058101 .gp-duration-500{transition-duration:.5s}.gps-547387268139058101 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547387268139058101 .tablet\:\!gp-hidden{display:none!important}.gps-547387268139058101 .tablet\:gp-hidden{display:none}.gps-547387268139058101 .tablet\:gp-flex-row{flex-direction:row}.gps-547387268139058101 .tablet\:gp-flex-col{flex-direction:column}}@media (max-width:767px){.gps-547387268139058101 .mobile\:\!gp-hidden{display:none!important}.gps-547387268139058101 .mobile\:gp-hidden{display:none}.gps-547387268139058101 .mobile\:gp-flex-row{flex-direction:row}.gps-547387268139058101 .mobile\:gp-flex-col{flex-direction:column}}.gps-547387268139058101 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-547387268139058101 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-547387268139058101 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387268139058101 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387268139058101 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387268139058101 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(1000px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:0px;--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gBhqCm8S4f" data-id="gBhqCm8S4f"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gBhqCm8S4f gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gs52WvQi6M gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3SXBucgJm" data-id="g3SXBucgJm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3SXBucgJm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw3nlHKSyj gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gl8AvvtDgy" data-id="gl8AvvtDgy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gl8AvvtDgy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGgUDqqNcX gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab data-id="gIhUchB153" gp-data='{"setting":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Description</p>","<p>Espresso recipe</p>"],"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#F6F6F6"},"labelColor":{"normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"25px","mobile":"14px","tablet":"20px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"builderProps":{"uid":"gIhUchB153","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0},"padding":{"bottom":"16px"}}}},"childrens":["gmWvvPG3sQ","gYGd1H7GJv"],"label":"Tab","settings":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Description</p>","<p>Espresso recipe</p>"],"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#F6F6F6"},"labelColor":{"normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"25px","mobile":"14px","tablet":"20px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"styles":{},"tag":"Tabs","uid":"gIhUchB153","type":"component"}}}'>
      <div
        
        data-id=""
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:16px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp-flex gIhUchB153"
      >
        <style>
            .gIhUchB153 .gp-navs-tab.left p,
            .gIhUchB153 .gp-navs-tab.right p {
              word-wrap: break-word;
              white-space: break-spaces;
            }
            
        </style>
        <div
          class="gp-flex gp-w-full  gp-flex-col mobile:gp-flex-col tablet:gp-flex-col"
        >
          <div
            class="gp-flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list gp-flex gp-flex-wrap  gp-flex-row mobile:gp-flex-row tablet:gp-flex-row"
              style="--maxw:Auto;--maxw-tablet:Auto;--maxw-mobile:Auto"
            >
              
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="gIhUchB153"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap"
          style="--w:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIhUchB153_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="gIhUchB153"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap"
          style="--w:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIhUchB153_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
            </ul>
          </div>
          <div
            class="gp-flex gp-flex-1 gp-min-w-0"
          >
            <div
              class="gp-tab-item-container gp-p-4 gp-pb-0"
              key="gIhUchB153"
              style="--w:100%"
            >
            
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
    class="gp-tab-item gp-child-item-gIhUchB153"
  >
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%" class="g_DK4kakAY ">
      
    <gp-accordion
      data-id="g_DK4kakAY"
     uid="g_DK4kakAY"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:16px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1","expanded":true,"expandItem":true,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z\"></path></svg>\n          ","iconExpand":"\n          <svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" classname=\"w-6 h-6\" viewBox=\"0 0 512 512\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z\"></path></svg>","iconCollapseSize":16,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"g_DK4kakAY","childListNumber":["0"],"chidlrenUid":["gE7isRf5Vd","gM5KuBbEIS","gHGU9ockDF","gi6oMWBJbt"]},"styles":{"bgColor":{"active":"transparent","hover":"transparent","normal":"transparent"},"color":{"active":"#121212","hover":"#121212","normal":"#121212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"solid","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"16px","padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"headerContentPadding":{"desktop":{"padding":{"bottom":"8px","left":"24px","right":"24px","top":"8px","type":"medium"}}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"g_DK4kakAY"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="g_DK4kakAY gp-accordion-item gp-overflow-hidden gp-child-item-g_DK4kakAY"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gE7isRf5Vd"
        id="gE7isRf5Vd"
        data-index="0"
        class="g_DK4kakAY gp-accordion-item-g_DK4kakAY-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--bgc:transparent;--bs:solid;--bw:0px 0px 1px 0px;--bc:#121212;--c:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-g_DK4kakAY-0:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--c:#121212;width:16px;height:16px"
            data-index="0"
            class="g_DK4kakAY gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="m231.904 155.52 -153.472 175.392c-18.112 20.704 -3.392 53.088 24.096 53.088h306.944a32 32 0 0 0 24.096 -53.088l-153.472 -175.36a32 32 0 0 0 -48.192 0z"></path></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_DK4kakAY_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gE7isRf5Vd"
        data-index="0"
        data-show="true"
        class="g_DK4kakAY gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:1fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gE7isRf5Vd"
        data-index="0"
        class="g_DK4kakAY gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px;--pt:8px;--pb:8px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gsNgxOwe_j gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gf7frxmxid">
    <div
      parentTag="Col"
        class="gf7frxmxid "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggf7frxmxid_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="g_DK4kakAY gp-accordion-item gp-overflow-hidden gp-child-item-g_DK4kakAY"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gM5KuBbEIS"
        id="gM5KuBbEIS"
        data-index="1"
        class="g_DK4kakAY gp-accordion-item-g_DK4kakAY-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-g_DK4kakAY-1:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="1"
            class="g_DK4kakAY gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_DK4kakAY_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gM5KuBbEIS"
        data-index="1"
        data-show="false"
        class="g_DK4kakAY gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gM5KuBbEIS"
        data-index="1"
        class="g_DK4kakAY gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gh81r6zEZ4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gK6ePULyC6">
    <div
      parentTag="Col"
        class="gK6ePULyC6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggK6ePULyC6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="g_DK4kakAY gp-accordion-item gp-overflow-hidden gp-child-item-g_DK4kakAY"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gHGU9ockDF"
        id="gHGU9ockDF"
        data-index="2"
        class="g_DK4kakAY gp-accordion-item-g_DK4kakAY-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-g_DK4kakAY-2:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="2"
            class="g_DK4kakAY gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_DK4kakAY_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gHGU9ockDF"
        data-index="2"
        data-show="false"
        class="g_DK4kakAY gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gHGU9ockDF"
        data-index="2"
        class="g_DK4kakAY gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gmR8ZJ17vv gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHHs9nfYyf">
    <div
      parentTag="Col"
        class="gHHs9nfYyf "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHHs9nfYyf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:16px;--height-configIconSize:16px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="g_DK4kakAY gp-accordion-item gp-overflow-hidden gp-child-item-g_DK4kakAY"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gi6oMWBJbt"
        id="gi6oMWBJbt"
        data-index="3"
        class="g_DK4kakAY gp-accordion-item-g_DK4kakAY-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:transparent;--bgc:transparent;--hvr-c:#121212;--c:#121212;--bs:solid;--hvr-bs:solid;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-g_DK4kakAY-3:hover 
      {
        .gp-collapsible-icon { 
          color: #121212 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#121212;--c:#121212;width:16px;height:16px"
            data-index="3"
            class="g_DK4kakAY gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          >
          <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" classname="w-6 h-6" viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokelinecap="round" strokelinejoin="round" d="M231.917 356.477L78.4378 181.072C60.3335 160.381 75.0272 128 102.52 128H409.479C436.972 128 451.666 160.381 433.562 181.072L280.082 356.477C267.333 371.048 244.666 371.048 231.917 356.477Z"></path></svg>
          </span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:19px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg_DK4kakAY_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gi6oMWBJbt"
        data-index="3"
        data-show="false"
        class="g_DK4kakAY gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gi6oMWBJbt"
        data-index="3"
        class="g_DK4kakAY gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:24px;--pr:24px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gL4NfUKXT5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-cmAaslzS">
    <div
      parentTag="Col"
        class="g-cmAaslzS "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-cmAaslzS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  </div>
  
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
    class="gp-tab-item gp-child-item-gIhUchB153"
  >
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glAwLSMJ2G">
    <div
      parentTag="TabItem"
        class="glAwLSMJ2G "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglAwLSMJ2G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVej94asB7">
    <div
      parentTag="TabItem"
        class="gVej94asB7 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVej94asB7_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="TabItem" id="gY8lWdrSNv" data-id="gY8lWdrSNv"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gY8lWdrSNv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6f2Nkz36W gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g69OiGR2jX">
    <div
      parentTag="Col"
        class="g69OiGR2jX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.gg69OiGR2jX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzxINaCEcA gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXyKjASBIF">
    <div
      parentTag="Col"
        class="gXyKjASBIF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggXyKjASBIF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gF3-59w1Tj" data-id="gF3-59w1Tj"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gF3-59w1Tj gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glzOLEVxh5 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUXJB_-_4-">
    <div
      parentTag="Col"
        class="gUXJB_-_4- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggUXJB_-_4-_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcfctAVNka gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtSoPXdg-k">
    <div
      parentTag="Col"
        class="gtSoPXdg-k "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggtSoPXdg-k_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gu3MZsgQeN" data-id="gu3MZsgQeN"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gu3MZsgQeN gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcsNvlkuLU gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gr9Eh4C811">
    <div
      parentTag="Col"
        class="gr9Eh4C811 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggr9Eh4C811_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g4Gm4UFzj- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1PvbuwXlX">
    <div
      parentTag="Col"
        class="g1PvbuwXlX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.gg1PvbuwXlX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2WGbR-80g">
    <div
      parentTag="TabItem"
        class="g2WGbR-80g "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2WGbR-80g_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQbxK-TetK">
    <div
      parentTag="TabItem"
        class="gQbxK-TetK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggQbxK-TetK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0Nq1ui2qF">
    <div
      parentTag="TabItem"
        class="g0Nq1ui2qF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--pt:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0Nq1ui2qF_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="TabItem" id="gg8z2CVzSp" data-id="gg8z2CVzSp"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gg8z2CVzSp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2h65bl-AD gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYmFB929wl">
    <div
      parentTag="Col"
        class="gYmFB929wl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggYmFB929wl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7PdOGYSRB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLQlpLom49">
    <div
      parentTag="Col"
        class="gLQlpLom49 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggLQlpLom49_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gcPt_C2Ddk" data-id="gcPt_C2Ddk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gcPt_C2Ddk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyC3znH_Yk gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFgu79tK2a">
    <div
      parentTag="Col"
        class="gFgu79tK2a "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggFgu79tK2a_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gBkdVuJaVe gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goQc_tN67g">
    <div
      parentTag="Col"
        class="goQc_tN67g "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggoQc_tN67g_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gMfCQsZ1uR" data-id="gMfCQsZ1uR"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gMfCQsZ1uR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gq8thyfB5j gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdWG5A_d18">
    <div
      parentTag="Col"
        class="gdWG5A_d18 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggdWG5A_d18_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLx0z1QC72 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL10RsWUAw">
    <div
      parentTag="Col"
        class="gL10RsWUAw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:13px;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggL10RsWUAw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gDygO3dq5x" data-id="gDygO3dq5x"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDygO3dq5x gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g_o3QQ3g0e gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHOkfzSCmK">
    <div
      parentTag="Col"
        class="gHOkfzSCmK "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggHOkfzSCmK_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gm7HvPYGUZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKUbI18-jU">
    <div
      parentTag="Col"
        class="gKUbI18-jU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggKUbI18-jU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gx4zP4jOmg" data-id="gx4zP4jOmg"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gx4zP4jOmg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g3Iw9_xd11 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_8jV7v6o3">
    <div
      parentTag="Col"
        class="g_8jV7v6o3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.gg_8jV7v6o3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gX3HpD_AaM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcLJ3LIuzw">
    <div
      parentTag="Col"
        class="gcLJ3LIuzw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:16px;--size-tablet:16px;--size-mobile:13px;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggcLJ3LIuzw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="gIYWD4eKHA" data-id="gIYWD4eKHA"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIYWD4eKHA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gT0M_vxD-Z gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g86XB7RBso">
    <div
      parentTag="Col"
        class="g86XB7RBso "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.gg86XB7RBso_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gg1tW9ZEO2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gXdcpJaBzr">
    <div
      parentTag="Col"
        class="gXdcpJaBzr "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#151515;word-break:break-word;--bgc:#00000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggXdcpJaBzr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="TabItem" id="go-m7TW-3V" data-id="go-m7TW-3V"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="go-m7TW-3V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdECZ6Qn6U gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g29eVH12oe">
    <div
      parentTag="Col"
        class="g29eVH12oe "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg29eVH12oe_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQ0Zd1at6P">
    <div
      parentTag="Col"
        class="gQ0Zd1at6P "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggQ0Zd1at6P_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHpBi-gXHG">
    <div
      parentTag="Col"
        class="gHpBi-gXHG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHpBi-gXHG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFnlTeHGnF">
    <div
      parentTag="Col"
        class="gFnlTeHGnF "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggFnlTeHGnF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdbTh7sRZW">
    <div
      parentTag="Col"
        class="gdbTh7sRZW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:20px;--size-tablet:18px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:var(--g-c-text-2, text-2);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdbTh7sRZW_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gciS2TL_ly">
    <div
      parentTag="Col"
        class="gciS2TL_ly "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;word-break:break-word;--bgc:#f4f4f4;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pl:var(--g-s-s);--pr:var(--g-s-s);--pt:var(--g-s-s);--pb:var(--g-s-s);overflow:hidden"
        >{{ section.settings.ggciS2TL_ly_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-547387268139058101 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387268105503669&sectionId=547387268139058101)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIhUchB153_childItem_0","label":"ggIhUchB153_childItem_0","default":"<p>Description</p>"},{"type":"html","id":"ggIhUchB153_childItem_1","label":"ggIhUchB153_childItem_1","default":"<p>Espresso recipe</p>"},{"type":"html","id":"gg_DK4kakAY_childItem_0","label":"gg_DK4kakAY_childItem_0","default":"<p>Story</p>"},{"type":"html","id":"gg_DK4kakAY_childItem_1","label":"gg_DK4kakAY_childItem_1","default":"<p>Details</p>"},{"type":"html","id":"gg_DK4kakAY_childItem_2","label":"gg_DK4kakAY_childItem_2","default":"<p>Sustainable cultivation and quality awareness</p>"},{"type":"html","id":"gg_DK4kakAY_childItem_3","label":"gg_DK4kakAY_childItem_3","default":"<p>Freshly roasted by hand</p>"},{"type":"html","id":"ggf7frxmxid_text","label":"ggf7frxmxid_text","default":"<p>Low in acidity and powerful in taste. Sinfonia is an espresso with a distinct sweetness of chocolate and clearly definable notes of hazelnut. We roast two different varieties for this blend, which together have a particularly harmonious and rounded effect on the taste. Due to the almost non-existent acidity, this blend is particularly gentle.</p>"},{"type":"html","id":"ggK6ePULyC6_text","label":"ggK6ePULyC6_text","default":"<ul><li>Espresso Blend from Brazil and Colombia</li><li>Espresso roast</li><li>Choose between 250g, 500g or 1kg ground or beans</li><li>Suitable for portafilter, coffee machine and stovetop pot</li><li>Taste profile: milk chocolate, hazelnut, no acidity</li><li>100% Arabica espresso gently roasted by hand in Berlin</li><li>Climate neutral delivery via DHL Go Green<br><strong>Pick up on site:</strong></li><li>Pick-up address: Rststtte, Ackerstr. 173, 10115 Berlin</li><li>After your order you will receive a pick-up confirmation by e-mail (please also check your spam folder)</li><li>Pick-up with e-mail confirmation possible: Monday-Friday between 09:30 and 18 oclock</li></ul>"},{"type":"html","id":"ggHHs9nfYyf_text","label":"ggHHs9nfYyf_text","default":"<p>Similar to wine, the origin, cultivation and careful harvesting also form the basis for a specialty coffee. For our coffees, we use only ripe and hand-picked 100% Arabica coffee beans, because the elaborate harvest by hand is an essential quality criterion. Our highland coffees are natural products and are grown in shady forest gardens in a nature-friendly way. This preserves the biodiversity in the growing region. The coffee cherries can ripen slowly at cool altitudes with nutritious and fertile soil conditions. The coffee plants have more time to develop their characteristic and fruity aromas under these optimal climatic conditions near the equator. &nbsp;</p>"},{"type":"html","id":"gg-cmAaslzS_text","label":"gg-cmAaslzS_text","default":"<p>All Rststtte coffees are gently roasted by hand in Berlin so that the natural flavors can fully develop without unwanted acids. For a pronounced body and a versatile flavor profile in the cup, we want to emphasize and optimally process the special features of the respective variety, farm and origin of the coffee with our roasting. The aim is to exploit the full potential of the green coffee through our roasting process and to highlight the valuable work of the producers in the growing countries. These are our quality principles  from source to the final cup.</p>"},{"type":"html","id":"gglAwLSMJ2G_text","label":"gglAwLSMJ2G_text","default":"<p><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Calibrated by Barista Champion Nicole Battefeld</span><br><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Standard setting espresso machine temperature: 93.5  C</span><br><span style=\"background-color:rgb(255,255,255);color:rgb(0,0,0);font-size:16px;\">Prerequisite: 18g sieve (basket), double portafilter outlet</span></p>"},{"type":"html","id":"ggVej94asB7_text","label":"ggVej94asB7_text","default":"RECIPE"},{"type":"html","id":"gg69OiGR2jX_text","label":"gg69OiGR2jX_text","default":"<p>Dose in &nbsp; &nbsp;&nbsp;</p>"},{"type":"html","id":"ggXyKjASBIF_text","label":"ggXyKjASBIF_text","default":"<p>19g</p>"},{"type":"html","id":"ggUXJB_-_4-_text","label":"ggUXJB_-_4-_text","default":"<p>Extraction time in seconds&nbsp;</p>"},{"type":"html","id":"ggtSoPXdg-k_text","label":"ggtSoPXdg-k_text","default":"<p>26/28</p>"},{"type":"html","id":"ggr9Eh4C811_text","label":"ggr9Eh4C811_text","default":"<p>Dose out &nbsp;</p>"},{"type":"html","id":"gg1PvbuwXlX_text","label":"gg1PvbuwXlX_text","default":"<p>38g</p>"},{"type":"html","id":"gg2WGbR-80g_text","label":"gg2WGbR-80g_text","default":"Freezing Date"},{"type":"html","id":"ggQbxK-TetK_text","label":"ggQbxK-TetK_text","default":"<p>22-33 Days after Roast Date</p>"},{"type":"html","id":"gg0Nq1ui2qF_text","label":"gg0Nq1ui2qF_text","default":"TASTE BALANCE"},{"type":"html","id":"ggYmFB929wl_text","label":"ggYmFB929wl_text","default":"<p>Sweetness (low to high)</p>"},{"type":"html","id":"ggLQlpLom49_text","label":"ggLQlpLom49_text","default":"<p><span style=\"background-color:rgb(244,244,244);color:rgb(0,0,0);font-size:16px;\">high</span></p>"},{"type":"html","id":"ggFgu79tK2a_text","label":"ggFgu79tK2a_text","default":"<p>Acidity (low to high)</p>"},{"type":"html","id":"ggoQc_tN67g_text","label":"ggoQc_tN67g_text","default":"<p>Medium low</p>"},{"type":"html","id":"ggdWG5A_d18_text","label":"ggdWG5A_d18_text","default":"<p>Bitterness (low to high)</p>"},{"type":"html","id":"ggL10RsWUAw_text","label":"ggL10RsWUAw_text","default":"<p>Medium to medium low</p>"},{"type":"html","id":"ggHOkfzSCmK_text","label":"ggHOkfzSCmK_text","default":"<p>Texture</p>"},{"type":"html","id":"ggKUbI18-jU_text","label":"ggKUbI18-jU_text","default":"<p>Velvety, sticky</p>"},{"type":"html","id":"gg_8jV7v6o3_text","label":"gg_8jV7v6o3_text","default":"<p>Weight (low to high)</p>"},{"type":"html","id":"ggcLJ3LIuzw_text","label":"ggcLJ3LIuzw_text","default":"<p>Medium to medium high</p>"},{"type":"html","id":"gg86XB7RBso_text","label":"gg86XB7RBso_text","default":"<p>Finish (short to long lasting)</p>"},{"type":"html","id":"ggXdcpJaBzr_text","label":"ggXdcpJaBzr_text","default":"<p>medium</p>"},{"type":"html","id":"gg29eVH12oe_text","label":"gg29eVH12oe_text","default":"FLAVOUR"},{"type":"html","id":"ggQ0Zd1at6P_text","label":"ggQ0Zd1at6P_text","default":"<p>Kakao, milk chocolate, blackberries</p>"},{"type":"html","id":"ggHpBi-gXHG_text","label":"ggHpBi-gXHG_text","default":"GRINDSIZE COMANDANTE"},{"type":"html","id":"ggFnlTeHGnF_text","label":"ggFnlTeHGnF_text","default":"<p><span style=\"background-color:rgb(244,244,244);color:rgb(0,0,0);font-size:16px;\">9</span></p>"},{"type":"html","id":"ggdbTh7sRZW_text","label":"ggdbTh7sRZW_text","default":"MILKWEIGHT"},{"type":"html","id":"ggciS2TL_ly_text","label":"ggciS2TL_ly_text","default":"<p>110g 3.8%&nbsp; tastes like milkchocolate, dolce de leche, very sweet, kinder schokolade</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
