

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548607794598511634.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548607794598511634.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-548607794598511634.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-548607794598511634.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548607794598511634.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-548607794598511634.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-548607794598511634.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-548607794598511634.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-548607794598511634.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548607794598511634.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-548607794598511634.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548607794598511634.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-548607794598511634.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-548607794598511634.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548607794598511634.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548607794598511634.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548607794598511634.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548607794598511634.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-548607794598511634.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-548607794598511634.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-548607794598511634.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-548607794598511634.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-548607794598511634.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-548607794598511634.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548607794598511634.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548607794598511634.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-548607794598511634.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548607794598511634.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548607794598511634.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-548607794598511634.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548607794598511634.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548607794598511634.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548607794598511634.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548607794598511634.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548607794598511634.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548607794598511634.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-548607794598511634.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548607794598511634.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-548607794598511634.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-548607794598511634.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-548607794598511634.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548607794598511634.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-548607794598511634.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-548607794598511634.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-548607794598511634.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-548607794598511634.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-548607794598511634.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-548607794598511634.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-548607794598511634.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548607794598511634.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-548607794598511634.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-548607794598511634.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-548607794598511634.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-548607794598511634.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-548607794598511634.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-548607794598511634.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-548607794598511634 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-548607794598511634 .gp-relative{position:relative}.gps-548607794598511634 .gp-z-1{z-index:1}.gps-548607794598511634 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-548607794598511634 .gp-mb-0{margin-bottom:0}.gps-548607794598511634 .gp-flex{display:flex}.gps-548607794598511634 .gp-inline-flex{display:inline-flex}.gps-548607794598511634 .gp-grid{display:grid}.gps-548607794598511634 .\!gp-hidden{display:none!important}.gps-548607794598511634 .gp-hidden{display:none}.gps-548607794598511634 .gp-h-full{height:100%}.gps-548607794598511634 .gp-max-w-full{max-width:100%}.gps-548607794598511634 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-548607794598511634 .gp-flex-col{flex-direction:column}.gps-548607794598511634 .gp-items-center{align-items:center}.gps-548607794598511634 .gp-justify-center{justify-content:center}.gps-548607794598511634 .gp-gap-y-0{row-gap:0}.gps-548607794598511634 .gp-overflow-hidden{overflow:hidden}.gps-548607794598511634 .gp-break-words{overflow-wrap:break-word}.gps-548607794598511634 .gp-rounded-none{border-radius:0}.gps-548607794598511634 .gp-text-center{text-align:center}.gps-548607794598511634 .gp-no-underline{text-decoration-line:none}.gps-548607794598511634 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794598511634 .gp-duration-200{transition-duration:.2s}.gps-548607794598511634 .gp-duration-300{transition-duration:.3s}.gps-548607794598511634 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548607794598511634 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-548607794598511634 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-548607794598511634 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-548607794598511634 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-548607794598511634 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-548607794598511634 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-548607794598511634 .tablet\:\!gp-hidden{display:none!important}.gps-548607794598511634 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-548607794598511634 .mobile\:\!gp-hidden{display:none!important}.gps-548607794598511634 .mobile\:gp-hidden{display:none}}.gps-548607794598511634 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-548607794598511634 .\[\&_p\]\:gp-inline p{display:inline}.gps-548607794598511634 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-548607794598511634 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-548607794598511634 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g-4z3H11nB" data-id="g-4z3H11nB"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-3xl);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g-4z3H11nB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gVIR6ctAaX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAsQM8ycE3" data-id="gAsQM8ycE3"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAsQM8ycE3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvxj2fwWTo gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCOCi24RBd">
    <div
      parentTag="Col"
        class="gCOCi24RBd "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:22px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCOCi24RBd_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gE9d3qJaYm">
    <div
      parentTag="Col"
        class="gE9d3qJaYm "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:12px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggE9d3qJaYm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs1iWvYdWp">
    <div
      parentTag="Col"
        class="gs1iWvYdWp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggs1iWvYdWp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gLBofZ7KC1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gLBofZ7KC1:hover::before {
      
      
    }

    .gLBofZ7KC1:hover .gp-button-icon {
      color: #ffffff;
    }

     .gLBofZ7KC1 .gp-button-icon {
      color: #999999;
    }

    .gLBofZ7KC1:hover .gp-button-price {
      color: #ffffff;
    }

    .gLBofZ7KC1 .gp-button-price {
      color: #999999;
    }

    .gLBofZ7KC1 .gp-product-dot-price {
       color: #999999;
    }

    .gLBofZ7KC1:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="#chatty-chat" target="_self" data-id="gLBofZ7KC1" aria-label="<p>Chat Now</p>"
      
      data-state="idle"
      class="gLBofZ7KC1 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#999999;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#999999"
      >
        {{ section.settings.ggLBofZ7KC1_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gygDBNP3sM">
    <div
      parentTag="Col"
        class="gygDBNP3sM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggygDBNP3sM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giMYAZovrZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmHfmX8JOP">
    <div
      parentTag="Col"
        class="gmHfmX8JOP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:22px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmHfmX8JOP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOzw38u-ep">
    <div
      parentTag="Col"
        class="gOzw38u-ep "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:17px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOzw38u-ep_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grKCsLngFz">
    <div
      parentTag="Col"
        class="grKCsLngFz "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrKCsLngFz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gd1lf0ByKb.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gd1lf0ByKb:hover::before {
      
      
    }

    .gd1lf0ByKb:hover .gp-button-icon {
      color: #ffffff;
    }

     .gd1lf0ByKb .gp-button-icon {
      color: #999999;
    }

    .gd1lf0ByKb:hover .gp-button-price {
      color: #ffffff;
    }

    .gd1lf0ByKb .gp-button-price {
      color: #999999;
    }

    .gd1lf0ByKb .gp-product-dot-price {
       color: #999999;
    }

    .gd1lf0ByKb:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="mailto:hello@merakitech.com" target="_blank" data-id="gd1lf0ByKb" aria-label="<p>hello@merakitech.com</p>"
      
      data-state="idle"
      class="gd1lf0ByKb gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#999999;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#999999"
      >
        {{ section.settings.ggd1lf0ByKb_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grdreeVoe_">
    <div
      parentTag="Col"
        class="grdreeVoe_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:15px;--size-tablet:16px;--size-mobile:14px;--lh:120%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrdreeVoe__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gxJqgy1qjh.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gxJqgy1qjh:hover::before {
      
      
    }

    .gxJqgy1qjh:hover .gp-button-icon {
      color: #ffffff;
    }

     .gxJqgy1qjh .gp-button-icon {
      color: #999999;
    }

    .gxJqgy1qjh:hover .gp-button-price {
      color: #ffffff;
    }

    .gxJqgy1qjh .gp-button-price {
      color: #999999;
    }

    .gxJqgy1qjh .gp-product-dot-price {
       color: #999999;
    }

    .gxJqgy1qjh:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="mailto:service@merakitech.com" target="_blank" data-id="gxJqgy1qjh" aria-label="<p>service@merakitech.com</p>"
      
      data-state="idle"
      class="gxJqgy1qjh gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#999999;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#999999"
      >
        {{ section.settings.ggxJqgy1qjh_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9Vz_SwqFj gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gx5mgapn6V">
    <div
      parentTag="Col"
        class="gx5mgapn6V "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:22px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggx5mgapn6V_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g302qAaiME">
    <div
      parentTag="Col"
        class="g302qAaiME "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg302qAaiME_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .gCXos4ts2v.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gCXos4ts2v:hover::before {
      
      
    }

    .gCXos4ts2v:hover .gp-button-icon {
      color: #ffffff;
    }

     .gCXos4ts2v .gp-button-icon {
      color: #999999;
    }

    .gCXos4ts2v:hover .gp-button-price {
      color: #ffffff;
    }

    .gCXos4ts2v .gp-button-price {
      color: #999999;
    }

    .gCXos4ts2v .gp-product-dot-price {
       color: #999999;
    }

    .gCXos4ts2v:hover .gp-product-dot-price {
      color: #ffffff;
    }
  </style>
    <a
      href="https://www.facebook.com/groups/788387043110820" target="_blank" data-id="gCXos4ts2v" aria-label="<p>Meraki Family</p>"
      
      data-state="idle"
      class="gCXos4ts2v gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:24px;--pt:0px;--pb:0px;--hvr-c:#ffffff;--c:#999999;--size:15px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:15px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#ffffff;--c:#999999"
      >
        {{ section.settings.ggCXos4ts2v_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 13",
    "tag": "section",
    "class": "gps-548607794598511634 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=548607794429821970&sectionId=548607794598511634)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggCOCi24RBd_text","label":"ggCOCi24RBd_text","default":"<a href=\"https://www.anker.com/products/a1340-250w-power-bank?ref=naviMenu&amp;_gl=1*bmciaf*_up*MQ..*_gs*MQ..&amp;gclid=CjwKCAiAmfq6BhAsEiwAX1jsZzuC9rAnuwqzg9t3hxlw6BY4alPS4cpvNdQnsW3WtOrAM8wZJr9mahoCmq8QAvD_BwE&amp;variant=43739694465174\">Live Chat</a>"},{"type":"html","id":"ggE9d3qJaYm_text","label":"ggE9d3qJaYm_text","default":"<p>If you have any problems, please contact our support team</p>"},{"type":"html","id":"ggs1iWvYdWp_text","label":"ggs1iWvYdWp_text","default":"<p>Mon - Fri: 10AM - 5PM (PT)</p>"},{"type":"html","id":"ggLBofZ7KC1_label","label":"ggLBofZ7KC1_label","default":"<p>Chat Now</p>"},{"type":"html","id":"ggygDBNP3sM_text","label":"ggygDBNP3sM_text","default":"<p><a href=\"#chatty-chat\"><u>Chat Now</u></a></p>"},{"type":"html","id":"ggmHfmX8JOP_text","label":"ggmHfmX8JOP_text","default":"Email Us"},{"type":"html","id":"ggOzw38u-ep_text","label":"ggOzw38u-ep_text","default":"<p>Please send us an email. We will respond and help immediately.\n</p>"},{"type":"html","id":"ggrKCsLngFz_text","label":"ggrKCsLngFz_text","default":"<p>Pre-order advice&nbsp;</p>"},{"type":"html","id":"ggd1lf0ByKb_label","label":"ggd1lf0ByKb_label","default":"<p>hello@merakitech.com</p>"},{"type":"html","id":"ggrdreeVoe__text","label":"ggrdreeVoe__text","default":"<p>After-sale support</p>"},{"type":"html","id":"ggxJqgy1qjh_label","label":"ggxJqgy1qjh_label","default":"<p>service@merakitech.com</p>"},{"type":"html","id":"ggx5mgapn6V_text","label":"ggx5mgapn6V_text","default":"Join Us"},{"type":"html","id":"gg302qAaiME_text","label":"gg302qAaiME_text","default":"<p>Where Coffee Dreams Come True.</p><p>Join Our Community</p>"},{"type":"html","id":"ggCXos4ts2v_label","label":"ggCXos4ts2v_label","default":"<p>Meraki Family</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
