

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387267199534005.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547387267199534005.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387267199534005.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387267199534005.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387267199534005.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387267199534005.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387267199534005.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387267199534005.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387267199534005.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387267199534005.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387267199534005.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547387267199534005.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387267199534005.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387267199534005.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387267199534005.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387267199534005.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387267199534005.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387267199534005.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387267199534005.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387267199534005.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387267199534005.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387267199534005.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387267199534005.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387267199534005.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387267199534005.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387267199534005.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547387267199534005.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387267199534005.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387267199534005.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387267199534005.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387267199534005.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387267199534005.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387267199534005.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387267199534005.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387267199534005.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547387267199534005.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387267199534005.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387267199534005.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-547387267199534005.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387267199534005.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387267199534005.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-547387267199534005.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547387267199534005.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-547387267199534005.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387267199534005.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387267199534005.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547387267199534005.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-547387267199534005.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-547387267199534005.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-547387267199534005.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-547387267199534005.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-547387267199534005.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387267199534005.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387267199534005.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387267199534005.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387267199534005.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-547387267199534005.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387267199534005.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387267199534005.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-547387267199534005.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-547387267199534005.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-547387267199534005 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547387267199534005 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-547387267199534005 .gp-invisible{visibility:hidden}.gps-547387267199534005 .gp-absolute{position:absolute}.gps-547387267199534005 .gp-relative{position:relative}.gps-547387267199534005 .gp-top-0{top:0}.gps-547387267199534005 .gp-z-1{z-index:1}.gps-547387267199534005 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387267199534005 .gp-mb-0{margin-bottom:0}.gps-547387267199534005 .gp-flex{display:flex}.gps-547387267199534005 .gp-grid{display:grid}.gps-547387267199534005 .\!gp-hidden{display:none!important}.gps-547387267199534005 .gp-hidden{display:none}.gps-547387267199534005 .gp-h-full{height:100%}.gps-547387267199534005 .gp-w-full{width:100%}.gps-547387267199534005 .gp-max-w-full{max-width:100%}.gps-547387267199534005 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387267199534005 .gp-flex-col{flex-direction:column}.gps-547387267199534005 .gp-items-center{align-items:center}.gps-547387267199534005 .\!gp-justify-end{justify-content:flex-end!important}.gps-547387267199534005 .\!gp-justify-center{justify-content:center!important}.gps-547387267199534005 .gp-gap-y-0{row-gap:0}.gps-547387267199534005 .gp-overflow-hidden{overflow:hidden}.gps-547387267199534005 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387267199534005 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387267199534005 .gp-duration-200{transition-duration:.2s}.gps-547387267199534005 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-547387267199534005 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-547387267199534005 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}}@media (max-width:1024px){.gps-547387267199534005 .tablet\:gp-absolute{position:absolute}.gps-547387267199534005 .tablet\:\!gp-hidden{display:none!important}.gps-547387267199534005 .tablet\:gp-hidden{display:none}.gps-547387267199534005 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-547387267199534005 .tablet\:\!gp-justify-end{justify-content:flex-end!important}.gps-547387267199534005 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-547387267199534005 .mobile\:gp-relative{position:relative}.gps-547387267199534005 .mobile\:\!gp-hidden{display:none!important}.gps-547387267199534005 .mobile\:gp-hidden{display:none}.gps-547387267199534005 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-547387267199534005 .mobile\:\!gp-justify-end{justify-content:flex-end!important}.gps-547387267199534005 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-547387267199534005 .tablet\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}@media (max-width:767px){.gps-547387267199534005 .mobile\:\[\&\>\*\]\:\!gp-justify-end>*{justify-content:flex-end!important}}.gps-547387267199534005 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387267199534005 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387267199534005 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387267199534005 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g8gYhIrIaT" data-id="g8gYhIrIaT"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:none;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-tablet:var(--g-s-l);--pb-tablet:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g8gYhIrIaT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ge7NnkKBbX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gjFzhEvQr_" data-id="gjFzhEvQr_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gjFzhEvQr_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gKu66LFDlC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gsYFad7ZmZ" data-id="gsYFad7ZmZ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gsYFad7ZmZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g1JqxCJ0JY gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g80myswBo6" data-id="g80myswBo6"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-s);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g80myswBo6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWVnFxYMMt gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-s)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gHs5uk0xT2","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gHs5uk0xT2 gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gHs5uk0xT2"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:auto;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_1024x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/TIMEMORE_Co-engineered_Grinder_768x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g6LGdGDuhR gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1OHhGWKpb">
    <div
      parentTag="Col"
        class="g1OHhGWKpb "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--pl:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-tablet:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:20px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1OHhGWKpb_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-s)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g26b0BETtr","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"115%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g26b0BETtr gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="g26b0BETtr"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:115%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gz4D30Ar_t gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gveQ5K-k4s">
    <div
      parentTag="Col"
        class="gveQ5K-k4s "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pl:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-tablet:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:20px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggveQ5K-k4s_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHWl3sLJCv gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":747,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center","width":1000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":747,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center","width":1000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":747,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center","width":1000},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g_ZIY9q4MU","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g_ZIY9q4MU gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="g_ZIY9q4MU"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61.png?v=1723097122&width=1000&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_1024x.png?v=1723097122&width=1000&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/main_570bfa6f-20b1-40ca-b8d6-6a9687b3ab61_768x.png?v=1723097122&width=1000&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--d-mobile:none"
      class="gvW7yJ1_J0 gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gC3M9s16Yl gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex;--mb:var(--g-s-s)">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gqMkMWjVdn","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gqMkMWjVdn gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gqMkMWjVdn"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gS5ktMw0SY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4K7nB8oIw">
    <div
      parentTag="Col"
        class="g4K7nB8oIw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pr:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ta-tablet:right;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:20px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4K7nB8oIw_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":208,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center","width":400},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g0xvJ5YRLG","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g0xvJ5YRLG gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="g0xvJ5YRLG"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_1024x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Group_Head_Heater_768x.jpg?v=1722925534&width=400&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKL4Dw8J4k gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUMqpDmH3S">
    <div
      parentTag="Col"
        class="gUMqpDmH3S "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pr:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-tablet:right;--size:18px;--size-tablet:20px;--size-mobile:41px;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUMqpDmH3S_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gWBlfa6nu9" data-id="gWBlfa6nu9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gWBlfa6nu9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="geVXvMVhLi gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gEAaubhxgM","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gEAaubhxgM gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gEAaubhxgM"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso.jpg?v=1722925534&width=800&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_1024x.jpg?v=1722925534&width=800&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Roaster_s_Choice_Profiles__Expertly_Crafted_for_Perfect_Espresso_768x.jpg?v=1722925534&width=800&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gjuZ1nx7N4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gr6FfgHx0U">
    <div
      parentTag="Col"
        class="gr6FfgHx0U "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:2px;--pl:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:20px;--size-mobile:41px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggr6FfgHx0U_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gjRmLBNVLW gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:100%;--h-tablet:100%;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":293,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center","width":800},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gEponQe-qI","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"bottom"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="gEponQe-qI gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:auto;--aspect-tablet:auto"
        data-id="gEponQe-qI"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-end tablet:!gp-justify-end mobile:!gp-justify-end"
        style="--h:100%;--h-tablet:100%;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:100%;--h-tablet:100%;--h-mobile:500px;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center);--bgi-mobile:url(https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center);--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot.jpg?v=1722925535&width=800&crop=center" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_1024x.jpg?v=1722925535&width=800&crop=center" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center" data-srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center" src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Dual_Boiler_Design__Engineered_for_Precision_in_Every_Shot_768x.jpg?v=1722925535&width=800&crop=center" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:end;--pc-tablet:end;--pc-mobile:end;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full gp-absolute tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-end mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-end gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gxa1wBraGW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFKULLU57Z">
    <div
      parentTag="Col"
        class="gFKULLU57Z "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:2px;--pr:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:right;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:18px;--size-tablet:20px;--size-mobile:13px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFKULLU57Z_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-547387267199534005 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387267048539061&sectionId=547387267199534005)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg1OHhGWKpb_text","label":"gg1OHhGWKpb_text","default":"TIMEMORE Co-engineered Grinder"},{"type":"html","id":"ggveQ5K-k4s_text","label":"ggveQ5K-k4s_text","default":"Ion Beam Static-Free Grinding"},{"type":"html","id":"gg4K7nB8oIw_text","label":"gg4K7nB8oIw_text","default":"Powerful, Quiet Rotary Pump"},{"type":"html","id":"ggUMqpDmH3S_text","label":"ggUMqpDmH3S_text","default":"<strong>Precision Group Head Heater</strong>"},{"type":"html","id":"ggr6FfgHx0U_text","label":"ggr6FfgHx0U_text","default":"Roaster's Choice Profiles:<br>Expertly Crafted for Perfect Espresso"},{"type":"html","id":"ggFKULLU57Z_text","label":"ggFKULLU57Z_text","default":"Dual Boiler Design:<br>Engineered for Precision in Every Shot"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
