

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713925813350.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713925813350.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713925813350.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713925813350.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713925813350.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713925813350.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713925813350.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713925813350.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713925813350.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547370713925813350.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-547370713925813350.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713925813350.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713925813350.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713925813350.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713925813350.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713925813350.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713925813350.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370713925813350.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370713925813350.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370713925813350.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370713925813350.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713925813350.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370713925813350.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713925813350.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370713925813350.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370713925813350.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370713925813350.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370713925813350.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-547370713925813350.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-547370713925813350.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713925813350.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713925813350.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713925813350.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713925813350.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713925813350.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713925813350.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713925813350.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370713925813350.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547370713925813350.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370713925813350.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370713925813350.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370713925813350.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-547370713925813350.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713925813350.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713925813350.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370713925813350.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-547370713925813350.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370713925813350.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370713925813350.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370713925813350.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713925813350.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713925813350.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370713925813350.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370713925813350.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-547370713925813350.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370713925813350.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370713925813350.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370713925813350.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370713925813350.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370713925813350.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713925813350.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713925813350.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370713925813350.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370713925813350.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370713925813350 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547370713925813350 .gp-relative{position:relative}.gps-547370713925813350 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713925813350 .gp-mb-0{margin-bottom:0}.gps-547370713925813350 .gp-block{display:block}.gps-547370713925813350 .gp-flex{display:flex}.gps-547370713925813350 .gp-inline-flex{display:inline-flex}.gps-547370713925813350 .gp-grid{display:grid}.gps-547370713925813350 .\!gp-hidden{display:none!important}.gps-547370713925813350 .gp-hidden{display:none}.gps-547370713925813350 .gp-max-w-full{max-width:100%}.gps-547370713925813350 .gp-flex-none{flex:none}.gps-547370713925813350 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713925813350 .gp-flex-col{flex-direction:column}.gps-547370713925813350 .gp-items-center{align-items:center}.gps-547370713925813350 .gp-justify-center{justify-content:center}.gps-547370713925813350 .gp-gap-y-0{row-gap:0}.gps-547370713925813350 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713925813350 .gp-duration-200{transition-duration:.2s}.gps-547370713925813350 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370713925813350 .tablet\:gp-block{display:block}.gps-547370713925813350 .tablet\:\!gp-hidden{display:none!important}.gps-547370713925813350 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547370713925813350 .mobile\:gp-block{display:block}.gps-547370713925813350 .mobile\:\!gp-hidden{display:none!important}.gps-547370713925813350 .mobile\:gp-hidden{display:none}}.gps-547370713925813350 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370713925813350 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370713925813350 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370713925813350 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="glQdww2t5b" data-id="glQdww2t5b"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-l);--pl:var(--g-s-s);--pb:var(--g-s-l);--pr:var(--g-s-s);--pt-mobile:var(--g-s-3xl);--pb-mobile:var(--g-s-3xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="glQdww2t5b gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2MN0Ys64k gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gPFS22OxY5" data-id="gPFS22OxY5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:18px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPFS22OxY5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyV_OS9x5v gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAWARwOYY-" data-id="gAWARwOYY-"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:sticky;--mb:var(--g-s-l);--mb-mobile:var(--g-s-l);--pb-mobile:0px;--top:80px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAWARwOYY- gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYi3XdEfVQ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPz1-r5vvb">
    <div
      parentTag="Col"
        class="gPz1-r5vvb "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggPz1-r5vvb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5pk6frrTe">
    <div
      parentTag="Col"
        class="g5pk6frrTe "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:120%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg5pk6frrTe_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghtI5SBted">
    <div
      parentTag="Col"
        class="ghtI5SBted "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghtI5SBted_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEMmQfWkqj">
    <div
      parentTag="Col"
        class="gEMmQfWkqj "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEMmQfWkqj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKGpVF5CRD">
    <div
      parentTag="Col"
        class="gKGpVF5CRD "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggKGpVF5CRD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRDOJ9Vnc6">
    <div
      parentTag="Col"
        class="gRDOJ9Vnc6 "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggRDOJ9Vnc6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggtw6-tZvF">
    <div
      parentTag="Col"
        class="ggtw6-tZvF "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.gggtw6-tZvF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaYQpnok_x">
    <div
      parentTag="Col"
        class="gaYQpnok_x "
        style="--ta:left;--bs:solid;--bw:0px 0px 1px 0px;--bc:#838383;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-l);--pb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaYQpnok_x_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdvrSAa9x2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKAEnyYB2R" data-id="gKAEnyYB2R"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKAEnyYB2R gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gs-Ef8k1wt gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gi7a5sv9vH">
    <div
      parentTag="Col"
        class="gi7a5sv9vH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggi7a5sv9vH_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guWRA75X3t">
    <div
      parentTag="Col"
        class="guWRA75X3t "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;overflow:hidden"
        ><p>This Privacy Policy delineates the types of personal information we consider as any data associated with an identified or identifiable individual, in accordance with the legal stipulations of your country or region of residence.</p><p>1.1 We Collect Personal Data When You Use Our Website, App, and Products</p><p>As you engage with our website, we gather various personal data to facilitate the provision of our services. For instance:</p><ul><li>User name and log-in credentials, if you create an account with us.</li><li>IP address (we also may derive your approximate location from your IP address).</li><li>Profile photo, Image, Photographs and Audio, if you choose to provide one.</li><li>Upon purchasing products from our website, we collect and utilize your name, phone number, address, and email address to process your order and to keep you informed about notifications, confirmations, updates, product announcements, etc.. We may also use this information to establish an account for you. For residents of the European Economic Area ("EEA"), this data processing is conducted under Article 6.1(b) of the General Data Protection Regulation ("GDPR"), based on the necessity for the performance of a contract.</li><li>By subscribing to our mailing list or newsletter, your email address is included in our contact database. For EEA residents, this processing is grounded in Article 6.1(a) of the GDPR, predicated on the consent of the data subject.</li><li>When you communicate with us via email to partake in surveys, seek customer support, or submit information through our website, we may collect your email and other personal data you provide, such as your name, phone number, and address, to address your inquiries and requests, offer customer service, solicit feedback, and maintain communication regarding your use of our services. For EEA residents, this data processing is based on Article 6.1(a) of the GDPR, relying on the consent of the data subject.</li><li>In instances where you seek an exchange or refund, we may collect supplementary personal data regarding payment details and the reasons for your request. For EEA residents, such data processing is executed under Article 6.1(b) of the GDPR, necessary for the fulfillment of a contract.</li><li>As you navigate our website, we may collect data on your browsing activities to enhance the website's performance and design. For EEA residents, this processing is carried out under Article 6.1(d) of the GDPR, justified by the legitimate interests of the controller.</li><li>Utilization of public comment sections or interactive features on our website may lead to the collection of any information you choose to provide. For EEA residents, this processing is in accordance with Article 6.1(a) of the GDPR, based on the consent of the data subject.</li><li>Device details about the computer or mobile device(s) you use to access our Services, such as device model, operating system, browser type, language settings, and internet service provider.</li><li>Connected Product settings, such as temperature unit, weight unit, and length unit selected for your Connected Product, as well as any parameter presets or stores that you have configured for your Connected Product.</li><li>Connected Product operational state, such as whether your device is in use.</li></ul><p>Connected Product usage data, such as date and time records of usage of your Connected Product, including cooking history using the Connected Product; and associated performance data (such as crash data).</p><ul><li>Device details about the computer or mobile device(s) you use to access our Services, such as device model, operating system, browser type, language settings, and internet service provider.</li></ul><p>We collect these types of information when you use our Services, such as when you visit our Website, purchase or register a Connected Product, or download our application. The Connected Product collects and records Connected Product data, Connected Product operational state, and Connected Product usage data, each as described above, on an ongoing basis whether or not the Connected Product is connected to the internet or in active use. This data (including any data collected while the Connected Product has been offline) is automatically transmitted to our servers if you connect the Connected Product to the internet.</p><p>1.2 How We Use Cookies and Similar Technologies</p><p>In alignment with standard web service practices, upon your utilization of our website, we automatically acquire and document specific details from your browser on our server logs. We employ a range of techniques, including beacons and cookies, to gather your personal information. The personal information we collect through these automated means may encompass, among other things, your IP address, cookie-related data, a distinctive device or user identifier, the type of browser and system you are using, the content and pages you access on our site, and the "referring URL" (the page from which you were directed to our website). For a more comprehensive understanding, please refer to our detailed cookie policy.</p><p>1.3 We Collect Personal Data from Third Parties</p><p>Subject to the constraints of applicable legislation, we may amalgamate personal information with additional personal data gathered from your engagement with our services, as well as data obtained from other corporations or publicly accessible personal information.</p><p>1.4 We Aggregate and Anonymize Personal Data</p><p>We may utilize the personal data we collect in an aggregated fashion. This process involves merging personal data pertaining to our users with that of other individuals in a manner that ensures anonymity, thereby creating aggregated data sets. Such aggregated data sets do not contain or constitute personal information. In instances where we delegate non-Meraki entities to anonymize or aggregate data on our behalf, we will ensure the protection of your personal data through contractual agreements that oversee their data processing activities. We commit to not disclosing your identity, except as permitted by this Privacy Policy. We refrain from selling personalized demographic or user information.</p><p>1.5 Public Comment and User Generated Content</p><p>Our official website offers public comment features and interactive components designed to facilitate the sharing of user-generated content on our website and application. Please be advised that any information you choose to post or disclose using these features will be rendered public, accessible to other users of our services and the general public at large. We strongly encourage you to exercise caution when deciding to disclose your personal information or any other details. We may utilize and disclose feedback provided by you on our website, provided that such feedback is not linked to your personal data. With your consent, we may also display your first and last name alongside your feedback on our site. We will collect any information included in such feedback and handle the personal data in accordance with the guidelines set forth in this Policy.</p></div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g1O8ZdInYv" data-id="g1O8ZdInYv"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g1O8ZdInYv gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXGUDJwe7O gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfBtJxHnic">
    <div
      parentTag="Col"
        class="gfBtJxHnic "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggfBtJxHnic_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpforR9LRO">
    <div
      parentTag="Col"
        class="gpforR9LRO "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggpforR9LRO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEyug_ArL7">
    <div
      parentTag="Col"
        class="gEyug_ArL7 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggEyug_ArL7_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g78t3p7hxd">
    <div
      parentTag="Col"
        class="g78t3p7hxd "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg78t3p7hxd_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gt_si_Mhyt">
    <div
      parentTag="Col"
        class="gt_si_Mhyt "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-tablet:16px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggt_si_Mhyt_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnrMzJFbzq">
    <div
      parentTag="Col"
        class="gnrMzJFbzq "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnrMzJFbzq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsnppdOiQI">
    <div
      parentTag="Col"
        class="gsnppdOiQI "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsnppdOiQI_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs8S0nJAaY">
    <div
      parentTag="Col"
        class="gs8S0nJAaY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        ><p>You have the option to request access to and rectification of the personal data we maintain. Should you request the deletion of personal data, it will be permanently removed, and we will cease to retain that data in any format. If you decide to halt any further collection or use of your personal data, or to delete your email address, you may opt to permanently delete your Account by contacting us at <a href="mailto:hello@merakitech.com"><u>hello@merakitech.com</u></a>. Please note that by permanently deleting your Account, you will impair most of the advanced functionalities of the Meraki product or services. To restore functionality at a later date, you may establish a new account. You may also choose to opt out of receiving emails from us at any time by following the unsubscribe instructions provided in those emails.</p><p>&nbsp;</p><p>Furthermore, depending on the applicable law, you have the right to lodge a complaint or object to our collection and use of your information at any time, or to demand a review, transfer, alteration, or deletion of the personal data we have collected and retained. We will address your request to exercise any of these rights within the timeframe stipulated by the relevant laws. You can exercise these rights, raise concerns, or seek additional information about the use of your personal data by getting in touch with us.</p><p>&nbsp;</p><p>5.1 Your rights under GDPR or Data Protection Act 2018</p><p>If you are a resident in the EEA or the United Kingdom, you have the following rights:</p><ul><li>Right to Access. You may request access to the personal data we process about you;</li><li>Right to Correct and Delete. You may request us to correct, update, shield or delete your personal data in our records;</li><li>Right to Request a Copy. You may request a copy of the personal data we have processed about you. We can - on your request - send this copy to another party, so you don’t have to send the personal data yourself;</li><li>Object to processing. You have the right to object to the processing of your personal data and request us to cease processing of it if, for example, this data is being processed for the purpose of direct marketing or where we are relying on a legitimate interest (or those of a third party). In some cases, we may demonstrate that we have compelling legitimate grounds to process your data which override your rights and freedoms.</li><li>Restrict the processing. This enables you to ask us to suspend the processing of your personal data in the following scenarios: (a) if you want us to establish the accuracy of the personal data; (b) where our use of the data is unlawful but you do not want us to erase it; (c) where you require us to hold the data even if we no longer need it as you require it to establish, exercise or defend legal claims; or (d) you have objected to our use of your data but we need to verify whether we have overriding legitimate grounds to use it.</li><li>Right to Complain. You may file a complaint against processing your personal data. And you may file a complaint if you are under the impression that we process your data unlawfully;</li><li>Withdraw Your Consent. You may always withdraw your consent to process your personal data. In that case, we will no longer process your personal data for the purpose for which consent is necessary.</li><li>Requesting channels. Please email us at <a href="mailto:hello@merakitech.com"><u>hello@merakitech.com</u></a> to submit your data request.</li></ul><p>5.2 California Privacy Rights</p><p>Meraki adopted this section to comply with the California Consumer Privacy Act of 2018 (“CCPA”) and the California Privacy Rights Act (“CPRA”), and applies solely to residents of the State of California (“California Consumers”). Without limiting the foregoing, this section provides California Consumers with the disclosures and notices required under the CCPA. Certain exceptions and limitations may apply to a California Consumer’s rights and Meraki’s obligations under the CCPA.</p><ul><li>No Sale of Personal Data. If Meraki ever chooses to sell personal data, you would have the right to opt out of the sale of your personal data.</li><li>Right to Disclosure. California Consumers have the right to request that we disclose certain data about our collection and use of your personal data over the past 12 months.</li><li>Right to Access. You have the right to request that we provide you with access to specific pieces of personal data we have collected about you over the past 12 months (also called a “data portability request”).</li><li>Right to Deletion. You have the right to request that we delete any of your personal data that we collected from you and retained, with certain exceptions.</li><li>Right to Correct. You have the right to request us to correct inaccurate personal data if and when you learn that we maintain inaccurate personal data about you.</li><li>Right Against Discrimination. You have the right not to be discriminated against for exercising any of the rights described in this section. We will not discriminate against you for exercising your right.</li><li>Right to Limit the Use of Sensitive Personal Information. Some of personal data we collect and use in accordance with purposes described in this Privacy Policy might fall into the scope of sensitive personal data as defined by CPRA. The use of such sensitive personal data will be limited to that use that is necessary for us to provide Services to you or perform our duties as required by CCPA and CPRA. If we may use your sensitive personal data for any other purpose, we will inform you and you have the right to limit the use of your sensitive personal data. Upon your request, we will not use your sensitive personal data for the proposed additional purpose.</li><li>Submit a Consumer Privacy Request. To exercise any of the above rights, please submit a verifiable consumer privacy request to Meraki by email at <a href="mailto:hello@merakitech.com"><u>hello@merakitech.com</u></a>.</li><li>Verification. We cannot respond to your request or provide you with personal data unless we can verify your identity and your authority to make the request and confirm that the personal data relates to you.</li><li>Authorized Agent. You may make a verifiable consumer request on behalf of your minor child. Otherwise, only you, or a person you have designated in writing as your authorized agent or who is registered with the California Secretary of State to act on your behalf, or to whom you have provided power of attorney pursuant to California Probate Code sections 4000 to 4465 (“Authorized Agent”) may make a verifiable consumer request related to your personal data.</li><li>Meraki’s Response. We endeavor to respond to a verifiable consumer request within 45 days of receipt. If we require more time, we will notify you in writing of the reason and extension period. We will deliver our written response by mail or electronically, at your option. Any disclosures we provide will only cover the 12-month period preceding receipt of the verifiable consumer request. If we cannot comply with part or all of your request, we will explain the reasons in our response. We do not charge a fee to process or respond to your verifiable consumer privacy request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.</li><li>Other California Privacy Rights. California Civil Code sections 1798.83-1798.84 (the Shine the Light Act) entitles California residents to request disclosure regarding personal data sharing with affiliates and/or third parties for marketing purposes. If you are a California resident and you would like to request a copy of this notice, please contact us at <a href="mailto:hello@merakitech.com"><u>hello@merakitech.com</u></a> with the subject line “Request for California Privacy Data.”</li></ul><p>5.3 Nevada Privacy Rights</p><p>If you are a Nevada resident and have provided us with any personal identifying data, you may opt-out of sharing your data with third parties if you submit an opt-out request to the following email address: <a href="mailto:hello@merakitech.com"><u>hello@merakitech.com</u></a>. Please note we do not sell any of your personal data for profit. We do share some data with contracted third parties in order to provide better services and advertising to you. Please allow 60 days for completion of such request.</p></div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8imi1p8aQ">
    <div
      parentTag="Col"
        class="g8imi1p8aQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg8imi1p8aQ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geHfmhhJAk">
    <div
      parentTag="Col"
        class="geHfmhhJAk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggeHfmhhJAk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzMYkLe7nx">
    <div
      parentTag="Col"
        class="gzMYkLe7nx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzMYkLe7nx_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grS5j-OAUx">
    <div
      parentTag="Col"
        class="grS5j-OAUx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggrS5j-OAUx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAOb7EpB73">
    <div
      parentTag="Col"
        class="gAOb7EpB73 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.5px;--size:23px;--size-tablet:18px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#bcbcbc;--tt:capitalize;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggAOb7EpB73_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqeW99yiEE">
    <div
      parentTag="Col"
        class="gqeW99yiEE "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#bcbcbc;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggqeW99yiEE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gUXPDCVMyY" data-id="gUXPDCVMyY"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUXPDCVMyY gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glmxmxPnl- gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:var(--g-s-xxs);--pb:var(--g-s-xxs)" class="gSOWM3kXSq ">
      
    <div
    data-id="gSOWM3kXSq"
      class="gp-flex gp-justify-center"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#6d3212"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:285px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:285px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547370713925813350 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370713909036134&sectionId=547370713925813350)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggPz1-r5vvb_text","label":"ggPz1-r5vvb_text","default":"<p>1. How We Collect and Use Personal Data</p>"},{"type":"html","id":"gg5pk6frrTe_text","label":"gg5pk6frrTe_text","default":"<p>2. How We Share Personal Data We Collect</p>"},{"type":"html","id":"gghtI5SBted_text","label":"gghtI5SBted_text","default":"<p>3. Sharing Personal Information</p>"},{"type":"html","id":"ggEMmQfWkqj_text","label":"ggEMmQfWkqj_text","default":"<p>4. Behavioural Advertising</p>"},{"type":"html","id":"ggKGpVF5CRD_text","label":"ggKGpVF5CRD_text","default":"<p>5. Using Personal Information</p>"},{"type":"html","id":"ggRDOJ9Vnc6_text","label":"ggRDOJ9Vnc6_text","default":"<p>6. Minors’ Personal Data</p>"},{"type":"html","id":"gggtw6-tZvF_text","label":"gggtw6-tZvF_text","default":"<p>7. Privacy Policy Updates</p>"},{"type":"html","id":"ggaYQpnok_x_text","label":"ggaYQpnok_x_text","default":"<p>8. How You Can Contact Us</p>"},{"type":"html","id":"ggi7a5sv9vH_text","label":"ggi7a5sv9vH_text","default":"1. How We Collect and Use Personal Data"},{"type":"html","id":"ggfBtJxHnic_text","label":"ggfBtJxHnic_text","default":"2. How We Share Personal Data We Collect"},{"type":"html","id":"ggpforR9LRO_text","label":"ggpforR9LRO_text","default":"<p>We are dedicated to safeguarding personal data that could identify you, particularly when you wish to maintain its confidentiality. We will disclose your personal data exclusively under the following circumstances:</p><p>&nbsp;</p><p><strong>Service Providers of Meraki</strong></p><p>Meraki engages a number of service providers to assist in the operation of our services, which may include vendors and payment processors. Access to certain personal data may be granted to these providers to perform their designated tasks, and we ensure that they are obligated to respect your privacy and personal data. The third-party service providers currently utilized by Meraki include:</p><ul><li>Platform service vendors, such as Shopify Inc., which hosts our website and provides the online e-commerce platform facilitating the sale of our products. Your personal data may be stored and managed through Shopify's data storage systems. For further details, you may review Shopify's <a href=\"https://www.shopify.com/legal/terms\" target=\"_blank\"><u>Terms of Service</u></a> or <a href=\"https://www.shopify.com/legal/privacy\" target=\"_blank\"><u>Privacy Policy</u></a>.</li><li>Delivery service vendors, with whom we may share your contact information, including address and phone number, to ensure the delivery of products.</li><li>Email service vendors, including MailChimp, Klaviyo, Shopify Mail, with whom we may share your email address to facilitate the sending of marketing messages, notifications, confirmations, updates, product announcements, and security alerts.</li><li>Analytics service vendors, utilizing tools like Zalify, which enables Meraki to analyze general usage patterns of our customers, including daily and weekly user metrics.</li></ul><p><strong>Partners of Meraki</strong></p><p>We may also share certain personal data with our partners, which may include a parent company, subsidiaries, affiliated companies, or joint venture partners, ensuring that they too are committed to upholding the privacy of your personal data.</p><p>&nbsp;</p><p><strong>In the Event of Merger or Sale</strong></p><p>In the event that Meraki undergoes a merger, acquisition, bankruptcy, or any form of sale of some or all of its business assets, your personal data may be transferred as part of the business transaction. This processing is based on your consent, if we do not provide Services to you and if you are located in the EU.</p><p>Where the processing activity is based on your consent, you have the right to withdraw your consent at any time. The revocation of your consent will, however, not affect the lawfulness of any processing based on your consent before its withdrawal.</p><p>&nbsp;</p><p>Where the processing activity is based on our legitimate interests, the interests we pursue are to facilitate and enable us to fulfil our internal business purposes, to improve, modify and market our products and services and to enhance user experience.</p><p>&nbsp;</p><p><strong>Legal Obligations and Protection from Harm</strong></p><p>Meraki may disclose personal data when we have a genuine belief that such access, use, preservation, or disclosure is reasonably necessary to: (a) comply with any legal or regulatory requirements, legal process, or enforceable governmental request; (b) enforce or investigate potential violations of the Terms of Use; (c) detect, prevent, or respond to fraud, security, or technical issues; or (d) protect the rights, property, or safety of Meraki, its users, or the public from harm.</p>"},{"type":"html","id":"ggEyug_ArL7_text","label":"ggEyug_ArL7_text","default":"3. Our Data Security and Storage Practices"},{"type":"html","id":"gg78t3p7hxd_text","label":"gg78t3p7hxd_text","default":"<p>We are dedicated to safeguarding Meraki and our users from unauthorized access or alteration, disclosure, or destruction of the personal data we possess. Meraki adheres to industry standards and best practices to protect your personal data from unauthorized access, use, and disclosure. For instance, we store the personal data we collect on computer systems with restricted access that are located in secure facilities. When transmitting highly confidential personal data over the Internet, we employ encryption methods, such as the Secure Socket Layer (SSL) protocol, to protect it. Please be aware that despite our efforts, no security measures are entirely foolproof. Regrettably, we cannot ensure that any method of data transmission will be completely secure against interception or misuse.</p>"},{"type":"html","id":"ggt_si_Mhyt_text","label":"ggt_si_Mhyt_text","default":"4. How We Store and Transfer Your Personal Data"},{"type":"html","id":"ggnrMzJFbzq_text","label":"ggnrMzJFbzq_text","default":"<p>Meraki stores and processes personal data in databases that are hosted in the country or region in accordance with applicable laws. We will retain your personal data only for as long as it is necessary to fulfill the purposes for which it was collected and to the extent permitted or required by law.</p><p>In certain situations, we may transfer your personal data to other countries or regions, or allow entities outside of your country or region to access your personal data, in compliance with the law. Any such transfer of your personal data will be conducted in accordance with applicable legal requirements.</p>"},{"type":"html","id":"ggsnppdOiQI_text","label":"ggsnppdOiQI_text","default":"5. Your Choices Regarding the Use of Your Personal Data"},{"type":"html","id":"gg8imi1p8aQ_text","label":"gg8imi1p8aQ_text","default":"6. Minors’ Personal Data"},{"type":"html","id":"ggeHfmhhJAk_text","label":"ggeHfmhhJAk_text","default":"<p>Our Services are designed for adults, not children. As such, our Services are not intended for children under 16 years of age. No one under age 16 may provide any personal data to us or in our Services. If you are under 16, do not use or provide any data in our Services, make any purchases through our website, use any of the interactive or public comment features of this website or provide any data about yourself to us, including your name, address, telephone number, email address, or any screen name or user name you may use. If we learn we have collected or received personal data from a child under 16 without verification of parental consent, we will delete that data. If you believe we might have any data from or about a child under 16, please contact us at <a href=\"mailto:hello@merakitech.com\">hello@merakitech.com</a>.</p>"},{"type":"html","id":"ggzMYkLe7nx_text","label":"ggzMYkLe7nx_text","default":"7. Privacy Policy Updates"},{"type":"html","id":"ggrS5j-OAUx_text","label":"ggrS5j-OAUx_text","default":"<p>We periodically revise this Privacy Policy to align with updates in our Services and to incorporate customer feedback. Any modifications to our Services or changes in how Meraki utilizes your personal data will be documented in this Privacy Policy. Upon updating this Privacy Policy, we will update the effective date indicated at the beginning of this document. Should there be significant modifications to this Privacy Policy or in our use of your personal data, we will inform you by either prominently displaying a notice of such changes before they take effect or by sending you a direct notification. We advise you to regularly review this Privacy Policy to stay informed about how Meraki is safeguarding your personal data.</p>"},{"type":"html","id":"ggAOb7EpB73_text","label":"ggAOb7EpB73_text","default":"8. How You Can Contact Us"},{"type":"html","id":"ggqeW99yiEE_text","label":"ggqeW99yiEE_text","default":"<p>Should you have inquiries regarding this Privacy Policy or any privacy-related issues, or if you have concerns about your privacy, or wish to request access to or deletion of your personal data, please reach out to us at <a href=\"mailto:hello@merakitech.com\"><u>hello@merakitech.com</u></a>.</p><p>You may also write to us at:<br>Merakitech Limited<br>Room 5003, 5th building, No.45 Hoi Yuen Road, Kwun Tong District, Hong Kong SAR China</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
