

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370712097096806.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547370712097096806.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370712097096806.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370712097096806.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370712097096806.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370712097096806.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370712097096806.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370712097096806.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370712097096806.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370712097096806.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370712097096806.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370712097096806.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370712097096806.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370712097096806.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370712097096806.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370712097096806.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370712097096806.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370712097096806.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370712097096806.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370712097096806.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370712097096806.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370712097096806.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370712097096806.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370712097096806.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370712097096806.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370712097096806.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370712097096806.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370712097096806.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547370712097096806.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370712097096806.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370712097096806.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370712097096806.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370712097096806.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370712097096806.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370712097096806.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370712097096806.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370712097096806.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547370712097096806.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370712097096806.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-547370712097096806.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370712097096806.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370712097096806.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-547370712097096806.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370712097096806.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547370712097096806.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-547370712097096806.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370712097096806.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370712097096806.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370712097096806.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370712097096806.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370712097096806.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-547370712097096806.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-547370712097096806.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370712097096806.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370712097096806.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547370712097096806.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-547370712097096806.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370712097096806.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370712097096806.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370712097096806.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-547370712097096806.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370712097096806.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370712097096806.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-547370712097096806.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370712097096806.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-547370712097096806.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370712097096806.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370712097096806 .-gp-translate-x-1\/2,.gps-547370712097096806 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547370712097096806 .gp-absolute{position:absolute}.gps-547370712097096806 .gp-relative{position:relative}.gps-547370712097096806 .gp-left-0{left:0}.gps-547370712097096806 .gp-left-1\/2{left:50%}.gps-547370712097096806 .gp-top-0{top:0}.gps-547370712097096806 .gp-top-1\/2{top:50%}.gps-547370712097096806 .gp-z-1{z-index:1}.gps-547370712097096806 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370712097096806 .gp-mb-0{margin-bottom:0}.gps-547370712097096806 .gp-flex{display:flex}.gps-547370712097096806 .gp-grid{display:grid}.gps-547370712097096806 .gp-contents{display:contents}.gps-547370712097096806 .\!gp-hidden{display:none!important}.gps-547370712097096806 .gp-hidden{display:none}.gps-547370712097096806 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-547370712097096806 .gp-h-auto{height:auto}.gps-547370712097096806 .gp-h-full{height:100%}.gps-547370712097096806 .gp-w-14{width:56px}.gps-547370712097096806 .gp-w-5{width:20px}.gps-547370712097096806 .gp-w-full{width:100%}.gps-547370712097096806 .gp-max-w-full{max-width:100%}.gps-547370712097096806 .gp-flex-none{flex:none}.gps-547370712097096806 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-547370712097096806 .-gp-translate-x-1\/2,.gps-547370712097096806 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547370712097096806 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-547370712097096806 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370712097096806 .gp-flex-col{flex-direction:column}.gps-547370712097096806 .gp-items-center{align-items:center}.gps-547370712097096806 .\!gp-justify-center{justify-content:center!important}.gps-547370712097096806 .gp-justify-center{justify-content:center}.gps-547370712097096806 .gp-gap-y-0{row-gap:0}.gps-547370712097096806 .gp-overflow-hidden{overflow:hidden}.gps-547370712097096806 .gp-rounded{border-radius:4px}.gps-547370712097096806 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-547370712097096806 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-547370712097096806 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-547370712097096806 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370712097096806 .gp-duration-200{transition-duration:.2s}.gps-547370712097096806 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-547370712097096806 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-547370712097096806 .tablet\:gp-relative{position:relative}.gps-547370712097096806 .tablet\:\!gp-hidden{display:none!important}.gps-547370712097096806 .tablet\:gp-hidden{display:none}.gps-547370712097096806 .tablet\:gp-h-auto{height:auto}.gps-547370712097096806 .tablet\:gp-flex-none{flex:none}.gps-547370712097096806 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-547370712097096806 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-547370712097096806 .mobile\:gp-relative{position:relative}.gps-547370712097096806 .mobile\:\!gp-hidden{display:none!important}.gps-547370712097096806 .mobile\:gp-hidden{display:none}.gps-547370712097096806 .mobile\:gp-h-auto{height:auto}.gps-547370712097096806 .mobile\:gp-flex-none{flex:none}.gps-547370712097096806 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-547370712097096806 .mobile\:\!gp-justify-center{justify-content:center!important}}@media (max-width:1024px){.gps-547370712097096806 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-547370712097096806 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-547370712097096806 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370712097096806 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370712097096806 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370712097096806 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkzakeqs-l" data-id="gkzakeqs-l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-mobile:21px;--pb-mobile:0px;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkzakeqs-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSTmNjDSsc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbpxIEJXS9" data-id="gbpxIEJXS9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbpxIEJXS9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7M8KCfoyV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAO5yXm6b5" data-id="gAO5yXm6b5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAO5yXm6b5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6oEWKAb__ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrDktti9h">
    <div
      parentTag="Col"
        class="gLrDktti9h "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--mb-tablet:0px;--pb-tablet:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:32px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLrDktti9h_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gEopcrXc_B" data-id="gEopcrXc_B"
        style="--bs:solid;--bw:2px 0px 2px 0px;--bc:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--mb-mobile:0px;--pb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEopcrXc_B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gZ25BstWf8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEyHtgpZxh">
    <div
      parentTag="Col"
        class="gEyHtgpZxh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--mb:var(--g-s-l);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEyHtgpZxh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEyHtgpZxh">
        .gEyHtgpZxh {

}
.gEyHtgpZxh b, .gEyHtgpZxh strong {
    font-weight: 600;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g71j8BjgLq gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw8d7CqeGa">
    <div
      parentTag="Col"
        class="gw8d7CqeGa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--pt-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw8d7CqeGa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw8d7CqeGa">
        .gw8d7CqeGa {

}
.gw8d7CqeGa b, .gw8d7CqeGa strong {
    font-weight: 600;
}
      </style>
    
    </div>
    </div>
   
    <div
    
     data-id="gEBQ3WK7nK"
    role="presentation"
    class="gp-group/image gEBQ3WK7nK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:24px;--pb:24px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guhsViDwY8">
    <div
      parentTag="Col"
        class="guhsViDwY8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--pt:var(--g-s-s);--pb:var(--g-s-s);--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguhsViDwY8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gfal1rrlhd" data-id="gfal1rrlhd"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfal1rrlhd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPU7P2Wd_k gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:auto;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/9cedfd18f8d54db9bf7dd4ed31da8a46.mp4","videoType":"html5"},"tablet":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/9cedfd18f8d54db9bf7dd4ed31da8a46.mp4","videoType":"html5"},"mobile":{"attachment":"scroll","color":"bg-2","lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/9cedfd18f8d54db9bf7dd4ed31da8a46.mp4","videoType":"html5"}},"uid":"g5NHmrAanQ","enableParallax":false,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"1/1","mobile":"1/1"}}'
        gp-href=""
        
        class="g5NHmrAanQ gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--aspect:1/1;--aspect-mobile:1/1"
        data-id="g5NHmrAanQ"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center"
        style="--h:auto;--h-tablet:auto;--h-mobile:auto;--aspect:1/1;--aspect-mobile:1/1;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        title
        class="adaptive-hero-banner"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-mobile:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:auto;--w:100%;--w-tablet:100%;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background"
              style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-g5NHmrAanQ"
      class=" gp-w-full gp-relative  lazy"
      style="--aspect:1/1;--aspect-mobile:1/1"
      
      loop
      muted
      autoplay
      title="Video"
      preload="metadata"
      data-src=""
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
      style="--aspect:1/1;--aspect-mobile:1/1"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
    >
      <img
        id="video-thumbnail"
        src=""
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
            
            </div></div>
          </div>
          
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:center;--pc-tablet:center;--pc-mobile:center;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-relative mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--d-mobile:none"
      class="gqFMdti3ZD gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQ-E_z-lGZ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0d3ZQM3dQ">
    <div
      parentTag="Col"
        class="g0d3ZQM3dQ "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-s);--pb:var(--g-s-s);--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0d3ZQM3dQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g4iv18VeQe">
    <div
      parentTag="Col"
        class="g4iv18VeQe "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-s);--pb:var(--g-s-s);--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg4iv18VeQe_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl-cuSX7_4">
    <div
      parentTag="Col"
        class="gl-cuSX7_4 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:var(--g-s-s);--pb:var(--g-s-s);--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:15px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggl-cuSX7_4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-547370712097096806 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=547370712080319590&sectionId=547370712097096806)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLrDktti9h_text","label":"ggLrDktti9h_text","default":"Hard Tooling Manufacturing: A Milestone in Precision and Quality"},{"type":"html","id":"ggEyHtgpZxh_text","label":"ggEyHtgpZxh_text","default":"<p>By Dolly&nbsp;</p>"},{"type":"html","id":"ggw8d7CqeGa_text","label":"ggw8d7CqeGa_text","default":"<p>Published: May, 2024</p>"},{"type":"html","id":"gguhsViDwY8_text","label":"gguhsViDwY8_text","default":"<p>As April 2024 unfolds, we at Meraki are thrilled to reach a pivotal stage in our journey: hard tooling manufacturing. This phase marks our transition from prototypes to mass production.</p><p>Hard tooling manufacturing involves creating specialized tools and molds for large-scale production. Unlike earlier stages focused on developing and refining prototypes, this phase ensures that every machine meets our exacting standards of precision and quality.</p><p>&nbsp;</p><p>Our journey has been fueled by passion, dedication, and an unwavering pursuit of excellence. Every component of our espresso machine has been meticulously engineered. Now, with hard tooling, we can replicate this precision on a larger scale. The molds and tools created at this stage ensure consistent accuracy, so every machine operates flawlessly, delivering the perfect espresso experience.</p>"},{"type":"html","id":"gg0d3ZQM3dQ_text","label":"gg0d3ZQM3dQ_text","default":"<p>In preparation for this phase, our engineering team conducted exhaustive tests and made numerous adjustments to fine-tune every aspect of the machine's design. This rigorous process guarantees that the tools and molds we create will produce parts that meet our high standards for durability and performance.</p>"},{"type":"html","id":"gg4iv18VeQe_text","label":"gg4iv18VeQe_text","default":"<p>With hard tooling manufacturing now in full swing, we're closer than ever to turning our vision into reality: empowering individuals to transform their daily coffee routines into extraordinary experiences. This milestone marks the result of countless hours of engineering and design, showcasing our unwavering commitment to quality and innovation.</p>"},{"type":"html","id":"ggl-cuSX7_4_text","label":"ggl-cuSX7_4_text","default":"<p>As we forge ahead, our mission is clear: to create an espresso machine that perfectly marries passion with precision. We're thrilled to share the fruits of our labor with the world and invite you to join us on this journey. Together, we can transform every coffee moment into something special, celebrating the art and science of exceptional coffee making.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
