
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584660074182476554.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584660074182476554.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584660074182476554.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584660074182476554.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584660074182476554.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584660074182476554.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584660074182476554.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584660074182476554.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584660074182476554.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584660074182476554.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584660074182476554.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584660074182476554.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584660074182476554.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584660074182476554.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584660074182476554.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584660074182476554.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584660074182476554.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584660074182476554.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584660074182476554.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584660074182476554.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584660074182476554.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584660074182476554.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584660074182476554.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584660074182476554.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584660074182476554.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584660074182476554.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584660074182476554.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584660074182476554.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584660074182476554.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584660074182476554.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584660074182476554.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-584660074182476554.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584660074182476554.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584660074182476554.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584660074182476554.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584660074182476554.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584660074182476554.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584660074182476554.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584660074182476554.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584660074182476554.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584660074182476554.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584660074182476554.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584660074182476554.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584660074182476554.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584660074182476554.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584660074182476554.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584660074182476554.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584660074182476554.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584660074182476554.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584660074182476554.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584660074182476554.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584660074182476554.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584660074182476554.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584660074182476554.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584660074182476554.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584660074182476554.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-584660074182476554.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584660074182476554.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-584660074182476554.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584660074182476554.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584660074182476554.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584660074182476554.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584660074182476554.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584660074182476554.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584660074182476554.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584660074182476554.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584660074182476554.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-584660074182476554.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584660074182476554.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584660074182476554.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584660074182476554.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584660074182476554.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584660074182476554.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584660074182476554.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584660074182476554.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584660074182476554.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584660074182476554.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584660074182476554.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584660074182476554 .gp-fixed{position:fixed}.gps-584660074182476554 .gp-relative{position:relative}.gps-584660074182476554 .gp-top-\[27px\]{top:27px}.gps-584660074182476554 .gp-z-\[100\]{z-index:100}.gps-584660074182476554 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584660074182476554 .gp-mb-0{margin-bottom:0}.gps-584660074182476554 .gp-inline-block{display:inline-block}.gps-584660074182476554 .gp-flex{display:flex}.gps-584660074182476554 .gp-inline-flex{display:inline-flex}.gps-584660074182476554 .gp-grid{display:grid}.gps-584660074182476554 .gp-contents{display:contents}.gps-584660074182476554 .\!gp-hidden{display:none!important}.gps-584660074182476554 .gp-hidden{display:none}.gps-584660074182476554 .gp-h-auto{height:auto}.gps-584660074182476554 .gp-h-full{height:100%}.gps-584660074182476554 .gp-w-full{width:100%}.gps-584660074182476554 .gp-max-w-full{max-width:100%}.gps-584660074182476554 .gp-flex-none{flex:none}.gps-584660074182476554 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584660074182476554 .gp-flex-col{flex-direction:column}.gps-584660074182476554 .gp-items-center{align-items:center}.gps-584660074182476554 .gp-justify-center{justify-content:center}.gps-584660074182476554 .gp-overflow-hidden{overflow:hidden}.gps-584660074182476554 .gp-break-words{overflow-wrap:break-word}.gps-584660074182476554 .gp-rounded{border-radius:4px}.gps-584660074182476554 .\!gp-bg-none{background-image:none!important}.gps-584660074182476554 .gp-p-\[16px\]{padding:16px}.gps-584660074182476554 .gp-text-center{text-align:center}.gps-584660074182476554 .gp-text-\[14px\]{font-size:14px}.gps-584660074182476554 .gp-leading-\[0\]{line-height:0}.gps-584660074182476554 .gp-leading-normal{line-height:1.5}.gps-584660074182476554 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-584660074182476554 .gp-no-underline{text-decoration-line:none}.gps-584660074182476554 .\!gp-outline-none{outline:2px solid transparent!important;outline-offset:2px!important}.gps-584660074182476554 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074182476554 .gp-duration-200{transition-duration:.2s}.gps-584660074182476554 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074182476554 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-584660074182476554 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584660074182476554 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584660074182476554 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-584660074182476554 .tablet\:\!gp-hidden{display:none!important}.gps-584660074182476554 .tablet\:gp-hidden{display:none}.gps-584660074182476554 .tablet\:gp-h-auto{height:auto}.gps-584660074182476554 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-584660074182476554 .mobile\:\!gp-hidden{display:none!important}.gps-584660074182476554 .mobile\:gp-hidden{display:none}.gps-584660074182476554 .mobile\:gp-h-auto{height:auto}.gps-584660074182476554 .mobile\:gp-flex-none{flex:none}}.gps-584660074182476554 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584660074182476554 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584660074182476554 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584660074182476554 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584660074182476554 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584660074182476554 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#242424","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gHi9uZHwoU"}' data-id="gHi9uZHwoU" id="gHi9uZHwoU" data-same-height-subgrid-container class="gHi9uZHwoU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gBljVKMSj9 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g02JsEdf0j"}' data-id="g02JsEdf0j" id="g02JsEdf0j" data-same-height-subgrid-container class="g02JsEdf0j gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:30px;--cg-tablet:24px;--gtc:minmax(0, 3fr) minmax(0, 4fr) minmax(0, 5fr);--gtc-tablet:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfQfIZ2MLw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gO-scRq6TI"}' data-id="gO-scRq6TI" id="gO-scRq6TI" data-same-height-subgrid-container class="gO-scRq6TI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gs_V3z9kOv gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gaZuEbmlYp"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--ta:left"
      class="gp-group/image gp-relative force-publish-1758014973264 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaZuEbmlYp"
    >
      <div
        
        style="border-radius:inherit;--jc:left"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="https://ucarecdn.com/dfa3d5dd-db0c-457f-b513-0d7f8a83349d/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNTYtODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM1NiIgaGVpZ2h0PSI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiBmaWxsPSJ1cmwoI2ctMzU2LTgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzU2IiB0bz0iMzU2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://ucarecdn.com/dfa3d5dd-db0c-457f-b513-0d7f8a83349d/-/format/auto/" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNTYtODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM1NiIgaGVpZ2h0PSI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiBmaWxsPSJ1cmwoI2ctMzU2LTgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzU2IiB0bz0iMzU2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="https://ucarecdn.com/dfa3d5dd-db0c-457f-b513-0d7f8a83349d/-/format/auto/" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0zNTYtODAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjM1NiIgaGVpZ2h0PSI4MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMzU2IiBoZWlnaHQ9IjgwIiBmaWxsPSJ1cmwoI2ctMzU2LTgwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMzU2IiB0bz0iMzU2IiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="https://ucarecdn.com/dfa3d5dd-db0c-457f-b513-0d7f8a83349d/-/format/auto/"
        alt="Alt Image"
        width="100%"
        style="--aspect:auto;--objf:cover;--w:178px;--w-tablet:178px;--w-mobile:178px;--h:auto;--h-tablet:auto;--h-mobile:auto"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:left" >
        <style>[data-id="gY_sx1azS6"].gp-button-base::before, [data-id="gY_sx1azS6-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gY_sx1azS6"]:hover::before, [data-id="gY_sx1azS6-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gY_sx1azS6" dataId="gY_sx1azS6" data-state="idle" aria-label="TERMS AND CONDITIONS"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:rgba(18, 18, 18, 0);--bg:rgba(18, 18, 18, 0);--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gY_sx1azS6 gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggY_sx1azS6_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--ta:left" >
        <style>[data-id="g3eMLo76ln"].gp-button-base::before, [data-id="g3eMLo76ln-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g3eMLo76ln"]:hover::before, [data-id="g3eMLo76ln-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="g3eMLo76ln" dataId="g3eMLo76ln" data-state="idle" aria-label="PRIVACY POLICY"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:rgba(18, 18, 18, 0);--bg:rgba(18, 18, 18, 0);--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="g3eMLo76ln gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg3eMLo76ln_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    <gp-button
      gp-data='{"btnLink":{"link":"#","target":"_self"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="gCHR8swgBE"].gp-button-base::before, [data-id="gCHR8swgBE-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: transparent;
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="gCHR8swgBE"]:hover::before, [data-id="gCHR8swgBE-interaction"]:hover::before {
    
    
  }</style>
        <a
            class="gp-trigger-button-link gp-hidden"
            href=#
            target=_self
          ></a>
        <a
          data-id="gCHR8swgBE" dataId="gCHR8swgBE" data-state="idle" aria-label="RETURN & REFUND POLICY"
          
          href="#" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--pl-mobile:0px;--pr-mobile:0px;--pt-mobile:0px;--pb-mobile:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:rgba(18, 18, 18, 0);--bg:rgba(18, 18, 18, 0);--c:#FFFFFF;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
          class="gCHR8swgBE gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.ggCHR8swgBE_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gBF0iFYSNs gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gM7CWbOVWY"}' data-id="gM7CWbOVWY" id="gM7CWbOVWY" data-same-height-subgrid-container class="gM7CWbOVWY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--mb-mobile:var(--g-s-2xl);--pt-mobile:auto;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gWnB1x6qu9 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBS7iQqi1i"
        class="gBS7iQqi1i"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014973268"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBS7iQqi1i_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gXzAEWjI5q ">
      
    
      
      
    <div class="gp-flex" >
    <div
      data-id="gXzAEWjI5q"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l)"
        >
        
    <li
      data-index="0" data-id="gey3fm9SAf"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gXzAEWjI5q"
      style="--cg:var(--g-s-l)"
    >
    <div
      data-same-height-display-contents
      
      class="gi7t1aPK7y gp-relative gp-flex gp-flex-col"
    >
      
    <div id="ggwxOX_emj" class="gp-leading-[0] ggwxOX_emj" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="ggwxOX_emj" class="icon-wrapper gp-inline-flex gp-overflow-hidden ggwxOX_emj " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M82.6042 287.377C74.5489 263.853 69.0545 240.928 66.2735 219.241C64.3648 204.353 64.3613 194.744 64.4452 191.354C64.5197 165.719 69.5869 140.83 79.5091 117.371C89.1565 94.5622 102.959 74.0853 120.536 56.5092C138.112 38.9331 158.588 25.1301 181.397 15.4827C205.031 5.4869 230.114 0.417969 255.951 0.417969C281.789 0.417969 306.871 5.48605 330.506 15.4827C353.315 25.1301 373.791 38.9331 391.367 56.5092C408.944 74.0853 422.747 94.5622 432.395 117.371C442.317 140.831 447.384 165.718 447.458 191.354C447.542 194.745 447.539 204.354 445.629 219.241C442.848 240.93 437.355 263.854 429.299 287.378C418.246 319.661 402.63 352.092 382.885 383.771C358.546 422.823 327.794 460.893 291.487 496.922C281.974 506.362 269.354 511.562 255.952 511.562C242.549 511.562 229.929 506.362 220.417 496.922C184.109 460.893 153.359 422.823 129.019 383.77C109.273 352.091 93.6579 319.659 82.6042 287.377ZM255.951 474.893C259.46 474.893 262.97 473.56 265.657 470.894C416.01 321.692 410.793 192.03 410.789 191.925V191.924C410.789 106.409 341.465 37.086 255.951 37.086C170.437 37.086 101.113 106.409 101.113 191.925V191.926C101.108 192.03 95.8919 321.692 246.246 470.894C248.932 473.56 252.442 474.893 255.951 474.893ZM302.725 76.3685C317.025 82.4167 329.862 91.0686 340.876 102.083C351.89 113.097 360.541 125.934 366.59 140.234C372.861 155.059 376.04 170.787 376.04 186.979C376.04 203.171 372.861 218.898 366.59 233.723C360.541 248.024 351.889 260.861 340.875 271.874C329.861 282.889 317.024 291.541 302.724 297.59C287.899 303.859 272.171 307.039 255.979 307.039C239.787 307.039 224.061 303.859 209.235 297.59C194.934 291.541 182.098 282.889 171.084 271.874C160.069 260.861 151.418 248.024 145.369 233.723C139.097 218.898 135.918 203.171 135.918 186.979C135.918 170.787 139.097 155.059 145.369 140.234C151.418 125.934 160.069 113.097 171.084 102.083C182.098 91.0695 194.934 82.4175 209.235 76.3685C224.06 70.0978 239.787 66.918 255.979 66.918C272.171 66.918 287.898 70.0978 302.725 76.3685ZM172.587 186.979C172.587 233.036 209.923 270.372 255.979 270.372C302.036 270.372 339.372 233.037 339.372 186.98C339.372 140.923 302.036 103.588 255.979 103.588C209.923 103.588 172.587 140.923 172.587 186.979Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gaqN4BeEN8 gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gSB80PMkH8"
        class="gSB80PMkH8"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014973269"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggSB80PMkH8_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gMPnb6EkxT"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gXzAEWjI5q"
      style="--cg:var(--g-s-l)"
    >
    <div
      data-same-height-display-contents
      
      class="gw-RdB5Aa- gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gB3oYQEyGa" class="gp-leading-[0] gB3oYQEyGa" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gB3oYQEyGa" class="icon-wrapper gp-inline-flex gp-overflow-hidden gB3oYQEyGa " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M0 128a64 64 0 0 1 64 -64h384a64 64 0 0 1 64 64v256a64 64 0 0 1 -64 64H64a64 64 0 0 1 -64 -64V128Zm64 -32a32 32 0 0 0 -32 32v6.944l224 134.4 224 -134.4V128a32 32 0 0 0 -32 -32H64Zm416 76.256 -150.656 90.4L480 355.36V172.256Zm-1.088 220.032 -180.48 -111.072L256 306.656l-42.432 -25.44 -180.48 111.04A32 32 0 0 0 64 416h384a32 32 0 0 0 30.912 -23.712ZM32 355.36l150.656 -92.704L32 172.256v183.104Z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gMfileZPxo gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gJdbuOqA_X"
        class="gJdbuOqA_X"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014973270"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggJdbuOqA_X_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gmo7jvOWeY"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gXzAEWjI5q"
      style="--cg:var(--g-s-l)"
    >
    <div
      data-same-height-display-contents
      
      class="gzWhoiQpGI gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gMZH7DL5ld" class="gp-leading-[0] gMZH7DL5ld" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gMZH7DL5ld" class="icon-wrapper gp-inline-flex gp-overflow-hidden gMZH7DL5ld " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:#FFFFFF;--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] "><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M116.928 42.496a21.696 21.696 0 0 0 -32.48 -2.016L51.36 73.6c-15.456 15.488 -21.152 37.408 -14.4 56.64a562.176 562.176 0 0 0 133.376 211.456 562.208 562.208 0 0 0 211.456 133.376c19.232 6.752 41.152 1.056 56.64 -14.4l33.088 -33.088a21.696 21.696 0 0 0 -2.016 -32.48l-73.824 -57.408a21.696 21.696 0 0 0 -18.56 -3.904l-70.08 17.504a55.84 55.84 0 0 1 -53.024 -14.688L175.424 257.984a55.84 55.84 0 0 1 -14.72 -53.024l17.536 -70.08a21.696 21.696 0 0 0 -3.904 -18.56L116.928 42.496zM60.288 16.352a55.84 55.84 0 0 1 83.584 5.216L201.28 95.36c10.528 13.536 14.24 31.168 10.08 47.808l-17.504 70.08a21.696 21.696 0 0 0 5.696 20.576l78.624 78.624a21.696 21.696 0 0 0 20.608 5.696l70.048 -17.504a55.84 55.84 0 0 1 47.808 10.08l73.792 57.408c26.528 20.64 28.96 59.84 5.216 83.552l-33.088 33.088c-23.68 23.68 -59.072 34.08 -92.064 22.464a596.288 596.288 0 0 1 -224.32 -141.44 596.288 596.288 0 0 1 -141.44 -224.288c-11.584 -32.96 -1.184 -68.384 22.496 -92.064L60.32 16.352z" /></svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gsBS7egPtT gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gansb54Ai2"
        class="gansb54Ai2"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014973271"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggansb54Ai2_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="g0oUvS4e4X gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-fQUAvsqm"}' data-id="g-fQUAvsqm" id="g-fQUAvsqm" data-same-height-subgrid-container class="g-fQUAvsqm gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pt-mobile:auto;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:345px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gGRLn9U9ws gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gI3yb4PlTg"
        class="gI3yb4PlTg"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014973272"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:21px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggI3yb4PlTg_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    <div class="gp-mx-auto gp-max-w-full" style="--w:100%;--bc:#121212;--bw:0px;--bs:solid;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px">
      <gp-form
        data-id="gzbgZFvFIB" id="gzbgZFvFIB" data-submit-action="stay-on-page"
        data-callback='{"link":"","target":"_self","type":"stay-on-page"}'
      >
        <a
          hidden="true" id="gp-form-callback-gzbgZFvFIB"
        >
        </a>
        {% form 'customer', class: 'gp-form-gzbgZFvFIB ', id: 'contact_form_gzbgZFvFIB' %}
          {% if form.errors %}
            <div
              id="gp-form-error-gzbgZFvFIB"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#FFE9E9;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggzbgZFvFIB_errorMessage }}
            </div>
          {% endif %}
          <div popover id="my-popover-gzbgZFvFIB">
            <style>
              
    #my-popover-gzbgZFvFIB::backdrop {
      width: fit-content;
      height: fit-content;
    }
  
            </style>
            <div
              id="gp-form-success-gzbgZFvFIB"
              class="gp-form-message gp-hidden gp-top-[27px] gp-fixed gp-rounded gp-p-[16px] gp-text-[14px] gp-leading-normal gp-z-[100]"
              style="background-color:#F2FFEC;left:50%;transform:translateX(-50%)"
            >
              {{ section.settings.ggzbgZFvFIB_successMessage }}
            </div>
          </div>
          
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gBhzEwSMKv"}' data-id="gBhzEwSMKv" id="gBhzEwSMKv" data-same-height-subgrid-container class="gBhzEwSMKv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--cg:16px;--cg-tablet:7px;--cg-mobile:0px;--gtc:minmax(0, 8fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gDnJ_MNxG4 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      
      data-id="gS8zWKNT7t"
      class="gS8zWKNT7t flex flex-col"
      style="--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-l);--ta:left"
    >
      
      <input
        type="email"
        class="gp-form-item !gp-outline-none !gp-bg-none email-form-gS8zWKNT7t"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--pl:16px;--pr:16px;--pt:11px;--pb:11px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:12.5px;--pb-mobile:12.5px;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--bs:solid;--bw:1px 1px 1px 1px;--bc:#424242;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--shadow:none"
        placeholder="{{ section.settings.ggS8zWKNT7t_placeholder }}"
        name="contact[email]"
        required
        autocomplete="email"
        
      ></input>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gcqaLriPgS gp-relative gp-flex gp-flex-col"
    >
      
    
    <gp-button
      gp-data='{}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left" >
        <style>[data-id="g8uAYHSrVb"].gp-button-base::before, [data-id="g8uAYHSrVb-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #25BF75;
  
    
      border-bottom-left-radius: 40px;
      border-bottom-right-radius: 40px;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
      
  
    }
  
      
  [data-id="g8uAYHSrVb"]:hover::before, [data-id="g8uAYHSrVb-interaction"]:hover::before {
    border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #20A665;
  
    
  }</style>
        
        <button
          data-id="g8uAYHSrVb" dataId="g8uAYHSrVb" data-state="idle" aria-label="SUBMIT"
          
          type="submit"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:12px;--pr:12px;--pt:12px;--pb:12px;--pl-tablet:7px;--pr-tablet:7px;--pt-tablet:12px;--pb-tablet:12px;--pl-mobile:12px;--pr-mobile:12px;--pt-mobile:13.5px;--pb-mobile:13.5px;--bblr:40px;--bbrr:40px;--btlr:40px;--btrr:40px;--hvr-bblr:40px;--hvr-bbrr:40px;--hvr-btlr:40px;--hvr-btrr:40px;--shadow:none;--bgi:;--hvr-bgi:;--hvr-bg:#20A665;--bg:#25BF75;--c:var(--g-c-text-3, text-3);--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase"
          class="g8uAYHSrVb gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30 gp-text-g-text-3 "
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--tt:uppercase;word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg8uAYHSrVb_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
  
    </div>

      
    </gp-row>
  
  
        {% endform %}
      </gp-form>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-form-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-584660074182476554 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584660074182476554)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggY_sx1azS6_label","label":"ggY_sx1azS6_label","default":"TERMS AND CONDITIONS"},{"type":"html","id":"gg3eMLo76ln_label","label":"gg3eMLo76ln_label","default":"PRIVACY POLICY"},{"type":"html","id":"ggCHR8swgBE_label","label":"ggCHR8swgBE_label","default":"RETURN & REFUND POLICY"},{"type":"html","id":"ggBS7iQqi1i_text","label":"ggBS7iQqi1i_text","default":"<p>Contact us</p>"},{"type":"html","id":"ggSB80PMkH8_text","label":"ggSB80PMkH8_text","default":"<p>6391 Elgin St. Celina, Delaware 10299</p>"},{"type":"html","id":"ggJdbuOqA_X_text","label":"ggJdbuOqA_X_text","default":"<p>gemsleep@gmail.com</p>"},{"type":"html","id":"ggansb54Ai2_text","label":"ggansb54Ai2_text","default":"<p>+102 3343 4722</p>"},{"type":"html","id":"ggI3yb4PlTg_text","label":"ggI3yb4PlTg_text","default":"<p>Sign up for our latest deals &amp; combined methods to improve sleep</p>"},{"type":"html","id":"ggzbgZFvFIB_successMessage","label":"ggzbgZFvFIB_successMessage","default":"Thanks for contacting us. We'll get back to you as soon as possible."},{"type":"html","id":"ggzbgZFvFIB_errorMessage","label":"ggzbgZFvFIB_errorMessage","default":"Cant send email. Please try again later."},{"type":"html","id":"ggS8zWKNT7t_placeholder","label":"ggS8zWKNT7t_placeholder","default":"example@gmail.com"},{"type":"html","id":"gg8uAYHSrVb_label","label":"gg8uAYHSrVb_label","default":"SUBMIT"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  