

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-558248721058562890.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-558248721058562890.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-558248721058562890.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-558248721058562890.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-558248721058562890.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-558248721058562890.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-558248721058562890.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-558248721058562890.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-558248721058562890.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-558248721058562890.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-558248721058562890.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-558248721058562890.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-558248721058562890.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-558248721058562890.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-558248721058562890.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-558248721058562890.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-558248721058562890.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-558248721058562890.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-558248721058562890.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-558248721058562890.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-558248721058562890.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-558248721058562890.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-558248721058562890.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-558248721058562890.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-558248721058562890.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-558248721058562890.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-558248721058562890.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-558248721058562890.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-558248721058562890.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-558248721058562890.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-558248721058562890.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-558248721058562890.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-558248721058562890.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-558248721058562890.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-558248721058562890.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-558248721058562890.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-558248721058562890.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-558248721058562890.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-558248721058562890.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-558248721058562890.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-558248721058562890.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-558248721058562890.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-558248721058562890.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-558248721058562890.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-558248721058562890.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-558248721058562890.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-558248721058562890.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-558248721058562890.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-558248721058562890.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-558248721058562890.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-558248721058562890.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-558248721058562890.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-558248721058562890.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-558248721058562890.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-558248721058562890.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-558248721058562890.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-558248721058562890.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-558248721058562890.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-558248721058562890.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-558248721058562890.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-558248721058562890.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-558248721058562890.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-558248721058562890.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-558248721058562890.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-558248721058562890.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-558248721058562890.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-558248721058562890.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-558248721058562890.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-558248721058562890.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-558248721058562890.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-558248721058562890.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-558248721058562890.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-558248721058562890.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-558248721058562890.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-558248721058562890.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-558248721058562890.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-558248721058562890.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-558248721058562890.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-558248721058562890.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-558248721058562890.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-558248721058562890.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-558248721058562890.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-558248721058562890.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-558248721058562890.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-558248721058562890.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-558248721058562890.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-558248721058562890 .gp-rotate-0,.gps-558248721058562890 .gp-rotate-180,.gps-558248721058562890 .mobile\:gp-rotate-0,.gps-558248721058562890 .mobile\:gp-rotate-180,.gps-558248721058562890 .tablet\:gp-rotate-0,.gps-558248721058562890 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-558248721058562890 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-558248721058562890 .gp-static{position:static}.gps-558248721058562890 .\!gp-relative{position:relative!important}.gps-558248721058562890 .gp-relative{position:relative}.gps-558248721058562890 .gp-left-0{left:0}.gps-558248721058562890 .gp-right-0{right:0}.gps-558248721058562890 .gp-z-1{z-index:1}.gps-558248721058562890 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-558248721058562890 .gp-my-0{margin-bottom:0;margin-top:0}.gps-558248721058562890 .gp-mb-0{margin-bottom:0}.gps-558248721058562890 .gp-block{display:block}.gps-558248721058562890 .\!gp-flex{display:flex!important}.gps-558248721058562890 .gp-flex{display:flex}.gps-558248721058562890 .gp-grid{display:grid}.gps-558248721058562890 .gp-contents{display:contents}.gps-558248721058562890 .\!gp-hidden{display:none!important}.gps-558248721058562890 .gp-hidden{display:none}.gps-558248721058562890 .gp-aspect-square{aspect-ratio:1/1}.gps-558248721058562890 .gp-h-auto{height:auto}.gps-558248721058562890 .gp-h-full{height:100%}.gps-558248721058562890 .\!gp-min-h-full{min-height:100%!important}.gps-558248721058562890 .gp-w-\[12px\]{width:12px}.gps-558248721058562890 .gp-w-full{width:100%}.gps-558248721058562890 .gp-max-w-full{max-width:100%}.gps-558248721058562890 .gp-flex-none{flex:none}.gps-558248721058562890 .gp-shrink-0{flex-shrink:0}.gps-558248721058562890 .gp-rotate-0{--tw-rotate:0deg}.gps-558248721058562890 .gp-rotate-0,.gps-558248721058562890 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558248721058562890 .gp-rotate-180{--tw-rotate:180deg}.gps-558248721058562890 .gp-cursor-pointer{cursor:pointer}.gps-558248721058562890 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-558248721058562890 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-558248721058562890 .\!gp-flex-row{flex-direction:row!important}.gps-558248721058562890 .gp-flex-row{flex-direction:row}.gps-558248721058562890 .gp-flex-col{flex-direction:column}.gps-558248721058562890 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-558248721058562890 .gp-items-center{align-items:center}.gps-558248721058562890 .gp-justify-center{justify-content:center}.gps-558248721058562890 .gp-justify-between{justify-content:space-between}.gps-558248721058562890 .gp-gap-2{gap:8px}.gps-558248721058562890 .gp-gap-y-0{row-gap:0}.gps-558248721058562890 .gp-overflow-hidden{overflow:hidden}.gps-558248721058562890 .gp-rounded-full{border-radius:9999px}.gps-558248721058562890 .gp-text-center{text-align:center}.gps-558248721058562890 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-558248721058562890 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-558248721058562890 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-558248721058562890 .gp-duration-200{transition-duration:.2s}.gps-558248721058562890 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-558248721058562890 .tablet\:gp-static{position:static}.gps-558248721058562890 .tablet\:\!gp-relative{position:relative!important}.gps-558248721058562890 .tablet\:gp-left-0{left:0}.gps-558248721058562890 .tablet\:gp-right-0{right:0}.gps-558248721058562890 .tablet\:gp-block{display:block}.gps-558248721058562890 .tablet\:\!gp-flex{display:flex!important}.gps-558248721058562890 .tablet\:\!gp-hidden{display:none!important}.gps-558248721058562890 .tablet\:gp-hidden{display:none}.gps-558248721058562890 .tablet\:gp-h-auto{height:auto}.gps-558248721058562890 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-558248721058562890 .tablet\:gp-flex-none{flex:none}.gps-558248721058562890 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-558248721058562890 .tablet\:gp-rotate-0,.gps-558248721058562890 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558248721058562890 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-558248721058562890 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-558248721058562890 .tablet\:gp-flex-row{flex-direction:row}.gps-558248721058562890 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-558248721058562890 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-558248721058562890 .mobile\:gp-static{position:static}.gps-558248721058562890 .mobile\:gp-left-0{left:0}.gps-558248721058562890 .mobile\:gp-right-0{right:0}.gps-558248721058562890 .mobile\:gp-block{display:block}.gps-558248721058562890 .mobile\:\!gp-hidden{display:none!important}.gps-558248721058562890 .mobile\:gp-hidden{display:none}.gps-558248721058562890 .mobile\:gp-h-auto{height:auto}.gps-558248721058562890 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-558248721058562890 .mobile\:gp-flex-none{flex:none}.gps-558248721058562890 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-558248721058562890 .mobile\:gp-rotate-0,.gps-558248721058562890 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-558248721058562890 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-558248721058562890 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-558248721058562890 .mobile\:gp-flex-row{flex-direction:row}.gps-558248721058562890 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-558248721058562890 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-558248721058562890 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-558248721058562890 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-558248721058562890 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-558248721058562890 .\[\&_p\]\:gp-inline p{display:inline}.gps-558248721058562890 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-558248721058562890 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g7mcdQrRRB" data-id="g7mcdQrRRB"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--ml:auto;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--mt-mobile:0px;--ml-mobile:auto;--pt-mobile:var(--g-s-xl);--pl-mobile:var(--g-s-xs);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-xs);--mt-tablet:0px;--ml-tablet:auto;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-s);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7mcdQrRRB gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g8QdqvPafK gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs-wsaG3zl">
    <div
      parentTag="Col"
        class="gs-wsaG3zl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:27px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggs-wsaG3zl_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    <gp-carousel data-id="gzMqmAGxDE"  id="gp-root-carousel-gzMqmAGxDE-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gzMqmAGxDE-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"},"tablet":{"customShapeValue":"","gap":"","height":"24px","padding":{"linked":true},"shape":"","shapeLinked":true,"shapeValue":"1/1","width":"24px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#838383","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24,"tablet":24},"autoplay":true,"autoplayTimeout":"1.5","background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2","Slide 3","Slide 4","Slide 5","Slide 6","Slide 7","Slide 8"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"#242424","tablet":"#bcbcbc"},"dotColor":{"desktop":"#bcbcbc"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":9,"mobile":7},"dotStyle":{"desktop":"outside"},"enableDrag":{"desktop":false,"mobile":true},"itemNumber":{"desktop":4,"mobile":1,"tablet":4},"label":true,"loop":{"desktop":true},"navigationStyle":{"desktop":"outside","mobile":"none"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false,"mobile":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gzMqmAGxDE"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:auto;--h-tablet:auto;--h-mobile:auto;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gzMqmAGxDE-{{section.id}} gp-carousel-arrow-gzMqmAGxDE gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-hidden"
      style="--left:initial;--top:initial;--right:initial;--bottom:;--left-tablet:initial;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:initial;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:transparent;--w:32px;--w-tablet:24px;--h:32px;--h-tablet:24px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#838383;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gzMqmAGxDE {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gzMqmAGxDE::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gzMqmAGxDE {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gzMqmAGxDE::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gzMqmAGxDE {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gzMqmAGxDE::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gzMqmAGxDE-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gW_JK56aWj"
      data-index="0"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="ggsvaNxqvy"
    role="presentation"
    class="gp-group/image ggsvaNxqvy gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}" srcset="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}" srcset="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-24c93660-1235-4991-8cc1-466328993b66.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g182fteNa-">
    <div
      parentTag="CarouselItem"
        class="g182fteNa- "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg182fteNa-_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDNgE0rgYX">
    <div
      parentTag="CarouselItem"
        class="gDNgE0rgYX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDNgE0rgYX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gjUlXHCUUv"
      data-index="1"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="g5X2UiZdxU"
    role="presentation"
    class="gp-group/image g5X2UiZdxU gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}" srcset="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}" srcset="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-1ba43526-c2df-4eed-8a01-d2326d37bec9.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMUYSYZUUp">
    <div
      parentTag="CarouselItem"
        class="gMUYSYZUUp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#f6f6f6;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMUYSYZUUp_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyxa094Gt6">
    <div
      parentTag="CarouselItem"
        class="gyxa094Gt6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyxa094Gt6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE g-J0NBDpCH"
      data-index="2"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="gwHzteApCO"
    role="presentation"
    class="gp-group/image gwHzteApCO gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}" srcset="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}" srcset="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-a0d14b85-05d4-4d78-97c0-f5e4fbab64ca.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVxL_y-v0I">
    <div
      parentTag="CarouselItem"
        class="gVxL_y-v0I "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVxL_y-v0I_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gK1vZLknNj">
    <div
      parentTag="CarouselItem"
        class="gK1vZLknNj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggK1vZLknNj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gMR6aeSdtY"
      data-index="3"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="gqn9up3ipX"
    role="presentation"
    class="gp-group/image gqn9up3ipX gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-6afef52d-fb0c-48a9-bb86-5685e8c04f8d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghOJtxug8M">
    <div
      parentTag="CarouselItem"
        class="ghOJtxug8M "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghOJtxug8M_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrm-ye9ut">
    <div
      parentTag="CarouselItem"
        class="gLrm-ye9ut "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggLrm-ye9ut_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gMu073Bc1l"
      data-index="4"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="gs_OlRXoY6"
    role="presentation"
    class="gp-group/image gs_OlRXoY6 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}" srcset="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}" srcset="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-212fb654-f6db-4ce4-9bde-9137d764eee1.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcEldVva4K">
    <div
      parentTag="CarouselItem"
        class="gcEldVva4K "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcEldVva4K_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFXhPfXH6T">
    <div
      parentTag="CarouselItem"
        class="gFXhPfXH6T "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFXhPfXH6T_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gN3Yo9wHSZ"
      data-index="5"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="gjYUK7-fDI"
    role="presentation"
    class="gp-group/image gjYUK7-fDI gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0b3b71cc-6b4d-4472-9ca5-ada29a87ce7b.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gamUWASWuy">
    <div
      parentTag="CarouselItem"
        class="gamUWASWuy "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggamUWASWuy_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZOi9DxB1X">
    <div
      parentTag="CarouselItem"
        class="gZOi9DxB1X "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:14px;--size-tablet:13px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZOi9DxB1X_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE gygqiIYEHM"
      data-index="6"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="g-ld4tN6f6"
    role="presentation"
    class="gp-group/image g-ld4tN6f6 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}" srcset="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}" srcset="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-3e2cbdff-5869-4c75-862c-317db62cb871.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpib-yV7Wr">
    <div
      parentTag="CarouselItem"
        class="gpib-yV7Wr "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpib-yV7Wr_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g1tyY-hFhD">
    <div
      parentTag="CarouselItem"
        class="g1tyY-hFhD "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg1tyY-hFhD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 4 - 12px);--minw-tablet:calc(100% / 4 - 12px);--minw-mobile:calc(100% / 1 - 0px);--maxw:calc(100% / 4 - 12px);--maxw-tablet:calc(100% / 4 - 12px);--maxw-mobile:calc(100% / 1 - 0px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gzMqmAGxDE ghrOGdVSJP"
      data-index="7"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      <div
    
     data-id="ghwS_M0lAn"
    role="presentation"
    class="gp-group/image ghwS_M0lAn gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:8px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-3cce10a9-9a47-473c-bac0-7211e68e544d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:70%;--w-tablet:70%;--w-mobile:70%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-O1vW9yMj">
    <div
      parentTag="CarouselItem"
        class="g-O1vW9yMj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-O1vW9yMj_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqoMd2k6JS">
    <div
      parentTag="CarouselItem"
        class="gqoMd2k6JS "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:13px;--size-mobile:13px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqoMd2k6JS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gzMqmAGxDE-{{section.id}} gp-carousel-arrow-gzMqmAGxDE gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-relative  tablet:!gp-flex tablet:!gp-relative  mobile:!gp-hidden"
      style="--left:initial;--top:;--right:initial;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:initial;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:initial;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:none;background-color:transparent;--w:32px;--w-tablet:24px;--h:32px;--h-tablet:24px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#838383;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gzMqmAGxDE {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gzMqmAGxDE::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gzMqmAGxDE {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gzMqmAGxDE::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gzMqmAGxDE {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gzMqmAGxDE::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gzMqmAGxDE-{{section.id}} gp-static gp-flex-row gp-left-0 gp-right-0 tablet:gp-static tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--mt:16px;--mt-tablet:16px;--mt-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 16",
    "tag": "section",
    "class": "gps-558248721058562890 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=558248720940925770&sectionId=558248721058562890)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggs-wsaG3zl_text","label":"ggs-wsaG3zl_text","default":"Intuitive user interface:<br>Touch Screen with Smart Features"},{"type":"html","id":"gg182fteNa-_text","label":"gg182fteNa-_text","default":"Manual Grinding"},{"type":"html","id":"ggDNgE0rgYX_text","label":"ggDNgE0rgYX_text","default":"<p>Embrace a hands-on and personalized grinding experience with our manual grind setting.</p>"},{"type":"html","id":"ggMUYSYZUUp_text","label":"ggMUYSYZUUp_text","default":"Customized Quick Menu"},{"type":"html","id":"ggyxa094Gt6_text","label":"ggyxa094Gt6_text","default":"<p>Navigate effortlessly through coffee making, settings adjustments,or cleaning cycles with our quick menu</p>"},{"type":"html","id":"ggVxL_y-v0I_text","label":"ggVxL_y-v0I_text","default":"Pre-heat Timer"},{"type":"html","id":"ggK1vZLknNj_text","label":"ggK1vZLknNj_text","default":"<p>Prepare your machine to suit your schedule, ensuring it's ready when you need it.</p>"},{"type":"html","id":"gghOJtxug8M_text","label":"gghOJtxug8M_text","default":"Auto Back-Flushing Clean"},{"type":"html","id":"ggLrm-ye9ut_text","label":"ggLrm-ye9ut_text","default":"<p>Initiate a thorough cleaning cycle with the \"Self-Clean\" function, ensuring internal parts are pristine without any residue.</p>"},{"type":"html","id":"ggcEldVva4K_text","label":"ggcEldVva4K_text","default":"Steam Level"},{"type":"html","id":"ggFXhPfXH6T_text","label":"ggFXhPfXH6T_text","default":"<p>Experience the pleasure of different milk foam textures by adjusting our three-level steam intensity.</p>"},{"type":"html","id":"ggamUWASWuy_text","label":"ggamUWASWuy_text","default":"Real-Time Weight Display"},{"type":"html","id":"ggZOi9DxB1X_text","label":"ggZOi9DxB1X_text","default":"<p>Observe the weight of coffee grounds and liquid in real-time, with a maximum detection capacity of 1,ooo grams.</p>"},{"type":"html","id":"ggpib-yV7Wr_text","label":"ggpib-yV7Wr_text","default":"Hot Water"},{"type":"html","id":"gg1tyY-hFhD_text","label":"gg1tyY-hFhD_text","default":"<p>Enjoy added convenience and versatility with our hot water feature, perfect for preheating cups, cleaning maintenance, and preparing various hot beverages.</p>"},{"type":"html","id":"gg-O1vW9yMj_text","label":"gg-O1vW9yMj_text","default":"Over-the-Air Updates"},{"type":"html","id":"ggqoMd2k6JS_text","label":"ggqoMd2k6JS_text","default":"<p>Stay updated with the latest features and improvements via automatic firmware updates.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
