

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-548556970806740199.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-548556970806740199.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-548556970806740199.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-548556970806740199.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-548556970806740199.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-548556970806740199.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-548556970806740199.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-548556970806740199.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-548556970806740199.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-548556970806740199.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-548556970806740199.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-548556970806740199.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-548556970806740199.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-548556970806740199.gps.gpsil [style*="--maxh:"]{max-height:var(--maxh)}.gps-548556970806740199.gps.gpsil [style*="--minh:"]{min-height:var(--minh)}.gps-548556970806740199.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-548556970806740199.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-548556970806740199.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-548556970806740199.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-548556970806740199.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-548556970806740199.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-548556970806740199.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-548556970806740199.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-548556970806740199.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-548556970806740199.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-548556970806740199.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-548556970806740199.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-548556970806740199.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-548556970806740199.gps.gpsil [style*="--maxh-tablet:"]{max-height:var(--maxh-tablet)}.gps-548556970806740199.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-548556970806740199.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-548556970806740199.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-548556970806740199.gps.gpsil [style*="--maxh-mobile:"]{max-height:var(--maxh-mobile)}.gps-548556970806740199.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-548556970806740199 .focus-visible\:gp-shadow-none,.gps-548556970806740199 .gp-shadow-xl{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-548556970806740199 .gp-fixed{position:fixed}.gps-548556970806740199 .gp-absolute{position:absolute}.gps-548556970806740199 .gp-relative{position:relative}.gps-548556970806740199 .gp-inset-0{inset:0}.gps-548556970806740199 .gp-right-0{right:0}.gps-548556970806740199 .gp-top-0{top:0}.gps-548556970806740199 .gp-z-50{z-index:50}.gps-548556970806740199 .gp-z-\[999999\]{z-index:999999}.gps-548556970806740199 .gp-block{display:block}.gps-548556970806740199 .gp-inline-block{display:inline-block}.gps-548556970806740199 .gp-flex{display:flex}.gps-548556970806740199 .gp-inline-flex{display:inline-flex}.gps-548556970806740199 .gp-contents{display:contents}.gps-548556970806740199 .\!gp-hidden{display:none!important}.gps-548556970806740199 .gp-hidden{display:none}.gps-548556970806740199 .gp-h-auto{height:auto}.gps-548556970806740199 .gp-h-full{height:100%}.gps-548556970806740199 .gp-h-screen{height:100vh}.gps-548556970806740199 .\!gp-max-h-screen{max-height:100vh!important}.gps-548556970806740199 .gp-max-h-full{max-height:100%}.gps-548556970806740199 .gp-w-full{width:100%}.gps-548556970806740199 .gp-max-w-full{max-width:100%}.gps-548556970806740199 .gp-flex-none{flex:none}@keyframes gp-fadeIn{0%{opacity:0}to{opacity:1}}.gps-548556970806740199 .gp-animate-\[fadeIn_0\.4s_ease-in\]{animation:gp-fadeIn .4s ease-in}.gps-548556970806740199 .gp-items-center{align-items:center}.gps-548556970806740199 .gp-justify-center{justify-content:center}.gps-548556970806740199 .gp-overflow-hidden{overflow:hidden}.gps-548556970806740199 .gp-overflow-y-auto{overflow-y:auto}.gps-548556970806740199 .gp-overflow-x-hidden{overflow-x:hidden}.gps-548556970806740199 .gp-bg-transparent{background-color:transparent}.gps-548556970806740199 .gp-align-middle{vertical-align:middle}.gps-548556970806740199 .gp-shadow-xl{--tw-shadow:0 20px 25px -5px rgba(0,0,0,.1),0 8px 10px -6px rgba(0,0,0,.1);--tw-shadow-colored:0 20px 25px -5px var(--tw-shadow-color),0 8px 10px -6px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-548556970806740199 .gp-outline-none{outline:2px solid transparent;outline-offset:2px}.gps-548556970806740199 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-548556970806740199 .gp-duration-100{transition-duration:.1s}.gps-548556970806740199 .focus-visible\:gp-shadow-none:focus-visible{--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-548556970806740199 .focus-visible\:gp-outline-none:focus-visible{outline:2px solid transparent;outline-offset:2px}@media (max-width:1024px){.gps-548556970806740199 .tablet\:\!gp-hidden{display:none!important}.gps-548556970806740199 .tablet\:gp-hidden{display:none}.gps-548556970806740199 .tablet\:gp-h-auto{height:auto}.gps-548556970806740199 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-548556970806740199 .mobile\:\!gp-hidden{display:none!important}.gps-548556970806740199 .mobile\:gp-hidden{display:none}.gps-548556970806740199 .mobile\:gp-h-auto{height:auto}.gps-548556970806740199 .mobile\:gp-flex-none{flex:none}}</style>

    <gp-dialog class="gps-lazy" data-id="gbIot3VKwn" style="--d:contents;--d-tablet:contents;--d-mobile:none" data-gp-setting='{"dialogId":"gbIot3VKwn","trigger":"none","triggerTime":10,"frequency":3,"triggerPercentage":10,"mobileTrigger":"none","mobileTriggerTime":10,"closeOnClickOutside":true,"frequencyMode":"once","display":{"desktop":true,"mobile":false,"tablet":true}}'>
      <dialog class=" gp-dialog gp-bg-transparent" aria-label="Popup 2" data-gp-dialog-id="gbIot3VKwn"
        style="z-index:100001"
      >
        <div
          aria-label="Backdrop"
          class="gp-fixed gp-inset-0 gp-z-50 gp-flex gp-overflow-y-auto gp-overflow-x-hidden gp-items-center gp-justify-center"
        >
        
            <div
              class="gp-fixed gp-inset-0 gp-block gp-transition-all gp-duration-100"
              data-gp-dialog-overlay
              style="--op:0.7;--bgc:#121212"
            ></div>
        
          <span class="gp-inline-block gp-h-screen gp-align-middle"></span>
          <div
            role="dialog"
            aria-label="Dialog content"
            class="gp-relative gp-max-h-full gp-max-w-full  gp-animate-[fadeIn_0.4s_ease-in] gp-shadow-xl gp-overflow-hidden"
            style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--w:800px;--w-tablet:800px;--w-mobile:100%;--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:"
          >
            <button
              type="button"
              data-gp-dialog-close
              tabindex="-1"
              class="gp-absolute gp-top-0 gp-right-0 gp-z-[999999] gp-inline-flex gp-items-center gp-justify-center gp-outline-none focus-visible:gp-shadow-none focus-visible:gp-outline-none"
              style="--w:32px;--h:32px;--c:var(--g-c-line-3, line-3);--bgc:#ffffff"
            >
              <svg
                viewBox="0 0 12 12"
                fill="currentColor"
                style="--w:12px;--h:12px"
              >
                <path d="M7.1,6l4.5,4.5l-1.1,1.1L6,7.1l-4.5,4.5l-1.1-1.1L4.9,6L0.5,1.5l1.1-1.1L6,4.9l4.5-4.5l1.1,1.1L7.1,6z"></path>
              </svg>
            </button>
            <div
              style="--shadow:none;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--minh:300px;--h-tablet:;--h-mobile:;--maxh:;--maxh-tablet:;--maxh-mobile:;border-radius:inherit;--bgc:#FFFFFF"
              aria-label="Dialog body"
              class="gp-h-full gp-w-full gp-overflow-y-auto gp-overflow-x-hidden !gp-max-h-screen">
                <div>
                  <div
    
     data-id="g62YeZp10R"
    role="presentation"
    class="gp-group/image g62YeZp10R gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
                </div>
            </div>
          </div>
        </div>
      </dialog>
    </gp-dialog>
    <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-dialog.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  


{% schema %}
  {
    
    "name": "Section 23",
    "tag": "section",
    "class": "gps-548556970806740199 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387267048539061&sectionId=548556970806740199)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
