

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387268105634741.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547387268105634741.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387268105634741.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547387268105634741.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387268105634741.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387268105634741.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-547387268105634741.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387268105634741.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387268105634741.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387268105634741.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387268105634741.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387268105634741.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547387268105634741.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387268105634741.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-547387268105634741.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547387268105634741.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547387268105634741.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387268105634741.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-547387268105634741.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387268105634741.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-547387268105634741.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387268105634741.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387268105634741.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547387268105634741.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387268105634741.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387268105634741.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387268105634741.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387268105634741.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387268105634741.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387268105634741.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387268105634741.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387268105634741.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387268105634741.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387268105634741.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-547387268105634741.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547387268105634741.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387268105634741.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387268105634741.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387268105634741.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387268105634741.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387268105634741.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387268105634741.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387268105634741.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387268105634741.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387268105634741.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387268105634741.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387268105634741.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387268105634741.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387268105634741.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547387268105634741.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387268105634741.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387268105634741.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387268105634741.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-547387268105634741.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387268105634741.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387268105634741.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387268105634741.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387268105634741.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547387268105634741.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387268105634741.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387268105634741.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387268105634741.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387268105634741.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547387268105634741.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-547387268105634741.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387268105634741.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387268105634741.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387268105634741.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387268105634741 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547387268105634741 .gp-relative{position:relative}.gps-547387268105634741 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387268105634741 .gp-mb-0{margin-bottom:0}.gps-547387268105634741 .gp-flex{display:flex}.gps-547387268105634741 .gp-grid{display:grid}.gps-547387268105634741 .gp-contents{display:contents}.gps-547387268105634741 .\!gp-hidden{display:none!important}.gps-547387268105634741 .gp-hidden{display:none}.gps-547387268105634741 .gp-h-auto{height:auto}.gps-547387268105634741 .gp-h-full{height:100%}.gps-547387268105634741 .gp-w-full{width:100%}.gps-547387268105634741 .gp-min-w-0{min-width:0}.gps-547387268105634741 .gp-max-w-full{max-width:100%}.gps-547387268105634741 .gp-flex-1{flex:1 1 0%}.gps-547387268105634741 .gp-flex-none{flex:none}.gps-547387268105634741 .gp-cursor-pointer{cursor:pointer}.gps-547387268105634741 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387268105634741 .gp-flex-row{flex-direction:row}.gps-547387268105634741 .gp-flex-col{flex-direction:column}.gps-547387268105634741 .gp-flex-wrap{flex-wrap:wrap}.gps-547387268105634741 .gp-gap-y-0{row-gap:0}.gps-547387268105634741 .gp-overflow-hidden{overflow:hidden}.gps-547387268105634741 .gp-whitespace-nowrap{white-space:nowrap}.gps-547387268105634741 .gp-p-4{padding:16px}.gps-547387268105634741 .gp-px-4{padding-left:16px;padding-right:16px}.gps-547387268105634741 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-547387268105634741 .gp-pb-0{padding-bottom:0}.gps-547387268105634741 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387268105634741 .gp-duration-200{transition-duration:.2s}.gps-547387268105634741 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547387268105634741 .tablet\:\!gp-hidden{display:none!important}.gps-547387268105634741 .tablet\:gp-hidden{display:none}.gps-547387268105634741 .tablet\:gp-h-auto{height:auto}.gps-547387268105634741 .tablet\:gp-flex-none{flex:none}.gps-547387268105634741 .tablet\:gp-flex-row{flex-direction:row}.gps-547387268105634741 .tablet\:gp-flex-col{flex-direction:column}}@media (max-width:767px){.gps-547387268105634741 .mobile\:\!gp-hidden{display:none!important}.gps-547387268105634741 .mobile\:gp-hidden{display:none}.gps-547387268105634741 .mobile\:gp-h-auto{height:auto}.gps-547387268105634741 .mobile\:gp-flex-none{flex:none}.gps-547387268105634741 .mobile\:gp-flex-row{flex-direction:row}.gps-547387268105634741 .mobile\:gp-flex-col{flex-direction:column}}.gps-547387268105634741 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387268105634741 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387268105634741 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387268105634741 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g6sWLW3DEX" data-id="g6sWLW3DEX"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g6sWLW3DEX gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9yUQWi6tQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gArLD-BRBT" data-id="gArLD-BRBT"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gArLD-BRBT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g4WofbisyF gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gsQNWR768X"
    role="presentation"
    class="gp-group/image gsQNWR768X gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://www.roeststaette.com/wp-content/uploads/2020/04/Related-Blog-Posts_1440x960.001.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIGZpbGw9InVybCgjZy0xNDQwLTk2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.roeststaette.com/wp-content/uploads/2020/04/Related-Blog-Posts_1440x960.001.png" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIGZpbGw9InVybCgjZy0xNDQwLTk2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtOTYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9Ijk2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI5NjAiIGZpbGw9InVybCgjZy0xNDQwLTk2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="https://www.roeststaette.com/wp-content/uploads/2020/04/Related-Blog-Posts_1440x960.001.png"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gGS44ZV3Za gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab data-id="gjrwWNVo2t" gp-data='{"setting":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Brazil</p>","<p>Colombia</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#F6F6F6","normal":"#00000000"},"labelColor":{"normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"26px","mobile":"14px","tablet":"16px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"builderProps":{"uid":"gjrwWNVo2t","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":0},"padding":{"bottom":"0px","left":"0px"}}}},"childrens":["gCJQIxqcUO","gBVNfh1GoY"],"label":"Tab","settings":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p>Brazil</p>","<p>Colombia</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#F6F6F6","normal":"#00000000"},"labelColor":{"normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"26px","mobile":"14px","tablet":"16px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"Auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"styles":{},"tag":"Tabs","uid":"gjrwWNVo2t","type":"component"}}}'>
      <div
        
        data-id=""
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:0px;--pb:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp-flex gjrwWNVo2t"
      >
        <style>
            .gjrwWNVo2t .gp-navs-tab.left p,
            .gjrwWNVo2t .gp-navs-tab.right p {
              word-wrap: break-word;
              white-space: break-spaces;
            }
            
        </style>
        <div
          class="gp-flex gp-w-full  gp-flex-col mobile:gp-flex-col tablet:gp-flex-col"
        >
          <div
            class="gp-flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list gp-flex gp-flex-wrap  gp-flex-row mobile:gp-flex-row tablet:gp-flex-row"
              style="--maxw:Auto;--maxw-tablet:Auto;--maxw-mobile:Auto"
            >
              
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="gjrwWNVo2t"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap"
          style="--w:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:26px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjrwWNVo2t_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="gjrwWNVo2t"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap"
          style="--w:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:26px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggjrwWNVo2t_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
            </ul>
          </div>
          <div
            class="gp-flex gp-flex-1 gp-min-w-0"
          >
            <div
              class="gp-tab-item-container gp-p-4 gp-pb-0"
              key="gjrwWNVo2t"
              style="--w:100%"
            >
            
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
    class="gp-tab-item gp-child-item-gjrwWNVo2t"
  >
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHHlxHrRIY">
    <div
      parentTag="TabItem"
        class="gHHlxHrRIY "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHHlxHrRIY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSYg7aiy5A">
    <div
      parentTag="TabItem"
        class="gSYg7aiy5A "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSYg7aiy5A_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  </div>
  
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
    class="gp-tab-item gp-child-item-gjrwWNVo2t"
  >
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzH9Rx2Dvl">
    <div
      parentTag="TabItem"
        class="gzH9Rx2Dvl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs);--mb-mobile:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggzH9Rx2Dvl_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghf13UUG4c">
    <div
      parentTag="TabItem"
        class="ghf13UUG4c "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:14px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghf13UUG4c_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547387268105634741 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387268105503669&sectionId=547387268105634741)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggjrwWNVo2t_childItem_0","label":"ggjrwWNVo2t_childItem_0","default":"<p>Brazil</p>"},{"type":"html","id":"ggjrwWNVo2t_childItem_1","label":"ggjrwWNVo2t_childItem_1","default":"<p>Colombia</p>"},{"type":"html","id":"ggHHlxHrRIY_text","label":"ggHHlxHrRIY_text","default":"<p>Brazil | Monteiro Lobato</p>"},{"type":"html","id":"ggSYg7aiy5A_text","label":"ggSYg7aiy5A_text","default":"<p>Exelso Gran Galope is a washed single origin coffee from the Cauca region of Colombia. It is grown at an altitude of 1400 to 2000 metres above sea level. Cauca is located in the centre-west of Colombia and stretches from the western Cordillera (mountain range) to the Pacific Ocean. The sea winds and altitude make Cauca one of the coolest regions in Colombia. The coffee from each lot in this area comes from 10-30 small farmers and can be traced back to the region. It is mainly grown by indigenous or Afro-indigenous communities and is one of the poorest regions in Colombia. Excelso refers to the size and quality of the beans (more on this below). This coffee comes from our partner Cafe Imports, who work closely with the coffee farmers and co-operatives. This close relationship not only guarantees the high quality of the coffee, but also promotes a sustainable and supportive local partnership.</p>"},{"type":"html","id":"ggzH9Rx2Dvl_text","label":"ggzH9Rx2Dvl_text","default":"<p>Colombia |&nbsp;Piendamó, Cauca</p>"},{"type":"html","id":"gghf13UUG4c_text","label":"gghf13UUG4c_text","default":"<p>Santiago is our annual single origin coffee from Brazil, which we source as a community lot called Monteiro Lobato, mainly from the Fazenda Pinheiro, Matao and Sao Domingos farms. The coffee farms are located in the São José do Rio Pardo region (near Cerrado Mineiro) in the state of São Paulo, which is renowned for coffee cultivation. This community blend stands for high commitment, consistent flavour and meticulous craftsmanship. The coffee cherries are carefully selected according to various factors, including specific flavour profiles, bean density and colour matching for consistent quality. Every cup of Monteiro Lobato represents a symphony of flavours and harmony of environmental sustainability and community welfare in the region. For every bag of green coffee sold, a tree is planted at Fazenda Pinheiro.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
