

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-549151885114737509.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-549151885114737509.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-549151885114737509.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-549151885114737509.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-549151885114737509.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-549151885114737509.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-549151885114737509.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-549151885114737509.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-549151885114737509.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-549151885114737509.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-549151885114737509.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-549151885114737509.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-549151885114737509.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-549151885114737509.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-549151885114737509.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-549151885114737509.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-549151885114737509.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-549151885114737509.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-549151885114737509.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-549151885114737509.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-549151885114737509.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-549151885114737509.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-549151885114737509.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-549151885114737509.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-549151885114737509.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-549151885114737509.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-549151885114737509.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-549151885114737509.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-549151885114737509.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-549151885114737509.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-549151885114737509.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-549151885114737509.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-549151885114737509.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-549151885114737509.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-549151885114737509.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-549151885114737509.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-549151885114737509.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-549151885114737509.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-549151885114737509.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-549151885114737509.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-549151885114737509.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-549151885114737509.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-549151885114737509.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-549151885114737509.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-549151885114737509.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-549151885114737509.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-549151885114737509.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-549151885114737509.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-549151885114737509.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-549151885114737509.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-549151885114737509.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-549151885114737509.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-549151885114737509.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-549151885114737509.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-549151885114737509.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-549151885114737509.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-549151885114737509.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-549151885114737509.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-549151885114737509.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-549151885114737509.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-549151885114737509.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-549151885114737509.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-549151885114737509.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-549151885114737509.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-549151885114737509.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-549151885114737509.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-549151885114737509.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-549151885114737509.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-549151885114737509.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-549151885114737509.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-549151885114737509.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-549151885114737509.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-549151885114737509.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-549151885114737509.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-549151885114737509 .gp-relative{position:relative}.gps-549151885114737509 .gp-z-1{z-index:1}.gps-549151885114737509 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-549151885114737509 .gp-mb-0{margin-bottom:0}.gps-549151885114737509 .gp-flex{display:flex}.gps-549151885114737509 .gp-inline-flex{display:inline-flex}.gps-549151885114737509 .gp-grid{display:grid}.gps-549151885114737509 .gp-contents{display:contents}.gps-549151885114737509 .\!gp-hidden{display:none!important}.gps-549151885114737509 .gp-hidden{display:none}.gps-549151885114737509 .gp-h-auto{height:auto}.gps-549151885114737509 .gp-h-full{height:100%}.gps-549151885114737509 .gp-w-full{width:100%}.gps-549151885114737509 .gp-max-w-full{max-width:100%}.gps-549151885114737509 .gp-flex-none{flex:none}.gps-549151885114737509 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-549151885114737509 .gp-flex-col{flex-direction:column}.gps-549151885114737509 .gp-items-center{align-items:center}.gps-549151885114737509 .gp-justify-center{justify-content:center}.gps-549151885114737509 .gp-gap-y-0{row-gap:0}.gps-549151885114737509 .gp-overflow-hidden{overflow:hidden}.gps-549151885114737509 .gp-break-words{overflow-wrap:break-word}.gps-549151885114737509 .gp-rounded-none{border-radius:0}.gps-549151885114737509 .gp-text-center{text-align:center}.gps-549151885114737509 .gp-leading-\[0\]{line-height:0}.gps-549151885114737509 .gp-no-underline{text-decoration-line:none}.gps-549151885114737509 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549151885114737509 .gp-duration-200{transition-duration:.2s}.gps-549151885114737509 .gp-duration-300{transition-duration:.3s}.gps-549151885114737509 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-549151885114737509 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-549151885114737509 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-549151885114737509 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-549151885114737509 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-549151885114737509 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-549151885114737509 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-549151885114737509 .tablet\:\!gp-hidden{display:none!important}.gps-549151885114737509 .tablet\:gp-hidden{display:none}.gps-549151885114737509 .tablet\:gp-h-auto{height:auto}.gps-549151885114737509 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-549151885114737509 .mobile\:\!gp-hidden{display:none!important}.gps-549151885114737509 .mobile\:gp-hidden{display:none}.gps-549151885114737509 .mobile\:gp-h-auto{height:auto}.gps-549151885114737509 .mobile\:gp-flex-none{flex:none}}.gps-549151885114737509 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-549151885114737509 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-549151885114737509 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-549151885114737509 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-549151885114737509 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-549151885114737509 .\[\&_p\]\:gp-inline p{display:inline}.gps-549151885114737509 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-549151885114737509 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-549151885114737509 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkzakeqs-l" data-id="gkzakeqs-l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xl);--pb:var(--g-s-2xl);--pt-mobile:21px;--pb-mobile:0px;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkzakeqs-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSTmNjDSsc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbpxIEJXS9" data-id="gbpxIEJXS9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:12px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbpxIEJXS9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7M8KCfoyV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAO5yXm6b5" data-id="gAO5yXm6b5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAO5yXm6b5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6oEWKAb__ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrDktti9h">
    <div
      parentTag="Col"
        class="gLrDktti9h "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:30px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLrDktti9h_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gAFyN8CBi9" data-id="gAFyN8CBi9"
        style="--bs:solid;--bw:2px 0px 2px 0px;--bc:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:8px;--pb:8px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAFyN8CBi9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gIyY6zFS1a gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw8d7CqeGa">
    <div
      parentTag="Col"
        class="gw8d7CqeGa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mb-mobile:0px;--pt-mobile:7px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw8d7CqeGa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw8d7CqeGa">
        .gw8d7CqeGa {

}
.gw8d7CqeGa b, .gw8d7CqeGa strong {
    font-weight: 600;
}
      </style>
    
    </div>
    </div>
   
    <div
    
     data-id="gEBQ3WK7nK"
    role="presentation"
    class="gp-group/image gEBQ3WK7nK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:24px;--pb:24px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div><div gp-el-wrapper  class="g1B4W6CKH_ ">
      
    
      
      
    <div
      uid="g1B4W6CKH_"
      data-id="g1B4W6CKH_"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gtkeAblIL5"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-g1B4W6CKH_"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="gTALBOkKUB gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--mt-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--ta:left"
      class="gp-leading-[0] g9AXs0YvVh"
    >
      <div 
      data-id="g9AXs0YvVh"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817690729054568">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216ZM140,80v96a8,8,0,0,1-16,0V95l-11.56,7.71a8,8,0,1,1-8.88-13.32l24-16A8,8,0,0,1,140,80Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-g9AXs0YvVh">
        .g9AXs0YvVh .overflow-hidden, .g9AXs0YvVh svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="giNIluEx5J gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gRRmAGYkkg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .gRRmAGYkkg:hover::before {
      
      
    }

    .gRRmAGYkkg:hover .gp-button-icon {
      color: #d8d8d8;
    }

     .gRRmAGYkkg .gp-button-icon {
      color: #d3d3d3;
    }

    .gRRmAGYkkg:hover .gp-button-price {
      color: #d8d8d8;
    }

    .gRRmAGYkkg .gp-button-price {
      color: #d3d3d3;
    }

    .gRRmAGYkkg .gp-product-dot-price {
       color: #d3d3d3;
    }

    .gRRmAGYkkg:hover .gp-product-dot-price {
      color: #d8d8d8;
    }
  </style>
    <a
      href="#gq3f97HVg3" target="_self" data-id="gRRmAGYkkg" aria-label="<p>Introduction</p>"
      
      data-state="idle"
      class="gRRmAGYkkg gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#d8d8d8;--c:#d3d3d3;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#d8d8d8;--c:#d3d3d3"
      >
        {{ section.settings.ggRRmAGYkkg_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-g1B4W6CKH_">
        .g1B4W6CKH_ {
    cursor: pointer;
}
.g1B4W6CKH_ > div{
    display: flex !important;
    align-items: center;
}

      </style>
    
      <script id="custom-js-g1B4W6CKH_">
        try {
          //const currentElement = document.getElementsByClassName('g1B4W6CKH_');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.g1B4W6CKH_').addEventListener('click', function(){
        document.querySelector('.grkFlXiOXt').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="gTAJTXn3Z5 ">
      
    
      
      
    <div
      uid="gTAJTXn3Z5"
      data-id="gTAJTXn3Z5"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gehzGgAtQJ"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gTAJTXn3Z5"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="g3B6jAmC_n gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--ta:left"
      class="gp-leading-[0] gDidrQY1LU"
    >
      <div 
      data-id="gDidrQY1LU"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584343417192">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm28.75-86.33L128,164h24a12,12,0,0,1,0,24H104a12,12,0,0,1-9.6-19.2l43.17-57.56A12,12,0,1,0,116.68,100a12,12,0,0,1-22.63-8,36.3,36.3,0,0,1,5.2-9.67,36,36,0,0,1,57.5,43.34Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gDidrQY1LU">
        .gDidrQY1LU .overflow-hidden, .gDidrQY1LU svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="goAb4gIBo4 gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gxWA7h-Nom.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .gxWA7h-Nom:hover::before {
      
      
    }

    .gxWA7h-Nom:hover .gp-button-icon {
      color: #6d3212;
    }

     .gxWA7h-Nom .gp-button-icon {
      color: #d3d3d3;
    }

    .gxWA7h-Nom:hover .gp-button-price {
      color: #6d3212;
    }

    .gxWA7h-Nom .gp-button-price {
      color: #d3d3d3;
    }

    .gxWA7h-Nom .gp-product-dot-price {
       color: #d3d3d3;
    }

    .gxWA7h-Nom:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gHwJJijaBZ" target="_self" data-id="gxWA7h-Nom" aria-label="<p>Why Make Espresso at Home?</p>"
      
      data-state="idle"
      class="gxWA7h-Nom gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#6d3212;--c:#d3d3d3;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#d3d3d3"
      >
        {{ section.settings.ggxWA7h-Nom_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-gTAJTXn3Z5">
        .gTAJTXn3Z5 {
cursor: pointer;
}
.gTAJTXn3Z5 > div{
    display: flex!important;
    align-items: center;
}
      </style>
    
      <script id="custom-js-gTAJTXn3Z5">
        try {
          //const currentElement = document.getElementsByClassName('gTAJTXn3Z5');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.gTAJTXn3Z5').addEventListener('click', function(){
        document.querySelector('.gT1L1sAguf').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="gkAz8vv38y ">
      
    
      
      
    <div
      uid="gkAz8vv38y"
      data-id="gkAz8vv38y"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gtJrSL6iFi"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gkAz8vv38y"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="g7rnYwtxGQ gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--ta:left"
      class="gp-leading-[0] gfEyW6SdvE"
    >
      <div 
      data-id="gfEyW6SdvE"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584343351656">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm36-60a40,40,0,0,1-68.57,28,12,12,0,1,1,17.14-16.79A16,16,0,1,0,124,136a12,12,0,0,1-9.83-18.88L129,96H104a12,12,0,0,1,0-24h48a12,12,0,0,1,9.83,18.88l-18.34,26.2A40,40,0,0,1,164,152Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gfEyW6SdvE">
        .gfEyW6SdvE .overflow-hidden, .gfEyW6SdvE svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="gWYq_4Yq2a gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gj5bFFin_1.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .gj5bFFin_1:hover::before {
      
      
    }

    .gj5bFFin_1:hover .gp-button-icon {
      color: #6d3212;
    }

     .gj5bFFin_1 .gp-button-icon {
      color: #d3d3d3;
    }

    .gj5bFFin_1:hover .gp-button-price {
      color: #6d3212;
    }

    .gj5bFFin_1 .gp-button-price {
      color: #d3d3d3;
    }

    .gj5bFFin_1 .gp-product-dot-price {
       color: #d3d3d3;
    }

    .gj5bFFin_1:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gLIqjQ24NE" target="_self" data-id="gj5bFFin_1" aria-label="<p>Top Espresso Recipes to Try</p>"
      
      data-state="idle"
      class="gj5bFFin_1 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#6d3212;--c:#d3d3d3;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#6d3212;--c:#d3d3d3"
      >
        {{ section.settings.ggj5bFFin_1_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-gkAz8vv38y">
        .gkAz8vv38y {
    cursor: pointer;
}
.gkAz8vv38y > div{
    display: flex!important;
    align-items: center;
}
      </style>
    
      <script id="custom-js-gkAz8vv38y">
        try {
          //const currentElement = document.getElementsByClassName('gkAz8vv38y');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.gkAz8vv38y').addEventListener('click', function(){
        document.querySelector('.gT1L1sAguf').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="geHfZwAXtf ">
      
    
      
      
    <div
      uid="geHfZwAXtf"
      data-id="geHfZwAXtf"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gUPFtGX-yU"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-geHfZwAXtf"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="g__fy3-IOa gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--ta:left"
      class="gp-leading-[0] geVYO6qxZC"
    >
      <div 
      data-id="geVYO6qxZC"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817690728923496">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm32-72h-8V80a8,8,0,0,0-14.31-4.91l-56,72A8,8,0,0,0,88,160h48v16a8,8,0,0,0,16,0V160h8a8,8,0,0,0,0-16Zm-24,0H104.36L136,103.32Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-geVYO6qxZC">
        .geVYO6qxZC .overflow-hidden, .geVYO6qxZC svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="g4RQursjaa gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gSicJzZSOR.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .gSicJzZSOR:hover::before {
      
      
    }

    .gSicJzZSOR:hover .gp-button-icon {
      color: #6d3212;
    }

     .gSicJzZSOR .gp-button-icon {
      color: #d3d3d3;
    }

    .gSicJzZSOR:hover .gp-button-price {
      color: #6d3212;
    }

    .gSicJzZSOR .gp-button-price {
      color: #d3d3d3;
    }

    .gSicJzZSOR .gp-product-dot-price {
       color: #d3d3d3;
    }

    .gSicJzZSOR:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#gVbbuk90Vv" target="_self" data-id="gSicJzZSOR" aria-label="<p>Tips for Using the Home Espresso Machine</p>"
      
      data-state="idle"
      class="gSicJzZSOR gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#6d3212;--c:#d3d3d3;--size:16px;--size-tablet:16px;--size-mobile:13px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:13px;--hvr-c:#6d3212;--c:#d3d3d3"
      >
        {{ section.settings.ggSicJzZSOR_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-geHfZwAXtf">
        .geHfZwAXtf {
    cursor: pointer;
}
.geHfZwAXtf > div{
    display: flex!important;
    align-items: center;
}
      </style>
    
      <script id="custom-js-geHfZwAXtf">
        try {
          //const currentElement = document.getElementsByClassName('geHfZwAXtf');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.geHfZwAXtf').addEventListener('click', function(){
        document.querySelector('.g2w7GNJZHT').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="g7EQ1xygQG ">
      
    
      
      
    <div
      uid="g7EQ1xygQG"
      data-id="g7EQ1xygQG"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gTVgaaVGy3"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-g7EQ1xygQG"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="gKLrMwPinB gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--ta:left"
      class="gp-leading-[0] gMT72vuEba"
    >
      <div 
      data-id="gMT72vuEba"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584342958440">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212ZM122.17,92l-2.71,16.23A45.39,45.39,0,0,1,124,108a40,40,0,0,1,0,80,39.53,39.53,0,0,1-28.57-11.6,12,12,0,1,1,17.14-16.8A15.54,15.54,0,0,0,124,164a16,16,0,0,0,0-32,15.54,15.54,0,0,0-11.43,4.4A12,12,0,0,1,92.16,126l8-48A12,12,0,0,1,112,68h40a12,12,0,0,1,0,24Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gMT72vuEba">
        .gMT72vuEba .overflow-hidden, .gMT72vuEba svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="g_rB_xqQDX gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gelJWRBSmq.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .gelJWRBSmq:hover::before {
      
      
    }

    .gelJWRBSmq:hover .gp-button-icon {
      color: #6d3212;
    }

     .gelJWRBSmq .gp-button-icon {
      color: #d3d3d3;
    }

    .gelJWRBSmq:hover .gp-button-price {
      color: #6d3212;
    }

    .gelJWRBSmq .gp-button-price {
      color: #d3d3d3;
    }

    .gelJWRBSmq .gp-product-dot-price {
       color: #d3d3d3;
    }

    .gelJWRBSmq:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="#giUcfhVm4Z" target="_self" data-id="gelJWRBSmq" aria-label="<p>Common Mistakes to Avoid in Home Brewing</p>"
      
      data-state="idle"
      class="gelJWRBSmq gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#6d3212;--c:#d3d3d3;--size:16px;--size-tablet:16px;--size-mobile:13px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:13px;--hvr-c:#6d3212;--c:#d3d3d3"
      >
        {{ section.settings.ggelJWRBSmq_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-g7EQ1xygQG">
        .g7EQ1xygQG {
    cursor: pointer;
}

.g7EQ1xygQG > div{
    display: flex!important;
    align-items: center;
}
      </style>
    
      <script id="custom-js-g7EQ1xygQG">
        try {
          //const currentElement = document.getElementsByClassName('g7EQ1xygQG');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.g7EQ1xygQG').addEventListener('click', function(){
        document.querySelector('.gs-7Vf3UXx').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    <div gp-el-wrapper  class="gr4c6NhnZa ">
      
    
      
      
    <div
      uid="gr4c6NhnZa"
      data-id="gr4c6NhnZa"
       style="--bs:solid;--bw:0px 0px 1px 0px;--bc:#6d3212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:16px;--pb:16px;--ta:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--rg:var(--g-s-l)"
        >
        
    <li
       data-index="0"
       data-id="gxLbeOGL8T"
      class="gp-flex gp-w-full gp-items-center gp-icon-list-item gp-child-item-gr4c6NhnZa"
      style="--cg:12px;--cg-mobile:4px"
    >
    <div
      
      
      class="gVcf3ZHf9Z gp-relative gp-flex gp-flex-col"
    >
      
  <div
      
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:0px;--ta:left"
      class="gp-leading-[0] gT1j4mra9e"
    >
      <div 
      data-id="gT1j4mra9e"
      class="icon-wrapper gp-inline-flex gp-overflow-hidden"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#000000"
      >
      <div
      
    >
      <span
        style="--c:#6d3212;--t:rotate(0deg);--w:24px;--w-mobile:21px;--h:24px;--h-mobile:21px;--minw:24px;--minw-mobile:21px;--height-desktop:24px;--height-tablet:24px;--height-mobile:21px"
        class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)]"
      ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817584343286120">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M128,20A108,108,0,1,0,236,128,108.12,108.12,0,0,0,128,20Zm0,192a84,84,0,1,1,84-84A84.09,84.09,0,0,1,128,212Zm5.06-103.67L146.3,86.15a12,12,0,1,0-20.6-12.3l-32.24,54a40,40,0,1,0,39.6-19.53ZM128,164a16,16,0,1,1,16-16A16,16,0,0,1,128,164Z" /></svg></span>
    </div>
      </div>
    </div>
    
      <style id="custom-css-gT1j4mra9e">
        .gT1j4mra9e .overflow-hidden, .gT1j4mra9e svg{
    overflow: visible!important;
}
      </style>
    
    </div><div
      
      
      class="gSEd1FspKX gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .ggDGegQZ6e.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 2px 0px 2px 0px;
  border-color: #000000;
  
      border-radius: var(--g-radius-small);
    }

    .ggDGegQZ6e:hover::before {
      
      
    }

    .ggDGegQZ6e:hover .gp-button-icon {
      color: #d8d8d8;
    }

     .ggDGegQZ6e .gp-button-icon {
      color: #6d3212;
    }

    .ggDGegQZ6e:hover .gp-button-price {
      color: #d8d8d8;
    }

    .ggDGegQZ6e .gp-button-price {
      color: #6d3212;
    }

    .ggDGegQZ6e .gp-product-dot-price {
       color: #6d3212;
    }

    .ggDGegQZ6e:hover .gp-product-dot-price {
      color: #d8d8d8;
    }
  </style>
    <a
      href="#giUcfhVm4Z" target="_self" data-id="ggDGegQZ6e" aria-label="<p>Conclusion</p>"
      
      data-state="idle"
      class="ggDGegQZ6e gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xs);--pt:8px;--pb:8px;--hvr-c:#d8d8d8;--c:#6d3212;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#d8d8d8;--c:#6d3212"
      >
        {{ section.settings.gggDGegQZ6e_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
  </li>
      </ul>
  </div>
  
      </div>
      <style id="custom-css-gr4c6NhnZa">
        .gr4c6NhnZa {
    cursor: pointer;
}

.gr4c6NhnZa > div{
    display: flex!important;
    align-items: center;
}
      </style>
    
      <script id="custom-js-gr4c6NhnZa">
        try {
          //const currentElement = document.getElementsByClassName('gr4c6NhnZa');

document.addEventListener('DOMContentLoaded', function(){
    document.querySelector('.gr4c6NhnZa').addEventListener('click', function(){
        document.querySelector('.gs-7Vf3UXx').scrollIntoView({ behavior: "smooth", block: "start"});
    })
    
})
        } catch(err){}
      </script>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-549151885114737509 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=549151885014074213&sectionId=549151885114737509)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLrDktti9h_text","label":"ggLrDktti9h_text","default":"Espresso Your Way: Must-Try Recipes with Meraki"},{"type":"html","id":"ggw8d7CqeGa_text","label":"ggw8d7CqeGa_text","default":"<p>Published: December, 2024</p>"},{"type":"html","id":"ggRRmAGYkkg_label","label":"ggRRmAGYkkg_label","default":"<p>Introduction</p>"},{"type":"html","id":"ggxWA7h-Nom_label","label":"ggxWA7h-Nom_label","default":"<p>Why Make Espresso at Home?</p>"},{"type":"html","id":"ggj5bFFin_1_label","label":"ggj5bFFin_1_label","default":"<p>Top Espresso Recipes to Try</p>"},{"type":"html","id":"ggSicJzZSOR_label","label":"ggSicJzZSOR_label","default":"<p>Tips for Using the Home Espresso Machine</p>"},{"type":"html","id":"ggelJWRBSmq_label","label":"ggelJWRBSmq_label","default":"<p>Common Mistakes to Avoid in Home Brewing</p>"},{"type":"html","id":"gggDGegQZ6e_label","label":"gggDGegQZ6e_label","default":"<p>Conclusion</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
