

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713674286182.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547370713674286182.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713674286182.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713674286182.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713674286182.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713674286182.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713674286182.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713674286182.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713674286182.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713674286182.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713674286182.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547370713674286182.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547370713674286182.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713674286182.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713674286182.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713674286182.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713674286182.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713674286182.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370713674286182.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370713674286182.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370713674286182.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370713674286182.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713674286182.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370713674286182.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713674286182.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370713674286182.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370713674286182.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370713674286182.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370713674286182.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370713674286182.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547370713674286182.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713674286182.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713674286182.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713674286182.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713674286182.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713674286182.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713674286182.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713674286182.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370713674286182.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370713674286182.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370713674286182.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713674286182.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713674286182.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370713674286182.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547370713674286182.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370713674286182.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370713674286182.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370713674286182.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370713674286182.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713674286182.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713674286182.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370713674286182.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370713674286182.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547370713674286182.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370713674286182.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370713674286182.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370713674286182.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370713674286182.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370713674286182.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-547370713674286182.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-547370713674286182.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370713674286182.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713674286182.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713674286182.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370713674286182.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370713674286182.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370713674286182 .gp-relative{position:relative}.gps-547370713674286182 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713674286182 .gp-mb-0{margin-bottom:0}.gps-547370713674286182 .gp-flex{display:flex}.gps-547370713674286182 .gp-grid{display:grid}.gps-547370713674286182 .gp-contents{display:contents}.gps-547370713674286182 .\!gp-hidden{display:none!important}.gps-547370713674286182 .gp-hidden{display:none}.gps-547370713674286182 .gp-h-auto{height:auto}.gps-547370713674286182 .gp-h-full{height:100%}.gps-547370713674286182 .gp-w-full{width:100%}.gps-547370713674286182 .gp-max-w-full{max-width:100%}.gps-547370713674286182 .gp-flex-none{flex:none}.gps-547370713674286182 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713674286182 .gp-flex-col{flex-direction:column}.gps-547370713674286182 .gp-gap-y-0{row-gap:0}.gps-547370713674286182 .gp-text-g-bg-3{color:var(--g-c-bg-3)}.gps-547370713674286182 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713674286182 .gp-duration-200{transition-duration:.2s}.gps-547370713674286182 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370713674286182 .tablet\:\!gp-hidden{display:none!important}.gps-547370713674286182 .tablet\:gp-hidden{display:none}.gps-547370713674286182 .tablet\:gp-h-auto{height:auto}.gps-547370713674286182 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547370713674286182 .mobile\:\!gp-hidden{display:none!important}.gps-547370713674286182 .mobile\:gp-hidden{display:none}.gps-547370713674286182 .mobile\:gp-h-auto{height:auto}.gps-547370713674286182 .mobile\:gp-flex-none{flex:none}}.gps-547370713674286182 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370713674286182 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370713674286182 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370713674286182 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g99d8sYiDc" data-id="g99d8sYiDc"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g99d8sYiDc gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glknz43TRw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gS5yS9gtw3" data-id="gS5yS9gtw3"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gS5yS9gtw3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="gAtOnizq9u gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQHMx76XBC">
    <div
      parentTag="Col"
        class="gQHMx76XBC "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l);--mb-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:21px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQHMx76XBC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gm1vDkf4Ye">
    <div
      parentTag="Col"
        class="gm1vDkf4Ye "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(undefined);--pl-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggm1vDkf4Ye_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="g-7G2vz-RT gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gZ3wvt8FB0"
    role="presentation"
    class="gp-group/image gZ3wvt8FB0 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_768x.jpg?v=1722925534" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump_1024x.jpg?v=1722925534" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Powerful_Quiet_Rotary_Pump.jpg?v=1722925534"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gNg6rWr1II" data-id="gNg6rWr1II"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNg6rWr1II gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gVDHRmC2YY gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gzcEYZEmX6">
    <div
      parentTag="Col"
        class="gzcEYZEmX6 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--mt-mobile:var(--g-s-m);--mb-mobile:var(--g-s-m);--mb-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#D3D3D3;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:21px;--size-mobile:18px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggzcEYZEmX6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTiYXsiItB">
    <div
      parentTag="Col"
        class="gTiYXsiItB "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTiYXsiItB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="gLJOJdxY6t gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g51iLSqJzl"
    role="presentation"
    class="gp-group/image g51iLSqJzl gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif" srcset="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif" />
      <source media="(max-width: 1024px)" data-srcSet="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif" srcset="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif"
        data-src="https://c0.iggcdn.com/indiegogo-media-prod-cld/image/upload/c_fit,g_center,q_auto,f_auto,fl_lossy,w_695/tkfdbz60p76oij2blmqi.gif"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gVoTbzj6cg" data-id="gVoTbzj6cg"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gVoTbzj6cg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gg9H21vWEO gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gm-yfIqkFX">
    <div
      parentTag="Col"
        class="gm-yfIqkFX "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--pl:var(--g-s-l);--mt-mobile:var(--g-s-m);--mb-mobile:var(--g-s-m);--pl-mobile:0px;--pb-mobile:0px;--pl-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text-g-bg-3 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d3d3d3;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:19px;--size-tablet:21px;--size-mobile:19px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggm-yfIqkFX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghTwg8pIL2">
    <div
      parentTag="Col"
        class="ghTwg8pIL2 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(undefined);--pl:var(--g-s-l);--mb-mobile:var(--g-s-2xl);--mb-tablet:var(undefined);--pl-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gghTwg8pIL2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gM90AMDBr7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWYSctbNjQ"
    role="presentation"
    class="gp-group/image gWYSctbNjQ gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_768x.jpg?v=1722925534" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free_1024x.jpg?v=1722925534" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/Ion_Beam_Static-Free.jpg?v=1722925534"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-547370713674286182 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547370713556714598&sectionId=547370713674286182)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQHMx76XBC_text","label":"ggQHMx76XBC_text","default":"<p>Powerful and Quiet Performance</p>"},{"type":"html","id":"ggm1vDkf4Ye_text","label":"ggm1vDkf4Ye_text","default":"<p>Our robust rotary pump ensures your morning coffee is crafted withprecision and minimal noise disruption. Consistentiy delivering a g-barpressure, it effortlessly enhances the flavor and body of your coffeegrounds while maintaining a remarkably quiet operation.</p>"},{"type":"html","id":"ggzcEYZEmX6_text","label":"ggzcEYZEmX6_text","default":"<p>Ideal Temp, Ideal Shot</p>"},{"type":"html","id":"ggTiYXsiItB_text","label":"ggTiYXsiItB_text","default":"<p>Meraki delivers consistent temperature control with its three-pronged approach: an independent extraction boiler, PID technology, and a dedicated group head heater. The extraction boiler ensures a continuous stream of hot water, eliminating temperature fluctuations that can impact taste. Real-time temperature feedback with PID tech allows you to dial in the perfect extraction temperature, while the dedicated group head heater maintains optimal brewing temperature at the portafilter, guaranteeing consistent, flavorful results every shot.</p>"},{"type":"html","id":"ggm-yfIqkFX_text","label":"ggm-yfIqkFX_text","default":"<p>Customized Manual Settings</p>"},{"type":"html","id":"gghTwg8pIL2_text","label":"gghTwg8pIL2_text","default":"<p>Our machine goes beyond simple monitoring: the intuitivetouchscreen allows you to adjust extraction weight andtemperature with ease, offering a personalized andconvenient espresso-making experience.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
