

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574665881125192479.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-574665881125192479.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-574665881125192479.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574665881125192479.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574665881125192479.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574665881125192479.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574665881125192479.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574665881125192479.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574665881125192479.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574665881125192479.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574665881125192479.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-574665881125192479.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-574665881125192479.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574665881125192479.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-574665881125192479.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-574665881125192479.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574665881125192479.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574665881125192479.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-574665881125192479.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-574665881125192479.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574665881125192479.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-574665881125192479.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-574665881125192479.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574665881125192479.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574665881125192479.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574665881125192479.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-574665881125192479.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-574665881125192479.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574665881125192479.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-574665881125192479.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-574665881125192479.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574665881125192479.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-574665881125192479.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-574665881125192479.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574665881125192479.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574665881125192479.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574665881125192479.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574665881125192479.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574665881125192479.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574665881125192479.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574665881125192479.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574665881125192479.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574665881125192479.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574665881125192479.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574665881125192479.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574665881125192479.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574665881125192479.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574665881125192479.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574665881125192479.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-574665881125192479.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574665881125192479.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-574665881125192479.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-574665881125192479.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-574665881125192479.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-574665881125192479.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-574665881125192479.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-574665881125192479.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-574665881125192479.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-574665881125192479.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-574665881125192479.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574665881125192479.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574665881125192479.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-574665881125192479.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-574665881125192479 .gp-invisible{visibility:hidden}.gps-574665881125192479 .\!gp-absolute{position:absolute!important}.gps-574665881125192479 .gp-absolute{position:absolute}.gps-574665881125192479 .gp-relative{position:relative}.gps-574665881125192479 .gp-top-0{top:0}.gps-574665881125192479 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574665881125192479 .gp-mb-0{margin-bottom:0}.gps-574665881125192479 .gp-flex{display:flex}.gps-574665881125192479 .gp-grid{display:grid}.gps-574665881125192479 .\!gp-hidden{display:none!important}.gps-574665881125192479 .gp-hidden{display:none}.gps-574665881125192479 .gp-h-full{height:100%}.gps-574665881125192479 .gp-w-full{width:100%}.gps-574665881125192479 .gp-max-w-full{max-width:100%}.gps-574665881125192479 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574665881125192479 .gp-flex-col{flex-direction:column}.gps-574665881125192479 .gp-items-center{align-items:center}.gps-574665881125192479 .gp-justify-center{justify-content:center}.gps-574665881125192479 .\!gp-self-center{align-self:center!important}.gps-574665881125192479 .gp-self-center{align-self:center}.gps-574665881125192479 .gp-overflow-hidden{overflow:hidden}.gps-574665881125192479 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574665881125192479 .gp-duration-200{transition-duration:.2s}.gps-574665881125192479 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574665881125192479 .tablet\:\!gp-absolute{position:absolute!important}.gps-574665881125192479 .tablet\:\!gp-hidden{display:none!important}.gps-574665881125192479 .tablet\:gp-hidden{display:none}.gps-574665881125192479 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-574665881125192479 .tablet\:gp-justify-center{justify-content:center}.gps-574665881125192479 .tablet\:\!gp-self-center{align-self:center!important}}@media (max-width:767px){.gps-574665881125192479 .mobile\:\!gp-relative{position:relative!important}.gps-574665881125192479 .mobile\:\!gp-hidden{display:none!important}.gps-574665881125192479 .mobile\:gp-hidden{display:none}.gps-574665881125192479 .mobile\:\!gp-h-auto{height:auto!important}.gps-574665881125192479 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-574665881125192479 .mobile\:gp-justify-center{justify-content:center}.gps-574665881125192479 .mobile\:\!gp-self-center{align-self:center!important}}@media (max-width:1024px){.gps-574665881125192479 .tablet\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}@media (max-width:767px){.gps-574665881125192479 .mobile\:\[\&\>\*\]\:\!gp-justify-center>*{justify-content:center!important}}.gps-574665881125192479 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gpMzCPsWvN"}' data-id="gpMzCPsWvN" id="gpMzCPsWvN" data-same-height-subgrid-container class="gpMzCPsWvN gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g08DwbcsRf gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gGYzECctZ-"
        class="gGYzECctZ- gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out !gp-self-center tablet:!gp-self-center mobile:!gp-self-center"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:100%;--aspect:auto;--aspect-tablet:auto;--h:auto;--h-tablet:auto;--h-mobile:500px"
        gp-data='{"background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","height":660,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","height":660,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","height":660,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg","storage":"FILE_CONTENT","width":1440},"lazyLoad":false,"loop":true,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image","video":"https://www.youtube.com/watch?v=cyzh48XRS4M","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube"}},"uid":"gGYzECctZ-","enableParallax":true,"speedParallax":0.6,"hoverEffect":false,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"center"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"},"target":"_blank","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-center tablet:gp-justify-center mobile:gp-justify-center" style="--h:auto;--h-tablet:auto;--h-mobile:500px;--aspect:auto;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--shadow:none">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp_lazybg" style="--bgi:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNjYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjY2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIGZpbGw9InVybCgjZy0xNDQwLTY2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+);--bgi-tablet:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--bgi-mobile:url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQwLTE0NDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDAiIGhlaWdodD0iMTQ0MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSIxNDQwIiBmaWxsPSJ1cmwoI2ctMTQ0MC0xNDQwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MCIgdG89IjE0NDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=);--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:var(--g-c-bg-2);--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" base-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-srcset="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" base-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-srcset="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl gp_lazyload"
    />
    <img
      width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" base-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" data-srcset="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}"
      id=""
      
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_mb gp_lazyload"
    />
          
        </div>
        
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row !gp-absolute tablet:!gp-absolute mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-center mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-center mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--gtc:minmax(0, 12fr);--w:1200px;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px);--pc:center;--pc-tablet:center;--pc-mobile:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--d-mobile:none"
      class="gufNXqXTEQ gp-relative gp-flex gp-flex-col"
    >
      
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNjYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjY2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIGZpbGw9InVybCgjZy0xNDQwLTY2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNjYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjY2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIGZpbGw9InVybCgjZy0xNDQwLTY2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0NDAtNjYwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDQwIiBoZWlnaHQ9IjY2MCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MCIgaGVpZ2h0PSI2NjAiIGZpbGw9InVybCgjZy0xNDQwLTY2MCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0NDAiIHRvPSIxNDQwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "gempages_544061842616484702-73e4adcd-4b4c-43cd-b20a-e16fba11d59b.jpg" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--d:block;--d-tablet:block;--d-mobile:none;--h:auto;--h-tablet:auto;--h-mobile:500px;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:100%;--z:-1"
        class="adaptive-hero-banner gp_lazyload"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  


{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-574665881125192479 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=574665881058018079&sectionId=574665881125192479)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
