

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-574663226030359327.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-574663226030359327.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-574663226030359327.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-574663226030359327.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-574663226030359327.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-574663226030359327.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-574663226030359327.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-574663226030359327.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-574663226030359327.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-574663226030359327.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-574663226030359327.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-574663226030359327.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-574663226030359327.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-574663226030359327.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-574663226030359327.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-574663226030359327.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-574663226030359327.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-574663226030359327.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-574663226030359327.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-574663226030359327.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-574663226030359327.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-574663226030359327.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-574663226030359327.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-574663226030359327.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-574663226030359327.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-574663226030359327.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-574663226030359327.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-574663226030359327.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-574663226030359327.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-574663226030359327.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-574663226030359327.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-574663226030359327.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-574663226030359327.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-574663226030359327.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-574663226030359327.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-574663226030359327.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-574663226030359327.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-574663226030359327.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-574663226030359327.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-574663226030359327.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-574663226030359327.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-574663226030359327.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-574663226030359327.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-574663226030359327.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-574663226030359327.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-574663226030359327.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-574663226030359327.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-574663226030359327.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-574663226030359327.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-574663226030359327.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-574663226030359327.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-574663226030359327.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-574663226030359327.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-574663226030359327.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-574663226030359327.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-574663226030359327.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-574663226030359327.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-574663226030359327.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-574663226030359327.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-574663226030359327.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-574663226030359327.gps.gpsil [style*="--v:"]{visibility:var(--v)}.gps-574663226030359327.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-574663226030359327.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-574663226030359327.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-574663226030359327.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-574663226030359327.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-574663226030359327.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-574663226030359327.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-574663226030359327.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-574663226030359327.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-574663226030359327.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-574663226030359327.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-574663226030359327.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-574663226030359327.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-574663226030359327.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-574663226030359327.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-574663226030359327.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-574663226030359327.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-574663226030359327.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-574663226030359327.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-574663226030359327 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-574663226030359327 .gp-relative{position:relative}.gps-574663226030359327 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-574663226030359327 .gp-mb-0{margin-bottom:0}.gps-574663226030359327 .gp-flex{display:flex}.gps-574663226030359327 .gp-grid{display:grid}.gps-574663226030359327 .\!gp-hidden{display:none!important}.gps-574663226030359327 .gp-hidden{display:none}.gps-574663226030359327 .gp-min-w-0{min-width:0}.gps-574663226030359327 .gp-max-w-full{max-width:100%}.gps-574663226030359327 .gp-flex-1{flex:1 1 0%}.gps-574663226030359327 .gp-cursor-pointer{cursor:pointer}.gps-574663226030359327 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-574663226030359327 .gp-flex-row{flex-direction:row}.gps-574663226030359327 .gp-flex-col{flex-direction:column}.gps-574663226030359327 .gp-flex-wrap{flex-wrap:wrap}.gps-574663226030359327 .gp-overflow-hidden{overflow:hidden}.gps-574663226030359327 .gp-whitespace-nowrap{white-space:nowrap}.gps-574663226030359327 .gp-p-4{padding:16px}.gps-574663226030359327 .gp-px-4{padding-left:16px;padding-right:16px}.gps-574663226030359327 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-574663226030359327 .\!gp-text-inherit{color:inherit!important}.gps-574663226030359327 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-574663226030359327 .gp-duration-200{transition-duration:.2s}.gps-574663226030359327 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-574663226030359327 .tablet\:\!gp-hidden{display:none!important}.gps-574663226030359327 .tablet\:gp-hidden{display:none}.gps-574663226030359327 .tablet\:gp-flex-row{flex-direction:row}.gps-574663226030359327 .tablet\:gp-flex-col{flex-direction:column}}@media (max-width:767px){.gps-574663226030359327 .mobile\:\!gp-hidden{display:none!important}.gps-574663226030359327 .mobile\:gp-hidden{display:none}.gps-574663226030359327 .mobile\:gp-flex-row{flex-direction:row}.gps-574663226030359327 .mobile\:gp-flex-col{flex-direction:column}}.gps-574663226030359327 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>


    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gIdNQHLIuU"}' data-id="gIdNQHLIuU" id="gIdNQHLIuU" data-same-height-subgrid-container class="gIdNQHLIuU gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gi6DUpUo0i gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab
      data-id="gIhUchB153"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--pb:16px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:auto;--w-tablet:auto;--w-mobile:auto"
      class="gp-flex gIhUchB153"
      gp-data='{"setting":{"activeKey":0,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Brazil</span></p>","<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Colombia</span></p>","<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">India</span></p>"],"enableActiveEffect":true,"enableHoverEffect":true,"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#f5f5f5"},"labelColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"25px","mobile":"14px","tablet":"20px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelAlignVertical":{"desktop":"start"},"panelWidth":{"desktop":"auto","mobile":"auto","tablet":"auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"builderProps":{"uid":"gIhUchB153","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_PRODUCT","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"bottom":0},"padding":{"bottom":"16px"}}}},"childrens":["gmWvvPG3sQ","go0X7fkUik","g0HOnSczNa"],"label":"Tab","settings":{"activeKey":0,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"}},"childItem":["<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Brazil</span></p>","<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Colombia</span></p>","<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">India</span></p>"],"enableActiveEffect":true,"enableHoverEffect":true,"labelAlign":{"desktop":"left"},"labelBgColor":{"active":"#f5f5f5"},"labelColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"25px","mobile":"14px","tablet":"20px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelAlignVertical":{"desktop":"start"},"panelWidth":{"desktop":"auto","mobile":"auto","tablet":"auto"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"styles":{},"tag":"Tabs","uid":"gIhUchB153","type":"component"}}}'>
        <style> .gIhUchB153 .gp-tab-item p {
            word-wrap: break-word;
            white-space: break-spaces;
          }</style>
        <div class="gp-flex  gp-flex-col mobile:gp-flex-col tablet:gp-flex-col">
          <div class="gp-flex" style="--jc:center;--ai:start">
            <ul class="gp-tab-header-list gp-flex gp-flex-wrap gp-overflow-hidden  gp-flex-row mobile:gp-flex-row tablet:gp-flex-row" style="--jc:center;--w:100%;--w-tablet:100%;--w-mobile:100%">
              
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--c:#121212;--bgc:#f5f5f5;--bs:none;--bw:0px 0px 2px 0px;--bc:#121212;--w:auto;--w-tablet:auto;--w-mobile:auto"
        key="gIhUchB153"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054573"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIhUchB153_childItem_0 }}
        </div>
      </div>
    </div>
    
      </li>
    
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--hvr-c:#121212;--c:#121212;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#121212;--hvr-bc:#121212;--w:auto;--w-tablet:auto;--w-mobile:auto"
        key="gIhUchB153"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054574"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIhUchB153_childItem_1 }}
        </div>
      </div>
    </div>
    
      </li>
    
      <li
        aria-hidden
        class="gp-tab-item gp-navs-tab gp-flex gp-cursor-pointer gp-py-2 gp-px-4 gp-whitespace-nowrap"
        style="--jc:left;--hvr-c:#121212;--c:#121212;--bs:none;--hvr-bs:none;--bw:1px 1px 1px 1px;--hvr-bw:1px 1px 1px 1px;--bc:#121212;--hvr-bc:#121212;--w:auto;--w-tablet:auto;--w-mobile:auto"
        key="gIhUchB153"

      >
        
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        
        style="--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054574"
      >
      <div  >
        <div
          data-gp-text
          class="gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap !gp-text-inherit  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:25px;--size-tablet:20px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggIhUchB153_childItem_2 }}
        </div>
      </div>
    </div>
    
      </li>
    
            </ul>
          </div>
          <div class="gp-flex gp-flex-1 gp-min-w-0">
            <div
              key="gIhUchB153"
              class="gp-tab-item-container gp-p-4"
              style="--w:100%"
            >
              
  <div
    
    class="gp-tab-item gp-child-item-gIhUchB153"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--h:100%;--v:visible;--pos:relative"
  >
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gbp3435QTz"
        class="gbp3435QTz"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054576"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggbp3435QTz_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gni4Sim-Cq"
        class="gni4Sim-Cq"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:var(--g-s-l);--ml:175px;--mr:175px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:25px;--mr-mobile:25px;--mt-tablet:var(--g-s-l);--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054577"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:1000px;--w-mobile:1000px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggni4Sim-Cq_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  </div>
  
  <div
    
    class="gp-tab-item gp-child-item-gIhUchB153"
    style="--pageType:GP_PRODUCT;--h:100%;--v:hidden;--pos:absolute"
  >
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7Upp7Eb9d"
        class="g7Upp7Eb9d"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054579"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7Upp7Eb9d_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7xiAqCTyZ"
        class="g7xiAqCTyZ"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:var(--g-s-l);--ml:191px;--mr:191px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:25px;--mr-mobile:25px;--mt-tablet:var(--g-s-l);--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054580"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:1000px;--w-mobile:1000px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7xiAqCTyZ_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  </div>
  
  <div
    
    class="gp-tab-item gp-child-item-gIhUchB153"
    style="--pageType:GP_PRODUCT;--h:100%;--v:hidden;--pos:absolute"
  >
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gkvQYtT-_4"
        class="gkvQYtT-_4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054581"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--size:21px;--size-tablet:16px;--size-mobile:14px;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggkvQYtT-_4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gN7HFI7Y4H"
        class="gN7HFI7Y4H"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_PRODUCT;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--mt:var(--g-s-l);--ml:191px;--mr:191px;--pl:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:25px;--mr-mobile:25px;--mt-tablet:var(--g-s-l);--mb-tablet:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1753959054582"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-1  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:1000px;--w-mobile:1000px;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggN7HFI7Y4H_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
  </div>
  
            </div>
          </div>
        </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-tab-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-574663226030359327 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=574663225979699999&sectionId=574663226030359327)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIhUchB153_childItem_0","label":"ggIhUchB153_childItem_0","default":"<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Brazil</span></p>"},{"type":"html","id":"ggIhUchB153_childItem_1","label":"ggIhUchB153_childItem_1","default":"<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">Colombia</span></p>"},{"type":"html","id":"ggIhUchB153_childItem_2","label":"ggIhUchB153_childItem_2","default":"<p><span style=\"background-color:rgba(255,255,255,0);color:rgb(0,0,0);font-size:25px;\">India</span></p>"},{"type":"html","id":"ggbp3435QTz_text","label":"ggbp3435QTz_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(138,138,138);font-size:18px;\">Brazil | Monteiro Lobato</span></p>"},{"type":"html","id":"ggni4Sim-Cq_text","label":"ggni4Sim-Cq_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(0,0,0);font-size:16px;\">Santiago is our annual farm coffee from Brazil, which we source as a community lot called Monteiro Lobato mainly from the Fazenda Pinheiro, Matao and Sao Domingos farms. The coffee farms are located in the São José do Rio Pardo region (near Cerrado Mineiro) in the state of São Paulo, which is renowned for coffee cultivation. This community blend stands for high commitment, consistent taste and careful craftsmanship. The coffee cherries are carefully selected for various factors, including specific flavor profiles, bean density and color matching for consistent quality. Each cup of Monteiro Lobato represents a symphony of flavors and harmony of environmental sustainability and community welfare in the region. For every bag of green coffee sold, a tree is planted at Fazenda Pinheiro.</span></p>"},{"type":"html","id":"gg7Upp7Eb9d_text","label":"gg7Upp7Eb9d_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(138,138,138);font-size:18px;\">Colombia | Piendamó, Cauca</span></p>"},{"type":"html","id":"gg7xiAqCTyZ_text","label":"gg7xiAqCTyZ_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(0,0,0);font-size:16px;\">Exelso Gran Galope is a washed single origin coffee from the Cauca region of Colombia. It is grown at an altitude of 1400 to 2000 meters above sea level. Cauca is located in central-western Colombia and stretches from the western Cordillera (mountain range) to the Pacific Ocean. The sea winds and altitude make Cauca one of the coolest regions in Colombia. The coffee from each lot in this area comes from 10-30 small farmers and can be traced back to the region. It is mainly grown by indigenous or Afro-indigenous communities and is one of the poorest regions in Colombia. Excelso refers to the size and quality of the beans (more on this below). This coffee comes from our partner Cafe Imports, who work closely with the coffee farmers and cooperatives. This close connection not only guarantees the high quality of the coffee, but also promotes a sustainable and supportive local partnership.</span></p>"},{"type":"html","id":"ggkvQYtT-_4_text","label":"ggkvQYtT-_4_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(138,138,138);font-size:18px;\">India | Karadykan Estate</span></p>"},{"type":"html","id":"ggN7HFI7Y4H_text","label":"ggN7HFI7Y4H_text","default":"<p><span style=\"background-color:rgba(255,255,255,0.93);color:rgb(0,0,0);font-size:16px;\">The small proportion from India is grown in the Chikmagalur region. There, the coffees grow on steep mountain slopes on clay-like soils at an altitude of 1100 meters. Our Monsooned Malabar comes from the Karadykan Estate, a farm that was founded in 1890 by the two British brothers W.L. and C.S. Crawford. The farm later became the property of Sangameshwar Coffee. Irrigation is provided exclusively by natural rainfall. The absorption of moisture during the monsoon rains gives the coffee its exceptional cup profile and aroma.</span></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
