

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-562741366640149669.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-562741366640149669.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-562741366640149669.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-562741366640149669.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-562741366640149669.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-562741366640149669.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-562741366640149669.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-562741366640149669.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-562741366640149669.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-562741366640149669.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-562741366640149669.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-562741366640149669.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-562741366640149669.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-562741366640149669.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-562741366640149669.gps.gpsil [style*="--hvr-bc:"]:hover{border-color:var(--hvr-bc)}.gps-562741366640149669.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-562741366640149669.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-562741366640149669.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-562741366640149669.gps.gpsil [style*="--hvr-bs:"]:hover{border-style:var(--hvr-bs)}.gps-562741366640149669.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-562741366640149669.gps.gpsil [style*="--hvr-bw:"]:hover{border-width:var(--hvr-bw)}.gps-562741366640149669.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-562741366640149669.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-562741366640149669.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-562741366640149669.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-562741366640149669.gps.gpsil [style*="--fd:"]{flex-direction:var(--fd)}.gps-562741366640149669.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-562741366640149669.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-562741366640149669.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-562741366640149669.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-562741366640149669.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-562741366640149669.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-562741366640149669.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-562741366640149669.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-562741366640149669.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-562741366640149669.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-562741366640149669.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-562741366640149669.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-562741366640149669.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-562741366640149669.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-562741366640149669.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-562741366640149669.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-562741366640149669.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-562741366640149669.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-562741366640149669.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-562741366640149669.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-562741366640149669.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-562741366640149669.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-562741366640149669.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-562741366640149669.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-562741366640149669.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-562741366640149669.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-562741366640149669.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-562741366640149669.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-562741366640149669.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-562741366640149669.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-562741366640149669.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-562741366640149669.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-562741366640149669.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-562741366640149669.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-562741366640149669.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-562741366640149669.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-562741366640149669.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-562741366640149669.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-562741366640149669.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-562741366640149669.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-562741366640149669.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-562741366640149669.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-562741366640149669.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-562741366640149669.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-562741366640149669.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-562741366640149669.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-562741366640149669.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-562741366640149669.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-562741366640149669.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-562741366640149669.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-562741366640149669.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-562741366640149669.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-562741366640149669.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-562741366640149669.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-562741366640149669.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-562741366640149669.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-562741366640149669 .-gp-rotate-90,.gps-562741366640149669 .gp-rotate-180,.gps-562741366640149669 .gp-rotate-90{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-562741366640149669 .gp-relative{position:relative}.gps-562741366640149669 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-562741366640149669 .gp-mb-0{margin-bottom:0}.gps-562741366640149669 .gp-flex{display:flex}.gps-562741366640149669 .gp-inline-flex{display:inline-flex}.gps-562741366640149669 .gp-grid{display:grid}.gps-562741366640149669 .gp-contents{display:contents}.gps-562741366640149669 .\!gp-hidden{display:none!important}.gps-562741366640149669 .gp-hidden{display:none}.gps-562741366640149669 .gp-h-auto{height:auto}.gps-562741366640149669 .gp-h-full{height:100%}.gps-562741366640149669 .gp-min-h-0{min-height:0}.gps-562741366640149669 .gp-w-full{width:100%}.gps-562741366640149669 .gp-min-w-0{min-width:0}.gps-562741366640149669 .gp-max-w-full{max-width:100%}.gps-562741366640149669 .gp-flex-1{flex:1 1 0%}.gps-562741366640149669 .gp-flex-none{flex:none}.gps-562741366640149669 .-gp-rotate-90{--tw-rotate:-90deg}.gps-562741366640149669 .-gp-rotate-90,.gps-562741366640149669 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-562741366640149669 .gp-rotate-180{--tw-rotate:180deg}.gps-562741366640149669 .gp-rotate-90{--tw-rotate:90deg;transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-562741366640149669 .gp-cursor-pointer{cursor:pointer}.gps-562741366640149669 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-562741366640149669 .gp-flex-row{flex-direction:row}.gps-562741366640149669 .gp-flex-col{flex-direction:column}.gps-562741366640149669 .gp-flex-wrap{flex-wrap:wrap}.gps-562741366640149669 .gp-items-center{align-items:center}.gps-562741366640149669 .gp-justify-center{justify-content:center}.gps-562741366640149669 .gp-gap-y-0{row-gap:0}.gps-562741366640149669 .gp-overflow-hidden{overflow:hidden}.gps-562741366640149669 .gp-overflow-clip{overflow:clip}.gps-562741366640149669 .gp-whitespace-nowrap{white-space:nowrap}.gps-562741366640149669 .gp-p-4{padding:16px}.gps-562741366640149669 .gp-px-4{padding-left:16px;padding-right:16px}.gps-562741366640149669 .gp-py-2{padding-bottom:8px;padding-top:8px}.gps-562741366640149669 .gp-pb-0{padding-bottom:0}.gps-562741366640149669 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-562741366640149669 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-562741366640149669 .gp-duration-200{transition-duration:.2s}.gps-562741366640149669 .gp-duration-500{transition-duration:.5s}.gps-562741366640149669 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-562741366640149669 .tablet\:\!gp-hidden{display:none!important}.gps-562741366640149669 .tablet\:gp-hidden{display:none}.gps-562741366640149669 .tablet\:gp-h-auto{height:auto}.gps-562741366640149669 .tablet\:gp-flex-none{flex:none}.gps-562741366640149669 .tablet\:gp-flex-row{flex-direction:row}.gps-562741366640149669 .tablet\:gp-flex-col{flex-direction:column}}@media (max-width:767px){.gps-562741366640149669 .mobile\:\!gp-hidden{display:none!important}.gps-562741366640149669 .mobile\:gp-hidden{display:none}.gps-562741366640149669 .mobile\:gp-h-auto{height:auto}.gps-562741366640149669 .mobile\:gp-flex-none{flex:none}.gps-562741366640149669 .mobile\:gp-flex-row{flex-direction:row}.gps-562741366640149669 .mobile\:gp-flex-col{flex-direction:column}}.gps-562741366640149669 .\[\&\>svg\]\:\!gp-h-\[var\(--height-iconCollapseSize\)\]>svg{height:var(--height-iconCollapseSize)!important}.gps-562741366640149669 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}.gps-562741366640149669 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-562741366640149669 .\[\&_p\]\:gp-inline p{display:inline}.gps-562741366640149669 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-562741366640149669 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gFS7-lJYdS" data-id="gFS7-lJYdS"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pt:var(--g-s-2xl);--pl:20px;--pb:var(--g-s-2xl);--pr:20px;--pt-mobile:var(--g-s-l);--pl-mobile:var(--g-s-xxs);--pb-mobile:var(--g-s-l);--pr-mobile:var(--g-s-xxs);--pt-tablet:53px;--pl-tablet:20px;--pb-tablet:106px;--pr-tablet:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#242424;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFS7-lJYdS gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWu2cR01wS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gxEOcUQG_I" data-id="gxEOcUQG_I"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gxEOcUQG_I gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7KJk0hbC5 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-tab data-id="gQqFDmP14g" gp-data='{"setting":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"solid","borderWidth":"2px","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"solid","borderWidth":"2px","color":"#6d3212","isCustom":true,"position":"all","width":"2px 2px 2px 2px"}},"childItem":["<p>FAQs</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#6d3212","hover":"#6d3212","normal":"#ffffff"},"labelColor":{"active":"#ffffff","hover":"#ffffff","normal":"#6d3212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"24px","mobile":"14px","tablet":"16px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"600px"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"builderProps":{"uid":"gQqFDmP14g","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"var(--g-s-s)"},"padding":{"bottom":"16px"}},"mobile":{"link":false,"margin":{"bottom":"0px"},"padding":{"bottom":"16px"}}}},"childrens":["g3XehwTb6s"],"label":"Tab","settings":{"activeKey":1,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"borderTab":{"active":{"border":"solid","borderWidth":"2px","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 2px 0px"},"hover":{"border":"none","borderWidth":"1px","color":"#121212","isCustom":false,"position":"all","width":"1px 1px 1px 1px"},"normal":{"border":"solid","borderWidth":"2px","color":"#6d3212","isCustom":true,"position":"all","width":"2px 2px 2px 2px"}},"childItem":["<p>FAQs</p>"],"labelAlign":{"desktop":"center"},"labelBgColor":{"active":"#6d3212","hover":"#6d3212","normal":"#ffffff"},"labelColor":{"active":"#ffffff","hover":"#ffffff","normal":"#6d3212"},"labelTypoV2":{"custom":{"fontFamily":"Syne","fontSize":{"desktop":"24px","mobile":"14px","tablet":"16px"},"fontWeight":"700","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-1"},"labelWidth":{"desktop":"200px"},"panelAlign":{"desktop":"center"},"panelFullWidth":{"desktop":false},"panelWidth":{"desktop":"600px"},"position":{"desktop":"top","mobile":"top","tablet":"top"},"translate":"childItem"},"styles":{},"tag":"Tabs","uid":"gQqFDmP14g","type":"component"}}}'>
      <div
        
        data-id=""
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pb:16px;--mb-mobile:0px;--pb-mobile:16px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gp-flex gQqFDmP14g"
      >
        <style>
            .gQqFDmP14g .gp-navs-tab.left p,
            .gQqFDmP14g .gp-navs-tab.right p {
              word-wrap: break-word;
              white-space: break-spaces;
            }
            
        </style>
        <div
          class="gp-flex gp-w-full  gp-flex-col mobile:gp-flex-col tablet:gp-flex-col"
        >
          <div
            class="gp-flex"
            style="--jc:center"
          >
            <ul
              class="gp-tab-header-list gp-flex gp-flex-wrap  gp-flex-row mobile:gp-flex-row tablet:gp-flex-row"
              style="--maxw:600px;--maxw-tablet:600px;--maxw-mobile:600px"
            >
              
                  <li
                    class="gp-navs-tab gp-flex gp-flex-1 gp-cursor-pointer gp-py-2 gp-px-4"
                    aria-hidden
                    style="--bs:unset, --hvr-bs:unset, --hvr-bgc:unset, --hvr-c:unset,--hvr-bw:unset, --hvr-bc:unset"
                    key="gQqFDmP14g"
                  >
                    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-cursor-pointer gp-overflow-hidden gp-whitespace-nowrap"
          style="--w:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:24px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggQqFDmP14g_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
                  </li>
                
            </ul>
          </div>
          <div
            class="gp-flex gp-flex-1 gp-min-w-0"
          >
            <div
              class="gp-tab-item-container gp-p-4 gp-pb-0"
              key="gQqFDmP14g"
              style="--w:100%"
            >
            
  <div
    
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
    class="gp-tab-item gp-child-item-gQqFDmP14g"
  >
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--pl-mobile:0px;--pr-mobile:0px" class="gBSh2DJJgj ">
      
    <gp-accordion
      data-id="gBSh2DJJgj"
     uid="gBSh2DJJgj"
      class="gp-flex gp-w-full gp-flex-col "
      style="--gg:8px;--gg-mobile:5px;--bgr:function (n) {
                return new Array(1 + n).join(this);
            };border-radius:inherit"
      gp-data='{"setting":{"iconSvg":"<svg width=\"17\" height=\"16\" viewBox=\"0 0 17 16\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n                  <path d=\"M5.64645 2.64645C5.84171 2.45118 6.15829 2.45118 6.35355 2.64645L11.3536 7.64645C11.5488 7.84171 11.5488 8.15829 11.3536 8.35355L6.35355 13.3536C6.15829 13.5488 5.84171 13.5488 5.64645 13.3536C5.45118 13.1583 5.45118 12.8417 5.64645 12.6464L10.2929 8L5.64645 3.35355C5.45118 3.15829 5.45118 2.84171 5.64645 2.64645Z\" fill=\"currentColor\"/>\n                  </svg>","isIconPlus":false,"activeKey":"1,2","expanded":true,"expandItem":false,"iconPosition":"right","iconGlobalSize":{"desktop":{"gap":"16px"}},"iconCollapse":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817587901825384\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z\" /></svg>","iconExpand":"<svg height=\"20\" width=\"20\" xmlns=\"http://www.w3.org/2000/svg\"  viewBox=\"0 0 256 256\" fill=\"currentColor\" data-id=\"508817584339812712\">\n              <path fill=\"currentColor\" strokeLinecap=\"round\" strokeLinejoin=\"round\" fill=\"currentColor\" d=\"M228,128a12,12,0,0,1-12,12H40a12,12,0,0,1,0-24H216A12,12,0,0,1,228,128Z\" /></svg>","iconCollapseSize":14,"layoutHeader":"text-only","expandedMode":"multiple","configIconSize":16,"parentUid":"gBSh2DJJgj","childListNumber":[],"chidlrenUid":["gQhkhp9zjV","gqz8MVecMH","g57cRIa8un","gleh8_XtJk","gEb5pEVr2R","gPht16nHmW","gGxWQov7kg","g6wisnj9HE","gJLvHphYtB"]},"styles":{"bgColor":{"active":"#e2e2e2","hover":"#6d3212","normal":"#BCBCBC"},"color":{"active":"#6d3212","hover":"#e5e5e5","normal":"#6d3212"},"headerBorder":{"active":{"border":"solid","borderWidth":"Mixed","color":"#6d3212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"hover":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"},"normal":{"border":"none","borderWidth":"Mixed","color":"#121212","isCustom":true,"position":"bottom","width":"0px 0px 1px 0px"}},"textColor":{"active":"#6d3212","hover":"#e5e5e5","normal":"#6d3212"},"iconColor":{"active":"#121212","hover":"#121212","normal":"#121212"},"contentSizePadding":{"desktop":{"gap":"8px","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}},"mobile":{"customShapeValue":"","gap":"5px","height":"","padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"},"shape":"","shapeValue":"","width":""}},"headerContentPadding":{"desktop":{"gap":"","padding":{"bottom":"12px","left":"24px","right":"24px","top":"var(--g-s-m)","type":"custom"}},"mobile":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"var(--g-s-m)","left":"var(--g-s-m)","right":"var(--g-s-m)","top":"var(--g-s-m)","type":"custom"},"shape":"","shapeValue":"","width":""},"tablet":{"customShapeValue":"","gap":"","height":"","padding":{"bottom":"var(--g-s-s)","left":"23px","right":"var(--g-s-xl)","top":"var(--g-s-s)","type":"custom"},"shape":"","shapeValue":"","width":""}},"widthHeightSize":{"desktop":{"height":"auto","width":"100%"}}},"uid":"gBSh2DJJgj"}'
    >
    <div class="gp-hidden gp-rotate-90 -gp-rotate-90 gp-rotate-180"></div>
    <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="0"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gQhkhp9zjV"
        id="gQhkhp9zjV"
        data-index="0"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-0 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-0:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="0"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_0 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gQhkhp9zjV"
        data-index="0"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gQhkhp9zjV"
        data-index="0"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gDWFgx9fXQ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gy1kNEDee1" data-id="gy1kNEDee1"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gy1kNEDee1 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9fVKjKDEu gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g0ECxAxHmJ" data-id="g0ECxAxHmJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 8fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g0ECxAxHmJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gtHgkBNuqX gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gWmFlCYq2f"
    role="presentation"
    class="gp-group/image gWmFlCYq2f gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="#gbIot3VKwn" target="_self" title
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-e3e3103e-e437-40c5-ac5b-3a3349faf1b1.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </a>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gakEoqg0qh gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gc5HZ6s0xb">
    <div
      parentTag="Col"
        class="gc5HZ6s0xb "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:15px;--size-tablet:13px;--size-mobile:11px;--lh:180%;--lh-tablet:150%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggc5HZ6s0xb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gc5HZ6s0xb">
        .gc5HZ6s0xb .gp-text ol{
    padding-left: 4px !important;
    margin: 4px !important;
}

      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="1"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gqz8MVecMH"
        id="gqz8MVecMH"
        data-index="1"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-1 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-1:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="1"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_1 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gqz8MVecMH"
        data-index="1"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gqz8MVecMH"
        data-index="1"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gOA21Bzf-8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gveuDttb24" data-id="gveuDttb24"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gveuDttb24 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdI8ASBq4Z gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gY24Fd_Fwc">
    <div
      parentTag="Col"
        class="gY24Fd_Fwc "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggY24Fd_Fwc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="2"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g57cRIa8un"
        id="g57cRIa8un"
        data-index="2"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-2 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-2:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="2"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_2 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g57cRIa8un"
        data-index="2"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g57cRIa8un"
        data-index="2"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gdkLNIwdBZ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRg1tbaE04" data-id="gRg1tbaE04"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRg1tbaE04 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g9k1UvyTZG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gs64EgVU2d">
    <div
      parentTag="Col"
        class="gs64EgVU2d "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggs64EgVU2d_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="3"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gleh8_XtJk"
        id="gleh8_XtJk"
        data-index="3"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-3 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-3:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="3"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_3 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gleh8_XtJk"
        data-index="3"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gleh8_XtJk"
        data-index="3"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gqaUWdPeLw gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="ghf_USCbSO" data-id="ghf_USCbSO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ghf_USCbSO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-fjt9BXXL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGF93iTEhc">
    <div
      parentTag="Col"
        class="gGF93iTEhc "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggGF93iTEhc_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="4"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gEb5pEVr2R"
        id="gEb5pEVr2R"
        data-index="4"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-4 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-4:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="4"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_4 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gEb5pEVr2R"
        data-index="4"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gEb5pEVr2R"
        data-index="4"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="g_bGpl2LqJ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g4KBjARbU8" data-id="g4KBjARbU8"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4KBjARbU8 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gQITqRhqse gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gxrvISmR6b">
    <div
      parentTag="Col"
        class="gxrvISmR6b "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mt-mobile:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggxrvISmR6b_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="5"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gPht16nHmW"
        id="gPht16nHmW"
        data-index="5"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-5 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-5:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="5"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_5 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gPht16nHmW"
        data-index="5"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gPht16nHmW"
        data-index="5"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gqoaA7TE8C gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gY6bYyDNfZ" data-id="gY6bYyDNfZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gY6bYyDNfZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdwIkYTLy4 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBbcwrpdGz">
    <div
      parentTag="Col"
        class="gBbcwrpdGz "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBbcwrpdGz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="6"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gGxWQov7kg"
        id="gGxWQov7kg"
        data-index="6"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-6 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-6:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="6"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_6 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gGxWQov7kg"
        data-index="6"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gGxWQov7kg"
        data-index="6"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      label="Block" tag="Col" type="component"
      
      class="gKB437Qec9 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gknU4oHMOp" data-id="gknU4oHMOp"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gknU4oHMOp gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-ncVUosKP gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBYt2E80Bi">
    <div
      parentTag="Col"
        class="gBYt2E80Bi "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBYt2E80Bi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="7"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="g6wisnj9HE"
        id="g6wisnj9HE"
        data-index="7"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-7 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-7:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="7"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_7 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="g6wisnj9HE"
        data-index="7"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="g6wisnj9HE"
        data-index="7"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gTwslBmuMO gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gUtpOv0iz3" data-id="gUtpOv0iz3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gUtpOv0iz3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gcO4XzAzEb gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gg9z1eGjiS">
    <div
      parentTag="Col"
        class="gg9z1eGjiS "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggg9z1eGjiS_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            <div
                class="gp-flex"
                style="--jc:center"
              >
                
  <div class="gp-overflow-clip" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--height-iconCollapseSize:14px;--height-configIconSize:16px;--bs:none;--bw:2px 2px 2px 2px;--bc:#12235D;--bg:transparent;--shadow:none">
    <div
      data-index="8"
      class="gBSh2DJJgj gp-accordion-item gp-overflow-hidden gp-child-item-gBSh2DJJgj"
      style="scrollBehavior:smooth"
    >
      <div
        aria-hidden
        uid="gJLvHphYtB"
        id="gJLvHphYtB"
        data-index="8"
        class="gBSh2DJJgj gp-accordion-item-gBSh2DJJgj-8 gp-flex gp-items-center gp-accordion-item_header gp-cursor-pointer"
        style="--pl:24px;--pr:24px;--pt:var(--g-s-m);--pb:12px;--pl-tablet:23px;--pr-tablet:var(--g-s-xl);--pt-tablet:var(--g-s-s);--pb-tablet:var(--g-s-s);--pl-mobile:var(--g-s-m);--pr-mobile:var(--g-s-m);--pt-mobile:var(--g-s-m);--pb-mobile:var(--g-s-m);--h:auto;--h-tablet:auto;--h-mobile:auto;--fd:row-reverse;--jc:space-between;gap:16px;--hvr-bgc:#6d3212;--bgc:#BCBCBC;--hvr-c:#e5e5e5;--c:#6d3212;--bs:none;--hvr-bs:none;--bw:0px 0px 1px 0px;--hvr-bw:0px 0px 1px 0px;--bc:#121212;--hvr-bc:#121212"
      >
       <style class="accordion-style">.gp-accordion-item-gBSh2DJJgj-8:hover 
      {
        .gp-collapsible-icon { 
          color: #e5e5e5 !important;
        }

        .gp-icon { 
            color: #121212 !important;
        }
      }
    </style>
        <div class="gp-inline-flex">
        <span
            style="--hvr-c:#e5e5e5;--c:#6d3212;width:14px;height:14px"
            data-index="8"
            class="gBSh2DJJgj gp-accordion-item_icon gp-collapsible-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden gp-transition-all gp-duration-200 [&>svg]:!gp-h-[var(--height-iconCollapseSize)] [&>svg]:!gp-w-auto"
          ><svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817587901825384">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M228,128a12,12,0,0,1-12,12H140v76a12,12,0,0,1-24,0V140H40a12,12,0,0,1,0-24h76V40a12,12,0,0,1,24,0v76h76A12,12,0,0,1,228,128Z" /></svg></span>

        </div>
      <div class="gp-flex gp-items-center gp-w-full" style="--gg:16px;--jc:left">
        
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      
        class=" "
        
      >
      <div  >
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-overflow-hidden"
          style="--w:100%;--ts:none;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--ls:normal;--size:18px;--size-tablet:16px;--size-mobile:12px;--lh:125%;--lh-tablet:125%;--lh-mobile:100%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggBSh2DJJgj_childItem_8 }}</div>
      </div>
    </div>
    </gp-text>
    
        
      </div>
      </div>
      <div
        uid="gJLvHphYtB"
        data-index="8"
        data-show="false"
        class="gBSh2DJJgj gp-accordion-item_body gp-transition-all gp-grid gp-duration-500 gp-overflow-hidden"
        style="grid-template-rows:0fr;grid-template-columns:minmax(auto, 100%)"
      >
        <div
        uid="gJLvHphYtB"
        data-index="8"
        class="gBSh2DJJgj gp-accordion-item_body-inner gp-min-h-0 gp-transition-all gp-duration-500"  style="--pl:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px" >
            <div
      tag="Col" type="component"
      style="--ai:normal;--jc:normal;--o:0"
      class="gH1AmCGH8F gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gYAdRmxSbL" data-id="gYAdRmxSbL"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--pl:var(--g-s-xl);--pb:var(--g-s-l);--pr:var(--g-s-xl);--mb-mobile:0px;--pl-mobile:13px;--pb-mobile:15px;--pr-mobile:15px;--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-m);--pr-tablet:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#ffffff;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gYAdRmxSbL gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYw7_Fmgq3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAzVWZ-QO9">
    <div
      parentTag="Col"
        class="gAzVWZ-QO9 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt:var(--g-s-s);--mb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:11px;--lh:125%;--lh-tablet:125%;--lh-mobile:125%;--c:#6d3212;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAzVWZ-QO9_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
        </div>
      </div>
    </div>
  </div>
  
              </div>
            
    </gp-accordion>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-accordion.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
  </div>
  
            </div>
          </div>
        </div>
      </div>
    </gp-tab>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-tab.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 21",
    "tag": "section",
    "class": "gps-562741366640149669 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=562741366489089189&sectionId=562741366640149669)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggQqFDmP14g_childItem_0","label":"ggQqFDmP14g_childItem_0","default":"<p>FAQs</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_0","label":"ggBSh2DJJgj_childItem_0","default":"<p>What's in the box?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_1","label":"ggBSh2DJJgj_childItem_1","default":"<p>What size is the package Ill receive, and how can I open the box correctly?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_2","label":"ggBSh2DJJgj_childItem_2","default":"<p>What kind of water should I use?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_3","label":"ggBSh2DJJgj_childItem_3","default":"<p>Can I put the machine accessories into the dishwasher?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_4","label":"ggBSh2DJJgj_childItem_4","default":"<p>How do I use CoffeeSense?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_5","label":"ggBSh2DJJgj_childItem_5","default":"<p>Does Meraki use a PID algorithm to control the extraction of water temperature?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_6","label":"ggBSh2DJJgj_childItem_6","default":"<p>What is the boiler capacity?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_7","label":"ggBSh2DJJgj_childItem_7","default":"<p>What is the maximum weight capacity of the scale?</p>"},{"type":"html","id":"ggBSh2DJJgj_childItem_8","label":"ggBSh2DJJgj_childItem_8","default":"<p>How long does it take to heat up?</p>"},{"type":"html","id":"ggc5HZ6s0xb_text","label":"ggc5HZ6s0xb_text","default":"<p>Here's a description of the pictured items from left to right, top to bottom:</p><ol><li><strong>Tamper Station: </strong>Organizes and stores smaller espresso accessories.</li><li><strong>Tamper:</strong> Compresses ground coffee in the portafilter for optimal extraction.</li><li><strong>Coffee Distributor:</strong> Ensures even coffee distribution for consistent brewing.</li><li><strong>58mm Portafilter with basket:</strong> Holds ground coffee and attaches to the espresso machine's group head.</li><li><strong>Blind Portafilter Basket:</strong> Used for flushing and cleaning the group head.&nbsp;</li><li><strong>Double-spout: </strong>Enhances the speed and convenience of espresso extraction</li><li><strong>Cleaning Brush: </strong>Cleans the portafilter, group head, and other machine parts.</li><li><strong>Milk Frothing Pitcher: </strong>Steams and froths milk for various coffee drinks. &nbsp;</li><li><strong>Dosing Cup: </strong>Measures out precise amounts of ground coffee.</li><li><strong>Cleaning Cloth: </strong>Wipes down and dries the espresso machine.</li><li><strong>Meraki Product Beginner Guides:</strong> Provides helpful instructions for new users.</li><li><strong>Meraki Product Manual:</strong> Contains comprehensive information and troubleshooting tips.</li></ol>"},{"type":"html","id":"ggY24Fd_Fwc_text","label":"ggY24Fd_Fwc_text","default":"<p>The package dimensions are 500 mm(L) x 500 mm(W) x 470 mm(H), and it weighs 20 KG. To ensure a smooth unboxing experience, weve created a helpful unboxing guide for you. Please watch the following link for detailed instructions: <a href=\"https://youtu.be/u1keBqq-V74\" target=\"_blank\">Unboxin</a><a href=\"https://youtu.be/u1keBqq-V74?si=F8NyiEZ1C5edStmO\" target=\"_blank\">g Guide</a>.&nbsp;</p>"},{"type":"html","id":"ggs64EgVU2d_text","label":"ggs64EgVU2d_text","default":"<p>To ensure optimal performance and extend the life of your Meraki, we advise using filtered water with hardness below 60 PPM or TDS below 200. While tap water meeting these specifications is usable, untreated tap water can introduce microorganisms, causing odors and making cleaning difficult. For long-term health and convenience, bottled or a reliable home filtration system is preferred.</p>"},{"type":"html","id":"ggGF93iTEhc_text","label":"ggGF93iTEhc_text","default":"<p>Most of Meraki's accessories are not dishwasher-safe, especially the drip tray, dosing cup, and portafilter. However, the milk pitcher can be safely used inside the dishwasher.</p>"},{"type":"html","id":"ggxrvISmR6b_text","label":"ggxrvISmR6b_text","default":"<p>To use the CoffeeSense feature, simply swipe the Meraki coffee bean bag, which is equipped with an NFC chip, on the NFC area of the Meraki machine. The machine will automatically recognize the coffee beans and provide the corresponding suggested grinding and extraction parameters. On the touchscreen, tap the buttons to start the grind and extraction process. Combined with two built-in scales for grinding and extracting, the machine will automatically stop the grinding and extraction process once the desired quantity is reached.</p>"},{"type":"html","id":"ggBbcwrpdGz_text","label":"ggBbcwrpdGz_text","default":"<p>Yes, the Meraki espresso machine uses advanced PID technology for precise temperature control, ensuring consistent, flavorful espresso. The PID system, combined with a dedicated group head heater, maintains optimal brewing temperature at the portafilter, giving you professional-level results with every shot.</p>"},{"type":"html","id":"ggBYt2E80Bi_text","label":"ggBYt2E80Bi_text","default":"<p>The Meraki espresso machine is equipped with dual boilers. The capacity of the extraction boiler is 350ml, while the capacity of the steam boiler is 550ml. Both boilers are made of stainless steel.</p>"},{"type":"html","id":"ggg9z1eGjiS_text","label":"ggg9z1eGjiS_text","default":"<p>The Meraki espresso machine features dual scales, with each scale having a maximum capacity of 1kg.</p>"},{"type":"html","id":"ggAzVWZ-QO9_text","label":"ggAzVWZ-QO9_text","default":"<p>The heat-up time is around 3 minutes for the 220-240V version and around 4 minutes for the 100-120V version.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
