

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370714076808294.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370714076808294.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370714076808294.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370714076808294.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370714076808294.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370714076808294.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370714076808294.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370714076808294.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370714076808294.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547370714076808294.gps.gpsil [style*="--bbw:"]{border-bottom-width:var(--bbw)}.gps-547370714076808294.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370714076808294.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370714076808294.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370714076808294.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370714076808294.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370714076808294.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370714076808294.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370714076808294.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370714076808294.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370714076808294.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370714076808294.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370714076808294.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370714076808294.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370714076808294.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370714076808294.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370714076808294.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-547370714076808294.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-547370714076808294.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370714076808294.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-547370714076808294.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370714076808294.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370714076808294.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370714076808294.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370714076808294.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370714076808294.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370714076808294.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370714076808294.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370714076808294.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370714076808294.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370714076808294.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370714076808294.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370714076808294.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370714076808294.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370714076808294.gps.gpsil [style*="--bbw-tablet:"]{border-bottom-width:var(--bbw-tablet)}.gps-547370714076808294.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370714076808294.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370714076808294.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370714076808294.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370714076808294.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370714076808294.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370714076808294.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-547370714076808294.gps.gpsil [style*="--bbw-mobile:"]{border-bottom-width:var(--bbw-mobile)}.gps-547370714076808294.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370714076808294.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370714076808294.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370714076808294.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-547370714076808294.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370714076808294.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370714076808294.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370714076808294.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370714076808294.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370714076808294.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370714076808294.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370714076808294 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547370714076808294 .gp-relative{position:relative}.gps-547370714076808294 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370714076808294 .gp-mb-0{margin-bottom:0}.gps-547370714076808294 .gp-block{display:block}.gps-547370714076808294 .gp-flex{display:flex}.gps-547370714076808294 .gp-inline-flex{display:inline-flex}.gps-547370714076808294 .gp-grid{display:grid}.gps-547370714076808294 .\!gp-hidden{display:none!important}.gps-547370714076808294 .gp-hidden{display:none}.gps-547370714076808294 .gp-max-w-full{max-width:100%}.gps-547370714076808294 .gp-flex-none{flex:none}.gps-547370714076808294 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370714076808294 .gp-flex-col{flex-direction:column}.gps-547370714076808294 .gp-items-center{align-items:center}.gps-547370714076808294 .gp-justify-start{justify-content:flex-start}.gps-547370714076808294 .gp-justify-center{justify-content:center}.gps-547370714076808294 .gp-gap-y-0{row-gap:0}.gps-547370714076808294 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370714076808294 .gp-duration-200{transition-duration:.2s}.gps-547370714076808294 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370714076808294 .tablet\:gp-block{display:block}.gps-547370714076808294 .tablet\:\!gp-hidden{display:none!important}.gps-547370714076808294 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547370714076808294 .mobile\:gp-block{display:block}.gps-547370714076808294 .mobile\:\!gp-hidden{display:none!important}.gps-547370714076808294 .mobile\:gp-hidden{display:none}}.gps-547370714076808294 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370714076808294 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370714076808294 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370714076808294 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkGBEXhhcW" data-id="gkGBEXhhcW"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-xs);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--pt-mobile:var(--g-s-xs);--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-xl);--pr-mobile:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkGBEXhhcW gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gqoiEAIWZf gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gIzu9xMLYT" data-id="gIzu9xMLYT"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIzu9xMLYT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="guPJ1iuTVe gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g5HmI3chiQ">
    <div
      parentTag="Col"
        class="g5HmI3chiQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--ml-mobile:0px;--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:46px;--size-tablet:46px;--size-mobile:26px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgc-mobile:#151515;--bgi:url();--bgi-mobile:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;overflow:hidden"
        >{{ section.settings.gg5HmI3chiQ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghTUvvGApJ">
    <div
      parentTag="Col"
        class="ghTUvvGApJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#6d6d6d;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghTUvvGApJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:12px;--pb:12px" class="gHZAcGNf-- ">
      
    <div
    data-id="gHZAcGNf--"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#6d3212"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ga83MJai-3">
    <div
      parentTag="Col"
        class="ga83MJai-3 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gga83MJai-3_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCQCG9ROLG">
    <div
      parentTag="Col"
        class="gCQCG9ROLG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCQCG9ROLG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTH4QESjap">
    <div
      parentTag="Col"
        class="gTH4QESjap "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTH4QESjap_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdcRe6JY1t">
    <div
      parentTag="Col"
        class="gdcRe6JY1t "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:16px;--size-mobile:13px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdcRe6JY1t_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-oqnPp6Wp">
    <div
      parentTag="Col"
        class="g-oqnPp6Wp "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:16px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg-oqnPp6Wp_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghceveKd__">
    <div
      parentTag="Col"
        class="ghceveKd__ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghceveKd___text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gS79axCDLQ">
    <div
      parentTag="Col"
        class="gS79axCDLQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggS79axCDLQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gS79axCDLQ">
        .gS79axCDLQ .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwXQ7o6bVM">
    <div
      parentTag="Col"
        class="gwXQ7o6bVM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwXQ7o6bVM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDeRxPlANv">
    <div
      parentTag="Col"
        class="gDeRxPlANv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDeRxPlANv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gDeRxPlANv">
        .gDeRxPlANv .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghEyMDm2sX">
    <div
      parentTag="Col"
        class="ghEyMDm2sX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghEyMDm2sX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-ghEyMDm2sX">
        .ghEyMDm2sX .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpQWs3rHPI">
    <div
      parentTag="Col"
        class="gpQWs3rHPI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpQWs3rHPI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpQWs3rHPI">
        .gpQWs3rHPI .gp-text ul{
    padding-left: 2px !important;
    margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glOdcq9veT">
    <div
      parentTag="Col"
        class="glOdcq9veT "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglOdcq9veT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8EzlqhuUI">
    <div
      parentTag="Col"
        class="g8EzlqhuUI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8EzlqhuUI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV1q3e-EvU">
    <div
      parentTag="Col"
        class="gV1q3e-EvU "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-m);--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggV1q3e-EvU_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmE6bFKo2Q">
    <div
      parentTag="Col"
        class="gmE6bFKo2Q "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:14px;--size-mobile:12px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmE6bFKo2Q_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--pt:12px;--pb:12px" class="gOPAKdBDM8 ">
      
    <div
    data-id="gOPAKdBDM8"
      class="gp-flex gp-justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--t:gp-rotate(0deg);--bc:#6d3212"
        class="gp-block tablet:gp-block mobile:gp-block"
      ></div>
      <div
        class="gp-items-center gp-hidden tablet:gp-hidden mobile:gp-hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--t:gp-rotate(0deg)"
      >
        
    <div
      class="gp-hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:gp-rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg style="width: 100%; height: 100%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="gp-inline-flex gp-items-center gp-justify-center gp-flex-none gp-g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="gp-flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#6d3212;--bs:solid;--bbw:2px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-547370714076808294 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370714043253862&sectionId=547370714076808294)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg5HmI3chiQ_text","label":"gg5HmI3chiQ_text","default":"Refund Policy"},{"type":"html","id":"gghTUvvGApJ_text","label":"gghTUvvGApJ_text","default":"<p>Last updated: February 2025</p>"},{"type":"html","id":"gga83MJai-3_text","label":"gga83MJai-3_text","default":"<p>1. Cancel of Order Before Goods Delivered</p>"},{"type":"html","id":"ggCQCG9ROLG_text","label":"ggCQCG9ROLG_text","default":"<p><span style=\"color:#D3D3D3;\"><strong>1.1. Before Shipment:</strong></span></p><p><strong>General Policy:</strong> We typically do not charge cancellation fees for orders cancelled before shipment.</p><p><strong>Order Adjustments:</strong> If you need to modify your order (e.g., remove items, change variants), please contact our <a href=\"mailto:hello@merakitech.com\" target=\"_blank\"><u>customer support team</u></a>. They can often adjust your order without incurring any fees.</p><p>&nbsp;</p><p><span style=\"color:#D3D3D3;\"><strong>1.2. After Shipment:</strong></span></p><p><strong>Return for Refund:</strong> If your order has shipped, you can return it to our warehouse before opening it for a refund. Please note that return shipping costs will be deducted from your refund. To avoid return shipping fees, we strongly recommend cancelling before your order ships.</p><p>&nbsp;</p><p><span style=\"color:#D3D3D3;\"><strong>1.3. Third-Party and Special Circumstances:</strong></span></p><p><strong>Third-Party Fees: </strong>If a cancellation results in fees from third-party services (e.g., payment processors), these costs will be the customer's responsibility. This applies regardless of when the fees are incurred.</p><p>Promotional/Subsidized Orders: Orders placed with special promotions or subsidies may incur third-party fees upon cancellation. These fees will be passed on to the customer and calculated based on our actual costs.</p>"},{"type":"html","id":"ggTH4QESjap_text","label":"ggTH4QESjap_text","default":"<p>2. Cancel of Order After Goods Delivered</p>"},{"type":"html","id":"ggdcRe6JY1t_text","label":"ggdcRe6JY1t_text","default":"<p><span style=\"color:#D3D3D3;\">2.1. Damage/Defective on Arrival (DOA):</span></p>"},{"type":"html","id":"gg-oqnPp6Wp_text","label":"gg-oqnPp6Wp_text","default":"<p>If you receive a damaged or defective item (as defined in our \"<a href=\"https://www.merakitech.com/pages/warranty-policy\" target=\"_blank\"><u>Warranty Policy</u></a>\"), we will cover all return and exchange costs. You will receive a full refund or a replacement at no cost to you.</p>"},{"type":"html","id":"gghceveKd___text","label":"gghceveKd___text","default":"<p><span style=\"color:#D3D3D3;\">2.2. Other Returns:</span></p>"},{"type":"html","id":"ggS79axCDLQ_text","label":"ggS79axCDLQ_text","default":"<p>For returns initiated for reasons other than DOA, certain fees may apply.</p><p>These fees may include:&nbsp;</p><ul><li>Re-boxing fee ($30)</li><li>Return shipping costs</li></ul><p>If the original order included a special subsidy, a cancellation fee may also apply. All applicable fees will be clearly communicated and confirmed with you before processing your return.</p>"},{"type":"html","id":"ggwXQ7o6bVM_text","label":"ggwXQ7o6bVM_text","default":"<p><span style=\"color:#D3D3D3;\">2.3. Return Process:</span></p>"},{"type":"html","id":"ggDeRxPlANv_text","label":"ggDeRxPlANv_text","default":"<p><strong>2.3.1. Initiate Return:</strong></p><ul><li>Contact our customer support team within 7 days of delivery.</li><li>Provide clear photographic or video evidence of the product's condition.</li></ul>"},{"type":"html","id":"gghEyMDm2sX_text","label":"gghEyMDm2sX_text","default":"<p><strong>2.3.2. Inspection and Confirmation:</strong></p><ul><li>Upon receiving your returned item(s), we will inspect them.</li><li>You will receive a confirmation email outlining the return status and any applicable fees.</li></ul>"},{"type":"html","id":"ggpQWs3rHPI_text","label":"ggpQWs3rHPI_text","default":"<p><strong>2.3.3. Refund Processing:</strong></p><ul><li>Once your return is approved, we will process your refund.</li><li>Refunds will be credited to your original payment method within 10 business days.</li><li>Applicable fees, such as return shipping, re-boxing, or third-party cancellation fees, will be deducted from your refund.</li></ul>"},{"type":"html","id":"gglOdcq9veT_text","label":"gglOdcq9veT_text","default":"<p>3. Purchases from Non-Official Retailers</p>"},{"type":"html","id":"gg8EzlqhuUI_text","label":"gg8EzlqhuUI_text","default":"<p>If you purchased a product from a distributor, dealer, partner retailer, or any e-commerce platform other than our official website, please reach out to that retailer directly for after-sales support. They operate under their own return and exchange policies. Our official distributors will assist you with their specific after-sales support procedures</p>"},{"type":"html","id":"ggV1q3e-EvU_text","label":"ggV1q3e-EvU_text","default":"<p>4. Disclaimer</p>"},{"type":"html","id":"ggmE6bFKo2Q_text","label":"ggmE6bFKo2Q_text","default":"<p>This return and exchange policy applies exclusively to purchases made through the Merakitech Limited official website and our crowdfunding campaign. Merakitech Limited reserves the right to amend this policy at any time. The most current version will be published on our official channels.</p><p>&nbsp;</p><p>If you have any further questions, please don't hesitate to contact us at <a href=\"mailto:service@merakitech.com\"><u>service@merakitech.com</u></a>.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
