
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584660073964372549.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584660073964372549.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584660073964372549.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584660073964372549.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584660073964372549.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bgc:"]:hover{background-color:var(--hvr-bgc)}.gps-584660073964372549.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584660073964372549.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584660073964372549.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584660073964372549.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584660073964372549.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584660073964372549.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584660073964372549.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-584660073964372549.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584660073964372549.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-584660073964372549.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584660073964372549.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584660073964372549.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-584660073964372549.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584660073964372549.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-584660073964372549.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584660073964372549.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584660073964372549.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-584660073964372549.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584660073964372549.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-584660073964372549.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584660073964372549.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-584660073964372549.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584660073964372549.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584660073964372549.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584660073964372549.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584660073964372549.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584660073964372549.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584660073964372549.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584660073964372549.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584660073964372549.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-584660073964372549.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584660073964372549.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584660073964372549.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584660073964372549.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-584660073964372549.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584660073964372549.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584660073964372549.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584660073964372549.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584660073964372549.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584660073964372549.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584660073964372549.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-584660073964372549.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584660073964372549.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584660073964372549.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584660073964372549.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-584660073964372549.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584660073964372549.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-584660073964372549.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584660073964372549.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584660073964372549.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584660073964372549.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584660073964372549.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584660073964372549.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584660073964372549.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-584660073964372549.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584660073964372549.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584660073964372549.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584660073964372549.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584660073964372549.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584660073964372549.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584660073964372549.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bblr-tablet:"]:hover{border-bottom-left-radius:var(--hvr-bblr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--focus-bblr-tablet:"]:focus{border-bottom-left-radius:var(--focus-bblr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bbrr-tablet:"]:hover{border-bottom-right-radius:var(--hvr-bbrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--focus-bbrr-tablet:"]:focus{border-bottom-right-radius:var(--focus-bbrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btlr-tablet:"]:hover{border-top-left-radius:var(--hvr-btlr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--focus-btlr-tablet:"]:focus{border-top-left-radius:var(--focus-btlr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btrr-tablet:"]:hover{border-top-right-radius:var(--hvr-btrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--focus-btrr-tablet:"]:focus{border-top-right-radius:var(--focus-btrr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584660073964372549.gps.gpsil [style*="--gg-tablet:"]{grid-gap:var(--gg-tablet)}.gps-584660073964372549.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-584660073964372549.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584660073964372549.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584660073964372549.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-584660073964372549.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584660073964372549.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-584660073964372549.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-584660073964372549.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584660073964372549.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584660073964372549.gps.gpsil [style*="--bga-mobile:"]{background-attachment:var(--bga-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bblr-mobile:"]:hover{border-bottom-left-radius:var(--hvr-bblr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--focus-bblr-mobile:"]:focus{border-bottom-left-radius:var(--focus-bblr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--hvr-bbrr-mobile:"]:hover{border-bottom-right-radius:var(--hvr-bbrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--focus-bbrr-mobile:"]:focus{border-bottom-right-radius:var(--focus-bbrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btlr-mobile:"]:hover{border-top-left-radius:var(--hvr-btlr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--focus-btlr-mobile:"]:focus{border-top-left-radius:var(--focus-btlr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--hvr-btrr-mobile:"]:hover{border-top-right-radius:var(--hvr-btrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--focus-btrr-mobile:"]:focus{border-top-right-radius:var(--focus-btrr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-584660073964372549.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584660073964372549.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-584660073964372549.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584660073964372549.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584660073964372549.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584660073964372549.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584660073964372549.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-584660073964372549.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584660073964372549.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-584660073964372549.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-584660073964372549.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584660073964372549.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584660073964372549.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584660073964372549 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-584660073964372549 .gp-g-paragraph-2{font-family:var(--g-p2-ff);font-size:var(--g-p2-size);font-style:var(--g-p2-fs);font-weight:var(--g-p2-weight);letter-spacing:var(--g-p2-ls);line-height:var(--g-p2-lh)}.gps-584660073964372549 .gp-invisible{visibility:hidden}.gps-584660073964372549 .gp-absolute{position:absolute}.gps-584660073964372549 .gp-relative{position:relative}.gps-584660073964372549 .gp-inset-0{inset:0}.gps-584660073964372549 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-584660073964372549 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-584660073964372549 .-gp-z-1{z-index:-1}.gps-584660073964372549 .gp-z-1{z-index:1}.gps-584660073964372549 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584660073964372549 .gp-mb-0{margin-bottom:0}.gps-584660073964372549 .gp-flex{display:flex}.gps-584660073964372549 .gp-inline-flex{display:inline-flex}.gps-584660073964372549 .gp-grid{display:grid}.gps-584660073964372549 .\!gp-hidden{display:none!important}.gps-584660073964372549 .gp-hidden{display:none}.gps-584660073964372549 .gp-h-full{height:100%}.gps-584660073964372549 .gp-w-full{width:100%}.gps-584660073964372549 .gp-max-w-full{max-width:100%}.gps-584660073964372549 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584660073964372549 .gp-flex-col{flex-direction:column}.gps-584660073964372549 .\!gp-content-stretch{align-content:stretch!important}.gps-584660073964372549 .gp-items-center{align-items:center}.gps-584660073964372549 .gp-justify-start{justify-content:flex-start}.gps-584660073964372549 .gp-justify-center{justify-content:center}.gps-584660073964372549 .gp-self-center{align-self:center}.gps-584660073964372549 .gp-overflow-hidden{overflow:hidden}.gps-584660073964372549 .gp-leading-\[0\]{line-height:0}.gps-584660073964372549 .gp-text-g-line-3{color:var(--g-c-line-3)}.gps-584660073964372549 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660073964372549 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660073964372549 .gp-duration-200{transition-duration:.2s}.gps-584660073964372549 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-584660073964372549 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-584660073964372549 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-584660073964372549 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-584660073964372549 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-584660073964372549 .tablet\:\!gp-relative{position:relative!important}.gps-584660073964372549 .tablet\:\!gp-hidden{display:none!important}.gps-584660073964372549 .tablet\:gp-hidden{display:none}.gps-584660073964372549 .tablet\:gp-h-full{height:100%}.gps-584660073964372549 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-584660073964372549 .tablet\:gp-justify-start{justify-content:flex-start}.gps-584660073964372549 .tablet\:gp-object-cover{-o-object-fit:cover;object-fit:cover}}@media (max-width:767px){.gps-584660073964372549 .mobile\:\!gp-relative{position:relative!important}.gps-584660073964372549 .mobile\:\!gp-hidden{display:none!important}.gps-584660073964372549 .mobile\:gp-hidden{display:none}.gps-584660073964372549 .mobile\:\!gp-h-auto{height:auto!important}.gps-584660073964372549 .mobile\:gp-h-full{height:100%}.gps-584660073964372549 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-584660073964372549 .mobile\:gp-justify-start{justify-content:flex-start}.gps-584660073964372549 .mobile\:gp-object-cover{-o-object-fit:cover;object-fit:cover}}.gps-584660073964372549 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-584660073964372549 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-584660073964372549 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-584660073964372549 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584660073964372549 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584660073964372549 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584660073964372549 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584660073964372549 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gDT7u8G8xR"}' data-id="gDT7u8G8xR" id="gDT7u8G8xR" data-same-height-subgrid-container class="gDT7u8G8xR gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:44%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gtfwgc0k_H gp-relative gp-flex gp-flex-col"
    >
      
      <gp-hero-banner
        
        data-id="gUnEQ5xLMS"
        class="gUnEQ5xLMS gp-group/hero gp-flex gp-w-full gp-flex-col gp-self-center gp-transition-colors gp-duration-200 gp-ease-in-out"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pl-mobile:0px;--pr-mobile:0px;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%;--aspect:auto;--h:fit-content;--h-tablet:auto;--h-mobile:auto"
        gp-data='{"background":{"desktop":{"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-34a9cc2f-dd4e-40a1-bb32-336cc4040e74.jpg","width":1728,"height":3072,"storage":"FILE_CONTENT","backupFileKey":"gempages_544061842616484702-34a9cc2f-dd4e-40a1-bb32-336cc4040e74.jpg","preload":true,"image":{"src":""},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","lazyLoad":false,"type":"video","videoType":"html5","loop":true,"videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0180640e4c6e4c2ba9616e7357369eee.mp4","video":"https://youtu.be/KOxfzBp72uk"},"tablet":{"attachment":"scroll","color":"#F6F6F6","image":{"src":""},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0180640e4c6e4c2ba9616e7357369eee.mp4","videoType":"html5","preload":true,"lazyLoad":false,"loop":true,"video":"https://youtu.be/KOxfzBp72uk"},"mobile":{"attachment":"scroll","color":"#F6F6F6","image":{"src":""},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color","videoHtml5":"https://media.w3.org/2010/05/sintel/trailer.mp4","videoType":"youtube","preload":true,"lazyLoad":false}},"uid":"gUnEQ5xLMS","enableParallax":false,"speedParallax":0,"hoverEffect":true,"hoverEffectScale":"100%","layout":{"desktop":{"cols":[12],"display":"fill","type":"center-top"},"mobile":{"cols":[12]},"tablet":{"cols":[12],"display":"fill","type":"center-top"}},"contentPosition1Col":{"desktop":"top","tablet":"top"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"auto"},"target":"_self","href":"","linkType":""}'
      >
        
  <div class="gp-relative gp-flex gp-w-full gp-flex-col gp-items-center gp-overflow-hidden hero-banner-container gp-justify-start tablet:gp-justify-start mobile:gp-justify-start" style="--h:fit-content;--h-tablet:auto;--h-mobile:auto;--aspect:auto;--bgc-tablet:#F6F6F6;--bgc-mobile:#F6F6F6">
      <div
        aria-label="Background Image"
        role="banner"
        class="gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0"
        style="clip-path:inset(0 0 0)"
      >
        <div class="hero-banner-bg gp-hero-banner-image-background hero-banner-bg-parallax gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform" style="--bgi:url();--bgi-tablet:url();--bgi-mobile:url();--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:;--bgc-tablet:#F6F6F6;--bgc-mobile:#F6F6F6;--bgp:50% 50%;--bgp-tablet:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bgr-mobile:no-repeat;--duration:0s;--scale:100%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;transform:;transition:transform 300ms cubic-bezier(0,0,0,1)">
          
          
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-gUnEQ5xLMS" title="Video" preload="metadata" data-src="https://cdn.shopify.com/videos/c/o/v/0180640e4c6e4c2ba9616e7357369eee.mp4" poster data-poster
      style="--aspect:auto"
      class="gp-w-full gp-relative tablet:gp-h-full tablet:gp-object-cover mobile:gp-h-full mobile:gp-object-cover gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      src=""
    >
      <source data-src="https://cdn.shopify.com/videos/c/o/v/0180640e4c6e4c2ba9616e7357369eee.mp4" src="undefined" type="video/mp4"></source>
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
        </div>
        <div aria-label="Overlay" role="banner" class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-z-1 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]" style="--hvr-bgc:#121212;--hvr-op:0%;--top:0;--left:0"> </div>
      </div>
      
    

    

    
    <gp-row gp-data='{}' data-id id data-same-height-subgrid-container class="gp-hero-banner-row tablet:!gp-relative mobile:!gp-relative  tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start mobile:!gp-h-auto gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--cg:30px;--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:1200px;--w-mobile:1200px;--pc:start;--pc-tablet:start;--pc-mobile:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start;--o:0"
      class="g8GxeV7ajx gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"},"mobile":{"attachment":"scroll","color":"transparent","image":{"src":""},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"video","preload":false,"video":"https://www.youtube.com/watch?v=drIt4RH_kyQ","videoHtml5":"https://cdn.shopify.com/videos/c/o/v/0180640e4c6e4c2ba9616e7357369eee.mp4","videoType":"html5","loop":true}},"uid":"g7S5aDsutG"}' data-id="g7S5aDsutG" id="g7S5aDsutG" data-same-height-subgrid-container class="g7S5aDsutG gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:1px;--mb:95px;--mr:auto;--pt:84px;--pl:15px;--pb:115px;--pr:15px;--pt-tablet:84px;--pl-tablet:15px;--pb-tablet:115px;--pr-tablet:15px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:63px;--pl-mobile:15px;--pb-mobile:Auto;--pr-mobile:15px;--pos:static;--cg:32px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--h-mobile:100%;--bgc:transparent;--bgc-mobile:transparent;--bgi:url();--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--bga:scroll;--bga-mobile:scroll;--pc:start">
      
          <div class="gp-background-video gp-absolute gp-overflow-hidden gp-w-full gp-h-full left-0 top-0" style="--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--hvr-bblr:0px;--hvr-bbrr:0px;--hvr-btlr:0px;--hvr-btrr:0px;--focus-bblr:0px;--focus-bbrr:0px;--focus-btlr:0px;--focus-btrr:0px;-undefined-bblr:0px;-undefined-bbrr:0px;-undefined-btlr:0px;-undefined-btrr:0px;--bblr-tablet:0px;--bbrr-tablet:0px;--btlr-tablet:0px;--btrr-tablet:0px;--hvr-bblr-tablet:0px;--hvr-bbrr-tablet:0px;--hvr-btlr-tablet:0px;--hvr-btrr-tablet:0px;--focus-bblr-tablet:0px;--focus-bbrr-tablet:0px;--focus-btlr-tablet:0px;--focus-btrr-tablet:0px;-undefined-bblr-tablet:0px;-undefined-bbrr-tablet:0px;-undefined-btlr-tablet:0px;-undefined-btrr-tablet:0px;--bblr-mobile:0px;--bbrr-mobile:0px;--btlr-mobile:0px;--btrr-mobile:0px;--hvr-bblr-mobile:0px;--hvr-bbrr-mobile:0px;--hvr-btlr-mobile:0px;--hvr-btrr-mobile:0px;--focus-bblr-mobile:0px;--focus-bbrr-mobile:0px;--focus-btlr-mobile:0px;--focus-btrr-mobile:0px;-undefined-bblr-mobile:0px;-undefined-bbrr-mobile:0px;-undefined-btlr-mobile:0px;-undefined-btrr-mobile:0px">
            <div class="gp-bg-video gp-relative gp-h-full">
  <gp-lite-html5-embed is-check-loaded="false">
    
    <video
    id="gp-video-g7S5aDsutG" title="Video" preload="metadata" data-src poster data-poster
      style="--aspect:16/9;pointer-events:none;transform:translateY(-50%);height:100%;object-fit:cover;top:50%"
      class="gp-w-full gp-relative gp-lazyload-video"
      
      
      muted
      autoplay
      playsinline
      src=""
    >
      
    </video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  </div>
          </div>
        

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g-RW1jTPdt gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gc5CUx7kRY"
        class="gc5CUx7kRY"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-s);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758537517891"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:51px;--size-tablet:44px;--size-mobile:25px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggc5CUx7kRY_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLA24_IcIO"
        class="gLA24_IcIO"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758537517893"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:28px;--size-tablet:25px;--size-mobile:17px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#FFFFFF;--tt:none;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLA24_IcIO_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper  class="gkZ3kaVpHh ">
      
    
      
      
    <div class="gp-flex" >
    <div
      data-id="gkZ3kaVpHh"
       style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--mb-tablet:var(--g-s-2xl);--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--mb-mobile:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
     
     <ul
        class="gp-inline-flex gp-flex-col"
        style="--gg:var(--g-s-l);--gg-tablet:40px;--gg-mobile:25px"
        >
        
    <li
      data-index="0" data-id="gKLINYYp8C"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gkZ3kaVpHh"
      style="--cg:8px;--cg-mobile:10px"
    >
    <div
      data-same-height-display-contents
      
      class="g7dArG9H0K gp-relative gp-flex gp-flex-col"
    >
      
    <div id="g-Is4W9AMW" class="gp-leading-[0] g-Is4W9AMW" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="g-Is4W9AMW" class="icon-wrapper gp-inline-flex gp-overflow-hidden g-Is4W9AMW " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.85482 7.87581C4.13082 9.13015 3.74979 10.553 3.75001 12.0013C3.75001 14.1893 4.61921 16.2877 6.16638 17.8349C7.71356 19.3821 9.81198 20.2513 12 20.2513C14.188 20.2513 16.2865 19.3821 17.8336 17.8349C19.3808 16.2877 20.25 14.1893 20.25 12.0013C20.25 11.8024 20.329 11.6116 20.4697 11.4709C20.6103 11.3303 20.8011 11.2513 21 11.2513C21.1989 11.2513 21.3897 11.3303 21.5303 11.4709C21.671 11.6116 21.75 11.8024 21.75 12.0013C21.7497 14.1475 21.0413 16.2337 19.7345 17.9363C18.4278 19.6389 16.5958 20.8627 14.5226 21.418C12.4494 21.9733 10.2509 21.829 8.26813 21.0075C6.28531 20.186 4.62896 18.7333 3.55595 16.8745C2.48294 15.0157 2.05324 12.8548 2.33349 10.7269C2.61373 8.59904 3.58826 6.62308 5.10594 5.1055C6.62362 3.58792 8.59964 2.61351 10.7275 2.33341C12.8554 2.0533 15.0163 2.48314 16.875 3.55627C17.0459 3.65643 17.1702 3.82011 17.2208 4.01158C17.2714 4.20305 17.2442 4.40677 17.1452 4.57829C17.0462 4.7498 16.8833 4.87519 16.6922 4.92708C16.5011 4.97897 16.2972 4.95315 16.125 4.85527C14.8708 4.13112 13.448 3.74992 11.9997 3.74998C10.5514 3.75003 9.12865 4.13135 7.87445 4.85559C6.62026 5.57983 5.57882 6.62148 4.85482 7.87581Z" fill="#25BF75"/> <path d="M23.1947 4.78832C23.157 4.87943 23.1017 4.96222 23.0319 5.03195L12.5319 15.5319C12.4623 15.6018 12.3795 15.6572 12.2884 15.695C12.1973 15.7328 12.0996 15.7523 12.0009 15.7523C11.9023 15.7523 11.8046 15.7328 11.7135 15.695C11.6224 15.6572 11.5396 15.6018 11.4699 15.5319L6.96995 11.0319C6.90022 10.9622 6.8449 10.8794 6.80716 10.7883C6.76942 10.6972 6.75 10.5996 6.75 10.5009C6.75 10.4023 6.76942 10.3047 6.80716 10.2136C6.8449 10.1225 6.90022 10.0397 6.96995 9.96995C7.03968 9.90022 7.12246 9.8449 7.21357 9.80716C7.30468 9.76942 7.40233 9.75 7.50095 9.75C7.59956 9.75 7.69721 9.76942 7.78832 9.80716C7.87943 9.8449 7.96222 9.90022 8.03195 9.96995L12.0009 13.9404L21.9699 3.96995C22.0397 3.90022 22.1225 3.8449 22.2136 3.80716C22.3047 3.76942 22.4023 3.75 22.5009 3.75C22.5996 3.75 22.6972 3.76942 22.7883 3.80716C22.8794 3.8449 22.9622 3.90022 23.0319 3.96995C23.1017 4.03968 23.157 4.12246 23.1947 4.21357C23.2325 4.30468 23.2519 4.40233 23.2519 4.50095C23.2519 4.59956 23.2325 4.69721 23.1947 4.78832Z" fill="#25BF75"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="g5ZStAPRQR gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOJKbMjgba"
        class="gOJKbMjgba"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758537517897"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOJKbMjgba_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="1" data-id="gjDhobBxtw"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gkZ3kaVpHh"
      style="--cg:8px;--cg-mobile:10px"
    >
    <div
      data-same-height-display-contents
      
      class="gEti-1vE1p gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gs8hH1RsN1" class="gp-leading-[0] gs8hH1RsN1" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:37px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--ta:left">
      <div data-id="gs8hH1RsN1" class="icon-wrapper gp-inline-flex gp-overflow-hidden gs8hH1RsN1 " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.85482 7.87581C4.13082 9.13015 3.74979 10.553 3.75001 12.0013C3.75001 14.1893 4.61921 16.2877 6.16638 17.8349C7.71356 19.3821 9.81198 20.2513 12 20.2513C14.188 20.2513 16.2865 19.3821 17.8336 17.8349C19.3808 16.2877 20.25 14.1893 20.25 12.0013C20.25 11.8024 20.329 11.6116 20.4697 11.4709C20.6103 11.3303 20.8011 11.2513 21 11.2513C21.1989 11.2513 21.3897 11.3303 21.5303 11.4709C21.671 11.6116 21.75 11.8024 21.75 12.0013C21.7497 14.1475 21.0413 16.2337 19.7345 17.9363C18.4278 19.6389 16.5958 20.8627 14.5226 21.418C12.4494 21.9733 10.2509 21.829 8.26813 21.0075C6.28531 20.186 4.62896 18.7333 3.55595 16.8745C2.48294 15.0157 2.05324 12.8548 2.33349 10.7269C2.61373 8.59904 3.58826 6.62308 5.10594 5.1055C6.62362 3.58792 8.59964 2.61351 10.7275 2.33341C12.8554 2.0533 15.0163 2.48314 16.875 3.55627C17.0459 3.65643 17.1702 3.82011 17.2208 4.01158C17.2714 4.20305 17.2442 4.40677 17.1452 4.57829C17.0462 4.7498 16.8833 4.87519 16.6922 4.92708C16.5011 4.97897 16.2972 4.95315 16.125 4.85527C14.8708 4.13112 13.448 3.74992 11.9997 3.74998C10.5514 3.75003 9.12865 4.13135 7.87445 4.85559C6.62026 5.57983 5.57882 6.62148 4.85482 7.87581Z" fill="#25BF75"/> <path d="M23.1947 4.78832C23.157 4.87943 23.1017 4.96222 23.0319 5.03195L12.5319 15.5319C12.4623 15.6018 12.3795 15.6572 12.2884 15.695C12.1973 15.7328 12.0996 15.7523 12.0009 15.7523C11.9023 15.7523 11.8046 15.7328 11.7135 15.695C11.6224 15.6572 11.5396 15.6018 11.4699 15.5319L6.96995 11.0319C6.90022 10.9622 6.8449 10.8794 6.80716 10.7883C6.76942 10.6972 6.75 10.5996 6.75 10.5009C6.75 10.4023 6.76942 10.3047 6.80716 10.2136C6.8449 10.1225 6.90022 10.0397 6.96995 9.96995C7.03968 9.90022 7.12246 9.8449 7.21357 9.80716C7.30468 9.76942 7.40233 9.75 7.50095 9.75C7.59956 9.75 7.69721 9.76942 7.78832 9.80716C7.87943 9.8449 7.96222 9.90022 8.03195 9.96995L12.0009 13.9404L21.9699 3.96995C22.0397 3.90022 22.1225 3.8449 22.2136 3.80716C22.3047 3.76942 22.4023 3.75 22.5009 3.75C22.5996 3.75 22.6972 3.76942 22.7883 3.80716C22.8794 3.8449 22.9622 3.90022 23.0319 3.96995C23.1017 4.03968 23.157 4.12246 23.1947 4.21357C23.2325 4.30468 23.2519 4.40233 23.2519 4.50095C23.2519 4.59956 23.2325 4.69721 23.1947 4.78832Z" fill="#25BF75"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gXTrFzGORZ gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goULAlknbM"
        class="goULAlknbM"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:29px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758537517901"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoULAlknbM_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
    <li
      data-index="2" data-id="gK6UfCBgeN"
      class="gp-icon-list-item gp-flex gp-w-full gp-items-center gp-child-item-gkZ3kaVpHh"
      style="--cg:8px;--cg-mobile:10px"
    >
    <div
      data-same-height-display-contents
      
      class="gpbkoUuEQu gp-relative gp-flex gp-flex-col"
    >
      
    <div id="gPb156HW9T" class="gp-leading-[0] gPb156HW9T" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left">
      <div data-id="gPb156HW9T" class="icon-wrapper gp-inline-flex gp-overflow-hidden gPb156HW9T " style="--bs:none;--bw:0px;--bc:transparent">
      
        <div >
          <span style="--c:var(--g-c-line-3, line-3);--t:rotate(0deg);--w:24px;--h:24px;--minw:24px;--height-desktop:24px;--height-tablet:24px;--height-mobile:24px" class="gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--height-desktop)] [&>svg]:!gp-w-auto tablet:[&>svg]:!gp-h-[var(--height-tablet)] mobile:[&>svg]:!gp-h-[var(--height-mobile)] gp-text-g-line-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M4.85482 7.87581C4.13082 9.13015 3.74979 10.553 3.75001 12.0013C3.75001 14.1893 4.61921 16.2877 6.16638 17.8349C7.71356 19.3821 9.81198 20.2513 12 20.2513C14.188 20.2513 16.2865 19.3821 17.8336 17.8349C19.3808 16.2877 20.25 14.1893 20.25 12.0013C20.25 11.8024 20.329 11.6116 20.4697 11.4709C20.6103 11.3303 20.8011 11.2513 21 11.2513C21.1989 11.2513 21.3897 11.3303 21.5303 11.4709C21.671 11.6116 21.75 11.8024 21.75 12.0013C21.7497 14.1475 21.0413 16.2337 19.7345 17.9363C18.4278 19.6389 16.5958 20.8627 14.5226 21.418C12.4494 21.9733 10.2509 21.829 8.26813 21.0075C6.28531 20.186 4.62896 18.7333 3.55595 16.8745C2.48294 15.0157 2.05324 12.8548 2.33349 10.7269C2.61373 8.59904 3.58826 6.62308 5.10594 5.1055C6.62362 3.58792 8.59964 2.61351 10.7275 2.33341C12.8554 2.0533 15.0163 2.48314 16.875 3.55627C17.0459 3.65643 17.1702 3.82011 17.2208 4.01158C17.2714 4.20305 17.2442 4.40677 17.1452 4.57829C17.0462 4.7498 16.8833 4.87519 16.6922 4.92708C16.5011 4.97897 16.2972 4.95315 16.125 4.85527C14.8708 4.13112 13.448 3.74992 11.9997 3.74998C10.5514 3.75003 9.12865 4.13135 7.87445 4.85559C6.62026 5.57983 5.57882 6.62148 4.85482 7.87581Z" fill="#25BF75"/> <path d="M23.1947 4.78832C23.157 4.87943 23.1017 4.96222 23.0319 5.03195L12.5319 15.5319C12.4623 15.6018 12.3795 15.6572 12.2884 15.695C12.1973 15.7328 12.0996 15.7523 12.0009 15.7523C11.9023 15.7523 11.8046 15.7328 11.7135 15.695C11.6224 15.6572 11.5396 15.6018 11.4699 15.5319L6.96995 11.0319C6.90022 10.9622 6.8449 10.8794 6.80716 10.7883C6.76942 10.6972 6.75 10.5996 6.75 10.5009C6.75 10.4023 6.76942 10.3047 6.80716 10.2136C6.8449 10.1225 6.90022 10.0397 6.96995 9.96995C7.03968 9.90022 7.12246 9.8449 7.21357 9.80716C7.30468 9.76942 7.40233 9.75 7.50095 9.75C7.59956 9.75 7.69721 9.76942 7.78832 9.80716C7.87943 9.8449 7.96222 9.90022 8.03195 9.96995L12.0009 13.9404L21.9699 3.96995C22.0397 3.90022 22.1225 3.8449 22.2136 3.80716C22.3047 3.76942 22.4023 3.75 22.5009 3.75C22.5996 3.75 22.6972 3.76942 22.7883 3.80716C22.8794 3.8449 22.9622 3.90022 23.0319 3.96995C23.1017 4.03968 23.157 4.12246 23.1947 4.21357C23.2325 4.30468 23.2519 4.40233 23.2519 4.50095C23.2519 4.59956 23.2325 4.69721 23.1947 4.78832Z" fill="#25BF75"/> </svg></span>
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      
      class="gc5Gr9rkIm gp-relative gp-flex gp-flex-col gp-w-full"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gL5OVrfaqm"
        class="gL5OVrfaqm"
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758537517904"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class="gp-g-paragraph-2  gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#FFFFFF;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggL5OVrfaqm_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>
  </li>
      </ul>
  </div>
  </div>
  
      </div>
    </div>

      
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-row-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
        
    <picture style="border-radius:inherit" class="gp-w-full gp-invisible -gp-z-1">
      
      <source media="(max-width: 767px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        loading="eager" fetchpriority="high" title fallbackImg="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE5MjAtOTAwIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxOTIwIiBoZWlnaHQ9IjkwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTkyMCIgaGVpZ2h0PSI5MDAiIGZpbGw9InVybCgjZy0xOTIwLTkwMCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE5MjAiIHRvPSIxOTIwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        alt=""
        width="100%"
        style="--aspect:auto;--d:none;--d-tablet:none;--d-mobile:none;--h:fit-content;--h-tablet:auto;--h-mobile:auto;--w:var(--g-ct-w);--w-tablet:100%;--w-mobile:100%"
        class="adaptive-hero-banner"
      />
    
    </picture>
  
  </div>

        
      </gp-hero-banner>
       <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-hero-banner-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-584660073964372549 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584660073964372549)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggc5CUx7kRY_text","label":"ggc5CUx7kRY_text","default":"Caf-Quality Espresso, Made Simple"},{"type":"html","id":"ggLA24_IcIO_text","label":"ggLA24_IcIO_text","default":"<p>Commercial build, steady control, and exact precision crafted for home baristas.</p>"},{"type":"html","id":"ggOJKbMjgba_text","label":"ggOJKbMjgba_text","default":"<p>&nbsp;</p><p><strong>Commercial Rotary Pump</strong></p><p>&nbsp;</p>"},{"type":"html","id":"ggoULAlknbM_text","label":"ggoULAlknbM_text","default":"<p><strong>Professional-grade Dual Boiler</strong></p>"},{"type":"html","id":"ggL5OVrfaqm_text","label":"ggL5OVrfaqm_text","default":"<p><strong>Integrated Weighing Scales</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  