

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713875481702.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713875481702.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713875481702.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713875481702.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713875481702.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713875481702.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713875481702.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713875481702.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713875481702.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547370713875481702.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713875481702.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547370713875481702.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547370713875481702.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713875481702.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547370713875481702.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547370713875481702.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547370713875481702.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713875481702.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713875481702.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713875481702.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713875481702.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370713875481702.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370713875481702.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370713875481702.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370713875481702.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713875481702.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713875481702.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370713875481702.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370713875481702.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370713875481702.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370713875481702.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370713875481702.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713875481702.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713875481702.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713875481702.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713875481702.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713875481702.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713875481702.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713875481702.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370713875481702.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370713875481702.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370713875481702.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547370713875481702.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713875481702.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713875481702.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370713875481702.gps.gpsil [style*="--bga-tablet:"]{background-attachment:var(--bga-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bgc-tablet:"]{background-color:var(--bgc-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bgp-tablet:"]{background-position:var(--bgp-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bgr-tablet:"]{background-repeat:var(--bgr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bgs-tablet:"]{background-size:var(--bgs-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bc-tablet:"]{border-color:var(--bc-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bs-tablet:"]{border-style:var(--bs-tablet)}.gps-547370713875481702.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--bw-tablet:"]{border-width:var(--bw-tablet)}.gps-547370713875481702.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-547370713875481702.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370713875481702.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547370713875481702.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370713875481702.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370713875481702.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370713875481702.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713875481702.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713875481702.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370713875481702.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370713875481702.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370713875481702.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370713875481702.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370713875481702.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-547370713875481702.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370713875481702.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370713875481702.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-547370713875481702.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370713875481702.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713875481702.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713875481702.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370713875481702.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370713875481702.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370713875481702.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370713875481702 .gp-relative{position:relative}.gps-547370713875481702 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713875481702 .gp-mb-0{margin-bottom:0}.gps-547370713875481702 .gp-flex{display:flex}.gps-547370713875481702 .gp-grid{display:grid}.gps-547370713875481702 .\!gp-hidden{display:none!important}.gps-547370713875481702 .gp-hidden{display:none}.gps-547370713875481702 .gp-max-w-full{max-width:100%}.gps-547370713875481702 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713875481702 .gp-flex-col{flex-direction:column}.gps-547370713875481702 .gp-gap-y-0{row-gap:0}.gps-547370713875481702 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713875481702 .gp-duration-200{transition-duration:.2s}.gps-547370713875481702 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370713875481702 .tablet\:\!gp-hidden{display:none!important}.gps-547370713875481702 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547370713875481702 .mobile\:\!gp-hidden{display:none!important}.gps-547370713875481702 .mobile\:gp-hidden{display:none}}.gps-547370713875481702 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370713875481702 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370713875481702 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370713875481702 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzA4bOFkA0" data-id="gzA4bOFkA0"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pl:15px;--pb:0px;--pr:15px;--pt-mobile:var(undefined);--pb-mobile:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#121212;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzA4bOFkA0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWZrinqPDR gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gKKPpU7fJi" data-id="gKKPpU7fJi"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-3xl);--pl:var(--g-s-3xl);--pr:var(--g-s-3xl);--pl-mobile:0px;--pr-mobile:0px;--pl-tablet:var(--g-s-l);--pb-tablet:0px;--pr-tablet:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gKKPpU7fJi gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g44WsI8C1K gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmOFXWbcF0">
    <div
      parentTag="Col"
        class="gmOFXWbcF0 "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--mb:16px"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggmOFXWbcF0_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gGyrl7Ohvs">
    <div
      parentTag="Col"
        class="gGyrl7Ohvs "
        style="--tt:default;--ta:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l);--mb-tablet:0px"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:15px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggGyrl7Ohvs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gA_XDYUv2V" data-id="gA_XDYUv2V"
        style="--bs:solid;--bs-tablet:solid;--bw:2px 0px 2px 0px;--bw-tablet:2px 0px 2px 0px;--bc:#6d3212;--bc-tablet:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr-tablet:8px;--bbrr-tablet:8px;--btlr-tablet:8px;--btrr-tablet:8px;--mb:var(--g-s-xl);--pt:var(--g-s-s);--pl:var(--g-s-3xl);--pb:var(--g-s-s);--pr:var(--g-s-3xl);--mb-mobile:var(--g-s-xl);--pt-mobile:var(--g-s-xxs);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-xxs);--pr-mobile:var(--g-s-m);--mb-tablet:var(--g-s-l);--pt-tablet:var(--g-s-2xl);--pl-tablet:var(--g-s-xl);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-xl);--cg:0px;--pc:start;--gtc:minmax(0, 5fr) minmax(0, 7fr);--gtc-tablet:minmax(0, 5fr) minmax(0, 7fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#151515;--bgc-tablet:#151515;--bgi:url();--bgi-tablet:url();--bgp:50% 50%;--bgp-tablet:50% 50%;--bgs:cover;--bgs-tablet:cover;--bgr:no-repeat;--bgr-tablet:no-repeat;--bga:scroll;--bga-tablet:scroll"
        class="gA_XDYUv2V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUNU1aXNyX gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g45jdvZQw0" data-id="g45jdvZQw0"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb-mobile:0px;--cg:var(--g-s-xl);--pc:start;--pc-mobile:center;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g45jdvZQw0 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gKnetSdPze gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gaTZIAFJmY">
    <div
      parentTag="Col"
        class="gaTZIAFJmY "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--ls:normal;--size:23px;--size-tablet:19px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggaTZIAFJmY_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gdJNx0j93Y gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbn8c8xmsR" data-id="gbn8c8xmsR"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(undefined);--cg:16px;--cg-tablet:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbn8c8xmsR gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gWAPqZ7QN_ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g98egmaIuM">
    <div
      parentTag="Col"
        class="g98egmaIuM "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#6d3212;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:36px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg98egmaIuM_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH0a0tyinZ">
    <div
      parentTag="Col"
        class="gH0a0tyinZ "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:11px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggH0a0tyinZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gbpr71e5XI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTkFWLVTmG">
    <div
      parentTag="Col"
        class="gTkFWLVTmG "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#6d3212;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:32px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTkFWLVTmG_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gucjl5IcS_">
    <div
      parentTag="Col"
        class="gucjl5IcS_ "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:11px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggucjl5IcS__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gNZss34CNu gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTZefL5ICq">
    <div
      parentTag="Col"
        class="gTZefL5ICq "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:center;--c:#6d3212;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:40px;--size-tablet:32px;--size-mobile:35px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggTZefL5ICq_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g-iu-nmgYH">
    <div
      parentTag="Col"
        class="g-iu-nmgYH "
        style="--tt:default;--ta:left;--ta-mobile:center;--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left;--jc-mobile:center">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#838383;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:14px;--size-tablet:12px;--size-mobile:14px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg-iu-nmgYH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-547370713875481702 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370713841927270&sectionId=547370713875481702)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggmOFXWbcF0_text","label":"ggmOFXWbcF0_text","default":"Our Story"},{"type":"html","id":"ggGyrl7Ohvs_text","label":"ggGyrl7Ohvs_text","default":"<p>The name \"Meraki\" encapsulates our philosophy. A Greek word meaning to do something with soul, creativity, and love, it perfectly reflects the spirit of our brand. We believe that crafting the perfect coffee demands more than just technology - it requires heart and passion. Our team of dedicated engineers and coffee aficionados pour their expertise and love for coffee into every design, ensuring our machines not only meet but exceed your expectations.</p><p>&nbsp;</p><p>Our journey began in the vibrant city of Shenzhen, China, driven by a shared frustration among coffee enthusiasts and engineers: the quest for the perfect espresso machine. This pursuit led us across continents, establishing global offices in Hong Kong, the UK, and the US.</p><p>&nbsp;</p><p>At Meraki, we are committed to innovation, user-centric design, and practicality. We push the boundaries of coffee technology, ensuring every product is crafted with the end user in mind. Our pragmatic approach focuses on creating practical, reliable solutions, making your coffee experience as enjoyable and effortless as possible.</p>"},{"type":"html","id":"ggaTZIAFJmY_text","label":"ggaTZIAFJmY_text","default":"<p>PASSIONATE ABOUT COFFEE.&nbsp;<br>FANATICAL ABOUT FLAVOR.</p>"},{"type":"html","id":"gg98egmaIuM_text","label":"gg98egmaIuM_text","default":"2000+"},{"type":"html","id":"ggH0a0tyinZ_text","label":"ggH0a0tyinZ_text","default":"<p>Backers</p>"},{"type":"html","id":"ggTkFWLVTmG_text","label":"ggTkFWLVTmG_text","default":"10.5k+"},{"type":"html","id":"ggucjl5IcS__text","label":"ggucjl5IcS__text","default":"<p>Community Enthusiasts</p>"},{"type":"html","id":"ggTZefL5ICq_text","label":"ggTZefL5ICq_text","default":"10+"},{"type":"html","id":"gg-iu-nmgYH_text","label":"gg-iu-nmgYH_text","default":"<p>Winning Awards&nbsp;</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
