

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547395569706861670.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-547395569706861670.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547395569706861670.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547395569706861670.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547395569706861670.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547395569706861670.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547395569706861670.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547395569706861670.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547395569706861670.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547395569706861670.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547395569706861670.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547395569706861670.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547395569706861670.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547395569706861670.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547395569706861670.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547395569706861670.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547395569706861670.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547395569706861670.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547395569706861670.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547395569706861670.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547395569706861670.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547395569706861670.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547395569706861670.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547395569706861670.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547395569706861670.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547395569706861670.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547395569706861670.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547395569706861670.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547395569706861670.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547395569706861670.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547395569706861670.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-547395569706861670.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547395569706861670.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547395569706861670.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547395569706861670.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547395569706861670.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547395569706861670.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-547395569706861670.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-547395569706861670.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547395569706861670.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547395569706861670.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-547395569706861670.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547395569706861670.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547395569706861670.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547395569706861670.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547395569706861670.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547395569706861670.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547395569706861670.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547395569706861670.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547395569706861670.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547395569706861670.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547395569706861670.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547395569706861670.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-547395569706861670.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547395569706861670.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547395569706861670.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547395569706861670.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547395569706861670.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547395569706861670.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547395569706861670.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547395569706861670.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547395569706861670.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547395569706861670.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547395569706861670.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-547395569706861670.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547395569706861670.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-547395569706861670.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547395569706861670.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547395569706861670.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547395569706861670.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547395569706861670.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547395569706861670.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547395569706861670.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-547395569706861670.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547395569706861670.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-547395569706861670.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547395569706861670.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547395569706861670.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-547395569706861670.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547395569706861670.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-547395569706861670.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-547395569706861670.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547395569706861670.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547395569706861670.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547395569706861670.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547395569706861670.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-547395569706861670.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547395569706861670.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547395569706861670 .-gp-translate-x-1\/2,.gps-547395569706861670 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547395569706861670 .gp-pointer-events-none{pointer-events:none}.gps-547395569706861670 .gp-absolute{position:absolute}.gps-547395569706861670 .gp-relative{position:relative}.gps-547395569706861670 .gp-left-0{left:0}.gps-547395569706861670 .gp-left-1\/2{left:50%}.gps-547395569706861670 .gp-top-0{top:0}.gps-547395569706861670 .gp-top-1\/2{top:50%}.gps-547395569706861670 .gp-z-0{z-index:0}.gps-547395569706861670 .gp-z-1{z-index:1}.gps-547395569706861670 .gp-z-\[90\]{z-index:90}.gps-547395569706861670 .\!gp-m-0{margin:0!important}.gps-547395569706861670 .\!gp-m-auto{margin:auto!important}.gps-547395569706861670 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547395569706861670 .gp-mb-0{margin-bottom:0}.gps-547395569706861670 .gp-flex{display:flex}.gps-547395569706861670 .gp-inline-flex{display:inline-flex}.gps-547395569706861670 .gp-grid{display:grid}.gps-547395569706861670 .\!gp-hidden{display:none!important}.gps-547395569706861670 .gp-hidden{display:none}.gps-547395569706861670 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-547395569706861670 .gp-h-0{height:0}.gps-547395569706861670 .gp-h-full{height:100%}.gps-547395569706861670 .\!gp-w-full{width:100%!important}.gps-547395569706861670 .gp-w-14{width:56px}.gps-547395569706861670 .gp-w-5{width:20px}.gps-547395569706861670 .gp-w-full{width:100%}.gps-547395569706861670 .\!gp-max-w-full{max-width:100%!important}.gps-547395569706861670 .\!gp-max-w-none{max-width:none!important}.gps-547395569706861670 .gp-max-w-full{max-width:100%}.gps-547395569706861670 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-547395569706861670 .-gp-translate-x-1\/2,.gps-547395569706861670 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547395569706861670 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-547395569706861670 .gp-cursor-pointer{cursor:pointer}.gps-547395569706861670 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547395569706861670 .gp-flex-col{flex-direction:column}.gps-547395569706861670 .gp-items-start{align-items:flex-start}.gps-547395569706861670 .gp-items-center{align-items:center}.gps-547395569706861670 .gp-justify-center{justify-content:center}.gps-547395569706861670 .gp-gap-y-0{row-gap:0}.gps-547395569706861670 .gp-overflow-hidden{overflow:hidden}.gps-547395569706861670 .gp-break-words{overflow-wrap:break-word}.gps-547395569706861670 .\!gp-rounded-none{border-radius:0!important}.gps-547395569706861670 .gp-rounded{border-radius:4px}.gps-547395569706861670 .gp-rounded-none{border-radius:0}.gps-547395569706861670 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-547395569706861670 .gp-bg-white{--tw-bg-opacity:1;background-color:rgb(255 255 255/var(--tw-bg-opacity))}.gps-547395569706861670 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-547395569706861670 .\!gp-pb-0{padding-bottom:0!important}.gps-547395569706861670 .gp-text-center{text-align:center}.gps-547395569706861670 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-547395569706861670 .gp-no-underline{text-decoration-line:none}.gps-547395569706861670 .gp-decoration-g-highlight{text-decoration-color:var(--g-c-highlight)}.gps-547395569706861670 .gp-opacity-0{opacity:0}.gps-547395569706861670 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395569706861670 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395569706861670 .gp-duration-200{transition-duration:.2s}.gps-547395569706861670 .gp-duration-300{transition-duration:.3s}.gps-547395569706861670 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395569706861670 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-547395569706861670 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-547395569706861670 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-547395569706861670 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-547395569706861670 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}.gps-547395569706861670 .gp-group:hover .group-hover\:gp-opacity-0{opacity:0}}.gps-547395569706861670 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547395569706861670 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-547395569706861670 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible,.gps-547395569706861670 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547395569706861670 .tablet\:\!gp-hidden{display:none!important}.gps-547395569706861670 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547395569706861670 .mobile\:\!gp-hidden{display:none!important}.gps-547395569706861670 .mobile\:gp-hidden{display:none}}.gps-547395569706861670 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547395569706861670 .\[\&_p\]\:gp-inline p{display:inline}.gps-547395569706861670 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-547395569706861670 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547395569706861670 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="galNBwbpCw" data-id="galNBwbpCw"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-xl);--pb:var(--g-s-2xl);--pr:var(--g-s-xl);--pt-mobile:0px;--pl-mobile:var(--g-s-l);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-l);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="galNBwbpCw gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzNbtJs7eI gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPsiJr7tBj">
    <div
      parentTag="Col"
        class="gPsiJr7tBj "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:0px;--mt-mobile:0px;--pt-mobile:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:700;--size:35px;--size-tablet:25px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#838383;word-break:break-word;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPsiJr7tBj_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gLDcS0Xivm" data-id="gLDcS0Xivm"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:15px;--pb:var(--g-s-xl);--pr:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gLDcS0Xivm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gdX2R5-eOC gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g3L4W4B8gU" data-id="g3L4W4B8gU"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3L4W4B8gU gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwKywASvFc gp-relative gp-flex gp-flex-col"
    >
      <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pt:0px;--pb:0px" class="grCw6YssDK ">
      

    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    
    
{%- assign gpBkProduct = product -%}
{%- assign gpBkProducts = products -%}
{%- liquid
      assign productHandles = ''| split: ','
      assign products = null
      assign target_collection = null
      assign productSrc = 'DynamicCollection'
      assign c = 0
      assign limit = 12
      if request.page_type == 'collection' or preview_page_type == 'collection'
        assign target_collection = collection
        if target_collection == empty or target_collection == null
          if '490343629087' == 'latest'
            assign target_collection = collections | sort: 'updated_at'  | first
          else
            for collection in collections
              if collection.id == 490343629087
                assign target_collection = collection
                break
              endif
            endfor
          endif
        endif
        paginate target_collection.products by 12
          assign products = target_collection.products  
        endpaginate
      else
        if productSrc == 'RelatedProduct'
          
    
    
        elsif productSrc == 'PickProduct'
          unless false 
            assign products = null | sort
            for handle in productHandles
              assign productH = all_products[handle] | sort
              assign products = products | concat: productH
            endfor
            assign limit = products.length
          else
            if 0 == 0
              paginate collections.all.products by 100000
                assign products = collections.all.products  | sort : "created_at"  | reverse
              endpaginate
            endif
          endunless
        else
          if '490343629087' == 'latest'
            assign target_collection = collections | sort: 'updated_at'  | first
          else
            for collection in collections
              if collection.id == 490343629087
                assign target_collection = collection
                break
              endif
            endfor
          endif
          paginate target_collection.products by 12
            assign products = target_collection.products  
          endpaginate
        endif
      endif
      -%}
        
    {%- if products == null -%}
    {%- if count == 0 and 0 == 0 -%}
      {% if 'DynamicCollection' == 'RelatedProduct' -%}
          <div>{{ "gempages.ProductList.no_related_products" | t }}</div>
        {% else %}
          <div>{{ "gempages.ProductList.no_products_found" | t }}</div>
      {%- endif -%}
    {%- endif -%}
    {%-else-%}
      
      
    <div items-repeat data-id="grCw6YssDK" style="--w:100%;--w-tablet:100%;--w-mobile:100%;--rg:80px;--rg-mobile:42px;--cg:30px;--cg-mobile:24px;--gtc:repeat(3, minmax(0, 1fr));--gtc-tablet:repeat(3, minmax(0, 1fr));--gtc-mobile:repeat(2, minmax(0, 1fr))"
          class="gp-grid !gp-m-auto gp-w-full"
      >
        
        
        {%- assign count = 0 -%}
        {%- for product in products limit: limit -%}
        {%- if product.id != empty -%}
        {%- assign count = count | plus: 1 -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
        {%- assign product_form_id = 'product-form-' | append: "grCw6YssDK" | append: product.id -%}
            <gp-product 
              class="gp-child-item-grCw6YssDK" 
              gp-context='{"variantSelected": {{ variant | json | escape }}, "quantity": 1 ,  "formId": "{{ product_form_id }}"}' 
              gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1, "productUrl":{{ product.url | json | escape }}, "productHandle":{{ product.handle | json | escape }}, "collectionUrl": {{ collection.url | json | escape }}, "collectionHandle": {{ collection.handle | json | escape }},"pageContext" : {"pageType":"GP_COLLECTION","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":false,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","enableLazyLoadImage":false}}'
            >
              {%- form 'product', product, id: product_form_id, class: 'form contents ',  data-type: 'add-to-cart-form', autocomplete: 'off' -%}
              <input type="hidden" name="id" value="{{ variant.id }}" />
              <input type="hidden" min="1" name="quantity"  value="{{ quantity }}" />
              <button type="submit" onclick="return false;" style="display:none;"></button>
                      
       
      
    <div
      parentTag="ProductList" id="gihrgZKMUb" data-id="gihrgZKMUb"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gihrgZKMUb gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:start;--o:0"
      class="gWWgspbPH8 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g_wBtWz0Vy" data-id="g_wBtWz0Vy"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--mb:var(--g-s-l);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g_wBtWz0Vy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gMplC13kEG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign featured_image = product.featured_image %}
  {%- if variant != null and variant.featured_image != null -%}
  {% assign featured_image = variant.featured_image %}
  {%- endif -%}
    <gp-product-images-v2
      gp-data='
    {
      "id":"g4QsApmI0g",
      "pageContext": {"pageType":"GP_COLLECTION","sectionName":"","isPreviewing":false,"isOptimizePlan":false,"isTranslateWithLocale":false,"isLazyLoadSection":true,"isLazyLoadImage":false,"hasCollectionHandle":true,"numberOfProductOfProductList":0,"pageBackground":"","fontType":"google","primaryLocale":"","enableLazyLoadImage":false},
      "setting":{"arrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n              <rect width=\"32\" height=\"32\" rx=\"16\" fill=\"white\"/>\n              <path d=\"M12.7434 20.8964C12.4176 21.2223 12.4176 21.7506 12.7434 22.0764C13.0693 22.4023 13.5976 22.4023 13.9234 22.0764L19.6227 16.3771C19.8311 16.1687 19.8311 15.8308 19.6227 15.6224L13.9234 9.9231C13.5976 9.59725 13.0693 9.59725 12.7434 9.9231C12.4176 10.2489 12.4176 10.7772 12.7434 11.1031L17.6401 15.9998L12.7434 20.8964Z\" fill=\"black\"/>\n              </svg>\n              ","borderActive":{"borderType":"none","borderWidth":"1px","color":"#000000","isCustom":"false","width":"1px 1px 1px 1px"},"clickOpenLightBox":{"desktop":false,"mobile":false,"tablet":false},"dragToScroll":true,"ftArrowIcon":"<svg width=\"100%\" height=\"100%\" viewBox=\"0 0 24 24\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\">\n    <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M12 0C18.6274 0 24 5.37258 24 12C24 18.6274 18.6274 24 12 24C5.37258 24 0 18.6274 0 12C0 5.37258 5.37258 0 12 0ZM10.6828 8.13017C10.5266 7.95661 10.2734 7.95661 10.1172 8.13017C9.96095 8.30374 9.96095 8.58515 10.1172 8.75871L13.0343 12L10.1172 15.2413C9.96095 15.4149 9.96095 15.6963 10.1172 15.8698C10.2734 16.0434 10.5266 16.0434 10.6828 15.8698L13.8828 12.3143C14.0391 12.1407 14.0391 11.8593 13.8828 11.6857L10.6828 8.13017Z\" fill=\"currentColor\"/>\n    </svg>","ftArrowIconColor":"#000000","ftClickOpenLightBox":{"desktop":"product-link"},"ftDotActiveColor":{"desktop":"line-3"},"ftDotColor":{"desktop":"bg-1"},"ftDotGapToCarousel":{"desktop":16},"ftDotSize":{"desktop":12},"ftDotStyle":{"desktop":"none"},"ftNavigationPosition":{"desktop":"none","mobile":"none","tablet":"none"},"hoverEffect":"other","loop":{"desktop":false},"navigationPosition":{"desktop":"inside","mobile":"inside","tablet":"inside"},"otherImage":1,"pauseOnHover":true,"preload":true,"speed":1,"type":{"desktop":"images","mobile":"images","tablet":"images"},"typeDisplay":"all-images","zoom":150,"zoomType":"default"},
      "styles":{"align":{"desktop":"center","mobile":"center","tablet":"center"},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1"},"ftLayout":{"desktop":"cover"},"ftShape":{"desktop":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"tablet":{"shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"}},"itemSpacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"layout":{"desktop":"cover"},"position":{"desktop":"only-feature","mobile":"only-feature","tablet":"only-feature"},"ratioLayout":{"desktop":[20,80],"mobile":[20,80],"tablet":[20,80]},"ratioLayoutRight":{"desktop":[80,20],"mobile":[80,20],"tablet":[80,20]},"shape":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor1Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"100%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeFor2Col":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"50%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForBottom":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1","width":"20%"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"shapeForFtOnly":{"desktop":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"mobile":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"},"tablet":{"height":"","shape":"square","shapeLinked":true,"shapeValue":"1/1"}},"spacing":{"desktop":"var(--g-s-s)","mobile":"var(--g-s-s)"},"verticalLayout":{"desktop":false},"verticalLayoutRow":{"desktop":true}}, "productUrl":{{product.url | json | escape}}, "product":{{product | json | escape}}, "collectionUrl": {{ collection.url | json | escape }}, "collection": {{ collection | json | escape}}
    }
  '
      section-id="{{section.id}}"
      style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mb:var(undefined)"
      data-id="g4QsApmI0g"
      class="g4QsApmI0g gp-overflow-hidden"
    >
      <div
        class="{%- if product.media.size > 1 -%} gp-grid gp-w-full !gp-m-0 gp-relative {%- else -%} gp-w-full !gp-m-0 gp-relative {%- endif -%}"
        {%- if product.media.size > 1 -%}
        style="--gtc:minmax(0, 12fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- else -%}
        style="--gtc:minmax(0, 12fr);--gg:var(--g-s-s);--gg-mobile:var(--g-s-s)"
        {%- endif -%}
      >
        
    {% capture featureImageOnlyOne %}
      
        {% assign featureMedia = variant.featured_media %}
        {% unless featureMedia %}
        {% assign featureMedia = product.featured_media %}
        {% endunless %}
        {% if product.media.size > 1 %}
          
          {% assign featureMedia = variant.featured_media %}
          {% unless featureMedia %}
          {% assign featureMedia = product.featured_media %}
          {% endunless %}
        
        {% endif %}
        {% assign largestRatio = 0 %}
        {% assign height = featureMedia.height | times: 1.0 %}
        {% assign width = featureMedia.width | times: 1.0 %}
        {% assign ratio = height | divided_by: width %}
        {% if ratio > largestRatio %}
          {% assign largestRatio = ratio %}
        {% endif %}
        {% assign productImageWidth = 0 %}
        {% case featureMedia.media_type %}
          {% when 'image' %}
            {% assign productImageWidth = featureMedia.width %}
          {% else %}
            {% assign productImageWidth = featureMedia.preview_image.width %}
        {% endcase %}
        {% if featureMedia == null %}
        {% assign productImageWidth = 1600 %}
        {% endif %}
        <div 
          class='gp-feature-image-carousel gp-feature-image-only' 
          style="--o:0;--o-tablet:0;--o-mobile:0;--d:flex;--d-mobile:flex;--d-tablet:flex;--jc:center;--jc-tablet:center;--jc-mobile:center"
        >
          <div 
            class="gp-relative"
            style="--w:100%;--w-tablet:100%;--w-mobile:100%"
          >
            
      
    
            <div 
              type="gp-feature-image-only"
              product-id="{{product.id}}"
              product-media="{{product.media.size}}"
              class="gp-image-item gp-ft-image-item gp-group gp-z-0 gp-flex !gp-max-w-full !gp-w-full gp-relative gp-items-start gp-justify-center gp-overflow-hidden gp-featured-image-wrapper"
              style="--h:auto;--h-tablet:auto;--h-mobile:auto;width:{{productImageWidth}}px"
            >
              <div 
                class="gp-w-full  {% if featureMedia == null or featureMedia.media_type == 'image' %} {{ 'gp-h-0' }} {% else %} {{ 'gp-h-full !gp-pb-0' }} {% endif %} gp-relative" 
                style="--pb: calc((1/1)*100%);--pb-tablet: calc((1/1)*100%);--pb-mobile: calc((1/1)*100%); {% if featureMedia.media_type == 'video' or featureMedia.media_type == 'external_video' %} {{ 'display: flex; align-items: center; justify-content: center' }} {% endif %}"
              >
                
    {% case featureMedia.media_type %}
      {% when 'image' %}
        
      
    {% assign src = featureMedia.src %}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none gp-w-full gp-transition-opacity group-hover:gp-opacity-0 {{shouldHidden}}"
      src="{{src | image_url}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset="{{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w"
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
      <div class="zoom-element !gp-max-w-none gp-absolute gp-left-0 gp-top-0 gp-opacity-0 gp-transition-opacity gp-bg-white gp-pointer-events-none">
            
    {% assign src = featureMedia.src %}
    
      {% assign media_length = product.media | size %}
      {% assign other_image_index = 1 | plus: 0 %}
      {% if other_image_index >= media_length %}
        {% assign other_image_index = media_length | minus: 1 %}
      {% endif %}
      {% assign otherImage = product.media[other_image_index] %}
      {% assign src = otherImage.src %}
      {% if otherImage.media_type != 'image' %}
        {% assign src = otherImage.preview_image.src %}
      {%- endif -%}
    
    
  <img
      id="{%- if featureMedia != null -%}
              {{featureMedia.id}}
            {%- endif -%}"
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none image-zoom"
      src="{{src | image_url}}" width="{{featureMedia.width}}" height="{{featureMedia.height}}" alt="{{featureMedia.alt}}"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset="{{src | img_url: '480x480'}} 480w, {{src | img_url: '768x768'}} 768w,{{src | img_url: '1024x1024'}} 1024w,{{src | img_url: '1440x1440'}} 1440w"
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
          </div>
      
    
      {% when 'external_video' %}
        {% assign mediaSourceVideo = featureMedia | external_video_url %}
        
    <iframe
      width="100%" height="100%"
      class="feature-video gp-w-full gp-h-full gp-relative"
      src="{{mediaSourceVideo}}"
      controls="true"
      allowfullscreen="true"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
      frameborder="0"
      autoplay="false"
      alt="{{featureMedia.alt}}"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1"
    >
    </iframe>
  
      {% when 'video' %}
        {% assign mediaSourceVideo = featureMedia.sources.last.url %}
        
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-undefined"
      class=" gp-w-full lazy"
      style="width:100%;max-height:100%"
      controls
      
      
      
      title="{{featureMedia.alt}}"
      preload="none"
      data-src="{{mediaSourceVideo}}"
      src=""
      poster=""
      playsinline
    >
    
  </video>
    <div
      style="width:100%;max-height:100%"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video gp-hidden"
    >
      <img
        id="video-thumbnail"
        src=""
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
      {% when 'model' %}
        
    <model-viewer
      class="gp-w-full gp-h-full model-viewer gp-z-[90]"
      width="100%"
      
      
      
      
      src="{% if featureMedia.sources.first.url contains '.glb' %}{{ featureMedia.sources.first.url }}{% else %}{{featureMedia.sources.last.url}}{% endif %}"
      alt="{{featureMedia.preview_image.alt}}"
      camera-controls="true"
      poster="{{featureMedia.preview_image.src | product_img_url: '1024x1024'}}"
      data-js-focus-visible=""
      data-shopify-feature="1.12"
      ar-status="not-presenting"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1">
    </model-viewer>
  
      {% else %}
        
    
  <img
      
      
      draggable="false"
      isNotLazyload="true"
      class="gp-w-full gp-h-full gp-absolute gp-top-0 gp-left-0 featured-image-only gp-cursor-pointer !gp-rounded-none"
      src width="2237" height="1678" alt="No Image"
      fetchpriority="high"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      srcset=""
      sizes="(max-width: 768px) 50vw, 100vw"
      style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover"
    />
  
    {% endcase %}
    
              </div>
            </div>
          </div>
        </div>
      
    {% endcapture %}
    {% if product.media.size > 1 %}
      
      {{ featureImageOnlyOne }}
    {% else %}
      {{ featureImageOnlyOne }}
    {% endif %}
  
         
      </div>
    </gp-product-images-v2>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-images-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    <div gp-el-wrapper style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xs)" class="gYbh3tEeN3 ">
      
    {%- unless product -%}
      <p>{{ "gempages.ProductTitle.product_not_found" | t }}</p>
    {%- else -%}
      
        <a href="{{ product.url }}" title="{{ product.title }}" class="gp-product-title-link-wrapper">
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYbh3tEeN3">
    <div
      
        class="gYbh3tEeN3 "
        style="--tt:default"
      >
      <div  >
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A']"
          style="--w:100%;--ts:none;--ta:left;--line-clamp:2;--line-clamp-tablet:2;--line-clamp-mobile:0;--hvr-c:#f6f6f6;--c:#838383;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--ls:normal;--size:17px;--size-tablet:16px;--size-mobile:11px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >{{ product.title }}</h2>
      </div>
    </div>
    </gp-text>
    
        </a>
      
    {%- endunless -%}
  
      </div>
       
      
    <div
      parentTag="Col" id="ge85nrXF9j" data-id="ge85nrXF9j"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:var(--g-s-s);--pc:start;--gtc:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="ge85nrXF9j gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--ai:normal;--jc:center;--o:0"
      class="glUQvG4sRW gp-relative gp-flex gp-flex-col"
    >
      
      <gp-product-price
        data-id="gGOjEFAKJ3"
        class="gGOjEFAKJ3 gp-product-price group-data-[state=loading]:gp-invisible data-[hidden=true]:gp-hidden"
        gp-data='{"priceType":"regular","uid":"gGOjEFAKJ3","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--mr:var(undefined)"
        data-hidden="false"
      >
        
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="">
    <div
      id="p-price-gGOjEFAKJ3"
        class=" "
        
      >
      <div  >
        <div
          type="regular"
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-price gp-money gp-decoration-g-highlight"
          style="--w:100%;--tdc:highlight;--tdt:1;--ta:left;--c:#7a7a7a;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;word-break:break-word;overflow:hidden"
        >
     {% if variant.price %} 
       {{ variant.price | money}}
     {% endif %}
   </div>
      </div>
    </div>
    </gp-text>
    
      </gp-product-price>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
    </div>
   
    
    </div>
    </div>
   
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    
  >
    <style>
    .guIwJY5W3G.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #838383;
  
      
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      
    }

    .guIwJY5W3G:hover::before {
      
      
    }

    .guIwJY5W3G:hover .gp-button-icon {
      color: undefined;
    }

     .guIwJY5W3G .gp-button-icon {
      color: #838383;
    }

    .guIwJY5W3G:hover .gp-button-price {
      color: undefined;
    }

    .guIwJY5W3G .gp-button-price {
      color: #838383;
    }

    .guIwJY5W3G .gp-product-dot-price {
       color: #838383;
    }

    .guIwJY5W3G:hover .gp-product-dot-price {
      color: undefined;
    }
  </style>
    <a
      href="https://www.darkhorsecoffeeroasters.com/meraki" target="_blank" data-id="guIwJY5W3G" aria-label="<p>Details</p>"
      
      data-state="idle"
      class="guIwJY5W3G gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#000000;--bg:#00000000;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:24px;--pr:24px;--pt:8px;--pb:8px;--c:#838383;--size:16px;--size-tablet:16px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--lh:180%;--lh-tablet:180%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#838383"
      >
        {{ section.settings.gguIwJY5W3G_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

              {%- endform -%}
            </gp-product>
        {%- endif -%}
        {% endfor %}
        {%- if count == 0 and 0 == 0 -%}
          {% if 'DynamicCollection' == 'RelatedProduct' -%}
              <div>{{ "gempages.ProductList.no_related_products" | t }}</div>
            {% else %}
              <div>{{ "gempages.ProductList.no_products_found" | t }}</div>
          {%- endif -%}
        {%- endif -%}
      
      </div>

    
    
      
    {%- endif -%}
    
{%- assign product = gpBkProduct -%}
{%- assign products = gpBkProducts -%}

      </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-547395569706861670 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_COLLECTION&editorId=547395569690084454&sectionId=547395569706861670)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggPsiJr7tBj_text","label":"ggPsiJr7tBj_text","default":"All Feature Product"},{"type":"html","id":"gguIwJY5W3G_label","label":"gguIwJY5W3G_label","default":"<p>Details</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
