
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-584660074115367690.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-584660074115367690.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-584660074115367690.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-584660074115367690.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-584660074115367690.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-584660074115367690.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bgi:"]:hover{background-image:var(--hvr-bgi)}.gps-584660074115367690.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-584660074115367690.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-584660074115367690.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-584660074115367690.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-584660074115367690.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-584660074115367690.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-584660074115367690.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-584660074115367690.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-584660074115367690.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-584660074115367690.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-584660074115367690.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-584660074115367690.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-584660074115367690.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-584660074115367690.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-584660074115367690.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-584660074115367690.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-584660074115367690.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-584660074115367690.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-584660074115367690.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-584660074115367690.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-584660074115367690.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-584660074115367690.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-584660074115367690.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-584660074115367690.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-584660074115367690.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-584660074115367690.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-584660074115367690.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-584660074115367690.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-584660074115367690.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-584660074115367690.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-584660074115367690.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-584660074115367690.gps.gpsil [style*="--gg:"]{grid-gap:var(--gg)}.gps-584660074115367690.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-584660074115367690.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-584660074115367690.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-584660074115367690.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-584660074115367690.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-584660074115367690.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-584660074115367690.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-584660074115367690.gps.gpsil [style*="--tdc:"]{text-decoration-color:var(--tdc)}.gps-584660074115367690.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-584660074115367690.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-584660074115367690.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-584660074115367690.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-584660074115367690.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-584660074115367690.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-584660074115367690.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-584660074115367690.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-584660074115367690.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-584660074115367690.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-584660074115367690.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-584660074115367690.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-584660074115367690.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-584660074115367690.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-584660074115367690.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-584660074115367690.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-584660074115367690.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-584660074115367690.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-584660074115367690.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-584660074115367690.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-584660074115367690.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-584660074115367690.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-584660074115367690.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-584660074115367690.gps.gpsil [style*="--ws:"]{white-space:var(--ws)}.gps-584660074115367690.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-584660074115367690.gps.gpsil [style*="--z:"]{z-index:var(--z)}.gps-584660074115367690.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-584660074115367690.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-584660074115367690.gps.gpsil [style*="--bg-tablet:"]{background:var(--bg-tablet)}.gps-584660074115367690.gps.gpsil [style*="--bblr-tablet:"]{border-bottom-left-radius:var(--bblr-tablet)}.gps-584660074115367690.gps.gpsil [style*="--bbrr-tablet:"]{border-bottom-right-radius:var(--bbrr-tablet)}.gps-584660074115367690.gps.gpsil [style*="--btlr-tablet:"]{border-top-left-radius:var(--btlr-tablet)}.gps-584660074115367690.gps.gpsil [style*="--btrr-tablet:"]{border-top-right-radius:var(--btrr-tablet)}.gps-584660074115367690.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-584660074115367690.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-584660074115367690.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-584660074115367690.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-584660074115367690.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-584660074115367690.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-584660074115367690.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-584660074115367690.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-584660074115367690.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-584660074115367690.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-584660074115367690.gps.gpsil [style*="--ws-tablet:"]{white-space:var(--ws-tablet)}.gps-584660074115367690.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-584660074115367690.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-584660074115367690.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-584660074115367690.gps.gpsil [style*="--bg-mobile:"]{background:var(--bg-mobile)}.gps-584660074115367690.gps.gpsil [style*="--bblr-mobile:"]{border-bottom-left-radius:var(--bblr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--bbrr-mobile:"]{border-bottom-right-radius:var(--bbrr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--btlr-mobile:"]{border-top-left-radius:var(--btlr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--btrr-mobile:"]{border-top-right-radius:var(--btrr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-584660074115367690.gps.gpsil [style*="--gg-mobile:"]{grid-gap:var(--gg-mobile)}.gps-584660074115367690.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-584660074115367690.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-584660074115367690.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-584660074115367690.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-584660074115367690.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-584660074115367690.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-584660074115367690.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-584660074115367690.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-584660074115367690.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-584660074115367690.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-584660074115367690.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-584660074115367690.gps.gpsil [style*="--ws-mobile:"]{white-space:var(--ws-mobile)}.gps-584660074115367690.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-584660074115367690.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-584660074115367690 .-gp-translate-x-1\/2,.gps-584660074115367690 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-584660074115367690 .gp-pointer-events-none{pointer-events:none}.gps-584660074115367690 .gp-invisible{visibility:hidden}.gps-584660074115367690 .gp-absolute{position:absolute}.gps-584660074115367690 .gp-relative{position:relative}.gps-584660074115367690 .gp-inset-0{inset:0}.gps-584660074115367690 .gp-left-0{left:0}.gps-584660074115367690 .gp-left-1\/2{left:50%}.gps-584660074115367690 .gp-top-0{top:0}.gps-584660074115367690 .gp-top-1\/2{top:50%}.gps-584660074115367690 .gp-z-0{z-index:0}.gps-584660074115367690 .gp-z-1{z-index:1}.gps-584660074115367690 .gp-z-\[90\]{z-index:90}.gps-584660074115367690 .\!gp-m-0{margin:0!important}.gps-584660074115367690 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-584660074115367690 .gp-mb-0{margin-bottom:0}.gps-584660074115367690 .gp-flex{display:flex}.gps-584660074115367690 .gp-inline-flex{display:inline-flex}.gps-584660074115367690 .gp-grid{display:grid}.gps-584660074115367690 .\!gp-hidden{display:none!important}.gps-584660074115367690 .gp-hidden{display:none}.gps-584660074115367690 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-584660074115367690 .gp-h-0{height:0}.gps-584660074115367690 .gp-h-5{height:20px}.gps-584660074115367690 .gp-h-full{height:100%}.gps-584660074115367690 .gp-w-14{width:56px}.gps-584660074115367690 .gp-w-5{width:20px}.gps-584660074115367690 .gp-w-full{width:100%}.gps-584660074115367690 .gp-w-max{width:-moz-max-content;width:max-content}.gps-584660074115367690 .\!gp-min-w-full{min-width:100%!important}.gps-584660074115367690 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-584660074115367690 .\!gp-max-w-full{max-width:100%!important}.gps-584660074115367690 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-584660074115367690 .gp-max-w-full{max-width:100%}.gps-584660074115367690 .gp-flex-1{flex:1 1 0%}.gps-584660074115367690 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-584660074115367690 .-gp-translate-x-1\/2,.gps-584660074115367690 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-584660074115367690 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-584660074115367690 .gp-cursor-default{cursor:default}.gps-584660074115367690 .gp-cursor-pointer{cursor:pointer}.gps-584660074115367690 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-584660074115367690 .gp-flex-col{flex-direction:column}.gps-584660074115367690 .gp-flex-wrap{flex-wrap:wrap}.gps-584660074115367690 .gp-items-start{align-items:flex-start}.gps-584660074115367690 .gp-items-center{align-items:center}.gps-584660074115367690 .gp-justify-center{justify-content:center}.gps-584660074115367690 .gp-overflow-hidden{overflow:hidden}.gps-584660074115367690 .gp-break-words{overflow-wrap:break-word}.gps-584660074115367690 .\!gp-rounded-none{border-radius:0!important}.gps-584660074115367690 .gp-rounded{border-radius:4px}.gps-584660074115367690 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-584660074115367690 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-584660074115367690 .\!gp-pb-0{padding-bottom:0!important}.gps-584660074115367690 .gp-text-center{text-align:center}.gps-584660074115367690 .gp-leading-\[0\]{line-height:0}.gps-584660074115367690 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-584660074115367690 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-584660074115367690 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-584660074115367690 .gp-no-underline{text-decoration-line:none}.gps-584660074115367690 .gp-opacity-25{opacity:.25}.gps-584660074115367690 .gp-opacity-30{opacity:.3}.gps-584660074115367690 .gp-opacity-75{opacity:.75}.gps-584660074115367690 .gp-outline-1{outline-width:1px}.gps-584660074115367690 .-gp-outline-offset-1{outline-offset:-1px}.gps-584660074115367690 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074115367690 .gp-transition-opacity{transition-duration:.15s;transition-property:opacity;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074115367690 .gp-duration-200{transition-duration:.2s}.gps-584660074115367690 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-584660074115367690 .disabled\:gp-btn-disabled:disabled{cursor:default}@media (hover:hover) and (pointer:fine){.gps-584660074115367690 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}.gps-584660074115367690 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-584660074115367690 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-584660074115367690 .data-\[hidden\=true\]\:gp-hidden[data-hidden=true]{display:none}.gps-584660074115367690 .data-\[outline\=active\]\:gp-outline[data-outline=active]{outline-style:solid}.gps-584660074115367690 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-584660074115367690 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-584660074115367690 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1024px){.gps-584660074115367690 .tablet\:\!gp-hidden{display:none!important}.gps-584660074115367690 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-584660074115367690 .mobile\:\!gp-hidden{display:none!important}.gps-584660074115367690 .mobile\:gp-hidden{display:none}}.gps-584660074115367690 .\[\&\>svg\]\:\!gp-h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-584660074115367690 .\[\&\>svg\]\:\!gp-w-auto>svg{width:auto!important}@media (max-width:1024px){.gps-584660074115367690 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-584660074115367690 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-584660074115367690 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-584660074115367690 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FAFBFC","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3gzQO8qmT"}' data-id="g3gzQO8qmT" id="g3gzQO8qmT" data-same-height-subgrid-container class="g3gzQO8qmT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-3xl);--pl:15px;--pb:var(--g-s-3xl);--pr:15px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FAFBFC;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gvXFMrVnHg gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNxSPwN695"}' data-id="gNxSPwN695" id="gNxSPwN695" data-same-height-subgrid-container class="gNxSPwN695 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-xl);--pl:0px;--pb:var(--g-s-xl);--pr:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gr2-TbaOgq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="goieSkTZ_R"
        class="goieSkTZ_R"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977268"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:38px;--size-tablet:38px;--size-mobile:33px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggoieSkTZ_R_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g6Pq5hgzXE"}' data-id="g6Pq5hgzXE" id="g6Pq5hgzXE" data-same-height-subgrid-container class="g6Pq5hgzXE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-2xl);--cg:32px;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:770px;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gpv-LExBk0 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gjGKxgUyb-"
        class="gjGKxgUyb-"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977277"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggjGKxgUyb-_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  {% render 'gp-section-584660074115367690-0', product: product, variant: variant, product_form_id: product_form_id, productSelectedVariant: productSelectedVariant, form: form  %}
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2Jh_hikt4"
        class="g2Jh_hikt4"
        style="--ta:center;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-xl);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977599"
      >
      <div class="gp-flex" style="--jc:center">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2Jh_hikt4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:-16px;--mr-mobile:-14px" class="g_C6NI7J2l ">
      
    {%- liquid
      assign standardEndDate = 1687902275479
      assign typeCountdown = "daily"
      assign autoHideWhenTimeout = false
      assign current_time = 'now' | date: '%s' | times: 1000

    -%}
   {% if standardEndDate == nil or current_time <= standardEndDate or typeCountdown != "standard" or autoHideWhenTimeout != true %}
      <gp-countdown-timer
        data-id="g_C6NI7J2l"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"daily","dateStandard":1687927475479,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1687333475479,"hours":3,"mins":0,"startTime":1687322675479},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g_C6NI7J2l","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"solid","borderType":"none","borderWidth":"0px","color":"#121212","isCustom":true,"width":"0px"}}},"boxShadow":{"desktop":{"normal":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"margin":{"right":"-16px"},"padding":""},"mobile":{"margin":{"right":"-14px"},"padding":""},"tablet":{"margin":"","padding":""}}},"label":"Countdown Timer","settings":{"behaviour":"daily","dateStandard":1687927475479,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hrs","minuteLabel":"Mins","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"Secs","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1687333475479,"hours":3,"mins":0,"startTime":1687322675479},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#FFFFFF","borderState":{"normal":{"border":"solid","borderType":"none","borderWidth":"1","color":"#E0E0E0","isCustom":true,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"21px","itemPadding":{"desktop":{"bottom":"8px","left":"24px","right":"24px","top":"8px"},"mobile":{"bottom":"7px","left":"14px","right":"14px","top":"7px"}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontVariants":["100","100italic","300","300italic","regular","italic","700","700italic","900","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontSize":{"desktop":"28px","mobile":"25px","tablet":"28px"},"fontStyle":"normal","fontVariants":["100","100italic","300","300italic","regular","italic","700","700italic","900","900italic"],"fontWeight":"700","letterSpacing":"normal","lineHeight":{"desktop":"150%","mobile":"150%","tablet":"150%"}},"type":"heading-2"},"roundedState":{"normal":{"radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"0px"},"tag":"Countdown","uid":"g_C6NI7J2l","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative" style="gap:21px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:7px;--pb-mobile:7px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text" id="day"
        class="g_C6NI7J2l"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977601"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text"
        class="g_C6NI7J2l"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977601"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_C6NI7J2l_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:7px;--pb-mobile:7px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text" id="hour"
        class="g_C6NI7J2l"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977601"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text"
        class="g_C6NI7J2l"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977602"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_C6NI7J2l_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:7px;--pb-mobile:7px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text" id="minute"
        class="g_C6NI7J2l"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977602"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text"
        class="g_C6NI7J2l"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977602"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_C6NI7J2l_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:24px;--pr:24px;--pt:8px;--pb:8px;--pl-mobile:14px;--pr-mobile:14px;--pt-mobile:7px;--pb-mobile:7px;--bs:solid;--bw:1px 1px 1px 1px;--bc:#E0E0E0;--bg:#FFFFFF" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text" id="second"
        class="g_C6NI7J2l"
        style="--mb:0px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977603"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-heading, heading);--weight:700;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:25px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#242424;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g_C6NI7J2l-text"
        class="g_C6NI7J2l"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1758014977603"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg_C6NI7J2l_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    {% endif %}
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-584660074115367690 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=584659961389253189&sectionId=584660074115367690)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggoieSkTZ_R_text","label":"ggoieSkTZ_R_text","default":"<p>Special Deal For Father's Day Only</p>"},{"type":"html","id":"ggjGKxgUyb-_text","label":"ggjGKxgUyb-_text","default":"<p>Improve your dad's health with our GemSleep Bundle Sale.</p>"},{"type":"html","id":"ggamHMfYAIA_text","label":"ggamHMfYAIA_text","default":"<p>&nbsp;First 20 days</p>"},{"type":"html","id":"ggfJKMGWjJO_displayContent","label":"ggfJKMGWjJO_displayContent","default":"{percent_discount} Off"},{"type":"html","id":"ggEf4Mz8vww_label","label":"ggEf4Mz8vww_label","default":"GRAB THIS DEAL"},{"type":"html","id":"ggEf4Mz8vww_outOfStockLabel","label":"ggEf4Mz8vww_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggEf4Mz8vww_unavailableLabel","label":"ggEf4Mz8vww_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggEf4Mz8vww_variantSelectionRequiredMessage","label":"ggEf4Mz8vww_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"gg9z9U-eVDm_label","label":"gg9z9U-eVDm_label","default":"MOST POPULAR"},{"type":"html","id":"gg--JhG7WOC_text","label":"gg--JhG7WOC_text","default":"<p>Day 21 to 40</p>"},{"type":"html","id":"ggGcQm7B_TL_displayContent","label":"ggGcQm7B_TL_displayContent","default":"{percent_discount} Off"},{"type":"html","id":"ggegCdG26KG_label","label":"ggegCdG26KG_label","default":"GRAB THIS DEAL"},{"type":"html","id":"ggegCdG26KG_outOfStockLabel","label":"ggegCdG26KG_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggegCdG26KG_unavailableLabel","label":"ggegCdG26KG_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggegCdG26KG_variantSelectionRequiredMessage","label":"ggegCdG26KG_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"gg58Putlct8_label","label":"gg58Putlct8_label","default":"BEST CHOICE"},{"type":"html","id":"ggBXVm2CIg4_text","label":"ggBXVm2CIg4_text","default":"<p>Day 41 to 60</p>"},{"type":"html","id":"ggHzbRreNsa_displayContent","label":"ggHzbRreNsa_displayContent","default":"{percent_discount} Off"},{"type":"html","id":"ggSs45829tI_label","label":"ggSs45829tI_label","default":"GRAB THIS DEAL"},{"type":"html","id":"ggSs45829tI_outOfStockLabel","label":"ggSs45829tI_outOfStockLabel","default":"Out of stock"},{"type":"html","id":"ggSs45829tI_unavailableLabel","label":"ggSs45829tI_unavailableLabel","default":"Unavailable"},{"type":"html","id":"ggSs45829tI_variantSelectionRequiredMessage","label":"ggSs45829tI_variantSelectionRequiredMessage","default":"Please select a variant to add product to cart"},{"type":"html","id":"gg2Jh_hikt4_text","label":"gg2Jh_hikt4_text","default":"<p>Hurry up! Sale ends once the timer hits zero</p>"},{"type":"html","id":"gg_C6NI7J2l_dayLabel","label":"gg_C6NI7J2l_dayLabel","default":"Days"},{"type":"html","id":"gg_C6NI7J2l_hourLabel","label":"gg_C6NI7J2l_hourLabel","default":"Hrs"},{"type":"html","id":"gg_C6NI7J2l_minuteLabel","label":"gg_C6NI7J2l_minuteLabel","default":"Mins"},{"type":"html","id":"gg_C6NI7J2l_secondLabel","label":"gg_C6NI7J2l_secondLabel","default":"Secs"},{"type":"html","id":"gg_C6NI7J2l_weekLabel","label":"gg_C6NI7J2l_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  