

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-550172774228820960.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-550172774228820960.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-550172774228820960.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-550172774228820960.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-550172774228820960.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-550172774228820960.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-550172774228820960.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-550172774228820960.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-550172774228820960.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-550172774228820960.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-550172774228820960.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-550172774228820960.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-550172774228820960.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-550172774228820960.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-550172774228820960.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-550172774228820960.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-550172774228820960.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-550172774228820960.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-550172774228820960.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-550172774228820960.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-550172774228820960.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-550172774228820960.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-550172774228820960.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-550172774228820960.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-550172774228820960.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-550172774228820960.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-550172774228820960.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-550172774228820960.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-550172774228820960.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-550172774228820960.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-550172774228820960.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-550172774228820960.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-550172774228820960.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-550172774228820960.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-550172774228820960.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-550172774228820960.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-550172774228820960.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-550172774228820960.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-550172774228820960.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-550172774228820960.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-550172774228820960.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-550172774228820960.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-550172774228820960.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-550172774228820960.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-550172774228820960.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-550172774228820960.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-550172774228820960.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-550172774228820960.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-550172774228820960.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-550172774228820960.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-550172774228820960.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-550172774228820960.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-550172774228820960.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-550172774228820960.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-550172774228820960.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-550172774228820960.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-550172774228820960.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-550172774228820960.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-550172774228820960.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-550172774228820960.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-550172774228820960.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-550172774228820960.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-550172774228820960.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-550172774228820960.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-550172774228820960.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-550172774228820960.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-550172774228820960.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-550172774228820960.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-550172774228820960 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-550172774228820960 .gp-relative{position:relative}.gps-550172774228820960 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550172774228820960 .gp-mb-0{margin-bottom:0}.gps-550172774228820960 .gp-flex{display:flex}.gps-550172774228820960 .gp-grid{display:grid}.gps-550172774228820960 .gp-contents{display:contents}.gps-550172774228820960 .\!gp-hidden{display:none!important}.gps-550172774228820960 .gp-hidden{display:none}.gps-550172774228820960 .gp-h-auto{height:auto}.gps-550172774228820960 .gp-h-full{height:100%}.gps-550172774228820960 .gp-w-full{width:100%}.gps-550172774228820960 .gp-max-w-full{max-width:100%}.gps-550172774228820960 .gp-flex-none{flex:none}.gps-550172774228820960 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-550172774228820960 .gp-flex-col{flex-direction:column}.gps-550172774228820960 .gp-gap-y-0{row-gap:0}.gps-550172774228820960 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550172774228820960 .gp-duration-200{transition-duration:.2s}.gps-550172774228820960 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550172774228820960 .tablet\:\!gp-hidden{display:none!important}.gps-550172774228820960 .tablet\:gp-hidden{display:none}.gps-550172774228820960 .tablet\:gp-h-auto{height:auto}.gps-550172774228820960 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-550172774228820960 .mobile\:\!gp-hidden{display:none!important}.gps-550172774228820960 .mobile\:gp-hidden{display:none}.gps-550172774228820960 .mobile\:gp-h-auto{height:auto}.gps-550172774228820960 .mobile\:gp-flex-none{flex:none}}.gps-550172774228820960 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-550172774228820960 .\[\&_p\]\:gp-inline p{display:inline}.gps-550172774228820960 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-550172774228820960 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkzakeqs-l" data-id="gkzakeqs-l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-mobile:21px;--pb-mobile:0px;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkzakeqs-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSTmNjDSsc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbpxIEJXS9" data-id="gbpxIEJXS9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbpxIEJXS9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7M8KCfoyV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAO5yXm6b5" data-id="gAO5yXm6b5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAO5yXm6b5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6oEWKAb__ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrDktti9h">
    <div
      parentTag="Col"
        class="gLrDktti9h "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--mb-tablet:0px;--pb-tablet:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:32px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLrDktti9h_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gEopcrXc_B" data-id="gEopcrXc_B"
        style="--bs:solid;--bw:2px 0px 2px 0px;--bc:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEopcrXc_B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gZ25BstWf8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw8d7CqeGa">
    <div
      parentTag="Col"
        class="gw8d7CqeGa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s);--mb:var(--g-s-s);--mb-mobile:var(--g-s-m);--pt-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw8d7CqeGa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw8d7CqeGa">
        .gw8d7CqeGa {

}
.gw8d7CqeGa b, .gw8d7CqeGa strong {
    font-weight: 600;
}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gi-gE5hkuJ" data-id="gi-gE5hkuJ"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-m);--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:#000000;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gi-gE5hkuJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1"
      class="gOCnG_BQsS gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gMBM86CQd0"
    role="presentation"
    class="gp-group/image gMBM86CQd0 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-2c30395f-7343-4dc0-b1ca-ef9145c9b865.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0"
      class="grDBa_3IR7 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="ge_DkECW5Y"
    role="presentation"
    class="gp-group/image ge_DkECW5Y gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-7d6b3ec0-f29c-415f-81a6-f742189c9f15.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glxRSGbdhh">
    <div
      parentTag="Col"
        class="glxRSGbdhh "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#D8D8D8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglxRSGbdhh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmSydl4W_P">
    <div
      parentTag="Col"
        class="gmSydl4W_P "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmSydl4W_P_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqblbMT39_">
    <div
      parentTag="Col"
        class="gqblbMT39_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqblbMT39__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gH_chIv3P1">
    <div
      parentTag="Col"
        class="gH_chIv3P1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#D8D8D8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggH_chIv3P1_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="glJNl576hW">
    <div
      parentTag="Col"
        class="glJNl576hW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gglJNl576hW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAS8x3cM4f">
    <div
      parentTag="Col"
        class="gAS8x3cM4f "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAS8x3cM4f_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHwUaxw5VT">
    <div
      parentTag="Col"
        class="gHwUaxw5VT "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHwUaxw5VT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHTayb9cRE">
    <div
      parentTag="Col"
        class="gHTayb9cRE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHTayb9cRE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYq4B-HYEM">
    <div
      parentTag="Col"
        class="gYq4B-HYEM "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYq4B-HYEM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcghQiwJuB">
    <div
      parentTag="Col"
        class="gcghQiwJuB "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcghQiwJuB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gUberEs5aZ">
    <div
      parentTag="Col"
        class="gUberEs5aZ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggUberEs5aZ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="grmVKDIBRx" data-id="grmVKDIBRx"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="grmVKDIBRx gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gJJTnT3jQk gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gZAJ9geqMV" data-id="gZAJ9geqMV"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZAJ9geqMV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gzNHKuTU8H gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwZNBlU1nP">
    <div
      parentTag="Col"
        class="gwZNBlU1nP "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwZNBlU1nP_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnyWagjYOo">
    <div
      parentTag="Col"
        class="gnyWagjYOo "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:160%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnyWagjYOo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gnyWagjYOo">
        .gnyWagjYOo {

}
.gnyWagjYOo .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZFl5JjzOL gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gMyfcEawbX">
    <div
      parentTag="Col"
        class="gMyfcEawbX "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggMyfcEawbX_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gn9YWL69YQ">
    <div
      parentTag="Col"
        class="gn9YWL69YQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn9YWL69YQ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gn9YWL69YQ">
        .gn9YWL69YQ {

}
.gn9YWL69YQ .gp-text ul{
padding-left: 2px !important;
}

      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gGbuoy2zEG gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2OC5fLfeA">
    <div
      parentTag="Col"
        class="g2OC5fLfeA "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2OC5fLfeA_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHKtNpOAbN">
    <div
      parentTag="Col"
        class="gHKtNpOAbN "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHKtNpOAbN_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g0U5lj-a3h">
    <div
      parentTag="Col"
        class="g0U5lj-a3h "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg0U5lj-a3h_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gV7QSxKbdi">
    <div
      parentTag="Col"
        class="gV7QSxKbdi "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggV7QSxKbdi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="g2NGxrl9m6" data-id="g2NGxrl9m6"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2NGxrl9m6 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPQN_6Naul gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAtBIuoEP8">
    <div
      parentTag="Col"
        class="gAtBIuoEP8 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAtBIuoEP8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gqHnblrjGs">
    <div
      parentTag="Col"
        class="gqHnblrjGs "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggqHnblrjGs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gqHnblrjGs">
        .gqHnblrjGs {

}
.gqHnblrjGs .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSaW9UUwfl gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guSvZjZvc4">
    <div
      parentTag="Col"
        class="guSvZjZvc4 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gguSvZjZvc4_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdmUVZCO3L">
    <div
      parentTag="Col"
        class="gdmUVZCO3L "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdmUVZCO3L_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdmUVZCO3L">
        .gdmUVZCO3L {

}
.gdmUVZCO3L .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ggaKTfyIZW">
    <div
      parentTag="Col"
        class="ggaKTfyIZW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gggaKTfyIZW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gybgSh3R5M">
    <div
      parentTag="Col"
        class="gybgSh3R5M "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggybgSh3R5M_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gqvSQ0wgJm" data-id="gqvSQ0wgJm"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gqvSQ0wgJm gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gwq0QemdBM gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gHv4nfHWGb">
    <div
      parentTag="Col"
        class="gHv4nfHWGb "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggHv4nfHWGb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gCVQaA1rnI">
    <div
      parentTag="Col"
        class="gCVQaA1rnI "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggCVQaA1rnI_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gCVQaA1rnI">
        .gCVQaA1rnI {

}
.gCVQaA1rnI .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="ggJciiD4ED gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gAQpGRzuC2">
    <div
      parentTag="Col"
        class="gAQpGRzuC2 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggAQpGRzuC2_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gn-35XhQfi">
    <div
      parentTag="Col"
        class="gn-35XhQfi "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggn-35XhQfi_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gn-35XhQfi">
        .gn-35XhQfi {

}
.gn-35XhQfi .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g-vqGWDd9x gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcp4FV7nLH">
    <div
      parentTag="Col"
        class="gcp4FV7nLH "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-paragraph-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcp4FV7nLH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grLpwjfSjG">
    <div
      parentTag="Col"
        class="grLpwjfSjG "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrLpwjfSjG_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTIpXjsA2v">
    <div
      parentTag="Col"
        class="gTIpXjsA2v "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTIpXjsA2v_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g8vkOVgnXv">
    <div
      parentTag="Col"
        class="g8vkOVgnXv "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg8vkOVgnXv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g8vkOVgnXv">
        .g8vkOVgnXv {

}
.g8vkOVgnXv .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyTOZtWKTk">
    <div
      parentTag="Col"
        class="gyTOZtWKTk "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggyTOZtWKTk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    <div
    
     data-id="gcwooQIxb7"
    role="presentation"
    class="gp-group/image gcwooQIxb7 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m);--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-4c33bd94-2741-4a76-acac-c9280cb69578.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZAYb3wnMV">
    <div
      parentTag="Col"
        class="gZAYb3wnMV "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZAYb3wnMV_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g_xvo3UtPW">
    <div
      parentTag="Col"
        class="g_xvo3UtPW "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg_xvo3UtPW_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNUc-WgubO">
    <div
      parentTag="Col"
        class="gNUc-WgubO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNUc-WgubO_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJOeZ17Xd_">
    <div
      parentTag="Col"
        class="gJOeZ17Xd_ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJOeZ17Xd__text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gNnJteptoq">
    <div
      parentTag="Col"
        class="gNnJteptoq "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggNnJteptoq_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gNnJteptoq">
        .gNnJteptoq {

}
.gNnJteptoq .gp-text ul{
    padding-left: 2px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g2AdywAPpw">
    <div
      parentTag="Col"
        class="g2AdywAPpw "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:600;--size:18px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg2AdywAPpw_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gDbVRUcphz">
    <div
      parentTag="Col"
        class="gDbVRUcphz "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggDbVRUcphz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-550172774228820960 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=550172774128157664&sectionId=550172774228820960)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLrDktti9h_text","label":"ggLrDktti9h_text","default":"The Future of Espresso Machines: A Blend of Technology, Craft, and Convenience"},{"type":"html","id":"ggw8d7CqeGa_text","label":"ggw8d7CqeGa_text","default":"<p>Published: January, 2025</p>"},{"type":"html","id":"gglxRSGbdhh_text","label":"gglxRSGbdhh_text","default":"<p>Introduction</p>"},{"type":"html","id":"ggmSydl4W_P_text","label":"ggmSydl4W_P_text","default":"<p>Espresso machines have come a long way from their traditional Italian roots. Over the past two decades, coffee lovers and baristas alike have embraced advancements that prioritize precision, efficiency, and consistency. Today, automation, AI, and IoT integration are revolutionizing the industry, addressing challenges like labor shortages, rising costs, and the need for personalized experiences.</p>"},{"type":"html","id":"ggqblbMT39__text","label":"ggqblbMT39__text","default":"<p>In this evolving landscape, <strong>the </strong><a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><strong><u>Meraki Espresso Machine</u></strong></a> stands out as a beacon of innovation. Combining cutting-edge technology with user-centric design, it offers coffee aficionados the ability to craft exceptional espresso with ease. But what does the future hold for espresso machine technology, and how does the Meraki Espresso Machine exemplify these trends? Lets dive in.</p>"},{"type":"html","id":"ggH_chIv3P1_text","label":"ggH_chIv3P1_text","default":"<p>Why Espresso Machines Needed a Revolution?</p>"},{"type":"html","id":"gglJNl576hW_text","label":"gglJNl576hW_text","default":"<p>The third wave coffee movement of the 2000s emphasized craftsmanship, with baristas meticulously refining techniques to unlock new flavor profiles. As consumer demand for unique coffee experiences grew, so did the complexity of brewing methods. This led to innovations in temperature control, pressure profiling, and flow regulationvariables that were once fixed in traditional machines.</p>"},{"type":"html","id":"ggAS8x3cM4f_text","label":"ggAS8x3cM4f_text","default":"<p>Baristas began to advocate for equipment that not only offered greater control but also reduced the strain of repetitive tasks. Manufacturers responded by incorporating features like PID temperature stabilization and programmable settings, paving the way for a new era of espresso machines.</p>"},{"type":"html","id":"ggHwUaxw5VT_text","label":"ggHwUaxw5VT_text","default":"<p>Automation: From Skepticism to Necessity</p>"},{"type":"html","id":"ggHTayb9cRE_text","label":"ggHTayb9cRE_text","default":"<p>Initially, automation faced resistance within specialty coffee circles, where craft and skill were revered. However, the rising cost of operations and high staff turnover have changed the narrative. Super-automatic machines now dominate high-volume coffee shops, enabling consistency while freeing baristas to focus on customer engagement and other responsibilities.</p>"},{"type":"html","id":"ggYq4B-HYEM_text","label":"ggYq4B-HYEM_text","default":"<p>The <a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><strong><u>Meraki Espresso Machine</u></strong></a> exemplifies this shift. Its intuitive touch interface and programmable features ensure precision in every shot, allowing even novice users to achieve barista-level quality. Whether its in a bustling caf or a quiet office, the Meraki delivers unparalleled efficiency without compromising flavor.</p>"},{"type":"html","id":"ggcghQiwJuB_text","label":"ggcghQiwJuB_text","default":"<p>Entry-Level Prosumer Machines ($500$1200)</p>"},{"type":"html","id":"ggUberEs5aZ_text","label":"ggUberEs5aZ_text","default":"<p>These small single-boiler machines are perfect for beginners and small households:</p>"},{"type":"html","id":"ggwZNBlU1nP_text","label":"ggwZNBlU1nP_text","default":"<p><strong>Key Features:</strong></p>"},{"type":"html","id":"ggnyWagjYOo_text","label":"ggnyWagjYOo_text","default":"<ul><li>Fast heat-up times.</li><li>Decent steaming capabilities for microfoam.</li><li>Compact sizes ideal for tight spaces.</li></ul>"},{"type":"html","id":"ggMyfcEawbX_text","label":"ggMyfcEawbX_text","default":"<p><strong>Limitations:</strong></p>"},{"type":"html","id":"ggn9YWL69YQ_text","label":"ggn9YWL69YQ_text","default":"<ul><li>maller boilers (250ml-500ml) with less capacity for consecutive shots.</li><li>Wide thermostat ranges; a PID controller is recommended for stability.</li></ul>"},{"type":"html","id":"gg2OC5fLfeA_text","label":"gg2OC5fLfeA_text","default":"<p><strong>Best For:</strong></p>"},{"type":"html","id":"ggHKtNpOAbN_text","label":"ggHKtNpOAbN_text","default":"<p>Making 2-4 espressos or lattes at a time without compromising quality.</p>"},{"type":"html","id":"gg0U5lj-a3h_text","label":"gg0U5lj-a3h_text","default":"<p>High-End Prosumer Heat Exchanger Machines ($1300$3600)</p>"},{"type":"html","id":"ggV7QSxKbdi_text","label":"ggV7QSxKbdi_text","default":"<p>Heat exchangers are semi-commercial machines with robust components:</p>"},{"type":"html","id":"ggAtBIuoEP8_text","label":"ggAtBIuoEP8_text","default":"<p><strong>Key Features:</strong></p>"},{"type":"html","id":"ggqHnblrjGs_text","label":"ggqHnblrjGs_text","default":"<ul><li>Commercial-grade rotary pumps for quiet operation and plumbing options.</li><li>Auto-boiler refill, pressure gauges, and boiler level sensors for safety.</li><li>Larger boilers (1.5-3.5 liters) for heat stability and consistent brewing.</li></ul>"},{"type":"html","id":"gguSvZjZvc4_text","label":"gguSvZjZvc4_text","default":"<p><strong>Performance:</strong></p>"},{"type":"html","id":"ggdmUVZCO3L_text","label":"ggdmUVZCO3L_text","default":"<ul><li>Endless consecutive shots when plumbed into water mains.</li><li>Fast recovery times (40-60 seconds) for milk steaming.</li></ul>"},{"type":"html","id":"gggaKTfyIZW_text","label":"gggaKTfyIZW_text","default":"<p>High-End Double Boiler Machines ($1900$4500)</p>"},{"type":"html","id":"ggybgSh3R5M_text","label":"ggybgSh3R5M_text","default":"<p>Double boilers are the gold standard for home baristas seeking perfection:</p>"},{"type":"html","id":"ggHv4nfHWGb_text","label":"ggHv4nfHWGb_text","default":"<p><strong>Key Features:</strong></p>"},{"type":"html","id":"ggCVQaA1rnI_text","label":"ggCVQaA1rnI_text","default":"<ul><li>Separate boilers for brewing and steaming at optimal temperatures.</li><li>PID controls for precise temperature management.</li></ul>"},{"type":"html","id":"ggAQpGRzuC2_text","label":"ggAQpGRzuC2_text","default":"<p><strong>Limitations:</strong></p>"},{"type":"html","id":"ggn-35XhQfi_text","label":"ggn-35XhQfi_text","default":"<ul><li>Consistent, high-quality espresso and lightning-fast milk steaming.</li><li>Ideal for large households or frequent use.</li><li>Consistent, high-quality espresso and lightning-fast milk steaming.</li><li>Ideal for large households or frequent use.</li></ul>"},{"type":"html","id":"ggcp4FV7nLH_text","label":"ggcp4FV7nLH_text","default":"<p><strong>Drawbacks:</strong></p>"},{"type":"html","id":"ggrLpwjfSjG_text","label":"ggrLpwjfSjG_text","default":"<p>More electronics mean higher maintenance needs.</p>"},{"type":"html","id":"ggTIpXjsA2v_text","label":"ggTIpXjsA2v_text","default":"<p>Comparing Heat Exchangers vs. Double Boilers</p>"},{"type":"html","id":"gg8vkOVgnXv_text","label":"gg8vkOVgnXv_text","default":"<ul><li><strong>Heat Exchangers:</strong> Classic design with fewer electronics, offering reliability and strong performance.</li><li><strong>Double Boilers:</strong> Unmatched temperature precision but more complex and expensive.</li></ul>"},{"type":"html","id":"ggyTOZtWKTk_text","label":"ggyTOZtWKTk_text","default":"<p>Why the <a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><u>Meraki Espresso Machine</u></a> Stands Out</p>"},{"type":"html","id":"ggZAYb3wnMV_text","label":"ggZAYb3wnMV_text","default":"<p>The <a href=\"https://www.merakitech.com/products/meraki-espresso-machine\"><u>Meraki Espresso Machine</u></a> combines the best of prosumer features:</p><p><span style=\"color:#D8D8D8;font-size:15px;\"><strong>Innovative Design:</strong></span><span style=\"font-size:15px;\"> &nbsp;Sleek and durable with a user-friendly </span><a href=\"https://www.merakitech.com/products/meraki-espresso-machine#g7mcdQrRRB\" target=\"_blank\"><span style=\"font-size:15px;\"><u>touchscreen UI</u></span></a><span style=\"font-size:15px;\"> for effortless navigation and all-in-one integration for fuss-free maintenance.&nbsp;</span></p><p><span style=\"color:#D8D8D8;\"><strong>Exceptional Performance:</strong></span> Stable brewing temperature and powerful steaming capabilities.</p><p><span style=\"color:#D8D8D8;\"><strong>Value for Money:</strong> </span>Competitive pricing compared to similar high-end models.</p><p><a href=\"https://www.merakitech.com/products/meraki-espresso-machine\" target=\"_blank\"><u>Meraki machines</u></a> cater to home baristas seeking professional-level espresso without compromise.</p>"},{"type":"html","id":"gg_xvo3UtPW_text","label":"gg_xvo3UtPW_text","default":"<p><span style=\"font-size:18px;\">Other Key Features to Elevate Your Espresso Game</span></p>"},{"type":"html","id":"ggNUc-WgubO_text","label":"ggNUc-WgubO_text","default":"<p>Rotary Pump Grinder: <a href=\"$locationOrigin/\">Meraki</a> uses a rotary pump that ensures a stable 9-bar pressure for perfect espresso shots, with quiet operation to create a serene coffee-making experience..</p><p>Integrated Milk Temperature Sensor: The steam wand features an integrated temperature sensor, stopping automatically when the set temperature is reached, ensuring perfect frothing every time.</p>"},{"type":"html","id":"ggJOeZ17Xd__text","label":"ggJOeZ17Xd__text","default":"<p>Maintenance Tips for Longevity</p>"},{"type":"html","id":"ggNnJteptoq_text","label":"ggNnJteptoq_text","default":"<ul><li>Clean the machine daily to prevent buildup.</li><li>Descale regularly to maintain performance.</li><li>Schedule professional servicing annually.</li></ul>"},{"type":"html","id":"gg2AdywAPpw_text","label":"gg2AdywAPpw_text","default":"<p>Conclusion: Invest in Your Home Barista Journey</p>"},{"type":"html","id":"ggDbVRUcphz_text","label":"ggDbVRUcphz_text","default":"<p>Choosing the right espresso machine depends on your budget and coffee habits. Machines over $500 offer superior performance, durability, and satisfaction. The Meraki Espresso Machine is an excellent choice for those who demand the best.</p><p>&nbsp;</p><p>Take the time to explore your options, and elevate your home coffee experience today.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
