

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370712113874022.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547370712113874022.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370712113874022.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370712113874022.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370712113874022.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370712113874022.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370712113874022.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370712113874022.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370712113874022.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370712113874022.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370712113874022.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547370712113874022.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370712113874022.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370712113874022.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370712113874022.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370712113874022.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370712113874022.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370712113874022.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370712113874022.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370712113874022.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370712113874022.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370712113874022.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370712113874022.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370712113874022.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370712113874022.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370712113874022.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547370712113874022.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547370712113874022.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547370712113874022.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547370712113874022.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370712113874022.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370712113874022.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370712113874022.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370712113874022.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370712113874022.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370712113874022.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370712113874022.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370712113874022.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370712113874022.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370712113874022.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370712113874022.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370712113874022.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370712113874022.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547370712113874022.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370712113874022.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370712113874022.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370712113874022.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547370712113874022.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-547370712113874022.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370712113874022.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370712113874022.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370712113874022.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370712113874022.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370712113874022.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370712113874022.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547370712113874022.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370712113874022.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370712113874022.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370712113874022.gps.gpsil [style*="--jc-mobile:"]{justify-content:var(--jc-mobile)}.gps-547370712113874022.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370712113874022.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547370712113874022.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-547370712113874022.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547370712113874022.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370712113874022.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370712113874022.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547370712113874022.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-547370712113874022.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370712113874022.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370712113874022 .gp-g-heading-1{font-family:var(--g-h1-ff);font-size:var(--g-h1-size);font-style:var(--g-h1-fs);font-weight:var(--g-h1-weight);letter-spacing:var(--g-h1-ls);line-height:var(--g-h1-lh)}.gps-547370712113874022 .gp-relative{position:relative}.gps-547370712113874022 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370712113874022 .gp-mb-0{margin-bottom:0}.gps-547370712113874022 .gp-flex{display:flex}.gps-547370712113874022 .gp-grid{display:grid}.gps-547370712113874022 .gp-contents{display:contents}.gps-547370712113874022 .\!gp-hidden{display:none!important}.gps-547370712113874022 .gp-hidden{display:none}.gps-547370712113874022 .gp-h-auto{height:auto}.gps-547370712113874022 .gp-h-full{height:100%}.gps-547370712113874022 .gp-w-full{width:100%}.gps-547370712113874022 .gp-max-w-full{max-width:100%}.gps-547370712113874022 .gp-flex-none{flex:none}.gps-547370712113874022 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370712113874022 .gp-flex-col{flex-direction:column}.gps-547370712113874022 .gp-gap-y-0{row-gap:0}.gps-547370712113874022 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370712113874022 .gp-duration-200{transition-duration:.2s}.gps-547370712113874022 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370712113874022 .tablet\:\!gp-hidden{display:none!important}.gps-547370712113874022 .tablet\:gp-hidden{display:none}.gps-547370712113874022 .tablet\:gp-h-auto{height:auto}.gps-547370712113874022 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547370712113874022 .mobile\:\!gp-hidden{display:none!important}.gps-547370712113874022 .mobile\:gp-hidden{display:none}.gps-547370712113874022 .mobile\:gp-h-auto{height:auto}.gps-547370712113874022 .mobile\:gp-flex-none{flex:none}}.gps-547370712113874022 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370712113874022 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370712113874022 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370712113874022 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gkzakeqs-l" data-id="gkzakeqs-l"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:var(--g-s-xl);--pb:var(--g-s-xl);--pt-mobile:21px;--pb-mobile:0px;--pt-tablet:var(--g-s-m);--pb-tablet:var(--g-s-xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkzakeqs-l gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gSTmNjDSsc gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gbpxIEJXS9" data-id="gbpxIEJXS9"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbpxIEJXS9 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g7M8KCfoyV gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gAO5yXm6b5" data-id="gAO5yXm6b5"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pb:0px;--pr:32px;--mb-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gAO5yXm6b5 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g6oEWKAb__ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gLrDktti9h">
    <div
      parentTag="Col"
        class="gLrDktti9h "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pb:24px;--mb-mobile:0px;--pb-mobile:14px;--mb-tablet:0px;--pb-tablet:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:0.25px;--size:32px;--size-tablet:24px;--size-mobile:18px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#ffffff;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggLrDktti9h_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
       
      
    <div
      parentTag="Col" id="gEopcrXc_B" data-id="gEopcrXc_B"
        style="--bs:solid;--bw:2px 0px 2px 0px;--bc:#6d3212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--mb-mobile:0px;--pb-mobile:var(--g-s-m);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 6fr) minmax(0, 6fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gEopcrXc_B gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="gZ25BstWf8 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEyHtgpZxh">
    <div
      parentTag="Col"
        class="gEyHtgpZxh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mt:var(--g-s-l);--mb:var(--g-s-l);--mb-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEyHtgpZxh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEyHtgpZxh">
        .gEyHtgpZxh {

}
.gEyHtgpZxh b, .gEyHtgpZxh strong {
    font-weight: 600;
}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-mobile:center"
      class="g71j8BjgLq gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gw8d7CqeGa">
    <div
      parentTag="Col"
        class="gw8d7CqeGa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb-mobile:0px;--pt-mobile:0px;--mt-tablet:var(--g-s-l);--mb-tablet:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:right;--ta-mobile:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggw8d7CqeGa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gw8d7CqeGa">
        .gw8d7CqeGa {

}
.gw8d7CqeGa b, .gw8d7CqeGa strong {
    font-weight: 600;
}
      </style>
    
    </div>
    </div>
   
    <div
    
     data-id="gEBQ3WK7nK"
    role="presentation"
    class="gp-group/image gEBQ3WK7nK gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--pt:24px;--pb:24px;--mb-mobile:0px;--pt-mobile:14px;--pb-mobile:14px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0d429160-13aa-4a20-b2cd-df9f34fb7370.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gtqHDYHMaV" data-id="gtqHDYHMaV"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gtqHDYHMaV gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g8CwVlAy0F gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gZYeLaC7ex">
    <div
      parentTag="Col"
        class="gZYeLaC7ex "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:24px;--size-tablet:20px;--size-mobile:16px;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggZYeLaC7ex_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goPsIEzXI6">
    <div
      parentTag="Col"
        class="goPsIEzXI6 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoPsIEzXI6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="glx1buwLn1 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gRYgHW-laP"
    role="presentation"
    class="gp-group/image gRYgHW-laP gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-783c2e69-c08a-49bb-971e-f9f3b87962b0.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gofxsIwfPD" data-id="gofxsIwfPD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gofxsIwfPD gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="g2fyHlF_fg gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gmOEyoLec8">
    <div
      parentTag="Col"
        class="gmOEyoLec8 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-3xl);--mb-mobile:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:24px;--size-tablet:20px;--size-mobile:16px;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggmOEyoLec8_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g91dLuPnht">
    <div
      parentTag="Col"
        class="g91dLuPnht "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg91dLuPnht_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gmOztzihh1 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gbrls0CXMI"
    role="presentation"
    class="gp-group/image gbrls0CXMI gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}" srcset="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0479f052-12e3-4465-a77f-43823f6c519d.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g4VBvxR-Yh" data-id="g4VBvxR-Yh"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:0px;--mb:0px;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g4VBvxR-Yh gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gR28EAPfH- gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g85gZT3xQJ">
    <div
      parentTag="Col"
        class="g85gZT3xQJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:24px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:24px;--size-tablet:20px;--size-mobile:16px;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg85gZT3xQJ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gB3sPFfYaE">
    <div
      parentTag="Col"
        class="gB3sPFfYaE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggB3sPFfYaE_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gd479odrB8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gyyVrFUQnD"
    role="presentation"
    class="gp-group/image gyyVrFUQnD gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-ffcf75cc-bad4-4e55-8176-64a84f2ccf39.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gixXl07PQd" data-id="gixXl07PQd"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gixXl07PQd gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:0"
      class="gGZ1WF-9we gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g28A9tergO">
    <div
      parentTag="Col"
        class="g28A9tergO "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-g-heading-1 gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--size:21px;--size-tablet:20px;--size-mobile:16px;--c:#d8d8d8;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg28A9tergO_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnMA5jrzCJ">
    <div
      parentTag="Col"
        class="gnMA5jrzCJ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggnMA5jrzCJ_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:1"
      class="gD4HT63_N2 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gmNehntNJd"
    role="presentation"
    class="gp-group/image gmNehntNJd gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-547370712113874022 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=547370712097162342&sectionId=547370712113874022)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggLrDktti9h_text","label":"ggLrDktti9h_text","default":"Engineering Build Pathway-The Meraki Journey"},{"type":"html","id":"ggEyHtgpZxh_text","label":"ggEyHtgpZxh_text","default":"<p>By Dolly</p>"},{"type":"html","id":"ggw8d7CqeGa_text","label":"ggw8d7CqeGa_text","default":"<p>Published: May, 2023</p>"},{"type":"html","id":"ggZYeLaC7ex_text","label":"ggZYeLaC7ex_text","default":"Engineering Build 1: July 2023 - Laying the Foundation"},{"type":"html","id":"ggoPsIEzXI6_text","label":"ggoPsIEzXI6_text","default":"<p>In July 2023, we embarked on the first phase of turning our dream into reality. This initial build focused on laying the groundwork for our revolutionary espresso machine. Our team of engineers and coffee enthusiasts transformed conceptual designs into tangible prototypes, engaging in extensive experimentation and testing to ensure seamless functionality of core components. We met challenges head-on, made necessary adjustments, and meticulously refined every detail to meet our high standards of quality and performance.</p>"},{"type":"html","id":"ggmOEyoLec8_text","label":"ggmOEyoLec8_text","default":"Engineering Build 2: October 2023 - Refining the Prototype"},{"type":"html","id":"gg91dLuPnht_text","label":"gg91dLuPnht_text","default":"<p>By October 2023, we entered the second phase of our engineering journey. This stage was crucial for refining the initial prototype using insights and data from the first phase. We focused on enhancing the machine’s internal mechanisms to boost reliability and efficiency. Rigorous testing revealed areas for improvement, leading to significant upgrades. This period of refinement was essential to ensure our espresso machine consistently delivers the perfect coffee.</p>"},{"type":"html","id":"gg85gZT3xQJ_text","label":"gg85gZT3xQJ_text","default":"Engineering Build 3: December 2023 - Fine-Tuning and Enhancements"},{"type":"html","id":"ggB3sPFfYaE_text","label":"ggB3sPFfYaE_text","default":"<p>As the year drew to a close, December 2023 marked our third engineering build. This phase focused on fine-tuning and further enhancements. We scrutinized every detail, addressing minor issues and optimizing each component to perfection. Advanced features were integrated to elevate the user experience, ensuring our machine not only met but exceeded the expectations of coffee aficionados. This stage was pivotal in shaping the final form of our product.</p>"},{"type":"html","id":"gg28A9tergO_text","label":"gg28A9tergO_text","default":"Engineering Build 4: February 2024 - Preparing for Production"},{"type":"html","id":"ggnMA5jrzCJ_text","label":"ggnMA5jrzCJ_text","default":"<p>February 2024 marked the final engineering build before transitioning to full-scale production. This phase was all about getting the espresso machine ready for manufacturing. Extensive durability and reliability tests ensured that every part could withstand the rigors of daily use. Our team verified that the machine met all safety and performance standards, preparing it for mass production. This build was the culmination of countless hours of hard work and dedication, bringing us one step closer to launching a product we are immensely proud of.</p><p>With each engineering build, we moved closer to realizing our vision of creating the perfect espresso machine. Stay tuned as we continue to share our journey and prepare to introduce Meraki to coffee lovers around the world.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
