

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370712902403174.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370712902403174.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370712902403174.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370712902403174.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370712902403174.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370712902403174.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370712902403174.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370712902403174.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370712902403174.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370712902403174.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547370712902403174.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370712902403174.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370712902403174.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370712902403174.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370712902403174.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370712902403174.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547370712902403174.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547370712902403174.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547370712902403174.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547370712902403174.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370712902403174.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370712902403174.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547370712902403174.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547370712902403174.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370712902403174.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370712902403174.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370712902403174.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370712902403174.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370712902403174.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370712902403174.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370712902403174.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370712902403174.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547370712902403174.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547370712902403174.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370712902403174.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370712902403174.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547370712902403174.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547370712902403174.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547370712902403174.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370712902403174.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370712902403174.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370712902403174.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370712902403174.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547370712902403174.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547370712902403174.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547370712902403174.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547370712902403174.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547370712902403174.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370712902403174.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370712902403174.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547370712902403174.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547370712902403174 .gp-relative{position:relative}.gps-547370712902403174 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370712902403174 .gp-mb-0{margin-bottom:0}.gps-547370712902403174 .gp-flex{display:flex}.gps-547370712902403174 .gp-grid{display:grid}.gps-547370712902403174 .\!gp-hidden{display:none!important}.gps-547370712902403174 .gp-hidden{display:none}.gps-547370712902403174 .gp-max-w-full{max-width:100%}.gps-547370712902403174 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370712902403174 .gp-flex-col{flex-direction:column}.gps-547370712902403174 .gp-gap-y-0{row-gap:0}.gps-547370712902403174 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370712902403174 .gp-duration-200{transition-duration:.2s}.gps-547370712902403174 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-547370712902403174 .tablet\:\!gp-hidden{display:none!important}.gps-547370712902403174 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-547370712902403174 .mobile\:\!gp-hidden{display:none!important}.gps-547370712902403174 .mobile\:gp-hidden{display:none}}.gps-547370712902403174 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547370712902403174 .\[\&_p\]\:gp-inline p{display:inline}.gps-547370712902403174 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547370712902403174 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gzqLZCysGC" data-id="gzqLZCysGC"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-m);--pb:var(--g-s-2xl);--pt-tablet:var(--g-s-m);--pl-tablet:var(--g-s-m);--pb-tablet:var(--g-s-2xl);--pr-tablet:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gzqLZCysGC gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gn_c95wezS gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gd8zKV1pIy" data-id="gd8zKV1pIy"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gd8zKV1pIy gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZxkZHftRf gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gKYdjcEtqN">
    <div
      parentTag="Col"
        class="gKYdjcEtqN "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggKYdjcEtqN_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gFYWXUTjfs">
    <div
      parentTag="Col"
        class="gFYWXUTjfs "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggFYWXUTjfs_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gFYWXUTjfs">
        .gFYWXUTjfs .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl7u4Ostgl">
    <div
      parentTag="Col"
        class="gl7u4Ostgl "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggl7u4Ostgl_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvhZtdpJM6">
    <div
      parentTag="Col"
        class="gvhZtdpJM6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggvhZtdpJM6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gvhZtdpJM6">
        .gvhZtdpJM6 .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gWF9PdfqwR">
    <div
      parentTag="Col"
        class="gWF9PdfqwR "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggWF9PdfqwR_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gBwWRF_6NH">
    <div
      parentTag="Col"
        class="gBwWRF_6NH "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggBwWRF_6NH_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gBwWRF_6NH">
        .gBwWRF_6NH .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gX8aHQkRcr">
    <div
      parentTag="Col"
        class="gX8aHQkRcr "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggX8aHQkRcr_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gX8aHQkRcr">
        .gX8aHQkRcr .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gOdJfZJWiQ">
    <div
      parentTag="Col"
        class="gOdJfZJWiQ "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggOdJfZJWiQ_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="grdpSSqGD8">
    <div
      parentTag="Col"
        class="grdpSSqGD8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggrdpSSqGD8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-grdpSSqGD8">
        .grdpSSqGD8 .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="goOcUAMdra">
    <div
      parentTag="Col"
        class="goOcUAMdra "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggoOcUAMdra_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-goOcUAMdra">
        .goOcUAMdra .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gYXVhYhG7G">
    <div
      parentTag="Col"
        class="gYXVhYhG7G "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggYXVhYhG7G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gYXVhYhG7G">
        .gYXVhYhG7G .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwFcOvC3-U">
    <div
      parentTag="Col"
        class="gwFcOvC3-U "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwFcOvC3-U_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gwFcOvC3-U">
        .gwFcOvC3-U .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gbxz1u_JEY">
    <div
      parentTag="Col"
        class="gbxz1u_JEY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggbxz1u_JEY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gbxz1u_JEY">
        .gbxz1u_JEY .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gL1tZ83U1G">
    <div
      parentTag="Col"
        class="gL1tZ83U1G "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggL1tZ83U1G_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gL1tZ83U1G">
        .gL1tZ83U1G .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcH-z069Qf">
    <div
      parentTag="Col"
        class="gcH-z069Qf "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcH-z069Qf_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcH-z069Qf">
        .gcH-z069Qf .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gjc1BzXI8k">
    <div
      parentTag="Col"
        class="gjc1BzXI8k "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggjc1BzXI8k_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gJggTMGJfb">
    <div
      parentTag="Col"
        class="gJggTMGJfb "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggJggTMGJfb_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gJggTMGJfb">
        .gJggTMGJfb .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwk3rzzPN8">
    <div
      parentTag="Col"
        class="gwk3rzzPN8 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggwk3rzzPN8_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gwk3rzzPN8">
        .gwk3rzzPN8 .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="geD6088jtk">
    <div
      parentTag="Col"
        class="geD6088jtk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggeD6088jtk_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-geD6088jtk">
        .geD6088jtk .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gI9w1rbMEF">
    <div
      parentTag="Col"
        class="gI9w1rbMEF "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggI9w1rbMEF_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gI9w1rbMEF">
        .gI9w1rbMEF .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gtficBG5nC">
    <div
      parentTag="Col"
        class="gtficBG5nC "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggtficBG5nC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gtficBG5nC">
        .gtficBG5nC .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g7BWibwCXD">
    <div
      parentTag="Col"
        class="g7BWibwCXD "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg7BWibwCXD_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g7BWibwCXD">
        .g7BWibwCXD .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gRF8tlE8f1">
    <div
      parentTag="Col"
        class="gRF8tlE8f1 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggRF8tlE8f1_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="go3Ow7tJfj">
    <div
      parentTag="Col"
        class="go3Ow7tJfj "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggo3Ow7tJfj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-go3Ow7tJfj">
        .go3Ow7tJfj .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gVDyTkaJ8s">
    <div
      parentTag="Col"
        class="gVDyTkaJ8s "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pl:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggVDyTkaJ8s_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gVDyTkaJ8s">
        .gVDyTkaJ8s .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdHyzC_Ff9">
    <div
      parentTag="Col"
        class="gdHyzC_Ff9 "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdHyzC_Ff9_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3TfFOsiep">
    <div
      parentTag="Col"
        class="g3TfFOsiep "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3TfFOsiep_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3TfFOsiep">
        .g3TfFOsiep .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gv1HUyI-IE">
    <div
      parentTag="Col"
        class="gv1HUyI-IE "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggv1HUyI-IE_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3VyhOmKyY">
    <div
      parentTag="Col"
        class="g3VyhOmKyY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg3VyhOmKyY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-g3VyhOmKyY">
        .g3VyhOmKyY .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gPo2uXOQjr">
    <div
      parentTag="Col"
        class="gPo2uXOQjr "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggPo2uXOQjr_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQyFcRBjkB">
    <div
      parentTag="Col"
        class="gQyFcRBjkB "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQyFcRBjkB_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gQyFcRBjkB">
        .gQyFcRBjkB .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g84jzA6n4w">
    <div
      parentTag="Col"
        class="g84jzA6n4w "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg84jzA6n4w_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gpsApDiESM">
    <div
      parentTag="Col"
        class="gpsApDiESM "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggpsApDiESM_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gpsApDiESM">
        .gpsApDiESM .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g38HTN5s6s">
    <div
      parentTag="Col"
        class="g38HTN5s6s "
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-heading, heading);--weight:600;--size:22px;--size-tablet:16px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#d3d3d3;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gg38HTN5s6s_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gcOg2y8Mb0">
    <div
      parentTag="Col"
        class="gcOg2y8Mb0 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:0.5px;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:150%;--lh-mobile:150%;--c:#838383;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggcOg2y8Mb0_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gcOg2y8Mb0">
        .gcOg2y8Mb0 .gp-text ul{
    padding-left: 2px !important;
      margin: 4px !important;
}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3mvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547370712902403174 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370712868848742&sectionId=547370712902403174)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKYdjcEtqN_text","label":"ggKYdjcEtqN_text","default":"1. Introduction &amp; Commitment"},{"type":"html","id":"ggFYWXUTjfs_text","label":"ggFYWXUTjfs_text","default":"<ul><li>At Merakitech Limited, we are committed to providing exceptional service and support for our individual customers.</li><li>This policy outlines our warranty procedures and how we handle service requests.</li></ul>"},{"type":"html","id":"ggl7u4Ostgl_text","label":"ggl7u4Ostgl_text","default":"2. Proof of Purchase"},{"type":"html","id":"ggvhZtdpJM6_text","label":"ggvhZtdpJM6_text","default":"<ul><li>Please retain your purchase receipt, invoice, or other relevant paperwork as proof of purchase.</li><li>Only receipts from Merakitech Limited or authorized distributors are valid for warranty claims.</li></ul>"},{"type":"html","id":"ggWF9PdfqwR_text","label":"ggWF9PdfqwR_text","default":"3. Contacting Customer Support &amp; Warranty Claims"},{"type":"html","id":"ggBwWRF_6NH_text","label":"ggBwWRF_6NH_text","default":"<ul><li>Submit all warranty claims via email to: service@merakitech.com.</li><li>Required Information:</li></ul>"},{"type":"html","id":"ggX8aHQkRcr_text","label":"ggX8aHQkRcr_text","default":"<ul><li>Proof of purchase.</li><li>Detailed description of the issue.</li><li>Supporting evidence (photos, videos, log files).</li></ul>"},{"type":"html","id":"ggOdJfZJWiQ_text","label":"ggOdJfZJWiQ_text","default":"4. Returns &amp; Refunds"},{"type":"html","id":"ggrdpSSqGD8_text","label":"ggrdpSSqGD8_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Authorization:</strong> </span>All returns require prior authorization from customer support.</li><li><span style=\"color:#D3D3D3;\"><strong>Inspection:</strong></span> Returned products must be inspected at our warehouse before refunds are processed.</li><li><span style=\"color:#D3D3D3;\"><strong>Shipping:</strong></span> Return shipping cost caused by product defect during warranty period will be covered by Merakitech Limited.</li><li><span style=\"color:#D3D3D3;\"><strong>Packaging:</strong></span> You are responsible for packaging and damage caused by improper packaging. Original packaging is highly recommended.</li><li><span style=\"color:#D3D3D3;\"><strong>14-Day Return Window (from receipt):</strong></span></li></ul>"},{"type":"html","id":"ggoOcUAMdra_text","label":"ggoOcUAMdra_text","default":"<ul><li>Critical failures, manufacturing defects, or functionality issues.</li><li>Substantial transit damage (with carrier proof).</li><li>Unopened, unactivated, and new condition.</li></ul>"},{"type":"html","id":"ggYXVhYhG7G_text","label":"ggYXVhYhG7G_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Refund Deductions:</strong></span></li></ul>"},{"type":"html","id":"ggwFcOvC3-U_text","label":"ggwFcOvC3-U_text","default":"<ul><li>Shipping fees for returns with no confirmed issue.</li><li>Costs for missing parts.</li></ul>"},{"type":"html","id":"ggbxz1u_JEY_text","label":"ggbxz1u_JEY_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Refund Deductions:</strong></span></li></ul>"},{"type":"html","id":"ggL1tZ83U1G_text","label":"ggL1tZ83U1G_text","default":"<ul><li>Requests beyond 14 days.</li><li>Missing or damaged accessories/manuals.</li><li>Damage caused by user error.</li><li>No defects found after testing.</li><li>Invalid or missing proof of purchase.</li></ul>"},{"type":"html","id":"ggcH-z069Qf_text","label":"ggcH-z069Qf_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Return time frame:</strong></span> Returned product must be shipped back within 14 calendar days after return is approved.</li></ul>"},{"type":"html","id":"ggjc1BzXI8k_text","label":"ggjc1BzXI8k_text","default":"5. Replacements"},{"type":"html","id":"ggJggTMGJfb_text","label":"ggJggTMGJfb_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>30-Day Replacement Window (from receipt):</strong></span></li></ul>"},{"type":"html","id":"ggwk3rzzPN8_text","label":"ggwk3rzzPN8_text","default":"<ul><li>Substantial transit damage (with carrier proof).</li><li>Incorrect product received.</li><li>Critical failures or manufacturing defects.</li></ul>"},{"type":"html","id":"ggeD6088jtk_text","label":"ggeD6088jtk_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Warranty Start:</strong></span> Replacement warranty starts from the replacement's receipt date.</li><li><span style=\"color:#D3D3D3;\"><strong>Packaging:</strong></span> Returned product must be in original packaging.</li><li><span style=\"color:#D3D3D3;\"><strong>Shipping:</strong></span> Replacement shipping cost caused by product defect during warranty period will be covered by Merakitech Limited.</li></ul>"},{"type":"html","id":"ggI9w1rbMEF_text","label":"ggI9w1rbMEF_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Non-Replaceable Circumstances:</strong></span></li></ul>"},{"type":"html","id":"ggtficBG5nC_text","label":"ggtficBG5nC_text","default":"<ul><li>Requests beyond 30 days.</li><li>Missing or damaged original packaging or accessories.</li><li>Damage caused by user error.</li><li>No defects found after testing.</li><li>Invalid or missing proof of purchase.</li><li>Lack of carrier damage proof (reported within 7 days of delivery).</li><li>Damage from force majeure.</li></ul>"},{"type":"html","id":"gg7BWibwCXD_text","label":"gg7BWibwCXD_text","default":"<ul><li><span style=\"color:#D3D3D3;\"><strong>Return time frame:</strong></span> Returned product must be shipped back within 14 calendar days after replacement is approved.</li></ul>"},{"type":"html","id":"ggRF8tlE8f1_text","label":"ggRF8tlE8f1_text","default":"6. Repairs"},{"type":"html","id":"ggo3Ow7tJfj_text","label":"ggo3Ow7tJfj_text","default":"<ul><li>Warranty covers non-customer induced damages or manufacturing defects.</li><li><span style=\"color:#D3D3D3;\"><strong>Non-Repairable Circumstances:</strong></span></li></ul>"},{"type":"html","id":"ggVDyTkaJ8s_text","label":"ggVDyTkaJ8s_text","default":"<ul><li>&nbsp;Transit damage without proof.</li><li>Damage from accidents, abuse, misuse, or external causes.</li><li>Damage from unauthorized modifications.</li><li>Tampered product labels or serial numbers.</li><li>Invalid or missing proof of purchase.</li><li>Wear and scratches not affecting performance.</li></ul>"},{"type":"html","id":"ggdHyzC_Ff9_text","label":"ggdHyzC_Ff9_text","default":"7. Meraki Brew Scale Specifics"},{"type":"html","id":"gg3TfFOsiep_text","label":"gg3TfFOsiep_text","default":"<ul><li>Given the delicate nature of the scale and the inherent risks of transit damage, if the scale arrives damaged, a replacement module will be provided. Full refunds are not available for damage incurred during shipping</li><li>Video guidance will be provided for replacements.</li></ul>"},{"type":"html","id":"ggv1HUyI-IE_text","label":"ggv1HUyI-IE_text","default":"8. General Warranty Information"},{"type":"html","id":"gg3VyhOmKyY_text","label":"gg3VyhOmKyY_text","default":"<ul><li>2-year limited warranty from the date of receipt.</li><li>Warranty periods for returns, replacements, and repairs may vary.</li><li>DIY repairs only with Merakitech Limited guidance.</li><li>Damage from third-party accessories or unofficial firmware is not covered.</li><li>Warranty coverage does not extend to services performed for user preferences (e.g., grinder recalibration) or routine maintenance procedures (e.g., descaling)</li><li>Warranty covers defects under standard operating conditions.</li><li>Unauthorized modifications void the warranty.</li></ul>"},{"type":"html","id":"ggPo2uXOQjr_text","label":"ggPo2uXOQjr_text","default":"9. Accessory Parts (No Warranty)"},{"type":"html","id":"ggQyFcRBjkB_text","label":"ggQyFcRBjkB_text","default":"<ul><li>Consumables (e.g., barista towel, coffee beans) are not warranted.</li><li>Merakitech Limited may provide purchase links for consumables.</li></ul>"},{"type":"html","id":"gg84jzA6n4w_text","label":"gg84jzA6n4w_text","default":"10. Legal and Regional Considerations"},{"type":"html","id":"ggpsApDiESM_text","label":"ggpsApDiESM_text","default":"<ul><li>Consumer protection laws supersede this policy where applicable.</li><li>Warranty valid only within the original Service Region.</li><li>If local consumer regulations specify an official warranty period differs from our current official policy, the longer warranty period will apply.</li></ul>"},{"type":"html","id":"gg38HTN5s6s_text","label":"gg38HTN5s6s_text","default":"11. Policy Amendments"},{"type":"html","id":"ggcOg2y8Mb0_text","label":"ggcOg2y8Mb0_text","default":"<ul><li>We may modify this policy with 14 days' notice.</li><li>Refer to our website for order cancellation and shipping policies.</li><li>Merakitech Limited reserves the final right of interpretation.</li></ul>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
