

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547387266444559285.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547387266444559285.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547387266444559285.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547387266444559285.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547387266444559285.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547387266444559285.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547387266444559285.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547387266444559285.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547387266444559285.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547387266444559285.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547387266444559285.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547387266444559285.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547387266444559285.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547387266444559285.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-547387266444559285.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547387266444559285.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547387266444559285.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547387266444559285.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547387266444559285.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547387266444559285.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547387266444559285.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-547387266444559285.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547387266444559285.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547387266444559285.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547387266444559285.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547387266444559285.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547387266444559285.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547387266444559285.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547387266444559285.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547387266444559285.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547387266444559285.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547387266444559285.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-547387266444559285.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547387266444559285.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547387266444559285.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547387266444559285.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547387266444559285.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-547387266444559285.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-547387266444559285.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-547387266444559285.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-547387266444559285.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547387266444559285.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547387266444559285.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547387266444559285.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547387266444559285.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547387266444559285.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547387266444559285.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547387266444559285.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547387266444559285.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547387266444559285.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-547387266444559285.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547387266444559285.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547387266444559285.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-547387266444559285.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-547387266444559285.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547387266444559285.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547387266444559285.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547387266444559285.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547387266444559285.gps.gpsil [style*="--bottom-tablet:"]{bottom:var(--bottom-tablet)}.gps-547387266444559285.gps.gpsil [style*="--cg-tablet:"]{-moz-column-gap:var(--cg-tablet);column-gap:var(--cg-tablet)}.gps-547387266444559285.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547387266444559285.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547387266444559285.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547387266444559285.gps.gpsil [style*="--left-tablet:"]{left:var(--left-tablet)}.gps-547387266444559285.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547387266444559285.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547387266444559285.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-547387266444559285.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-547387266444559285.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-547387266444559285.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-547387266444559285.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-547387266444559285.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547387266444559285.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547387266444559285.gps.gpsil [style*="--right-tablet:"]{right:var(--right-tablet)}.gps-547387266444559285.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-547387266444559285.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547387266444559285.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547387266444559285.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547387266444559285.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-547387266444559285.gps.gpsil [style*="--cg-mobile:"]{-moz-column-gap:var(--cg-mobile);column-gap:var(--cg-mobile)}.gps-547387266444559285.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547387266444559285.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547387266444559285.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547387266444559285.gps.gpsil [style*="--left-mobile:"]{left:var(--left-mobile)}.gps-547387266444559285.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547387266444559285.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547387266444559285.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-547387266444559285.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-547387266444559285.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-547387266444559285.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-547387266444559285.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-547387266444559285.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-547387266444559285.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547387266444559285.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547387266444559285.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547387266444559285.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547387266444559285.gps.gpsil [style*="--right-mobile:"]{right:var(--right-mobile)}.gps-547387266444559285.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-547387266444559285.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547387266444559285.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547387266444559285 .-gp-translate-x-1\/2,.gps-547387266444559285 .-gp-translate-y-1\/2,.gps-547387266444559285 .gp-rotate-0,.gps-547387266444559285 .gp-rotate-180,.gps-547387266444559285 .mobile\:gp-rotate-0,.gps-547387266444559285 .mobile\:gp-rotate-180,.gps-547387266444559285 .tablet\:gp-rotate-0,.gps-547387266444559285 .tablet\:gp-rotate-180{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547387266444559285 .gp-shadow-md{--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000}.gps-547387266444559285 .\!gp-absolute{position:absolute!important}.gps-547387266444559285 .gp-absolute{position:absolute}.gps-547387266444559285 .gp-relative{position:relative}.gps-547387266444559285 .gp-left-0{left:0}.gps-547387266444559285 .gp-left-1\/2{left:50%}.gps-547387266444559285 .gp-right-0{right:0}.gps-547387266444559285 .gp-top-0{top:0}.gps-547387266444559285 .gp-top-1\/2{top:50%}.gps-547387266444559285 .gp-z-1{z-index:1}.gps-547387266444559285 .gp-z-2{z-index:2}.gps-547387266444559285 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547387266444559285 .gp-my-0{margin-bottom:0;margin-top:0}.gps-547387266444559285 .gp-mb-0{margin-bottom:0}.gps-547387266444559285 .gp-block{display:block}.gps-547387266444559285 .\!gp-flex{display:flex!important}.gps-547387266444559285 .gp-flex{display:flex}.gps-547387266444559285 .gp-grid{display:grid}.gps-547387266444559285 .gp-contents{display:contents}.gps-547387266444559285 .\!gp-hidden{display:none!important}.gps-547387266444559285 .gp-hidden{display:none}.gps-547387266444559285 .gp-aspect-\[56\/32\]{aspect-ratio:56/32}.gps-547387266444559285 .gp-aspect-square{aspect-ratio:1/1}.gps-547387266444559285 .gp-h-auto{height:auto}.gps-547387266444559285 .gp-h-full{height:100%}.gps-547387266444559285 .\!gp-min-h-full{min-height:100%!important}.gps-547387266444559285 .gp-w-14{width:56px}.gps-547387266444559285 .gp-w-5{width:20px}.gps-547387266444559285 .gp-w-\[12px\]{width:12px}.gps-547387266444559285 .gp-w-full{width:100%}.gps-547387266444559285 .\!gp-max-w-none{max-width:none!important}.gps-547387266444559285 .gp-max-w-full{max-width:100%}.gps-547387266444559285 .gp-flex-none{flex:none}.gps-547387266444559285 .gp-shrink-0{flex-shrink:0}.gps-547387266444559285 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-547387266444559285 .-gp-translate-x-1\/2,.gps-547387266444559285 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387266444559285 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-547387266444559285 .gp-rotate-0{--tw-rotate:0deg}.gps-547387266444559285 .gp-rotate-0,.gps-547387266444559285 .gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387266444559285 .gp-rotate-180{--tw-rotate:180deg}.gps-547387266444559285 .gp-cursor-pointer{cursor:pointer}.gps-547387266444559285 .gp-select-none{-webkit-user-select:none;-moz-user-select:none;user-select:none}.gps-547387266444559285 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547387266444559285 .\!gp-flex-row{flex-direction:row!important}.gps-547387266444559285 .gp-flex-row{flex-direction:row}.gps-547387266444559285 .gp-flex-col{flex-direction:column}.gps-547387266444559285 .\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-547387266444559285 .gp-items-center{align-items:center}.gps-547387266444559285 .gp-justify-center{justify-content:center}.gps-547387266444559285 .gp-justify-between{justify-content:space-between}.gps-547387266444559285 .gp-gap-2{gap:8px}.gps-547387266444559285 .gp-gap-y-0{row-gap:0}.gps-547387266444559285 .gp-overflow-hidden{overflow:hidden}.gps-547387266444559285 .gp-rounded{border-radius:4px}.gps-547387266444559285 .gp-rounded-full{border-radius:9999px}.gps-547387266444559285 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity))}.gps-547387266444559285 .gp-bg-black\/80{background-color:rgba(0,0,0,.8)}.gps-547387266444559285 .gp-object-cover{-o-object-fit:cover;object-fit:cover}.gps-547387266444559285 .gp-text-center{text-align:center}.gps-547387266444559285 .gp-text-gray-500{--tw-text-opacity:1;color:rgb(107 114 128/var(--tw-text-opacity))}.gps-547387266444559285 .gp-text-white{--tw-text-opacity:1;color:rgb(255 255 255/var(--tw-text-opacity))}.gps-547387266444559285 .gp-shadow-md{--tw-shadow:0 4px 6px -1px rgba(0,0,0,.1),0 2px 4px -2px rgba(0,0,0,.1);--tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color);box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)}.gps-547387266444559285 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547387266444559285 .gp-duration-200{transition-duration:.2s}.gps-547387266444559285 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-547387266444559285 .hover\:gp-bg-\[\#ef0800\]:hover{--tw-bg-opacity:1;background-color:rgb(239 8 0/var(--tw-bg-opacity))}}@media (max-width:1024px){.gps-547387266444559285 .tablet\:\!gp-absolute{position:absolute!important}.gps-547387266444559285 .tablet\:gp-absolute{position:absolute}.gps-547387266444559285 .tablet\:gp-left-0{left:0}.gps-547387266444559285 .tablet\:gp-right-0{right:0}.gps-547387266444559285 .tablet\:gp-z-2{z-index:2}.gps-547387266444559285 .tablet\:gp-block{display:block}.gps-547387266444559285 .tablet\:\!gp-flex{display:flex!important}.gps-547387266444559285 .tablet\:\!gp-hidden{display:none!important}.gps-547387266444559285 .tablet\:gp-hidden{display:none}.gps-547387266444559285 .tablet\:gp-h-auto{height:auto}.gps-547387266444559285 .tablet\:\!gp-min-h-full{min-height:100%!important}.gps-547387266444559285 .tablet\:gp-flex-none{flex:none}.gps-547387266444559285 .tablet\:gp-rotate-0{--tw-rotate:0deg}.gps-547387266444559285 .tablet\:gp-rotate-0,.gps-547387266444559285 .tablet\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387266444559285 .tablet\:gp-rotate-180{--tw-rotate:180deg}.gps-547387266444559285 .tablet\:\!gp-flex-row{flex-direction:row!important}.gps-547387266444559285 .tablet\:gp-flex-row{flex-direction:row}.gps-547387266444559285 .tablet\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-547387266444559285 .tablet\:gp-px-0{padding-left:0;padding-right:0}}@media (max-width:767px){.gps-547387266444559285 .mobile\:gp-static{position:static}.gps-547387266444559285 .mobile\:\!gp-absolute{position:absolute!important}.gps-547387266444559285 .mobile\:gp-left-0{left:0}.gps-547387266444559285 .mobile\:gp-right-0{right:0}.gps-547387266444559285 .mobile\:gp-z-2{z-index:2}.gps-547387266444559285 .mobile\:gp-block{display:block}.gps-547387266444559285 .mobile\:\!gp-flex{display:flex!important}.gps-547387266444559285 .mobile\:\!gp-hidden{display:none!important}.gps-547387266444559285 .mobile\:gp-hidden{display:none}.gps-547387266444559285 .mobile\:gp-h-auto{height:auto}.gps-547387266444559285 .mobile\:\!gp-min-h-full{min-height:100%!important}.gps-547387266444559285 .mobile\:gp-flex-none{flex:none}.gps-547387266444559285 .mobile\:gp-rotate-0{--tw-rotate:0deg}.gps-547387266444559285 .mobile\:gp-rotate-0,.gps-547387266444559285 .mobile\:gp-rotate-180{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547387266444559285 .mobile\:gp-rotate-180{--tw-rotate:180deg}.gps-547387266444559285 .mobile\:\!gp-flex-row{flex-direction:row!important}.gps-547387266444559285 .mobile\:gp-flex-row{flex-direction:row}.gps-547387266444559285 .mobile\:\!gp-flex-nowrap{flex-wrap:nowrap!important}.gps-547387266444559285 .mobile\:gp-px-0{padding-left:0;padding-right:0}}.gps-547387266444559285 .\[\&\>svg\]\:gp-h-full>svg{height:100%}.gps-547387266444559285 .\[\&\>svg\]\:gp-w-full>svg{width:100%}.gps-547387266444559285 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547387266444559285 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-547387266444559285 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-547387266444559285 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}.gps-547387266444559285 .\[\&_p\]\:gp-inline p{display:inline}.gps-547387266444559285 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547387266444559285 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:0px;--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:0px"
            >
              
    <div
      id="gkhFA6SH6m" data-id="gkhFA6SH6m"
        style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--pt:var(--g-s-2xl);--pl:var(--g-s-xl);--pb:var(--g-s-2xl);--pr:var(--g-s-xl);--pt-mobile:var(--g-s-2xl);--pl-mobile:var(--g-s-m);--pb-mobile:var(--g-s-2xl);--pr-mobile:var(--g-s-m);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:#F6F6F6;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gkhFA6SH6m gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZGXUTFFP2 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="g97UpzbzcA" data-id="g97UpzbzcA"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g97UpzbzcA gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-tablet:1"
      class="gQEoAUYMqx gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gif_-1XXqP">
    <div
      parentTag="Col"
        class="gif_-1XXqP "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:8px;--mb-mobile:14px;--pl-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggif_-1XXqP_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTDH1566eu">
    <div
      parentTag="Col"
        class="gTDH1566eu "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:80px;--mb-mobile:28px;--pl-mobile:20px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTDH1566eu_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gTDH1566eu">
        .gTDH1566eu {

}
.gTDH1566eu p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-tablet:0"
      class="gingg1MRy4 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gASVDIzzIi"
    role="presentation"
    class="gp-group/image gASVDIzzIi gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}" srcset="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}" srcset="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}"
        data-src="{{ "gempages_544061842616484702-0272eebf-23e9-405a-9b14-d6f493d7aac4.webp" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gGPq_OHIjk" data-id="gGPq_OHIjk"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gGPq_OHIjk gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:0;--o-mobile:1"
      class="gkEzPy01CB gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gfnawYmmee">
    <div
      parentTag="Col"
        class="gfnawYmmee "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:14px;--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggfnawYmmee_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdM3jMVgqo">
    <div
      parentTag="Col"
        class="gdM3jMVgqo "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:40px;--mb-mobile:var(--g-s-s);--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdM3jMVgqo_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdM3jMVgqo">
        .gdM3jMVgqo {

}
.gdM3jMVgqo p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o-tablet:1;--o-mobile:0"
      class="gjjvuu0giM gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gIMXaiK9OR"
    role="presentation"
    class="gp-group/image gIMXaiK9OR gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023" srcset="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023" srcset="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023"
        data-src="https://www.origincoffee.co.uk/cdn/shop/files/World-class-coffee.webp?v=1727364023"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gIbS0ARr7v" data-id="gIbS0ARr7v"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:var(--g-s-l);--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gIbS0ARr7v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-tablet:1"
      class="gSYMAm3Y5S gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gTgaQNmaAU">
    <div
      parentTag="Col"
        class="gTgaQNmaAU "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:8px;--mb-mobile:14px;--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggTgaQNmaAU_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEh5Lf0bjR">
    <div
      parentTag="Col"
        class="gEh5Lf0bjR "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:40px;--mb-mobile:var(--g-s-s);--pl-mobile:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEh5Lf0bjR_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gEh5Lf0bjR">
        .gEh5Lf0bjR {

}
.gEh5Lf0bjR p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-tablet:0"
      class="gz48-KDIpC gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gT156SChFC"
    role="presentation"
    class="gp-group/image gT156SChFC gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754" srcset="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754" />
      <source media="(max-width: 1024px)" data-srcSet="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754" srcset="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754"
        data-src="https://www.origincoffee.co.uk/cdn/shop/files/Resolute-Subscribe.webp?v=1727364754"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:16px;--bbrr:16px;--btlr:16px;--btrr:16px;--radiusType:custom;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="gwtn3UpsJ_" data-id="gwtn3UpsJ_"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:8px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gwtn3UpsJ_ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-tablet:0;--o-mobile:1"
      class="gaOinikKXJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="ghuQ2Vqps0">
    <div
      parentTag="Col"
        class="ghuQ2Vqps0 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--ml:var(--g-s-s);--mb:8px;--mb-mobile:14px;--pl-mobile:20px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:600;--ls:normal;--size:28px;--size-tablet:28px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.gghuQ2Vqps0_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gdNpPp1H-Y">
    <div
      parentTag="Col"
        class="gdNpPp1H-Y "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--ml:var(--g-s-s);--mb:80px;--mb-mobile:28px;--pl-mobile:0px;--mb-tablet:32px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:14px;--size-mobile:14px;--lh:180%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggdNpPp1H-Y_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gdNpPp1H-Y">
        .gdNpPp1H-Y {

}
.gdNpPp1H-Y p {

}
      </style>
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-tablet:1;--o-mobile:0"
      class="gfaBogf0Dz gp-relative gp-flex gp-flex-col"
    >
      
    <gp-carousel data-id="gGILRkvGsD"  id="gp-root-carousel-gGILRkvGsD-{{section.id}}" class="  gp-group/carousel gp-flex" gp-data='{"id":"gGILRkvGsD-{{section.id}}","setting":{"animationMode":"ease-in","arrowBackgroundColor":"transparent","arrowBorder":{"desktop":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"arrowButtonSize":{"desktop":{"height":"32px","padding":{"linked":true},"shapeLinked":true,"shapeValue":"1/1","width":"32px"}},"arrowCustom":"<svg width=\"20\" height=\"20\" viewBox=\"0 0 20 20\" fill=\"currentColor\" xmlns=\"http://www.w3.org/2000/svg\">\n              <path fill-rule=\"evenodd\" clip-rule=\"evenodd\" d=\"M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z\"/>\n              </svg>\n              ","arrowCustomColor":"#000000","arrowGapToEachSide":"16","arrowIconSize":{"desktop":24},"autoplay":false,"autoplayTimeout":2,"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"childItem":["Slide 1","Slide 2"],"controlOverContent":{"desktop":true},"dot":{"desktop":true,"mobile":true,"tablet":true},"dotActiveColor":{"desktop":"line-3"},"dotColor":{"desktop":"bg-1","mobile":"#F6F6F6"},"dotGapToCarousel":{"desktop":16},"dotSize":{"desktop":12,"mobile":9},"dotStyle":{"desktop":"inside","mobile":"outside"},"enableDrag":{"desktop":false},"itemNumber":{"desktop":2,"mobile":2,"tablet":2},"label":true,"loop":{"desktop":false},"navigationStyle":{"desktop":"inside"},"pauseOnHover":true,"roundedArrow":{"desktop":{"radiusType":"small"}},"rtl":false,"runPreview":false,"showWhenHover":false,"sneakPeak":{"desktop":false},"sneakPeakOffsetCenter":{"desktop":50},"sneakPeakOffsetForward":{"desktop":50},"sneakPeakType":{"desktop":"forward"},"vertical":{"desktop":false}},"styles":{"align":{"desktop":"center"},"borderContent":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"position":"all","width":"1px 1px 1px 1px"},"carouselShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"fullWidth":{"desktop":false,"mobile":false,"tablet":false},"hasActiveShadow":false,"itemPadding":{"desktop":{"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px","type":"custom"}}},"playSpeed":500,"roundedContent":{"radiusType":"none"},"sizeSetting":{"desktop":{"height":"auto","shapeLinked":false,"width":"default"}},"spacing":{"desktop":16}},"isHiddenArrowWhenDisabled":true}' style="--jc:center">
      <div class="gp-hidden gp-aspect-square gp-w-[12px] gp-rounded-full gp-shadow-md"></div>
      <div
        
        class="gp-relative gp-my-0 tablet:gp-px-0 gp-max-w-full mobile:gp-px-0 gp-carousel-wrapper mobile:gp-block tablet:gp-block gp-block gGILRkvGsD"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--h:auto;--h-tablet:auto;--h-mobile:auto"
      >
        <div
          class="gp-h-full gp-relative gp-mx-auto gp-flex gp-items-center gp-justify-between mobile:!gp-flex-row tablet:!gp-flex-row !gp-flex-row"
          style="--h:100%;--h-tablet:100%;--h-mobile:auto;gap:16px"
        >
          
    <button
      type="button"
      aria-label='Carousel Back Arrow'
      class="gp-z-1 gp-carousel-action-back gem-slider-previous gGILRkvGsD-{{section.id}} gp-carousel-arrow-gGILRkvGsD gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:16px;--top:initial;--right:initial;--bottom:;--left-tablet:16px;--top-tablet:initial;--right-tablet:initial;--bottom-tablet:;--left-mobile:16px;--top-mobile:initial;--right-mobile:initial;--bottom-mobile:;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-180 tablet:gp-rotate-180 mobile:gp-rotate-180"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gGILRkvGsD {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gGILRkvGsD::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gGILRkvGsD {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gGILRkvGsD::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gGILRkvGsD {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gGILRkvGsD::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
          <div id="gp-carousel-gGILRkvGsD-{{section.id}}" class="gem-slider gp-h-full gp-overflow-hidden gp-select-none mobile:!gp-flex-nowrap tablet:!gp-flex-nowrap !gp-flex-nowrap mobile:!gp-min-h-full tablet:!gp-min-h-full !gp-min-h-full"
          style="--cg-mobile:16px;--cg-tablet:16px;--cg:16px">
          
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gGILRkvGsD g6xN9AYnif"
      data-index="0"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="g3If85XI8_"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative g3If85XI8_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-g3If85XI8_"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      
      muted
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/3741778f3bce4accb4736e29c83d87f1.mp4"
      src=""
      poster="{{ 'gempages_544061842616484702-78836ad8-83ec-45fb-a590-9d9fa559cc06.jpg' | file_url }}"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/3741778f3bce4accb4736e29c83d87f1.mp4" src="" type="video/mp4"></source>
  </video>
    <div
      style="--aspect:9/16"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
    >
      <img
        id="video-thumbnail"
        src="{{ 'gempages_544061842616484702-78836ad8-83ec-45fb-a590-9d9fa559cc06.jpg' | file_url }}"
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
    <div
      media-type="{{media.media_type}}"
      media-poster="{{media.preview_image.src}}"
      media-source-url="{{media.sources.first.url}}"
      media-last-source-url="{{mediaSourceUrl}}"
      external-id="{{media.external_id}}"
      grid-index="{{forloop.index}}"
      
      label="Carousel Item" tag="CarouselItem" type="component"
      style="--bgc:transparent;--minw:calc(100% / 2 - 8px);--minw-tablet:calc(100% / 2 - 8px);--minw-mobile:calc(100% / 2 - 8px);--maxw:calc(100% / 2 - 8px);--maxw-tablet:calc(100% / 2 - 8px);--maxw-mobile:calc(100% / 2 - 8px);--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ml:0px;--ml-tablet:0px;--ml-mobile:0px;--pl:0px;--pr:0px;--pt:0px;--pb:0px"
      class="gem-slider-item gp-w-full gem-slider-item- gp-child-item-gGILRkvGsD goCzfHe4gD"
      data-index="1"
    >
      <div
        class="gp-w-full gp-h-full",
        style="--shadow:none"
      >
      
    <div
      
      data-id="gMCGAl14z2"
      class="!gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative gMCGAl14z2"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--aspect:9/16"
    >
      
  <gp-lite-html5-embed>
    
    <video
      id="gp-video-gMCGAl14z2"
      class=" gp-w-full lazy"
      style="--aspect:9/16"
      controls
      
      muted
      
      title="Video"
      preload="none"
      data-src="https://cdn.shopify.com/videos/c/o/v/17d370c22ad34537ab9832b8bb9b0508.mp4"
      src=""
      poster="{{ 'gempages_544061842616484702-e8c1d53a-eec0-41a6-ac10-56fa73768706.jpg' | file_url }}"
      playsinline
    >
    <source data-src="https://cdn.shopify.com/videos/c/o/v/17d370c22ad34537ab9832b8bb9b0508.mp4" src="" type="video/mp4"></source>
  </video>
    <div
      style="--aspect:9/16"
      class="gp-absolute gp-top-0 gp-left-0  gp-w-full gp-thumbnail-video"
    >
      <img
        id="video-thumbnail"
        src="{{ 'gempages_544061842616484702-e8c1d53a-eec0-41a6-ac10-56fa73768706.jpg' | file_url }}"
        class="gp-w-full gp-h-full gp-object-cover"
        alt="Video Thumbnail"
      ></img>
      <button
        type="button"
        class="gp-absolute gp-left-1/2 gp-top-1/2 gp-flex gp-aspect-[56/32] gp-w-14 -gp-translate-x-1/2 -gp-translate-y-1/2 gp-items-center gp-justify-center gp-rounded gp-bg-black/80 gp-transition-colors hover:gp-bg-[#ef0800]"
        aria-label="Play"
      >
        <svg class="gp-w-5 gp-text-white" viewBox="0 0 24 24">
          <path
            fill="currentColor"
            d="M5 5.274c0-1.707 1.826-2.792 3.325-1.977l12.362 6.726c1.566.853 1.566 3.101 0 3.953L8.325 20.702C6.826 21.518 5 20.432 5 18.726V5.274Z"
          />
        </svg>
      </button>
    </div>
    </gp-lite-html5-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-lite-html5-embed.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
        if(lazyLoadInstance){lazyLoadInstance.update()}else{var lazyLoadInstance = new LazyLoad()}
    </script>
  
    </div>
  
      </div>
    </div>
  
          </div>
          
    <button
      type="button"
      aria-label='Carousel Next Arrow'
      class="gp-z-1 gp-carousel-action-next gem-slider-next gGILRkvGsD-{{section.id}} gp-carousel-arrow-gGILRkvGsD gp-items-center gp-justify-center gp-overflow-hidden gp-shrink-0  gp-cursor-pointer gp-text-gray-500 !gp-flex !gp-absolute gp-z-2 tablet:!gp-flex tablet:!gp-absolute tablet:gp-z-2 mobile:!gp-flex mobile:!gp-absolute mobile:gp-z-2"
      style="--left:initial;--top:;--right:16px;--bottom:initial;--left-tablet:initial;--top-tablet:;--right-tablet:16px;--bottom-tablet:initial;--left-mobile:initial;--top-mobile:;--right-mobile:16px;--bottom-mobile:initial;--d:flex;--d-tablet:flex;--d-mobile:flex;background-color:transparent;--w:32px;--h:32px"
      onClick={onClick}
      
    >
      <div 
  class="gp-flex gp-items-center gp-justify-center [&>svg]:gp-h-full [&>svg]:gp-w-full gp-rotate-0 tablet:gp-rotate-0 mobile:gp-rotate-0"
  style="--c:#000000;--w:24px;--w-tablet:24px;--w-mobile:24px;--h:24px;--h-tablet:24px;--h-mobile:24px"
  >
    <svg width="20" height="20" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M7.62204 5.13313C7.78476 4.95562 8.04858 4.95562 8.21129 5.13313L12.378 9.67859C12.5407 9.8561 12.5407 10.1439 12.378 10.3214L8.21129 14.8669C8.04858 15.0444 7.78476 15.0444 7.62204 14.8669C7.45932 14.6894 7.45932 14.4016 7.62204 14.224L11.4941 10L7.62204 5.77596C7.45932 5.59845 7.45932 5.31064 7.62204 5.13313Z"/>
              </svg>
              
    </div>
      <style>
    .gp-carousel-arrow-gGILRkvGsD {
      border-radius: var(--g-radius-small);
    }
    .gp-carousel-arrow-gGILRkvGsD::before {
      content: '';
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      z-index: 10;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }
    @media only screen and (max-width: 1024px) and (min-width: 768px) {
      .gp-carousel-arrow-gGILRkvGsD {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gGILRkvGsD::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
    @media only screen and (max-width: 768px) {
      .gp-carousel-arrow-gGILRkvGsD {
        border-radius: var(--g-radius-small);
      }
      .gp-carousel-arrow-gGILRkvGsD::before {
        border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
        border-radius: var(--g-radius-small);
      }
    }
  </style>
    </button>
  
        </div>
        <div
    class="gp-items-center gp-justify-center gp-gap-2 gp-text-center gp-carousel-dot-container gp-carousel-dot-container-gGILRkvGsD-{{section.id}} gp-absolute gp-flex-row gp-left-0 gp-right-0 tablet:gp-absolute tablet:gp-flex-row tablet:gp-left-0 tablet:gp-right-0 mobile:gp-static mobile:gp-flex-row mobile:gp-left-0 mobile:gp-right-0"
    style="--bottom:16px;--bottom-tablet:16px;--mt-mobile:16px;--d:flex;--d-tablet:flex;--d-mobile:flex"
 ></div>
      </div>
    </gp-carousel>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-carousel-v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6gTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6tTYnvDE5YfqXtUw.woff) format('woff');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_04uQ6jTYnvDE5YfqU.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547387266444559285 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=547387266394227637&sectionId=547387266444559285)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggif_-1XXqP_text","label":"ggif_-1XXqP_text","default":"A Commitment to Excellence"},{"type":"html","id":"ggTDH1566eu_text","label":"ggTDH1566eu_text","default":"<p>Championing speciality coffee from every angle, at every step of the journey. Starting at the source and working with the seasons. Holding ourselves accountable to the highest standards of social and environmental performance. Every sip of our coffee is a result of years of dedication to seasonality, provenance and sustainability.</p>"},{"type":"html","id":"ggfnawYmmee_text","label":"ggfnawYmmee_text","default":"World Class Coffee"},{"type":"html","id":"ggdM3jMVgqo_text","label":"ggdM3jMVgqo_text","default":"<p>We work tirelessly in pursuit of coffee excellence. We strive to break peoples preconceptions of what an incredible coffee can be, where it can grow, or who grows it. This means always paying above Fairtrade, building sustainable relationships, and championing positive change. With over 20 years of experience in the industry, we realise we're in a privileged position. And with our Director of Coffee, Freda Yuan, a world-class Cup Taster (3x UK Champion) steering our coffee programme, we're more than ready to keep leading the way for the future of speciality coffee.</p>"},{"type":"html","id":"ggTgaQNmaAU_text","label":"ggTgaQNmaAU_text","default":"Subscribe to Resolute"},{"type":"html","id":"ggEh5Lf0bjR_text","label":"ggEh5Lf0bjR_text","default":"<p>Gain exclusive benefits when you sign up for a Resolute subscription, and get set to brew exceptional coffee from the comfort of home, without ever worrying about running out. Receive 15% off in reward points, access exclusive subscriber-only perks, and enjoy free tracked shipping for hassle-free delivery. You're in control. Whether its amending your address or updating your billing details, our online portal puts you in charge of your subscription. You can skip an order, change your grind size, or alter frequency with ease, with ease.</p>"},{"type":"html","id":"gghuQ2Vqps0_text","label":"gghuQ2Vqps0_text","default":"Resolute Brew guide and unboxing"},{"type":"html","id":"ggdNpPp1H-Y_text","label":"ggdNpPp1H-Y_text","default":"<p>Championing speciality coffee from every angle, at every step of the journey. Starting at the source and working with the seasons. Holding ourselves accountable to the highest standards of social and environmental performance. Every sip of our coffee is a result of years of dedication to seasonality, provenance and sustainability.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
