

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547370713858770022.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547370713858770022.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547370713858770022.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547370713858770022.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547370713858770022.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547370713858770022.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547370713858770022.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547370713858770022.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547370713858770022.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547370713858770022.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547370713858770022.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547370713858770022.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547370713858770022.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547370713858770022.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547370713858770022.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547370713858770022.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547370713858770022.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547370713858770022.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547370713858770022.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-547370713858770022.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547370713858770022.gps.gpsil [style*="--hvr-op:"]:hover{opacity:var(--hvr-op)}.gps-547370713858770022.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547370713858770022.gps.gpsil [style*="--hvr-o:"]:hover{order:var(--hvr-o)}.gps-547370713858770022.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547370713858770022.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547370713858770022.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547370713858770022.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547370713858770022.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547370713858770022.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547370713858770022.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-547370713858770022.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-547370713858770022.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547370713858770022.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547370713858770022.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-547370713858770022.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547370713858770022.gps.gpsil [style*="--bgi-tablet:"]{background-image:var(--bgi-tablet)}.gps-547370713858770022.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pc-tablet:"]{place-content:var(--pc-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547370713858770022.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-547370713858770022.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-547370713858770022.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-547370713858770022.gps.gpsil [style*="--bgc-mobile:"]{background-color:var(--bgc-mobile)}.gps-547370713858770022.gps.gpsil [style*="--bgi-mobile:"]{background-image:var(--bgi-mobile)}.gps-547370713858770022.gps.gpsil [style*="--bgp-mobile:"]{background-position:var(--bgp-mobile)}.gps-547370713858770022.gps.gpsil [style*="--bgr-mobile:"]{background-repeat:var(--bgr-mobile)}.gps-547370713858770022.gps.gpsil [style*="--bgs-mobile:"]{background-size:var(--bgs-mobile)}.gps-547370713858770022.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547370713858770022.gps.gpsil [style*="--pc-mobile:"]{place-content:var(--pc-mobile)}.gps-547370713858770022.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547370713858770022.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547370713858770022.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-547370713858770022.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-547370713858770022.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-547370713858770022 .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-547370713858770022 .gp-invisible{visibility:hidden}.gps-547370713858770022 .gp-absolute{position:absolute}.gps-547370713858770022 .gp-relative{position:relative}.gps-547370713858770022 .gp-inset-0{inset:0}.gps-547370713858770022 .gp-left-\[var\(--left\)\]{left:var(--left)}.gps-547370713858770022 .gp-top-0{top:0}.gps-547370713858770022 .gp-top-\[var\(--top\)\]{top:var(--top)}.gps-547370713858770022 .gp-z-1{z-index:1}.gps-547370713858770022 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547370713858770022 .gp-mb-0{margin-bottom:0}.gps-547370713858770022 .gp-flex{display:flex}.gps-547370713858770022 .gp-grid{display:grid}.gps-547370713858770022 .\!gp-hidden{display:none!important}.gps-547370713858770022 .gp-hidden{display:none}.gps-547370713858770022 .gp-h-full{height:100%}.gps-547370713858770022 .gp-w-full{width:100%}.gps-547370713858770022 .gp-max-w-full{max-width:100%}.gps-547370713858770022 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547370713858770022 .gp-flex-col{flex-direction:column}.gps-547370713858770022 .\!gp-content-stretch{align-content:stretch!important}.gps-547370713858770022 .gp-items-center{align-items:center}.gps-547370713858770022 .\!gp-justify-start{justify-content:flex-start!important}.gps-547370713858770022 .\!gp-justify-center{justify-content:center!important}.gps-547370713858770022 .gp-gap-y-0{row-gap:0}.gps-547370713858770022 .gp-overflow-hidden{overflow:hidden}.gps-547370713858770022 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713858770022 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713858770022 .gp-transition-transform{transition-duration:.15s;transition-property:transform;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547370713858770022 .gp-duration-200{transition-duration:.2s}.gps-547370713858770022 .gp-duration-300{transition-duration:.3s}.gps-547370713858770022 .gp-duration-\[var\(--duration\)\]{transition-duration:var(--duration)}.gps-547370713858770022 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (hover:hover) and (pointer:fine){.gps-547370713858770022 .gp-group\/hero:hover .group-hover\/hero\:gp-scale-\[var\(--scale\)\]{--tw-scale-x:var(--scale);--tw-scale-y:var(--scale);transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-547370713858770022 .gp-group\/hero:hover .group-hover\/hero\:gp-bg-\[color\:var\(--hvr-bgc\2c _var\(--bgc\)\)\]{background-color:var(--hvr-bgc,var(--bgc))}.gps-547370713858770022 .gp-group\/hero:hover .group-hover\/hero\:gp-opacity-\[var\(--hvr-op\2c _var\(--op\)\)\]{opacity:var(--hvr-op,var(--op))}}@media (max-width:1024px){.gps-547370713858770022 .tablet\:gp-absolute{position:absolute}.gps-547370713858770022 .tablet\:\!gp-hidden{display:none!important}.gps-547370713858770022 .tablet\:gp-hidden{display:none}.gps-547370713858770022 .tablet\:\!gp-content-stretch{align-content:stretch!important}.gps-547370713858770022 .tablet\:\!gp-justify-start{justify-content:flex-start!important}.gps-547370713858770022 .tablet\:\!gp-justify-center{justify-content:center!important}}@media (max-width:767px){.gps-547370713858770022 .mobile\:gp-relative{position:relative}.gps-547370713858770022 .mobile\:\!gp-hidden{display:none!important}.gps-547370713858770022 .mobile\:gp-hidden{display:none}.gps-547370713858770022 .mobile\:\!gp-content-stretch{align-content:stretch!important}.gps-547370713858770022 .mobile\:\!gp-justify-start{justify-content:flex-start!important}.gps-547370713858770022 .mobile\:\!gp-justify-center{justify-content:center!important}}.gps-547370713858770022 .\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}@media (max-width:1024px){.gps-547370713858770022 .tablet\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}@media (max-width:767px){.gps-547370713858770022 .mobile\:\[\&\>\*\]\:\!gp-justify-start>*{justify-content:flex-start!important}}.gps-547370713858770022 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gQ9v6HAQXT" data-id="gQ9v6HAQXT"
        style="--bs:none;--bw:0px;--bc:transparent;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(undefined);--pb:var(undefined);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQ9v6HAQXT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gYKA9BOgmR gp-relative gp-flex gp-flex-col"
    >
      
    <div class="gp-flex gp-w-full !gp-justify-center tablet:!gp-justify-center mobile:!gp-justify-center" style="--h:800px;--h-tablet:auto;--h-mobile:500px;--d:flex;--d-mobile:flex;--d-tablet:flex">
      <gp-hero-banner
        gp-data='{"target":"_blank","background":{"desktop":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":878,"src":"https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg","width":1704},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"tablet":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"","height":878,"src":"https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg","width":1704},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"},"mobile":{"attachment":"scroll","color":"bg-2","image":{"backupFileKey":"gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg","height":840,"src":"https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg","storage":"FILE_CONTENT","width":689},"lazyLoad":false,"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"g0WANr6XYo","enableParallax":false,"speedParallax":0.6,"hoverEffect":true,"hoverEffectScale":"110%","layout":{"desktop":{"cols":[12],"display":"fill"}},"contentPosition1Col":{"desktop":"top"},"contentPosition2Col":{"desktop":"center"},"aspectRatio":{"desktop":"16/9","mobile":"auto"}}'
        gp-href=""
        
        class="g0WANr6XYo gp-group/hero gp-flex gp-flex-col gp-transition-colors gp-duration-200 gp-ease-in-out gp-w-full"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--h:800px;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:auto;--w-mobile:100%;--aspect-tablet:auto"
        data-id="g0WANr6XYo"
      >
        
      <div
        class="gp-relative gp-flex gp-flex-col gp-items-center gp-overflow-hidden gp_haslazybg !gp-justify-start tablet:!gp-justify-start mobile:!gp-justify-start"
        style="--h:800px;--h-tablet:auto;--h-mobile:500px;--aspect-tablet:auto;--bs:solid;--bw:0px 0px 0px 0px;--bc:#000000;--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--shadow:none"
      >
        
  <picture style="border-radius: inherit" class="gp-w-full">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg" />
      <img
        title
        class="adaptive-hero-banner"
        src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg"
        data-src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg"
        width="100%"
        alt=""
        style="--aspect-tablet:auto;--d:none;--d-tablet:block;--d-mobile:none;--h:800px;--h-tablet:auto;--h-mobile:500px;--w:100%;--w-tablet:auto;--w-mobile:100%;--op:0;--z:-1"
      />
    
  </picture>
        <div class="gp-absolute gp-w-full gp-h-full">
          <div
            class="gp-overflow-hidden gp-relative gp-w-full gp-h-full"
            >
            <div
              aria-label="Background Image"
              role="banner"
              class='gp-hero-banner-bg gp-absolute gp-overflow-hidden gp-w-full gp-h-full top-0 left-0'
              style="clip-path:inset(0 0 0 round 0px 0px 0px 0px)"
            >
            <div class="hero-banner-bg-parallax gp-hero-banner-image-background gp-duration-[var(--duration)] group-hover/hero:gp-scale-[var(--scale)] gp-transition-transform"
              style="--bgi:url(https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg);--bgi-tablet:url(https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg);--bgi-mobile:url({{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }});--bgc:var(--g-c-bg-2);--bgc-mobile:var(--g-c-bg-2);--bgp:50% 50%;--bgp-mobile:50% 50%;--bgs:cover;--bgs-mobile:cover;--bgr:no-repeat;--bgr-mobile:no-repeat;--duration:0.5s;--scale:110%;--pos:absolute;--pos-tablet:absolute;--pos-mobile:absolute;--h:100%;--h-tablet:100%;--h-mobile:100%;--w:100%;--w-tablet:100%;--w-mobile:100%;--top:;--top-tablet:;--top-mobile:"
            >
            
            
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  "
      data-src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg" data-srcset="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg" src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c.jpg" width="2237" height="1678" alt="lazy image desktop"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg gp_lazybg_tl "
      data-src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg" data-srcset="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg" src="https://cdn.shopify.com/s/files/1/0919/4507/4971/files/gempages_545069094336988221-ab782698-1c5c-4ae2-987a-400600d2e62c_1024x.jpg" width="2237" height="1678" alt="lazy image tablet"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
  <img
      
      
      draggable="false"
      class="gp-absolute gp-top-0 gp-invisible gp-w-full gp_lazyload gp-h-full gp_lazyforbg  gp_lazybg_mb"
      data-src="{{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }}" data-srcset="{{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }}" src="{{ "gempages_544061842616484702-025d8922-e0f2-4732-b6dc-d128b0d3c033.jpg" | file_url }}" width="2237" height="1678" alt="lazy image mobile"
      quality-type={}
      quality-percent={}
      data-sizes="auto"
      sizes="100vw"
      
    />
  
            </div></div>
          </div>
          <div
              aria-label="Overlay"
              role="banner"
              class="gp-absolute gp-inset-0 gp-left-[var(--left)] gp-top-[var(--top)] gp-transition-all gp-duration-300 group-hover/hero:gp-bg-[color:var(--hvr-bgc,_var(--bgc))] group-hover/hero:gp-opacity-[var(--hvr-op,_var(--op))]"
            style="--bgc:#121212;--top:0;--left:0;--op:65%;--hvr-op:20%">
            </div>
          </div>
          
       
      
    <div
      id data-id
        style="--pl:0px;--pr:0px;--pt:32px;--pb:32px;--pl-tablet:16px;--pr-tablet:16px;--pt-tablet:16px;--pb-tablet:16px;--cg:32px;--pc:start;--pc-tablet:start;--pc-mobile:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:var(--g-ct-w, 1200px);--w-mobile:var(--g-ct-w, 1200px)"
        class="gp-hero-banner-row gp-z-1 gp-w-full tablet:gp-absolute mobile:gp-relative tablet:[&>*>*]:!gp-justify-undefined mobile:[&>*>*]:!gp-justify-undefined !gp-content-stretch [&>*]:!gp-justify-start tablet:!gp-content-stretch tablet:[&>*]:!gp-justify-start mobile:!gp-content-stretch mobile:[&>*]:!gp-justify-start gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--d-mobile:none"
      class="gpq-VuxsTL gp-relative gp-flex gp-flex-col"
    >
      
    </div>
    </div>
   
    
      </div>
    
        
      </gp-hero-banner>
    </div>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-hero-banner.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>

  
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-547370713858770022 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=547370713841927270&sectionId=547370713858770022)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
