

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-547395403327276134.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-547395403327276134.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-547395403327276134.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-547395403327276134.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-547395403327276134.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-547395403327276134.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-547395403327276134.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-547395403327276134.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-547395403327276134.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-547395403327276134.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-547395403327276134.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-547395403327276134.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-547395403327276134.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-547395403327276134.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-547395403327276134.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-547395403327276134.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-547395403327276134.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-547395403327276134.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-547395403327276134.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-547395403327276134.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-547395403327276134.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-547395403327276134.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-547395403327276134.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-547395403327276134.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-547395403327276134.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-547395403327276134.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-547395403327276134.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-547395403327276134.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-547395403327276134.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-547395403327276134.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-547395403327276134.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-547395403327276134.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-547395403327276134.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-547395403327276134.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-547395403327276134.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-547395403327276134.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-547395403327276134.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-547395403327276134.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-547395403327276134.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-547395403327276134.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-547395403327276134.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-547395403327276134.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-547395403327276134.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-547395403327276134.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-547395403327276134.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-547395403327276134.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-547395403327276134.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-547395403327276134.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-547395403327276134.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-547395403327276134.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-547395403327276134.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-547395403327276134.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-547395403327276134.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-547395403327276134.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-547395403327276134.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-547395403327276134.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-547395403327276134.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-547395403327276134.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-547395403327276134.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-547395403327276134.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-547395403327276134.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-547395403327276134.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-547395403327276134.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-547395403327276134.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-547395403327276134.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-547395403327276134.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-547395403327276134.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-547395403327276134.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-547395403327276134.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-547395403327276134.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-547395403327276134.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-547395403327276134.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-547395403327276134.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-547395403327276134.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-547395403327276134.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-547395403327276134 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-547395403327276134 .gp-relative{position:relative}.gps-547395403327276134 .gp-z-1{z-index:1}.gps-547395403327276134 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-547395403327276134 .gp-mb-0{margin-bottom:0}.gps-547395403327276134 .gp-flex{display:flex}.gps-547395403327276134 .gp-inline-flex{display:inline-flex}.gps-547395403327276134 .gp-grid{display:grid}.gps-547395403327276134 .gp-contents{display:contents}.gps-547395403327276134 .\!gp-hidden{display:none!important}.gps-547395403327276134 .gp-hidden{display:none}.gps-547395403327276134 .gp-h-auto{height:auto}.gps-547395403327276134 .gp-h-full{height:100%}.gps-547395403327276134 .gp-w-full{width:100%}.gps-547395403327276134 .gp-max-w-full{max-width:100%}.gps-547395403327276134 .gp-flex-none{flex:none}.gps-547395403327276134 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-547395403327276134 .gp-flex-col{flex-direction:column}.gps-547395403327276134 .gp-items-center{align-items:center}.gps-547395403327276134 .gp-justify-center{justify-content:center}.gps-547395403327276134 .gp-gap-y-0{row-gap:0}.gps-547395403327276134 .gp-overflow-hidden{overflow:hidden}.gps-547395403327276134 .gp-break-words{overflow-wrap:break-word}.gps-547395403327276134 .gp-rounded-none{border-radius:0}.gps-547395403327276134 .gp-text-center{text-align:center}.gps-547395403327276134 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-547395403327276134 .gp-no-underline{text-decoration-line:none}.gps-547395403327276134 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395403327276134 .gp-duration-200{transition-duration:.2s}.gps-547395403327276134 .gp-duration-300{transition-duration:.3s}.gps-547395403327276134 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-547395403327276134 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-547395403327276134 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-547395403327276134 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-547395403327276134 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-547395403327276134 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-547395403327276134 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-547395403327276134 .tablet\:\!gp-hidden{display:none!important}.gps-547395403327276134 .tablet\:gp-hidden{display:none}.gps-547395403327276134 .tablet\:gp-h-auto{height:auto}.gps-547395403327276134 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-547395403327276134 .mobile\:\!gp-hidden{display:none!important}.gps-547395403327276134 .mobile\:gp-hidden{display:none}.gps-547395403327276134 .mobile\:gp-h-auto{height:auto}.gps-547395403327276134 .mobile\:gp-flex-none{flex:none}}.gps-547395403327276134 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-547395403327276134 .\[\&_p\]\:gp-inline p{display:inline}.gps-547395403327276134 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-547395403327276134 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-547395403327276134 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gfIQtqgpV3" data-id="gfIQtqgpV3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-3xl);--pl:15px;--pr:15px;--pt-tablet:var(--g-s-xl);--pl-tablet:15px;--pr-tablet:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#151515;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gfIQtqgpV3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gw5Gt7B3Ul gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gezx25Vv6G" data-id="gezx25Vv6G"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:30px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gezx25Vv6G gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="glbCj5f5ox gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gqf-wdhd7f"
    role="presentation"
    class="gp-group/image gqf-wdhd7f gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:36px;--ta:center"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}" srcset="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}"
        data-src="{{ "gempages_544061842616484702-25aa11de-132b-4337-b3da-29d4251af72a.jpg" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
      />
    
  </picture>
      </div>
  </div>
       
      
    <div
      parentTag="Col" id="gFEcL-7b5i" data-id="gFEcL-7b5i"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--mb-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gFEcL-7b5i gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gP7Yr3O1Js gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g3dHN8zvBm">
    <div
      parentTag="Col"
        class="g3dHN8zvBm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg3dHN8zvBm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pr:0px;--mb-tablet:var(--g-s-s);--pr-tablet:0px;--ta:left"
    
  >
    <style>
    .gb1qtOjbhh.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gb1qtOjbhh:hover::before {
      
      
    }

    .gb1qtOjbhh:hover .gp-button-icon {
      color: #6d3212;
    }

     .gb1qtOjbhh .gp-button-icon {
      color: #242424;
    }

    .gb1qtOjbhh:hover .gp-button-price {
      color: #6d3212;
    }

    .gb1qtOjbhh .gp-button-price {
      color: #242424;
    }

    .gb1qtOjbhh .gp-product-dot-price {
       color: #242424;
    }

    .gb1qtOjbhh:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-003" target="_blank" data-id="gb1qtOjbhh" aria-label="<p>Espresso Your Way: Must-Try Recipes with Meraki</p>"
      
      data-state="idle"
      class="gb1qtOjbhh gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--hvr-c:#6d3212;--c:#242424;--size:16px;--size-tablet:13px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:130%;--lh-tablet:150%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:13px;--size-mobile:14px;--hvr-c:#6d3212;--c:#242424"
      >
        {{ section.settings.ggb1qtOjbhh_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gl-3YkhMhe">
    <div
      parentTag="Col"
        class="gl-3YkhMhe "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggl-3YkhMhe_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    
  >
    <style>
    .g9QgLsiHKf.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g9QgLsiHKf:hover::before {
      
      
    }

    .g9QgLsiHKf:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .g9QgLsiHKf .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g9QgLsiHKf:hover .gp-button-price {
      color: #FFFFFF;
    }

    .g9QgLsiHKf .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g9QgLsiHKf .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g9QgLsiHKf:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-005" target="_blank" data-id="g9QgLsiHKf" aria-label="READ MORE"
      
      data-state="idle"
      class="g9QgLsiHKf gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#6d3212;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg9QgLsiHKf_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gAPboZojgR gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="g7kbSxJPB4"
    role="presentation"
    class="gp-group/image g7kbSxJPB4 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pb:0px;--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-005" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851_1024x.jpg" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-93326121-4b12-43e0-88ba-d79dbc67e851.jpg"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
       
      
    <div
      parentTag="Col" id="gJ99IuDRWr" data-id="gJ99IuDRWr"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--mb-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gJ99IuDRWr gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyMqLY4Sb3 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="guYOw3_nw6">
    <div
      parentTag="Col"
        class="guYOw3_nw6 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.gguYOw3_nw6_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pr:0px;--mb-tablet:var(--g-s-s);--pr-tablet:0px;--ta:left"
    
  >
    <style>
    .gFXD3cOVG_.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gFXD3cOVG_:hover::before {
      
      
    }

    .gFXD3cOVG_:hover .gp-button-icon {
      color: #6d3212;
    }

     .gFXD3cOVG_ .gp-button-icon {
      color: #242424;
    }

    .gFXD3cOVG_:hover .gp-button-price {
      color: #6d3212;
    }

    .gFXD3cOVG_ .gp-button-price {
      color: #242424;
    }

    .gFXD3cOVG_ .gp-product-dot-price {
       color: #242424;
    }

    .gFXD3cOVG_:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-003" target="_blank" data-id="gFXD3cOVG_" aria-label="<p>Espresso Your Way: Must-Try Recipes with Meraki</p>"
      
      data-state="idle"
      class="gFXD3cOVG_ gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--hvr-c:#6d3212;--c:#242424;--size:16px;--size-tablet:13px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:130%;--lh-tablet:150%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:13px;--size-mobile:14px;--hvr-c:#6d3212;--c:#242424"
      >
        {{ section.settings.ggFXD3cOVG__label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gvUo8Ri_qT">
    <div
      parentTag="Col"
        class="gvUo8Ri_qT "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggvUo8Ri_qT_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    
  >
    <style>
    .g1qfZ1KsP6.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .g1qfZ1KsP6:hover::before {
      
      
    }

    .g1qfZ1KsP6:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .g1qfZ1KsP6 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .g1qfZ1KsP6:hover .gp-button-price {
      color: #FFFFFF;
    }

    .g1qfZ1KsP6 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .g1qfZ1KsP6 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .g1qfZ1KsP6:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-005" target="_blank" data-id="g1qfZ1KsP6" aria-label="READ MORE"
      
      data-state="idle"
      class="g1qfZ1KsP6 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#6d3212;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.gg1qfZ1KsP6_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpeYajkhE8 gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gvT_V5G9wU"
    role="presentation"
    class="gp-group/image gvT_V5G9wU gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:40px;--mb-tablet:var(--g-s-2xl);--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-003" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8_1024x.jpg" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-024a72ff-3cba-42aa-80f4-15613f122eb8.jpg"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
       
      
    <div
      parentTag="Col" id="g28N2nl3cg" data-id="g28N2nl3cg"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--mb-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g28N2nl3cg gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gpxdB2GpmH gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g93Br1sCCa">
    <div
      parentTag="Col"
        class="g93Br1sCCa "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg93Br1sCCa_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pr:var(--g-s-m);--ta:left"
    
  >
    <style>
    .geyj0hB-Vt.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .geyj0hB-Vt:hover::before {
      
      
    }

    .geyj0hB-Vt:hover .gp-button-icon {
      color: #6d3212;
    }

     .geyj0hB-Vt .gp-button-icon {
      color: #242424;
    }

    .geyj0hB-Vt:hover .gp-button-price {
      color: #6d3212;
    }

    .geyj0hB-Vt .gp-button-price {
      color: #242424;
    }

    .geyj0hB-Vt .gp-product-dot-price {
       color: #242424;
    }

    .geyj0hB-Vt:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-003" target="_blank" data-id="geyj0hB-Vt" aria-label="<p>Hard Tooling Manufacturing: A Milestone in Precision and Quality</p>"
      
      data-state="idle"
      class="geyj0hB-Vt gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--hvr-c:#6d3212;--c:#242424;--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:130%;--lh-tablet:150%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px;--hvr-c:#6d3212;--c:#242424"
      >
        {{ section.settings.ggeyj0hB-Vt_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gnBzFx9aPY">
    <div
      parentTag="Col"
        class="gnBzFx9aPY "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--mb-tablet:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggnBzFx9aPY_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    
  >
    <style>
    .gDmpU6hd1O.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gDmpU6hd1O:hover::before {
      
      
    }

    .gDmpU6hd1O:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gDmpU6hd1O .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gDmpU6hd1O:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gDmpU6hd1O .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gDmpU6hd1O .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gDmpU6hd1O:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-002" target="_blank" data-id="gDmpU6hd1O" aria-label="READ MORE"
      
      data-state="idle"
      class="gDmpU6hd1O gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#6d3212;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggDmpU6hd1O_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
       
      
    <div
      parentTag="Col" id="g7WkiTxJ-v" data-id="g7WkiTxJ-v"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:30px;--cg:32px;--pc:start;--gtc:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-tablet:minmax(0, 4fr) minmax(0, 4fr) minmax(0, 4fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g7WkiTxJ-v gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:1"
      class="gQqLVJI5lC gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gdQsj4baLL"
    role="presentation"
    class="gp-group/image gdQsj4baLL gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--pb:0px;--mb-tablet:var(--g-s-l);--pb-tablet:0px;--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-002" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53_1024x.jpg" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53.jpg"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-fc82ce29-a054-4e46-a919-47df788bbf53.jpg"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
       
      
    <div
      parentTag="Col" id="gD_5eTE1d3" data-id="gD_5eTE1d3"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--mb-mobile:var(--g-s-xl);--mb-tablet:30px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gD_5eTE1d3 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gTvR05kIRW gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gyrOElZsv5">
    <div
      parentTag="Col"
        class="gyrOElZsv5 "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggyrOElZsv5_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gwZB0Fkrgz">
    <div
      parentTag="Col"
        class="gwZB0Fkrgz "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:18px;--size-tablet:14px;--size-mobile:16px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggwZB0Fkrgz_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gK7lVKiwoj">
    <div
      parentTag="Col"
        class="gK7lVKiwoj "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggK7lVKiwoj_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    
  >
    <style>
    .gI4OQfxq0w.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gI4OQfxq0w:hover::before {
      
      
    }

    .gI4OQfxq0w:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gI4OQfxq0w .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gI4OQfxq0w:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gI4OQfxq0w .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gI4OQfxq0w .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gI4OQfxq0w:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-004" target="_blank" data-id="gI4OQfxq0w" aria-label="READ MORE"
      
      data-state="idle"
      class="gI4OQfxq0w gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#6d3212;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggI4OQfxq0w_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:2;--d-mobile:none"
      class="gRGPk-MSWX gp-relative gp-flex gp-flex-col"
    >
      
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:start;--o:0"
      class="giWn_LfoAp gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gpnQwwK2wa"
    role="presentation"
    class="gp-group/image gpnQwwK2wa gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:0px;--ta:left"
    >
      <a
        class="pointer-events-auto gp-h-full gp-flex"
        href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-004" target="_blank" title="Image Title"
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b_768x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b_768x.jpg" />
      <source media="(max-width: 1024px)" data-srcSet="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b_1024x.jpg" srcset="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b_1024x.jpg" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex"
        src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg"
        data-src="https://cdn.shopify.com/s/files/1/0872/9994/8831/files/gempages_544061842616484702-e9ef38d4-ff59-4ddf-8101-bd791563661b.jpg"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </a>
  </div>
       
      
    <div
      parentTag="Col" id="gTb8ZBHP81" data-id="gTb8ZBHP81"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pt:var(--g-s-2xl);--pl:var(--g-s-2xl);--pb:var(--g-s-l);--pr:var(--g-s-2xl);--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FBFBFB;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gTb8ZBHP81 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gheoEl9ys2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gsHc0KoavC">
    <div
      parentTag="Col"
        class="gsHc0KoavC "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-m)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:700;--ls:0px;--size:13px;--size-tablet:13px;--size-mobile:12px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#B4B4B4;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggsHc0KoavC_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-s);--pr:var(--g-s-m);--ta:left;--ta-tablet:left"
    
  >
    <style>
    .gSN81moJEg.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 1px 1px 1px 1px;
  
  
      border-radius: var(--g-radius-small);
    }

    .gSN81moJEg:hover::before {
      
      
    }

    .gSN81moJEg:hover .gp-button-icon {
      color: #6d3212;
    }

     .gSN81moJEg .gp-button-icon {
      color: #242424;
    }

    .gSN81moJEg:hover .gp-button-price {
      color: #6d3212;
    }

    .gSN81moJEg .gp-button-price {
      color: #242424;
    }

    .gSN81moJEg .gp-product-dot-price {
       color: #242424;
    }

    .gSN81moJEg:hover .gp-product-dot-price {
      color: #6d3212;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-003" target="_blank" data-id="gSN81moJEg" aria-label="<p>Engineering Build Pathway-The Meraki Journey</p>"
      
      data-state="idle"
      class="gSN81moJEg gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#00000000;--bg:#00000000;--radius:var(--g-radius-small);--shadow:none;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:var(--g-s-xxs);--pr:var(--g-s-xxs);--pt:var(--g-s-xxs);--pb:var(--g-s-xxs);--pl-tablet:0px;--pr-tablet:0px;--pt-tablet:0px;--pb-tablet:0px;--hvr-c:#6d3212;--c:#242424;--size:16px;--size-tablet:14px;--size-mobile:14px;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:700;--lh:130%;--lh-tablet:150%;--lh-mobile:180%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:14px;--size-mobile:14px;--hvr-c:#6d3212;--c:#242424"
      >
        {{ section.settings.ggSN81moJEg_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="g73y-Pghgv">
    <div
      parentTag="Col"
        class="g73y-Pghgv "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Syne, 'Syne'), var(--g-font-body, body);--weight:500;--size:16px;--size-tablet:12px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:180%;--c:#838383;word-break:break-word;overflow:hidden"
        >{{ section.settings.gg73y-Pghgv_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-xl);--ta:center"
    
  >
    <style>
    .gGyMl8Jcx0.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gGyMl8Jcx0:hover::before {
      
      
    }

    .gGyMl8Jcx0:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gGyMl8Jcx0 .gp-button-icon {
      color: var(--g-c-text-3, text-3);
    }

    .gGyMl8Jcx0:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gGyMl8Jcx0 .gp-button-price {
      color: var(--g-c-text-3, text-3);
    }

    .gGyMl8Jcx0 .gp-product-dot-price {
       color: var(--g-c-text-3, text-3);
    }

    .gGyMl8Jcx0:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="{{ request.origin }}{{ routes.root_url | split: '/' | join: '/' }}/blogs/newsroom/blog-post-004" target="_blank" data-id="gGyMl8Jcx0" aria-label="READ MORE"
      
      data-state="idle"
      class="gGyMl8Jcx0 gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3 gp-text-center gp-g-paragraph-1"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:32px;--pr:32px;--pt:10px;--pb:10px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:10px;--pb-tablet:10px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:10px;--pb-mobile:10px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--hvr-c:#FFFFFF;--c:var(--g-c-text-3, text-3)"
      >
        {{ section.settings.ggGyMl8Jcx0_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    
<style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_0KuQ6jTYk.woff) format('woff');
}
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIS7w4qzmVxsWxjBZRjr0FKM_3fvg6jTYk.woff) format('woff');
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* greek */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2NL9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0370-0377, U+037A-037F, U+0384-038A, U+038C, U+038E-03A1, U+03A3-03FF;
}
/* latin-ext */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm25L9G78HEZnMg.woff2) format('woff2');
  unicode-range: U+0100-02BA, U+02BD-02C5, U+02C7-02CC, U+02CE-02D7, U+02DD-02FF, U+0304, U+0308, U+0329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Syne';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/syne/v23/8vIH7w4qzmVxm2BL9G78HEY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
</style>

{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-547395403327276134 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/ae6466-90/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=547395403310433382&sectionId=547395403327276134)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg3dHN8zvBm_text","label":"gg3dHN8zvBm_text","default":"<p>Coffee Guide</p>"},{"type":"html","id":"ggb1qtOjbhh_label","label":"ggb1qtOjbhh_label","default":"<p>Espresso Your Way: Must-Try Recipes with Meraki</p>"},{"type":"html","id":"ggl-3YkhMhe_text","label":"ggl-3YkhMhe_text","default":"<p>As April 2024 unfolds, we at Meraki are thrilled to reach a pivotal stage in our journey: hard tooling manufacturing.</p>"},{"type":"html","id":"gg9QgLsiHKf_label","label":"gg9QgLsiHKf_label","default":"READ MORE"},{"type":"html","id":"gguYOw3_nw6_text","label":"gguYOw3_nw6_text","default":"<p>Coffee Guide</p>"},{"type":"html","id":"ggFXD3cOVG__label","label":"ggFXD3cOVG__label","default":"<p>Espresso Your Way: Must-Try Recipes with Meraki</p>"},{"type":"html","id":"ggvUo8Ri_qT_text","label":"ggvUo8Ri_qT_text","default":"<p>As April 2024 unfolds, we at Meraki are thrilled to reach a pivotal stage in our journey: hard tooling manufacturing.</p>"},{"type":"html","id":"gg1qfZ1KsP6_label","label":"gg1qfZ1KsP6_label","default":"READ MORE"},{"type":"html","id":"gg93Br1sCCa_text","label":"gg93Br1sCCa_text","default":"<p>Product Related</p>"},{"type":"html","id":"ggeyj0hB-Vt_label","label":"ggeyj0hB-Vt_label","default":"<p>Hard Tooling Manufacturing: A Milestone in Precision and Quality</p>"},{"type":"html","id":"ggnBzFx9aPY_text","label":"ggnBzFx9aPY_text","default":"<p>In July 2023, we embarked on the first phase of turning our dream into reality. This initial build focused on laying the&nbsp;</p>"},{"type":"html","id":"ggDmpU6hd1O_label","label":"ggDmpU6hd1O_label","default":"READ MORE"},{"type":"html","id":"ggyrOElZsv5_text","label":"ggyrOElZsv5_text","default":"<p>Product Related</p>"},{"type":"html","id":"ggwZB0Fkrgz_text","label":"ggwZB0Fkrgz_text","default":"<p>The Design Philosophy of Meraki's Espresso Machine</p>"},{"type":"html","id":"ggK7lVKiwoj_text","label":"ggK7lVKiwoj_text","default":"<p>At Meraki, our dedication to thoughtful design goes beyond aesthetics. We started our journey by focusing on&nbsp;</p>"},{"type":"html","id":"ggI4OQfxq0w_label","label":"ggI4OQfxq0w_label","default":"READ MORE"},{"type":"html","id":"ggsHc0KoavC_text","label":"ggsHc0KoavC_text","default":"<p>Product Related</p>"},{"type":"html","id":"ggSN81moJEg_label","label":"ggSN81moJEg_label","default":"<p>Engineering Build Pathway-The Meraki Journey</p>"},{"type":"html","id":"gg73y-Pghgv_text","label":"gg73y-Pghgv_text","default":"<p>At Meraki, our dedication to thoughtful design goes beyond aesthetics. We started our journey by focusing on&nbsp;</p>"},{"type":"html","id":"ggGyMl8Jcx0_label","label":"ggGyMl8Jcx0_label","default":"READ MORE"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
