<style>
  .join-community__image img {
    aspect-ratio: 1/1;
  }
  .join-community__description {
    font-family: Kanit;
  }
  @media screen and (max-width: 430px) {
    .join-community__image {
      width: calc(50% - 0.4rem);
      height: auto;
    }
  }
</style>
<div class="join-community py-12 max-md:py-6">
  <div class="container-default">
    {% if section.settings.title != blank %}
      <h2
        class="join-community__title"
        style="color: {{ section.settings.title_color }}; text-align: {{ section.settings.title_position }};"
      >
        {{ section.settings.title }}
      </h2>
    {% endif %}
    {% if section.settings.description != blank %}
      <p
        class="join-community__description mt-[1.6rem]"
        style="color: {{ section.settings.description_color }}; text-align: {{ section.settings.title_position }};"
      >
        {{ section.settings.description }}
      </p>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="join-community__images flex flex-wrap gap-x-[.8rem] gap-y-[2.4rem] mt-[6.4rem] justify-center max-md:gap-y-[0.8rem]">
        {% for block in section.blocks %}
          <div class="join-community__image w-[19.5rem]">
            {% if block.settings.image != blank %}
              <img
                src="{{ block.settings.image | image_url: width: 400 }}"
                alt="{{ block.settings.image.alt }}"
                width="{{ block.settings.image.width }}"
                height="{{ block.settings.image.height }}"
                loading="lazy"
                class="w-full h-full object-cover"
              >
            {% else %}
              {{ 'image' | placeholder_svg_tag: 'join-community__image-item' }}
            {% endif %}
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Join Community",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Join Meraki Community"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Join our community to get the latest news and updates."
    },
    {
      "type": "select",
      "id": "title_position",
      "label": "Text Position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#525252"
    },
    {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#838383"
    }
  ],
  "max_blocks": 24,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Join Community",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
