<div class="performance-feature-list-container" id="performance-feature-list-{{ section.id }}">
  <div class="container-default">
    {% if section.settings.main_heading != blank %}
      <h2 class="center index-section-header-h2">{{ section.settings.main_heading | newline_to_br }}</h2>
    {% endif %}
    {% if section.settings.subtitle != blank %}
      <p class="center index-section-subtitle-p">{{ section.settings.subtitle | newline_to_br }}</p>
    {% endif %}
    {% if section.blocks.size > 0 %}
      <div class="performance-feature-lists">
        {% for block in section.blocks %}
          <div
            id="performance-feature-list-item-{{ block.id }}"
            class="performance-feature-list-item performance-item-{{ block.settings.layout }}"
            {{ block.shopify_attributes }}
          >
            <div class="performance-feature-list-item-image">
              {% if block.settings.image != blank and block.type == 'feature' -%}
                <img
                  src="{{ block.settings.image | image_url }}"
                  alt="{{ block.settings.image.alt | escape }}"
                  width="{{ block.settings.image.width }}"
                  height="{{ block.settings.image.height }}"
                  loading="eager"
                >
              {%- endif %}
              {% if block.settings.video != blank and block.type == 'video_feature' -%}
                {{-
                  block.settings.video
                  | video_tag:
                    playsinline: true,
                    muted: true,
                    loop: true,
                    controls: false,
                    preload: 'metadata',
                    class: 'object-fill',
                    autoplay: true,
                    loading: 'lazy'
                -}}
              {%- endif %}
            </div>
            <div class="performance-feature-list-item-content">
              {% if block.settings.title != blank %}
                <h3 class="performance-feature-list-item-title">{{ block.settings.title | newline_to_br }}</h3>
              {% endif %}
              {% if block.settings.subtitle != blank %}
                <p class="performance-feature-list-item-subtitle {% if block.settings.Subtitle_size == 'small' %}text-[1.6rem]! leading-[1.25]! font-[300]! font-[Kanit]!{% endif %}">
                  {{ block.settings.subtitle | newline_to_br }}
                </p>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
{% schema %}
{
  "name": "Performance feature list",
  "tag": "section",
  "class": "performance-feature-list",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Main heading",
      "default": "H2 Heading"
    },
    {
      "type": "textarea",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "feature",
      "name": "Feature",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "description"
        },
        {
          "type": "select",
          "id": "Subtitle_size",
          "label": "Subtitle Size",
          "options": [
            { "value": "small", "label": "Small" },
            { "value": "medium", "label": "Medium" }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            { "value": "image-left", "label": "Image Left" },
            { "value": "image-right", "label": "Image Right" }
          ],
          "default": "image-left"
        }
      ]
    },
    {
      "type": "video_feature",
      "name": "Video Feature",
      "settings": [
        {
          "type": "video",
          "id": "video",
          "label": "Video"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "description"
        },
        {
          "type": "select",
          "id": "layout",
          "label": "Layout",
          "options": [
            { "value": "image-left", "label": "Video Left" },
            { "value": "image-right", "label": "Video Right" }
          ],
          "default": "image-left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Performance feature list",
      "blocks": [
        {
          "type": "feature",
          "settings": {
            "layout": "image-left"
          }
        },
        {
          "type": "feature",
          "settings": {
            "layout": "image-right"
          }
        }
      ]
    }
  ]
}
{% endschema %}
