{% comment %}
  Sticky Bar Section
  - Only renders on homepage or product page
  - Container for sticky bar, hidden by default
  - Content placeholder
{% endcomment %}
<script
  src="https://www.paypal.com/sdk/js?client-id=AQfo5YgCNC2NRTSdaQxVSC06pQJb0ta0_QgDlEd-U0L4NA5r4xa0skcnfWPeEAfzyaf7X-9FAyf2WseG&components=messages,buttons"
  data-namespace="PayPalSDK"
  defer
></script>

<style>
  .sticky-bar-section {
    z-index: 3 !important;
  }
</style>

{% if template == 'index' or template contains 'product' %}
  <div id="sticky-bar" class="sticky-bar">
    <!-- Sticky bar content goes here -->
    <div class="sticky-bar__inner page-width">
      <div class="sticky-bar__left">
        {% render 'delivery-time' %}
      </div>
      <div class="sticky-bar__price-wrapper">
        <span class="sticky-bar__price">
          {{- section.settings.product.first_available_variant.price | money }}
          <span class="sticky-bar__price-old">
            {{- section.settings.product.first_available_variant.compare_at_price | money -}}
          </span></span
        >
        <div class="sticky-bar__pay-desc">
          <div
            class="paypal-container sticky-bar-paypal"
            id="sticky-bar-paypal"
            data-pp-message
            data-pp-placement="product"
            data-pp-amount="{{ section.settings.product.first_available_variant.price | divided_by: 100.0 }}"
            data-pp-buyercountry="US"
            data-pp-style-text-color="white"
            data-pp-style-layout="text"
            data-pp-style-logo-type="inline"
            data-pp-style-text-align="right"
            data-pp-style-text-size="12"
          ></div>

          <div
            class="paypal-container sticky-bar-paypal-mobile"
            data-pp-message
            data-pp-placement="product"
            data-pp-amount="{{ section.settings.product.first_available_variant.price | divided_by: 100.0 }}"
            data-pp-buyercountry="US"
            data-pp-style-text-color="white"
            data-pp-style-layout="text"
            data-pp-style-logo-type="inline"
            data-pp-style-text-align="left"
            data-pp-style-text-size="12"
          ></div>
        </div>
      </div>
      <div class="sticky-bar__btn-wrapper">
        <a
          class="sticky-bar__add-to-cart sticky-bar__btn"
          href="/cart/add?id={{ section.settings.product.first_available_variant.id }}"
          >Add to Cart</a
        >
        <button class="sticky-bar__notify sticky-bar__btn" id="sticky-bar-notify">{% render 'icon-bell' %}</button>
        <a
          class="sticky-bar__buy-now sticky-bar__btn bg-[#6D3212] text-white"
          {% if template == 'index' %}
            href="{{ section.settings.product.url }}"
          {% else %}
            href="/cart/{{ section.settings.product.first_available_variant.id }}:1?checkout"
          {% endif %}
        >
          {{ section.settings.button_text }}
        </a>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Sticky Bar",
  "class": "sticky-bar-section",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Buy Now"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL"
    }
  ],
  "presets": [
    {
      "name": "Sticky Bar"
    }
  ]
}
{% endschema %}
